/*
 * Gate API
 * Welcome to Gate API APIv4 provides operations related to spot, margin, and contract trading, including public interfaces for querying market data and authenticated private interfaces for implementing API-based automated trading.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package io.gate.gateapi.api;

import io.gate.gateapi.ApiCallback;
import io.gate.gateapi.ApiClient;
import io.gate.gateapi.ApiException;
import io.gate.gateapi.ApiResponse;
import io.gate.gateapi.Configuration;
import io.gate.gateapi.Pair;

import com.google.gson.reflect.TypeToken;


import io.gate.gateapi.models.AnnouncementArticleListRequest;
import io.gate.gateapi.models.AnnouncementArticleListResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AnnouncementApi {
    private ApiClient localVarApiClient;

    public AnnouncementApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AnnouncementApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for listAnnouncementArticles
     * @param announcementArticleListRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Announcement article list response </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listAnnouncementArticlesCall(AnnouncementArticleListRequest announcementArticleListRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = announcementArticleListRequest;

        // create path and map variables
        String localVarPath = "/ann/list_article";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listAnnouncementArticlesValidateBeforeCall(AnnouncementArticleListRequest announcementArticleListRequest, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'announcementArticleListRequest' is set
        if (announcementArticleListRequest == null) {
            throw new ApiException("Missing the required parameter 'announcementArticleListRequest' when calling listAnnouncementArticles(Async)");
        }

        okhttp3.Call localVarCall = listAnnouncementArticlesCall(announcementArticleListRequest, _callback);
        return localVarCall;
    }

    /**
     * List announcement articles
     * Query announcement articles with pagination and filters for title, category, language, time, and other criteria. Send query parameters in the JSON request body. Both page and size are optional and must be strings when provided. No API key is required.
     * @param announcementArticleListRequest  (required)
     * @return AnnouncementArticleListResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Announcement article list response </td><td>  -  </td></tr>
     </table>
     */
    public AnnouncementArticleListResponse listAnnouncementArticles(AnnouncementArticleListRequest announcementArticleListRequest) throws ApiException {
        ApiResponse<AnnouncementArticleListResponse> localVarResp = listAnnouncementArticlesWithHttpInfo(announcementArticleListRequest);
        return localVarResp.getData();
    }

    /**
     * List announcement articles
     * Query announcement articles with pagination and filters for title, category, language, time, and other criteria. Send query parameters in the JSON request body. Both page and size are optional and must be strings when provided. No API key is required.
     * @param announcementArticleListRequest  (required)
     * @return ApiResponse&lt;AnnouncementArticleListResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Announcement article list response </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<AnnouncementArticleListResponse> listAnnouncementArticlesWithHttpInfo(AnnouncementArticleListRequest announcementArticleListRequest) throws ApiException {
        okhttp3.Call localVarCall = listAnnouncementArticlesValidateBeforeCall(announcementArticleListRequest, null);
        Type localVarReturnType = new TypeToken<AnnouncementArticleListResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * List announcement articles (asynchronously)
     * Query announcement articles with pagination and filters for title, category, language, time, and other criteria. Send query parameters in the JSON request body. Both page and size are optional and must be strings when provided. No API key is required.
     * @param announcementArticleListRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Announcement article list response </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listAnnouncementArticlesAsync(AnnouncementArticleListRequest announcementArticleListRequest, final ApiCallback<AnnouncementArticleListResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = listAnnouncementArticlesValidateBeforeCall(announcementArticleListRequest, _callback);
        Type localVarReturnType = new TypeToken<AnnouncementArticleListResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

}
