/*
 * Gate API
 * Welcome to Gate API APIv4 provides operations related to spot, margin, and contract trading, including public interfaces for querying market data and authenticated private interfaces for implementing API-based automated trading.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package io.gate.gateapi.api;

import io.gate.gateapi.ApiCallback;
import io.gate.gateapi.ApiClient;
import io.gate.gateapi.ApiException;
import io.gate.gateapi.ApiResponse;
import io.gate.gateapi.Configuration;
import io.gate.gateapi.Pair;

import com.google.gson.reflect.TypeToken;


import io.gate.gateapi.models.ApiResponseAssetSwapConfig;
import io.gate.gateapi.models.ApiResponseAssetSwapEvaluate;
import io.gate.gateapi.models.ApiResponseAssetSwapListAssets;
import io.gate.gateapi.models.ApiResponseAssetSwapOrderCreateV1;
import io.gate.gateapi.models.ApiResponseAssetSwapOrderListV1;
import io.gate.gateapi.models.ApiResponseAssetSwapOrderPreviewV1;
import io.gate.gateapi.models.ApiResponseAssetSwapOrderQueryV1;
import io.gate.gateapi.models.OrderCreateV1Req;
import io.gate.gateapi.models.OrderPreviewV1Req;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AssetswapApi {
    private ApiClient localVarApiClient;

    public AssetswapApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AssetswapApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for listAssetSwapAssets
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listAssetSwapAssetsCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/asset-swap/asset/list";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listAssetSwapAssetsValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = listAssetSwapAssetsCall(_callback);
        return localVarCall;
    }

    /**
     * Portfolio optimization — currency list
     * Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0 
     * @return ApiResponseAssetSwapListAssets
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponseAssetSwapListAssets listAssetSwapAssets() throws ApiException {
        ApiResponse<ApiResponseAssetSwapListAssets> localVarResp = listAssetSwapAssetsWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Portfolio optimization — currency list
     * Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0 
     * @return ApiResponse&lt;ApiResponseAssetSwapListAssets&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ApiResponseAssetSwapListAssets> listAssetSwapAssetsWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = listAssetSwapAssetsValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapListAssets>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Portfolio optimization — currency list (asynchronously)
     * Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0 
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listAssetSwapAssetsAsync(final ApiCallback<ApiResponseAssetSwapListAssets> _callback) throws ApiException {
        okhttp3.Call localVarCall = listAssetSwapAssetsValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapListAssets>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for getAssetSwapConfig
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getAssetSwapConfigCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/asset-swap/config";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getAssetSwapConfigValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = getAssetSwapConfigCall(_callback);
        return localVarCall;
    }

    /**
     * Portfolio optimization — configuration
     * Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0 
     * @return ApiResponseAssetSwapConfig
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponseAssetSwapConfig getAssetSwapConfig() throws ApiException {
        ApiResponse<ApiResponseAssetSwapConfig> localVarResp = getAssetSwapConfigWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Portfolio optimization — configuration
     * Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0 
     * @return ApiResponse&lt;ApiResponseAssetSwapConfig&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ApiResponseAssetSwapConfig> getAssetSwapConfigWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = getAssetSwapConfigValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapConfig>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Portfolio optimization — configuration (asynchronously)
     * Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0 
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getAssetSwapConfigAsync(final ApiCallback<ApiResponseAssetSwapConfig> _callback) throws ApiException {
        okhttp3.Call localVarCall = getAssetSwapConfigValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapConfig>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    private okhttp3.Call evaluateAssetSwapCall(Integer maxEvaluateValue, String cursor, Integer size, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/asset-swap/evaluate";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (maxEvaluateValue != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("max_evaluate_value", maxEvaluateValue));
        }

        if (cursor != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("cursor", cursor));
        }

        if (size != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("size", size));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call evaluateAssetSwapValidateBeforeCall(Integer maxEvaluateValue, String cursor, Integer size, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = evaluateAssetSwapCall(maxEvaluateValue, cursor, size, _callback);
        return localVarCall;
    }


    private ApiResponse<ApiResponseAssetSwapEvaluate> evaluateAssetSwapWithHttpInfo(Integer maxEvaluateValue, String cursor, Integer size) throws ApiException {
        okhttp3.Call localVarCall = evaluateAssetSwapValidateBeforeCall(maxEvaluateValue, cursor, size, null);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapEvaluate>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call evaluateAssetSwapAsync(Integer maxEvaluateValue, String cursor, Integer size, final ApiCallback<ApiResponseAssetSwapEvaluate> _callback) throws ApiException {
        okhttp3.Call localVarCall = evaluateAssetSwapValidateBeforeCall(maxEvaluateValue, cursor, size, _callback);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapEvaluate>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIevaluateAssetSwapRequest {
        private Integer maxEvaluateValue;
        private String cursor;
        private Integer size;

        private APIevaluateAssetSwapRequest() {
        }

        /**
         * Set maxEvaluateValue
         * @param maxEvaluateValue Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (optional)
         * @return APIevaluateAssetSwapRequest
         */
        public APIevaluateAssetSwapRequest maxEvaluateValue(Integer maxEvaluateValue) {
            this.maxEvaluateValue = maxEvaluateValue;
            return this;
        }

        /**
         * Set cursor
         * @param cursor Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (optional)
         * @return APIevaluateAssetSwapRequest
         */
        public APIevaluateAssetSwapRequest cursor(String cursor) {
            this.cursor = cursor;
            return this;
        }

        /**
         * Set size
         * @param size Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (optional)
         * @return APIevaluateAssetSwapRequest
         */
        public APIevaluateAssetSwapRequest size(Integer size) {
            this.size = size;
            return this;
        }

        /**
         * Build call for evaluateAssetSwap
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return evaluateAssetSwapCall(maxEvaluateValue, cursor, size, _callback);
        }

        /**
         * Execute evaluateAssetSwap request
         * @return ApiResponseAssetSwapEvaluate
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponseAssetSwapEvaluate execute() throws ApiException {
            ApiResponse<ApiResponseAssetSwapEvaluate> localVarResp = evaluateAssetSwapWithHttpInfo(maxEvaluateValue, cursor, size);
            return localVarResp.getData();
        }

        /**
         * Execute evaluateAssetSwap request with HTTP info returned
         * @return ApiResponse&lt;ApiResponseAssetSwapEvaluate&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<ApiResponseAssetSwapEvaluate> executeWithHttpInfo() throws ApiException {
            return evaluateAssetSwapWithHttpInfo(maxEvaluateValue, cursor, size);
        }

        /**
         * Execute evaluateAssetSwap request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<ApiResponseAssetSwapEvaluate> _callback) throws ApiException {
            return evaluateAssetSwapAsync(maxEvaluateValue, cursor, size, _callback);
        }
    }

    /**
     * Portfolio optimization — valuation
     * Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0 
     * @return APIevaluateAssetSwapRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public APIevaluateAssetSwapRequest evaluateAssetSwap() {
        return new APIevaluateAssetSwapRequest();
    }

    /**
     * Build call for createAssetSwapOrderV1
     * @param orderCreateV1Req Order request body (&#x60;OrderCreateV1Req&#x60;). **No &#x60;ratio&#x60; field**; &#x60;from&#x60;/&#x60;to&#x60; items are only &#x60;asset&#x60; + &#x60;amount&#x60;. &#x60;to&#x60; uses the target side **amount** &#x60;amount&#x60;, which is different from the **ratio** (ratio) semantics of &#x60;to&#x60; in preview, do not mix them. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createAssetSwapOrderV1Call(OrderCreateV1Req orderCreateV1Req, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = orderCreateV1Req;

        // create path and map variables
        String localVarPath = "/asset-swap/order/create";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createAssetSwapOrderV1ValidateBeforeCall(OrderCreateV1Req orderCreateV1Req, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'orderCreateV1Req' is set
        if (orderCreateV1Req == null) {
            throw new ApiException("Missing the required parameter 'orderCreateV1Req' when calling createAssetSwapOrderV1(Async)");
        }

        okhttp3.Call localVarCall = createAssetSwapOrderV1Call(orderCreateV1Req, _callback);
        return localVarCall;
    }

    /**
     * Portfolio optimization — place order
     * 将账户内若干源币种按指定数量换入目标币种侧配置，**正式下单前强烈建议先调用** &#x60;POST /asset-swap/order/preview&#x60; **且 &#x60;code&#x3D;0&#x60; 后再用一致的语义提交本接口**。  **请求体不含 &#x60;ratio&#x60;** - 本接口 &#x60;OrderCreateV1Req&#x60; 仅含 &#x60;from&#x60; / &#x60;to&#x60;，且数组元素均为 &#x60;CreateParam&#x60;（**仅** &#x60;asset&#x60; + &#x60;amount&#x60;）。**请勿**在下单 JSON 中传入 &#x60;ratio&#x60;；比例字段 &#x60;ratio&#x60; 只存在于预览接口 &#x60;OrderPreviewV1Req.to&#x60;（&#x60;PreviewToParam&#x60;）。  **与预览接口的关键差异（易错点）** - 本接口 &#x60;to&#x60; 数组元素为 &#x60;CreateParam&#x60;：**&#x60;asset&#x60; + &#x60;amount&#x60;（目标侧数量，十进制字符串）**。 - 预览接口 &#x60;to&#x60; 为 **&#x60;asset&#x60; + &#x60;ratio&#x60;（比例字符串）**，**二者不可混用**：不要把预览里的 &#x60;ratio&#x60; 原样填到下单的 &#x60;amount&#x60;，也不要把下单的 &#x60;amount&#x60; 当成预览的 &#x60;ratio&#x60;。  **推荐调用顺序** 1. &#x60;GET /asset-swap/asset/list&#x60;：确认币种支持。 2. &#x60;GET /asset-swap/config&#x60;：读取 &#x60;recommend&#x60; / &#x60;recommend_v2&#x60;（如 &#x60;recommend_v2.market&#x60; 下某策略的 &#x60;schemes&#x60;，将 &#x60;scheme.name&#x60; 作为目标 &#x60;asset&#x60;、&#x60;scheme.ratio&#x60; 仅用于 **preview** 的 &#x60;to[].ratio&#x60;）。 3. &#x60;GET /asset-swap/evaluate&#x60;（可选）：参考可卖数量。 4. &#x60;POST /asset-swap/order/preview&#x60;：&#x60;from&#x60; 与 &#x60;to&#x60;（比例）构造询价。 5. 预览成功后，按产品/服务端约定将预览结果映射为下单的 &#x60;from&#x60;/&#x60;to&#x60;（**均为 amount**）再调用本接口。  **字段约定** - &#x60;from&#x60;：卖出侧，每项为 &#x60;asset&#x60; + &#x60;amount&#x60;（字符串，十进制，表示该币种卖出数量）。 - &#x60;to&#x60;：买入/目标侧，每项为 &#x60;asset&#x60; + **&#x60;amount&#x60;**（字符串，十进制，表示该目标币种侧数量；语义与预览的 &#x60;ratio&#x60; 不同）。 - 本接口仅校验上述 &#x60;amount&#x60; 的精度与范围；不满足时返回非 0 &#x60;code&#x60; 及 &#x60;message&#x60;。预览侧 &#x60;to[].ratio&#x60; 的校验规则见 &#x60;POST /asset-swap/order/preview&#x60; 文档。
     * @param orderCreateV1Req Order request body (&#x60;OrderCreateV1Req&#x60;). **No &#x60;ratio&#x60; field**; &#x60;from&#x60;/&#x60;to&#x60; items are only &#x60;asset&#x60; + &#x60;amount&#x60;. &#x60;to&#x60; uses the target side **amount** &#x60;amount&#x60;, which is different from the **ratio** (ratio) semantics of &#x60;to&#x60; in preview, do not mix them. (required)
     * @return ApiResponseAssetSwapOrderCreateV1
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponseAssetSwapOrderCreateV1 createAssetSwapOrderV1(OrderCreateV1Req orderCreateV1Req) throws ApiException {
        ApiResponse<ApiResponseAssetSwapOrderCreateV1> localVarResp = createAssetSwapOrderV1WithHttpInfo(orderCreateV1Req);
        return localVarResp.getData();
    }

    /**
     * Portfolio optimization — place order
     * 将账户内若干源币种按指定数量换入目标币种侧配置，**正式下单前强烈建议先调用** &#x60;POST /asset-swap/order/preview&#x60; **且 &#x60;code&#x3D;0&#x60; 后再用一致的语义提交本接口**。  **请求体不含 &#x60;ratio&#x60;** - 本接口 &#x60;OrderCreateV1Req&#x60; 仅含 &#x60;from&#x60; / &#x60;to&#x60;，且数组元素均为 &#x60;CreateParam&#x60;（**仅** &#x60;asset&#x60; + &#x60;amount&#x60;）。**请勿**在下单 JSON 中传入 &#x60;ratio&#x60;；比例字段 &#x60;ratio&#x60; 只存在于预览接口 &#x60;OrderPreviewV1Req.to&#x60;（&#x60;PreviewToParam&#x60;）。  **与预览接口的关键差异（易错点）** - 本接口 &#x60;to&#x60; 数组元素为 &#x60;CreateParam&#x60;：**&#x60;asset&#x60; + &#x60;amount&#x60;（目标侧数量，十进制字符串）**。 - 预览接口 &#x60;to&#x60; 为 **&#x60;asset&#x60; + &#x60;ratio&#x60;（比例字符串）**，**二者不可混用**：不要把预览里的 &#x60;ratio&#x60; 原样填到下单的 &#x60;amount&#x60;，也不要把下单的 &#x60;amount&#x60; 当成预览的 &#x60;ratio&#x60;。  **推荐调用顺序** 1. &#x60;GET /asset-swap/asset/list&#x60;：确认币种支持。 2. &#x60;GET /asset-swap/config&#x60;：读取 &#x60;recommend&#x60; / &#x60;recommend_v2&#x60;（如 &#x60;recommend_v2.market&#x60; 下某策略的 &#x60;schemes&#x60;，将 &#x60;scheme.name&#x60; 作为目标 &#x60;asset&#x60;、&#x60;scheme.ratio&#x60; 仅用于 **preview** 的 &#x60;to[].ratio&#x60;）。 3. &#x60;GET /asset-swap/evaluate&#x60;（可选）：参考可卖数量。 4. &#x60;POST /asset-swap/order/preview&#x60;：&#x60;from&#x60; 与 &#x60;to&#x60;（比例）构造询价。 5. 预览成功后，按产品/服务端约定将预览结果映射为下单的 &#x60;from&#x60;/&#x60;to&#x60;（**均为 amount**）再调用本接口。  **字段约定** - &#x60;from&#x60;：卖出侧，每项为 &#x60;asset&#x60; + &#x60;amount&#x60;（字符串，十进制，表示该币种卖出数量）。 - &#x60;to&#x60;：买入/目标侧，每项为 &#x60;asset&#x60; + **&#x60;amount&#x60;**（字符串，十进制，表示该目标币种侧数量；语义与预览的 &#x60;ratio&#x60; 不同）。 - 本接口仅校验上述 &#x60;amount&#x60; 的精度与范围；不满足时返回非 0 &#x60;code&#x60; 及 &#x60;message&#x60;。预览侧 &#x60;to[].ratio&#x60; 的校验规则见 &#x60;POST /asset-swap/order/preview&#x60; 文档。
     * @param orderCreateV1Req Order request body (&#x60;OrderCreateV1Req&#x60;). **No &#x60;ratio&#x60; field**; &#x60;from&#x60;/&#x60;to&#x60; items are only &#x60;asset&#x60; + &#x60;amount&#x60;. &#x60;to&#x60; uses the target side **amount** &#x60;amount&#x60;, which is different from the **ratio** (ratio) semantics of &#x60;to&#x60; in preview, do not mix them. (required)
     * @return ApiResponse&lt;ApiResponseAssetSwapOrderCreateV1&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ApiResponseAssetSwapOrderCreateV1> createAssetSwapOrderV1WithHttpInfo(OrderCreateV1Req orderCreateV1Req) throws ApiException {
        okhttp3.Call localVarCall = createAssetSwapOrderV1ValidateBeforeCall(orderCreateV1Req, null);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapOrderCreateV1>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Portfolio optimization — place order (asynchronously)
     * 将账户内若干源币种按指定数量换入目标币种侧配置，**正式下单前强烈建议先调用** &#x60;POST /asset-swap/order/preview&#x60; **且 &#x60;code&#x3D;0&#x60; 后再用一致的语义提交本接口**。  **请求体不含 &#x60;ratio&#x60;** - 本接口 &#x60;OrderCreateV1Req&#x60; 仅含 &#x60;from&#x60; / &#x60;to&#x60;，且数组元素均为 &#x60;CreateParam&#x60;（**仅** &#x60;asset&#x60; + &#x60;amount&#x60;）。**请勿**在下单 JSON 中传入 &#x60;ratio&#x60;；比例字段 &#x60;ratio&#x60; 只存在于预览接口 &#x60;OrderPreviewV1Req.to&#x60;（&#x60;PreviewToParam&#x60;）。  **与预览接口的关键差异（易错点）** - 本接口 &#x60;to&#x60; 数组元素为 &#x60;CreateParam&#x60;：**&#x60;asset&#x60; + &#x60;amount&#x60;（目标侧数量，十进制字符串）**。 - 预览接口 &#x60;to&#x60; 为 **&#x60;asset&#x60; + &#x60;ratio&#x60;（比例字符串）**，**二者不可混用**：不要把预览里的 &#x60;ratio&#x60; 原样填到下单的 &#x60;amount&#x60;，也不要把下单的 &#x60;amount&#x60; 当成预览的 &#x60;ratio&#x60;。  **推荐调用顺序** 1. &#x60;GET /asset-swap/asset/list&#x60;：确认币种支持。 2. &#x60;GET /asset-swap/config&#x60;：读取 &#x60;recommend&#x60; / &#x60;recommend_v2&#x60;（如 &#x60;recommend_v2.market&#x60; 下某策略的 &#x60;schemes&#x60;，将 &#x60;scheme.name&#x60; 作为目标 &#x60;asset&#x60;、&#x60;scheme.ratio&#x60; 仅用于 **preview** 的 &#x60;to[].ratio&#x60;）。 3. &#x60;GET /asset-swap/evaluate&#x60;（可选）：参考可卖数量。 4. &#x60;POST /asset-swap/order/preview&#x60;：&#x60;from&#x60; 与 &#x60;to&#x60;（比例）构造询价。 5. 预览成功后，按产品/服务端约定将预览结果映射为下单的 &#x60;from&#x60;/&#x60;to&#x60;（**均为 amount**）再调用本接口。  **字段约定** - &#x60;from&#x60;：卖出侧，每项为 &#x60;asset&#x60; + &#x60;amount&#x60;（字符串，十进制，表示该币种卖出数量）。 - &#x60;to&#x60;：买入/目标侧，每项为 &#x60;asset&#x60; + **&#x60;amount&#x60;**（字符串，十进制，表示该目标币种侧数量；语义与预览的 &#x60;ratio&#x60; 不同）。 - 本接口仅校验上述 &#x60;amount&#x60; 的精度与范围；不满足时返回非 0 &#x60;code&#x60; 及 &#x60;message&#x60;。预览侧 &#x60;to[].ratio&#x60; 的校验规则见 &#x60;POST /asset-swap/order/preview&#x60; 文档。
     * @param orderCreateV1Req Order request body (&#x60;OrderCreateV1Req&#x60;). **No &#x60;ratio&#x60; field**; &#x60;from&#x60;/&#x60;to&#x60; items are only &#x60;asset&#x60; + &#x60;amount&#x60;. &#x60;to&#x60; uses the target side **amount** &#x60;amount&#x60;, which is different from the **ratio** (ratio) semantics of &#x60;to&#x60; in preview, do not mix them. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createAssetSwapOrderV1Async(OrderCreateV1Req orderCreateV1Req, final ApiCallback<ApiResponseAssetSwapOrderCreateV1> _callback) throws ApiException {
        okhttp3.Call localVarCall = createAssetSwapOrderV1ValidateBeforeCall(orderCreateV1Req, _callback);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapOrderCreateV1>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    private okhttp3.Call listAssetSwapOrdersV1Call(Integer from, Integer to, Integer status, Integer offset, Integer size, Integer sortMode, Integer orderBy, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/asset-swap/order/list";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (from != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("from", from));
        }

        if (to != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("to", to));
        }

        if (status != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("status", status));
        }

        if (offset != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("offset", offset));
        }

        if (size != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("size", size));
        }

        if (sortMode != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("sort_mode", sortMode));
        }

        if (orderBy != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("order_by", orderBy));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listAssetSwapOrdersV1ValidateBeforeCall(Integer from, Integer to, Integer status, Integer offset, Integer size, Integer sortMode, Integer orderBy, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = listAssetSwapOrdersV1Call(from, to, status, offset, size, sortMode, orderBy, _callback);
        return localVarCall;
    }


    private ApiResponse<ApiResponseAssetSwapOrderListV1> listAssetSwapOrdersV1WithHttpInfo(Integer from, Integer to, Integer status, Integer offset, Integer size, Integer sortMode, Integer orderBy) throws ApiException {
        okhttp3.Call localVarCall = listAssetSwapOrdersV1ValidateBeforeCall(from, to, status, offset, size, sortMode, orderBy, null);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapOrderListV1>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call listAssetSwapOrdersV1Async(Integer from, Integer to, Integer status, Integer offset, Integer size, Integer sortMode, Integer orderBy, final ApiCallback<ApiResponseAssetSwapOrderListV1> _callback) throws ApiException {
        okhttp3.Call localVarCall = listAssetSwapOrdersV1ValidateBeforeCall(from, to, status, offset, size, sortMode, orderBy, _callback);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapOrderListV1>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIlistAssetSwapOrdersV1Request {
        private Integer from;
        private Integer to;
        private Integer status;
        private Integer offset;
        private Integer size;
        private Integer sortMode;
        private Integer orderBy;

        private APIlistAssetSwapOrdersV1Request() {
        }

        /**
         * Set from
         * @param from Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (optional)
         * @return APIlistAssetSwapOrdersV1Request
         */
        public APIlistAssetSwapOrdersV1Request from(Integer from) {
            this.from = from;
            return this;
        }

        /**
         * Set to
         * @param to Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (optional)
         * @return APIlistAssetSwapOrdersV1Request
         */
        public APIlistAssetSwapOrdersV1Request to(Integer to) {
            this.to = to;
            return this;
        }

        /**
         * Set status
         * @param status Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (optional)
         * @return APIlistAssetSwapOrdersV1Request
         */
        public APIlistAssetSwapOrdersV1Request status(Integer status) {
            this.status = status;
            return this;
        }

        /**
         * Set offset
         * @param offset Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (optional)
         * @return APIlistAssetSwapOrdersV1Request
         */
        public APIlistAssetSwapOrdersV1Request offset(Integer offset) {
            this.offset = offset;
            return this;
        }

        /**
         * Set size
         * @param size Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (optional)
         * @return APIlistAssetSwapOrdersV1Request
         */
        public APIlistAssetSwapOrdersV1Request size(Integer size) {
            this.size = size;
            return this;
        }

        /**
         * Set sortMode
         * @param sortMode Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (optional)
         * @return APIlistAssetSwapOrdersV1Request
         */
        public APIlistAssetSwapOrdersV1Request sortMode(Integer sortMode) {
            this.sortMode = sortMode;
            return this;
        }

        /**
         * Set orderBy
         * @param orderBy Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (optional)
         * @return APIlistAssetSwapOrdersV1Request
         */
        public APIlistAssetSwapOrdersV1Request orderBy(Integer orderBy) {
            this.orderBy = orderBy;
            return this;
        }

        /**
         * Build call for listAssetSwapOrdersV1
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return listAssetSwapOrdersV1Call(from, to, status, offset, size, sortMode, orderBy, _callback);
        }

        /**
         * Execute listAssetSwapOrdersV1 request
         * @return ApiResponseAssetSwapOrderListV1
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponseAssetSwapOrderListV1 execute() throws ApiException {
            ApiResponse<ApiResponseAssetSwapOrderListV1> localVarResp = listAssetSwapOrdersV1WithHttpInfo(from, to, status, offset, size, sortMode, orderBy);
            return localVarResp.getData();
        }

        /**
         * Execute listAssetSwapOrdersV1 request with HTTP info returned
         * @return ApiResponse&lt;ApiResponseAssetSwapOrderListV1&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<ApiResponseAssetSwapOrderListV1> executeWithHttpInfo() throws ApiException {
            return listAssetSwapOrdersV1WithHttpInfo(from, to, status, offset, size, sortMode, orderBy);
        }

        /**
         * Execute listAssetSwapOrdersV1 request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<ApiResponseAssetSwapOrderListV1> _callback) throws ApiException {
            return listAssetSwapOrdersV1Async(from, to, status, offset, size, sortMode, orderBy, _callback);
        }
    }

    /**
     * Portfolio optimization — order list
     * Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0 
     * @return APIlistAssetSwapOrdersV1Request
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public APIlistAssetSwapOrdersV1Request listAssetSwapOrdersV1() {
        return new APIlistAssetSwapOrdersV1Request();
    }

    /**
     * Build call for previewAssetSwapOrderV1
     * @param orderPreviewV1Req Preview the request body. &#x60;to&#x60; must be **ratio**; unlike create&#39;s **amount** semantics. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call previewAssetSwapOrderV1Call(OrderPreviewV1Req orderPreviewV1Req, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = orderPreviewV1Req;

        // create path and map variables
        String localVarPath = "/asset-swap/order/preview";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call previewAssetSwapOrderV1ValidateBeforeCall(OrderPreviewV1Req orderPreviewV1Req, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'orderPreviewV1Req' is set
        if (orderPreviewV1Req == null) {
            throw new ApiException("Missing the required parameter 'orderPreviewV1Req' when calling previewAssetSwapOrderV1(Async)");
        }

        okhttp3.Call localVarCall = previewAssetSwapOrderV1Call(orderPreviewV1Req, _callback);
        return localVarCall;
    }

    /**
     * Portfolio optimization — preview
     * 根据卖出币种数量与**目标分配比例**估算成交与费用，**不写入订单**。&#x60;code&#x3D;0&#x60; 时 &#x60;data&#x60; 含预估 &#x60;order&#x60; 与 &#x60;transaction_fee&#x60;。  **与下单接口的关键差异（易错点）** - 本接口 &#x60;to&#x60; 数组元素为 &#x60;PreviewToParam&#x60;：**&#x60;asset&#x60; + &#x60;ratio&#x60;（比例，十进制字符串）**，表示目标币种在组合中的权重/占比。 - 下单接口 &#x60;POST /asset-swap/order/create&#x60; 的 &#x60;to&#x60; 为 **&#x60;asset&#x60; + &#x60;amount&#x60;（绝对数量）**，**不是** &#x60;ratio&#x60;。调用方切勿把两套字段混用。  **如何构造 &#x60;to&#x60;（ratio）** - 优先从 &#x60;GET /asset-swap/config&#x60; 的 &#x60;data.recommend_v2&#x60; 取值：按分组键（如 &#x60;market&#x60;、&#x60;faith&#x60;、&#x60;conservative&#x60;）找到策略列表中的某条 &#x60;RecommendV2Strategy&#x60;（如 &#x60;name&#x60; 为 &#x60;top2&#x60;），将其 &#x60;schemes&#x60; 映射为预览请求：   - &#x60;to[].asset&#x60; ← &#x60;scheme.name&#x60;（目标币种符号）   - &#x60;to[].ratio&#x60; ← &#x60;scheme.ratio&#x60;（与配置一致的比例字符串） - 亦可使用 &#x60;recommend&#x60; 下扁平 map（币种 → 比例字符串）自行展开为多元素 &#x60;to&#x60;（每项一个 &#x60;asset&#x60; + &#x60;ratio&#x60;）。 - 多目标时各 &#x60;ratio&#x60; 建议与前端/运营配置一致；是否需加总为 1 以服务端校验为准。  **&#x60;from&#x60;（卖出侧）** - 每项为 &#x60;asset&#x60; + &#x60;amount&#x60;（字符串，十进制），表示本次参与换出的该币种数量。币种应在 &#x60;GET /asset-swap/asset/list&#x60; 支持范围内；数量级过小或市场深度不足时可能返回非 0 &#x60;code&#x60;（如无法询价）。  **与下单的衔接** - 预览成功后，将业务允许的预览结果转换为下单所需的 **&#x60;from&#x60;/&#x60;to&#x60; 全为 amount** 的请求体再调用 create（具体映射规则以产品文档或服务端约定为准）。
     * @param orderPreviewV1Req Preview the request body. &#x60;to&#x60; must be **ratio**; unlike create&#39;s **amount** semantics. (required)
     * @return ApiResponseAssetSwapOrderPreviewV1
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponseAssetSwapOrderPreviewV1 previewAssetSwapOrderV1(OrderPreviewV1Req orderPreviewV1Req) throws ApiException {
        ApiResponse<ApiResponseAssetSwapOrderPreviewV1> localVarResp = previewAssetSwapOrderV1WithHttpInfo(orderPreviewV1Req);
        return localVarResp.getData();
    }

    /**
     * Portfolio optimization — preview
     * 根据卖出币种数量与**目标分配比例**估算成交与费用，**不写入订单**。&#x60;code&#x3D;0&#x60; 时 &#x60;data&#x60; 含预估 &#x60;order&#x60; 与 &#x60;transaction_fee&#x60;。  **与下单接口的关键差异（易错点）** - 本接口 &#x60;to&#x60; 数组元素为 &#x60;PreviewToParam&#x60;：**&#x60;asset&#x60; + &#x60;ratio&#x60;（比例，十进制字符串）**，表示目标币种在组合中的权重/占比。 - 下单接口 &#x60;POST /asset-swap/order/create&#x60; 的 &#x60;to&#x60; 为 **&#x60;asset&#x60; + &#x60;amount&#x60;（绝对数量）**，**不是** &#x60;ratio&#x60;。调用方切勿把两套字段混用。  **如何构造 &#x60;to&#x60;（ratio）** - 优先从 &#x60;GET /asset-swap/config&#x60; 的 &#x60;data.recommend_v2&#x60; 取值：按分组键（如 &#x60;market&#x60;、&#x60;faith&#x60;、&#x60;conservative&#x60;）找到策略列表中的某条 &#x60;RecommendV2Strategy&#x60;（如 &#x60;name&#x60; 为 &#x60;top2&#x60;），将其 &#x60;schemes&#x60; 映射为预览请求：   - &#x60;to[].asset&#x60; ← &#x60;scheme.name&#x60;（目标币种符号）   - &#x60;to[].ratio&#x60; ← &#x60;scheme.ratio&#x60;（与配置一致的比例字符串） - 亦可使用 &#x60;recommend&#x60; 下扁平 map（币种 → 比例字符串）自行展开为多元素 &#x60;to&#x60;（每项一个 &#x60;asset&#x60; + &#x60;ratio&#x60;）。 - 多目标时各 &#x60;ratio&#x60; 建议与前端/运营配置一致；是否需加总为 1 以服务端校验为准。  **&#x60;from&#x60;（卖出侧）** - 每项为 &#x60;asset&#x60; + &#x60;amount&#x60;（字符串，十进制），表示本次参与换出的该币种数量。币种应在 &#x60;GET /asset-swap/asset/list&#x60; 支持范围内；数量级过小或市场深度不足时可能返回非 0 &#x60;code&#x60;（如无法询价）。  **与下单的衔接** - 预览成功后，将业务允许的预览结果转换为下单所需的 **&#x60;from&#x60;/&#x60;to&#x60; 全为 amount** 的请求体再调用 create（具体映射规则以产品文档或服务端约定为准）。
     * @param orderPreviewV1Req Preview the request body. &#x60;to&#x60; must be **ratio**; unlike create&#39;s **amount** semantics. (required)
     * @return ApiResponse&lt;ApiResponseAssetSwapOrderPreviewV1&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ApiResponseAssetSwapOrderPreviewV1> previewAssetSwapOrderV1WithHttpInfo(OrderPreviewV1Req orderPreviewV1Req) throws ApiException {
        okhttp3.Call localVarCall = previewAssetSwapOrderV1ValidateBeforeCall(orderPreviewV1Req, null);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapOrderPreviewV1>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Portfolio optimization — preview (asynchronously)
     * 根据卖出币种数量与**目标分配比例**估算成交与费用，**不写入订单**。&#x60;code&#x3D;0&#x60; 时 &#x60;data&#x60; 含预估 &#x60;order&#x60; 与 &#x60;transaction_fee&#x60;。  **与下单接口的关键差异（易错点）** - 本接口 &#x60;to&#x60; 数组元素为 &#x60;PreviewToParam&#x60;：**&#x60;asset&#x60; + &#x60;ratio&#x60;（比例，十进制字符串）**，表示目标币种在组合中的权重/占比。 - 下单接口 &#x60;POST /asset-swap/order/create&#x60; 的 &#x60;to&#x60; 为 **&#x60;asset&#x60; + &#x60;amount&#x60;（绝对数量）**，**不是** &#x60;ratio&#x60;。调用方切勿把两套字段混用。  **如何构造 &#x60;to&#x60;（ratio）** - 优先从 &#x60;GET /asset-swap/config&#x60; 的 &#x60;data.recommend_v2&#x60; 取值：按分组键（如 &#x60;market&#x60;、&#x60;faith&#x60;、&#x60;conservative&#x60;）找到策略列表中的某条 &#x60;RecommendV2Strategy&#x60;（如 &#x60;name&#x60; 为 &#x60;top2&#x60;），将其 &#x60;schemes&#x60; 映射为预览请求：   - &#x60;to[].asset&#x60; ← &#x60;scheme.name&#x60;（目标币种符号）   - &#x60;to[].ratio&#x60; ← &#x60;scheme.ratio&#x60;（与配置一致的比例字符串） - 亦可使用 &#x60;recommend&#x60; 下扁平 map（币种 → 比例字符串）自行展开为多元素 &#x60;to&#x60;（每项一个 &#x60;asset&#x60; + &#x60;ratio&#x60;）。 - 多目标时各 &#x60;ratio&#x60; 建议与前端/运营配置一致；是否需加总为 1 以服务端校验为准。  **&#x60;from&#x60;（卖出侧）** - 每项为 &#x60;asset&#x60; + &#x60;amount&#x60;（字符串，十进制），表示本次参与换出的该币种数量。币种应在 &#x60;GET /asset-swap/asset/list&#x60; 支持范围内；数量级过小或市场深度不足时可能返回非 0 &#x60;code&#x60;（如无法询价）。  **与下单的衔接** - 预览成功后，将业务允许的预览结果转换为下单所需的 **&#x60;from&#x60;/&#x60;to&#x60; 全为 amount** 的请求体再调用 create（具体映射规则以产品文档或服务端约定为准）。
     * @param orderPreviewV1Req Preview the request body. &#x60;to&#x60; must be **ratio**; unlike create&#39;s **amount** semantics. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call previewAssetSwapOrderV1Async(OrderPreviewV1Req orderPreviewV1Req, final ApiCallback<ApiResponseAssetSwapOrderPreviewV1> _callback) throws ApiException {
        okhttp3.Call localVarCall = previewAssetSwapOrderV1ValidateBeforeCall(orderPreviewV1Req, _callback);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapOrderPreviewV1>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for getAssetSwapOrderV1
     * @param orderId Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getAssetSwapOrderV1Call(String orderId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/asset-swap/order/{order_id}"
            .replaceAll("\\{" + "order_id" + "\\}", localVarApiClient.escapeString(orderId));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getAssetSwapOrderV1ValidateBeforeCall(String orderId, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException("Missing the required parameter 'orderId' when calling getAssetSwapOrderV1(Async)");
        }

        okhttp3.Call localVarCall = getAssetSwapOrderV1Call(orderId, _callback);
        return localVarCall;
    }

    /**
     * Portfolio optimization — query order
     * Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0 
     * @param orderId Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (required)
     * @return ApiResponseAssetSwapOrderQueryV1
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponseAssetSwapOrderQueryV1 getAssetSwapOrderV1(String orderId) throws ApiException {
        ApiResponse<ApiResponseAssetSwapOrderQueryV1> localVarResp = getAssetSwapOrderV1WithHttpInfo(orderId);
        return localVarResp.getData();
    }

    /**
     * Portfolio optimization — query order
     * Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0 
     * @param orderId Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (required)
     * @return ApiResponse&lt;ApiResponseAssetSwapOrderQueryV1&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ApiResponseAssetSwapOrderQueryV1> getAssetSwapOrderV1WithHttpInfo(String orderId) throws ApiException {
        okhttp3.Call localVarCall = getAssetSwapOrderV1ValidateBeforeCall(orderId, null);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapOrderQueryV1>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Portfolio optimization — query order (asynchronously)
     * Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0 
     * @param orderId Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getAssetSwapOrderV1Async(String orderId, final ApiCallback<ApiResponseAssetSwapOrderQueryV1> _callback) throws ApiException {
        okhttp3.Call localVarCall = getAssetSwapOrderV1ValidateBeforeCall(orderId, _callback);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapOrderQueryV1>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

}
