/*
 * Gate API
 * Welcome to Gate API APIv4 provides operations related to spot, margin, and contract trading, including public interfaces for querying market data and authenticated private interfaces for implementing API-based automated trading.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package io.gate.gateapi.api;

import io.gate.gateapi.ApiCallback;
import io.gate.gateapi.ApiClient;
import io.gate.gateapi.ApiException;
import io.gate.gateapi.ApiResponse;
import io.gate.gateapi.Configuration;
import io.gate.gateapi.Pair;

import com.google.gson.reflect.TypeToken;


import io.gate.gateapi.models.ApiResponseAssetSwapConfig;
import io.gate.gateapi.models.ApiResponseAssetSwapEvaluate;
import io.gate.gateapi.models.ApiResponseAssetSwapListAssets;
import io.gate.gateapi.models.ApiResponseAssetSwapOrderCreateV1;
import io.gate.gateapi.models.ApiResponseAssetSwapOrderListV1;
import io.gate.gateapi.models.ApiResponseAssetSwapOrderPreviewV1;
import io.gate.gateapi.models.ApiResponseAssetSwapOrderQueryV1;
import io.gate.gateapi.models.OrderCreateV1Req;
import io.gate.gateapi.models.OrderPreviewV1Req;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AssetswapApi {
    private ApiClient localVarApiClient;

    public AssetswapApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AssetswapApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for listAssetSwapAssets
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listAssetSwapAssetsCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/asset-swap/asset/list";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listAssetSwapAssetsValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = listAssetSwapAssetsCall(_callback);
        return localVarCall;
    }

    /**
     * Portfolio optimization — currency list
     * Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0 
     * @return ApiResponseAssetSwapListAssets
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponseAssetSwapListAssets listAssetSwapAssets() throws ApiException {
        ApiResponse<ApiResponseAssetSwapListAssets> localVarResp = listAssetSwapAssetsWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Portfolio optimization — currency list
     * Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0 
     * @return ApiResponse&lt;ApiResponseAssetSwapListAssets&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ApiResponseAssetSwapListAssets> listAssetSwapAssetsWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = listAssetSwapAssetsValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapListAssets>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Portfolio optimization — currency list (asynchronously)
     * Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0 
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listAssetSwapAssetsAsync(final ApiCallback<ApiResponseAssetSwapListAssets> _callback) throws ApiException {
        okhttp3.Call localVarCall = listAssetSwapAssetsValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapListAssets>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for getAssetSwapConfig
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getAssetSwapConfigCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/asset-swap/config";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getAssetSwapConfigValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = getAssetSwapConfigCall(_callback);
        return localVarCall;
    }

    /**
     * Portfolio optimization — configuration
     * Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0 
     * @return ApiResponseAssetSwapConfig
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponseAssetSwapConfig getAssetSwapConfig() throws ApiException {
        ApiResponse<ApiResponseAssetSwapConfig> localVarResp = getAssetSwapConfigWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Portfolio optimization — configuration
     * Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0 
     * @return ApiResponse&lt;ApiResponseAssetSwapConfig&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ApiResponseAssetSwapConfig> getAssetSwapConfigWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = getAssetSwapConfigValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapConfig>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Portfolio optimization — configuration (asynchronously)
     * Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0 
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getAssetSwapConfigAsync(final ApiCallback<ApiResponseAssetSwapConfig> _callback) throws ApiException {
        okhttp3.Call localVarCall = getAssetSwapConfigValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapConfig>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    private okhttp3.Call evaluateAssetSwapCall(Integer maxEvaluateValue, String cursor, Integer size, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/asset-swap/evaluate";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (maxEvaluateValue != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("max_evaluate_value", maxEvaluateValue));
        }

        if (cursor != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("cursor", cursor));
        }

        if (size != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("size", size));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call evaluateAssetSwapValidateBeforeCall(Integer maxEvaluateValue, String cursor, Integer size, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = evaluateAssetSwapCall(maxEvaluateValue, cursor, size, _callback);
        return localVarCall;
    }


    private ApiResponse<ApiResponseAssetSwapEvaluate> evaluateAssetSwapWithHttpInfo(Integer maxEvaluateValue, String cursor, Integer size) throws ApiException {
        okhttp3.Call localVarCall = evaluateAssetSwapValidateBeforeCall(maxEvaluateValue, cursor, size, null);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapEvaluate>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call evaluateAssetSwapAsync(Integer maxEvaluateValue, String cursor, Integer size, final ApiCallback<ApiResponseAssetSwapEvaluate> _callback) throws ApiException {
        okhttp3.Call localVarCall = evaluateAssetSwapValidateBeforeCall(maxEvaluateValue, cursor, size, _callback);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapEvaluate>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIevaluateAssetSwapRequest {
        private Integer maxEvaluateValue;
        private String cursor;
        private Integer size;

        private APIevaluateAssetSwapRequest() {
        }

        /**
         * Set maxEvaluateValue
         * @param maxEvaluateValue Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (optional)
         * @return APIevaluateAssetSwapRequest
         */
        public APIevaluateAssetSwapRequest maxEvaluateValue(Integer maxEvaluateValue) {
            this.maxEvaluateValue = maxEvaluateValue;
            return this;
        }

        /**
         * Set cursor
         * @param cursor Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (optional)
         * @return APIevaluateAssetSwapRequest
         */
        public APIevaluateAssetSwapRequest cursor(String cursor) {
            this.cursor = cursor;
            return this;
        }

        /**
         * Set size
         * @param size Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (optional)
         * @return APIevaluateAssetSwapRequest
         */
        public APIevaluateAssetSwapRequest size(Integer size) {
            this.size = size;
            return this;
        }

        /**
         * Build call for evaluateAssetSwap
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return evaluateAssetSwapCall(maxEvaluateValue, cursor, size, _callback);
        }

        /**
         * Execute evaluateAssetSwap request
         * @return ApiResponseAssetSwapEvaluate
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponseAssetSwapEvaluate execute() throws ApiException {
            ApiResponse<ApiResponseAssetSwapEvaluate> localVarResp = evaluateAssetSwapWithHttpInfo(maxEvaluateValue, cursor, size);
            return localVarResp.getData();
        }

        /**
         * Execute evaluateAssetSwap request with HTTP info returned
         * @return ApiResponse&lt;ApiResponseAssetSwapEvaluate&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<ApiResponseAssetSwapEvaluate> executeWithHttpInfo() throws ApiException {
            return evaluateAssetSwapWithHttpInfo(maxEvaluateValue, cursor, size);
        }

        /**
         * Execute evaluateAssetSwap request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<ApiResponseAssetSwapEvaluate> _callback) throws ApiException {
            return evaluateAssetSwapAsync(maxEvaluateValue, cursor, size, _callback);
        }
    }

    /**
     * Portfolio optimization — valuation
     * Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0 
     * @return APIevaluateAssetSwapRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public APIevaluateAssetSwapRequest evaluateAssetSwap() {
        return new APIevaluateAssetSwapRequest();
    }

    /**
     * Build call for createAssetSwapOrderV1
     * @param orderCreateV1Req Order request body (&#x60;OrderCreateV1Req&#x60;). **No &#x60;ratio&#x60; field**; &#x60;from&#x60;/&#x60;to&#x60; items are only &#x60;asset&#x60; + &#x60;amount&#x60;. &#x60;to&#x60; uses the target side **amount** &#x60;amount&#x60;, which is different from the **ratio** (ratio) semantics of &#x60;to&#x60; in preview, do not mix them. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createAssetSwapOrderV1Call(OrderCreateV1Req orderCreateV1Req, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = orderCreateV1Req;

        // create path and map variables
        String localVarPath = "/asset-swap/order/create";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createAssetSwapOrderV1ValidateBeforeCall(OrderCreateV1Req orderCreateV1Req, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'orderCreateV1Req' is set
        if (orderCreateV1Req == null) {
            throw new ApiException("Missing the required parameter 'orderCreateV1Req' when calling createAssetSwapOrderV1(Async)");
        }

        okhttp3.Call localVarCall = createAssetSwapOrderV1Call(orderCreateV1Req, _callback);
        return localVarCall;
    }

    /**
     * Portfolio optimization — place order
     * Swap several source currencies in the account into the target currency side configuration according to the specified amount. **It is strongly recommended to call** &#x60;POST /asset-swap/order/preview&#x60; **and &#x60;code&#x3D;0&#x60; before placing an official order, and then submit this interface with consistent semantics**. **The request body does not contain &#x60;ratio&#x60;** - This interface &#x60;OrderCreateV1Req&#x60; only contains &#x60;from&#x60; / &#x60;to&#x60;, and the array elements are all &#x60;CreateParam&#x60; (**only** &#x60;asset&#x60; + &#x60;amount&#x60;). **Do not** pass in &#x60;ratio&#x60; in the order JSON; the ratio field &#x60;ratio&#x60; only exists in the preview interface &#x60;OrderPreviewV1Req.to&#x60; (&#x60;PreviewToParam&#x60;). **Key differences from the preview interface (error-prone points)** - The &#x60;to&#x60; array element of this interface is &#x60;CreateParam&#x60;: **&#x60;asset&#x60; + &#x60;amount&#x60; (target side quantity, decimal string)**. - The preview interface &#x60;to&#x60; is **&#x60;asset&#x60; + &#x60;ratio&#x60; (ratio string)**, **the two cannot be mixed**: do not fill in the &#x60;ratio&#x60; in the preview to the &#x60;amount&#x60; of the order as it is, and do not use the &#x60;amount&#x60; of the order as the &#x60;ratio&#x60; of the preview. **Recommended calling order** 1. &#x60;GET /asset-swap/asset/list&#x60;: Confirm currency support. 2. &#x60;GET /asset-swap/config&#x60;: Read &#x60;recommend&#x60; / &#x60;recommend_v2&#x60; (such as &#x60;schemes&#x60; of a strategy under &#x60;recommend_v2.market&#x60;, use &#x60;scheme.name&#x60; as the target &#x60;asset&#x60;, &#x60;scheme.ratio&#x60; is only used for &#x60;to[].ratio&#x60; of **preview**). 3. &#x60;GET /asset-swap/evaluate&#x60; (optional): Refer to the sellable quantity. 4. &#x60;POST /asset-swap/order/preview&#x60;: &#x60;from&#x60; and &#x60;to&#x60; (ratio) construct inquiry. 5. After the preview is successful, map the preview results to the &#x60;from&#x60;/&#x60;to&#x60; (**both are amount**) of the order according to the product/server agreement and then call this interface. **Field Convention** - &#x60;from&#x60;: selling side, each item is &#x60;asset&#x60; + &#x60;amount&#x60; (string, decimal, indicating the selling amount of the currency). - &#x60;to&#x60;: Buy/target side, each item is &#x60;asset&#x60; + **&#x60;amount&#x60;** (string, decimal, indicating the amount of the target currency side; the semantics are different from the previewed &#x60;ratio&#x60;). - This interface only verifies the accuracy and range of the above &#x60;amount&#x60;; if not satisfied, it returns non-0 &#x60;code&#x60; and &#x60;message&#x60;. For the verification rules of &#x60;to[].ratio&#x60; on the preview side, see the &#x60;POST /asset-swap/order/preview&#x60; document.
     * @param orderCreateV1Req Order request body (&#x60;OrderCreateV1Req&#x60;). **No &#x60;ratio&#x60; field**; &#x60;from&#x60;/&#x60;to&#x60; items are only &#x60;asset&#x60; + &#x60;amount&#x60;. &#x60;to&#x60; uses the target side **amount** &#x60;amount&#x60;, which is different from the **ratio** (ratio) semantics of &#x60;to&#x60; in preview, do not mix them. (required)
     * @return ApiResponseAssetSwapOrderCreateV1
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponseAssetSwapOrderCreateV1 createAssetSwapOrderV1(OrderCreateV1Req orderCreateV1Req) throws ApiException {
        ApiResponse<ApiResponseAssetSwapOrderCreateV1> localVarResp = createAssetSwapOrderV1WithHttpInfo(orderCreateV1Req);
        return localVarResp.getData();
    }

    /**
     * Portfolio optimization — place order
     * Swap several source currencies in the account into the target currency side configuration according to the specified amount. **It is strongly recommended to call** &#x60;POST /asset-swap/order/preview&#x60; **and &#x60;code&#x3D;0&#x60; before placing an official order, and then submit this interface with consistent semantics**. **The request body does not contain &#x60;ratio&#x60;** - This interface &#x60;OrderCreateV1Req&#x60; only contains &#x60;from&#x60; / &#x60;to&#x60;, and the array elements are all &#x60;CreateParam&#x60; (**only** &#x60;asset&#x60; + &#x60;amount&#x60;). **Do not** pass in &#x60;ratio&#x60; in the order JSON; the ratio field &#x60;ratio&#x60; only exists in the preview interface &#x60;OrderPreviewV1Req.to&#x60; (&#x60;PreviewToParam&#x60;). **Key differences from the preview interface (error-prone points)** - The &#x60;to&#x60; array element of this interface is &#x60;CreateParam&#x60;: **&#x60;asset&#x60; + &#x60;amount&#x60; (target side quantity, decimal string)**. - The preview interface &#x60;to&#x60; is **&#x60;asset&#x60; + &#x60;ratio&#x60; (ratio string)**, **the two cannot be mixed**: do not fill in the &#x60;ratio&#x60; in the preview to the &#x60;amount&#x60; of the order as it is, and do not use the &#x60;amount&#x60; of the order as the &#x60;ratio&#x60; of the preview. **Recommended calling order** 1. &#x60;GET /asset-swap/asset/list&#x60;: Confirm currency support. 2. &#x60;GET /asset-swap/config&#x60;: Read &#x60;recommend&#x60; / &#x60;recommend_v2&#x60; (such as &#x60;schemes&#x60; of a strategy under &#x60;recommend_v2.market&#x60;, use &#x60;scheme.name&#x60; as the target &#x60;asset&#x60;, &#x60;scheme.ratio&#x60; is only used for &#x60;to[].ratio&#x60; of **preview**). 3. &#x60;GET /asset-swap/evaluate&#x60; (optional): Refer to the sellable quantity. 4. &#x60;POST /asset-swap/order/preview&#x60;: &#x60;from&#x60; and &#x60;to&#x60; (ratio) construct inquiry. 5. After the preview is successful, map the preview results to the &#x60;from&#x60;/&#x60;to&#x60; (**both are amount**) of the order according to the product/server agreement and then call this interface. **Field Convention** - &#x60;from&#x60;: selling side, each item is &#x60;asset&#x60; + &#x60;amount&#x60; (string, decimal, indicating the selling amount of the currency). - &#x60;to&#x60;: Buy/target side, each item is &#x60;asset&#x60; + **&#x60;amount&#x60;** (string, decimal, indicating the amount of the target currency side; the semantics are different from the previewed &#x60;ratio&#x60;). - This interface only verifies the accuracy and range of the above &#x60;amount&#x60;; if not satisfied, it returns non-0 &#x60;code&#x60; and &#x60;message&#x60;. For the verification rules of &#x60;to[].ratio&#x60; on the preview side, see the &#x60;POST /asset-swap/order/preview&#x60; document.
     * @param orderCreateV1Req Order request body (&#x60;OrderCreateV1Req&#x60;). **No &#x60;ratio&#x60; field**; &#x60;from&#x60;/&#x60;to&#x60; items are only &#x60;asset&#x60; + &#x60;amount&#x60;. &#x60;to&#x60; uses the target side **amount** &#x60;amount&#x60;, which is different from the **ratio** (ratio) semantics of &#x60;to&#x60; in preview, do not mix them. (required)
     * @return ApiResponse&lt;ApiResponseAssetSwapOrderCreateV1&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ApiResponseAssetSwapOrderCreateV1> createAssetSwapOrderV1WithHttpInfo(OrderCreateV1Req orderCreateV1Req) throws ApiException {
        okhttp3.Call localVarCall = createAssetSwapOrderV1ValidateBeforeCall(orderCreateV1Req, null);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapOrderCreateV1>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Portfolio optimization — place order (asynchronously)
     * Swap several source currencies in the account into the target currency side configuration according to the specified amount. **It is strongly recommended to call** &#x60;POST /asset-swap/order/preview&#x60; **and &#x60;code&#x3D;0&#x60; before placing an official order, and then submit this interface with consistent semantics**. **The request body does not contain &#x60;ratio&#x60;** - This interface &#x60;OrderCreateV1Req&#x60; only contains &#x60;from&#x60; / &#x60;to&#x60;, and the array elements are all &#x60;CreateParam&#x60; (**only** &#x60;asset&#x60; + &#x60;amount&#x60;). **Do not** pass in &#x60;ratio&#x60; in the order JSON; the ratio field &#x60;ratio&#x60; only exists in the preview interface &#x60;OrderPreviewV1Req.to&#x60; (&#x60;PreviewToParam&#x60;). **Key differences from the preview interface (error-prone points)** - The &#x60;to&#x60; array element of this interface is &#x60;CreateParam&#x60;: **&#x60;asset&#x60; + &#x60;amount&#x60; (target side quantity, decimal string)**. - The preview interface &#x60;to&#x60; is **&#x60;asset&#x60; + &#x60;ratio&#x60; (ratio string)**, **the two cannot be mixed**: do not fill in the &#x60;ratio&#x60; in the preview to the &#x60;amount&#x60; of the order as it is, and do not use the &#x60;amount&#x60; of the order as the &#x60;ratio&#x60; of the preview. **Recommended calling order** 1. &#x60;GET /asset-swap/asset/list&#x60;: Confirm currency support. 2. &#x60;GET /asset-swap/config&#x60;: Read &#x60;recommend&#x60; / &#x60;recommend_v2&#x60; (such as &#x60;schemes&#x60; of a strategy under &#x60;recommend_v2.market&#x60;, use &#x60;scheme.name&#x60; as the target &#x60;asset&#x60;, &#x60;scheme.ratio&#x60; is only used for &#x60;to[].ratio&#x60; of **preview**). 3. &#x60;GET /asset-swap/evaluate&#x60; (optional): Refer to the sellable quantity. 4. &#x60;POST /asset-swap/order/preview&#x60;: &#x60;from&#x60; and &#x60;to&#x60; (ratio) construct inquiry. 5. After the preview is successful, map the preview results to the &#x60;from&#x60;/&#x60;to&#x60; (**both are amount**) of the order according to the product/server agreement and then call this interface. **Field Convention** - &#x60;from&#x60;: selling side, each item is &#x60;asset&#x60; + &#x60;amount&#x60; (string, decimal, indicating the selling amount of the currency). - &#x60;to&#x60;: Buy/target side, each item is &#x60;asset&#x60; + **&#x60;amount&#x60;** (string, decimal, indicating the amount of the target currency side; the semantics are different from the previewed &#x60;ratio&#x60;). - This interface only verifies the accuracy and range of the above &#x60;amount&#x60;; if not satisfied, it returns non-0 &#x60;code&#x60; and &#x60;message&#x60;. For the verification rules of &#x60;to[].ratio&#x60; on the preview side, see the &#x60;POST /asset-swap/order/preview&#x60; document.
     * @param orderCreateV1Req Order request body (&#x60;OrderCreateV1Req&#x60;). **No &#x60;ratio&#x60; field**; &#x60;from&#x60;/&#x60;to&#x60; items are only &#x60;asset&#x60; + &#x60;amount&#x60;. &#x60;to&#x60; uses the target side **amount** &#x60;amount&#x60;, which is different from the **ratio** (ratio) semantics of &#x60;to&#x60; in preview, do not mix them. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createAssetSwapOrderV1Async(OrderCreateV1Req orderCreateV1Req, final ApiCallback<ApiResponseAssetSwapOrderCreateV1> _callback) throws ApiException {
        okhttp3.Call localVarCall = createAssetSwapOrderV1ValidateBeforeCall(orderCreateV1Req, _callback);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapOrderCreateV1>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    private okhttp3.Call listAssetSwapOrdersV1Call(Integer from, Integer to, Integer status, Integer offset, Integer size, Integer sortMode, Integer orderBy, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/asset-swap/order/list";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (from != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("from", from));
        }

        if (to != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("to", to));
        }

        if (status != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("status", status));
        }

        if (offset != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("offset", offset));
        }

        if (size != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("size", size));
        }

        if (sortMode != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("sort_mode", sortMode));
        }

        if (orderBy != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("order_by", orderBy));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listAssetSwapOrdersV1ValidateBeforeCall(Integer from, Integer to, Integer status, Integer offset, Integer size, Integer sortMode, Integer orderBy, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = listAssetSwapOrdersV1Call(from, to, status, offset, size, sortMode, orderBy, _callback);
        return localVarCall;
    }


    private ApiResponse<ApiResponseAssetSwapOrderListV1> listAssetSwapOrdersV1WithHttpInfo(Integer from, Integer to, Integer status, Integer offset, Integer size, Integer sortMode, Integer orderBy) throws ApiException {
        okhttp3.Call localVarCall = listAssetSwapOrdersV1ValidateBeforeCall(from, to, status, offset, size, sortMode, orderBy, null);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapOrderListV1>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call listAssetSwapOrdersV1Async(Integer from, Integer to, Integer status, Integer offset, Integer size, Integer sortMode, Integer orderBy, final ApiCallback<ApiResponseAssetSwapOrderListV1> _callback) throws ApiException {
        okhttp3.Call localVarCall = listAssetSwapOrdersV1ValidateBeforeCall(from, to, status, offset, size, sortMode, orderBy, _callback);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapOrderListV1>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIlistAssetSwapOrdersV1Request {
        private Integer from;
        private Integer to;
        private Integer status;
        private Integer offset;
        private Integer size;
        private Integer sortMode;
        private Integer orderBy;

        private APIlistAssetSwapOrdersV1Request() {
        }

        /**
         * Set from
         * @param from Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (optional)
         * @return APIlistAssetSwapOrdersV1Request
         */
        public APIlistAssetSwapOrdersV1Request from(Integer from) {
            this.from = from;
            return this;
        }

        /**
         * Set to
         * @param to Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (optional)
         * @return APIlistAssetSwapOrdersV1Request
         */
        public APIlistAssetSwapOrdersV1Request to(Integer to) {
            this.to = to;
            return this;
        }

        /**
         * Set status
         * @param status Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (optional)
         * @return APIlistAssetSwapOrdersV1Request
         */
        public APIlistAssetSwapOrdersV1Request status(Integer status) {
            this.status = status;
            return this;
        }

        /**
         * Set offset
         * @param offset Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (optional)
         * @return APIlistAssetSwapOrdersV1Request
         */
        public APIlistAssetSwapOrdersV1Request offset(Integer offset) {
            this.offset = offset;
            return this;
        }

        /**
         * Set size
         * @param size Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (optional)
         * @return APIlistAssetSwapOrdersV1Request
         */
        public APIlistAssetSwapOrdersV1Request size(Integer size) {
            this.size = size;
            return this;
        }

        /**
         * Set sortMode
         * @param sortMode Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (optional)
         * @return APIlistAssetSwapOrdersV1Request
         */
        public APIlistAssetSwapOrdersV1Request sortMode(Integer sortMode) {
            this.sortMode = sortMode;
            return this;
        }

        /**
         * Set orderBy
         * @param orderBy Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (optional)
         * @return APIlistAssetSwapOrdersV1Request
         */
        public APIlistAssetSwapOrdersV1Request orderBy(Integer orderBy) {
            this.orderBy = orderBy;
            return this;
        }

        /**
         * Build call for listAssetSwapOrdersV1
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return listAssetSwapOrdersV1Call(from, to, status, offset, size, sortMode, orderBy, _callback);
        }

        /**
         * Execute listAssetSwapOrdersV1 request
         * @return ApiResponseAssetSwapOrderListV1
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponseAssetSwapOrderListV1 execute() throws ApiException {
            ApiResponse<ApiResponseAssetSwapOrderListV1> localVarResp = listAssetSwapOrdersV1WithHttpInfo(from, to, status, offset, size, sortMode, orderBy);
            return localVarResp.getData();
        }

        /**
         * Execute listAssetSwapOrdersV1 request with HTTP info returned
         * @return ApiResponse&lt;ApiResponseAssetSwapOrderListV1&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<ApiResponseAssetSwapOrderListV1> executeWithHttpInfo() throws ApiException {
            return listAssetSwapOrdersV1WithHttpInfo(from, to, status, offset, size, sortMode, orderBy);
        }

        /**
         * Execute listAssetSwapOrdersV1 request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<ApiResponseAssetSwapOrderListV1> _callback) throws ApiException {
            return listAssetSwapOrdersV1Async(from, to, status, offset, size, sortMode, orderBy, _callback);
        }
    }

    /**
     * Portfolio optimization — order list
     * Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0 
     * @return APIlistAssetSwapOrdersV1Request
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public APIlistAssetSwapOrdersV1Request listAssetSwapOrdersV1() {
        return new APIlistAssetSwapOrdersV1Request();
    }

    /**
     * Build call for previewAssetSwapOrderV1
     * @param orderPreviewV1Req Preview the request body. &#x60;to&#x60; must be **ratio**; unlike create&#39;s **amount** semantics. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call previewAssetSwapOrderV1Call(OrderPreviewV1Req orderPreviewV1Req, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = orderPreviewV1Req;

        // create path and map variables
        String localVarPath = "/asset-swap/order/preview";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call previewAssetSwapOrderV1ValidateBeforeCall(OrderPreviewV1Req orderPreviewV1Req, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'orderPreviewV1Req' is set
        if (orderPreviewV1Req == null) {
            throw new ApiException("Missing the required parameter 'orderPreviewV1Req' when calling previewAssetSwapOrderV1(Async)");
        }

        okhttp3.Call localVarCall = previewAssetSwapOrderV1Call(orderPreviewV1Req, _callback);
        return localVarCall;
    }

    /**
     * Portfolio optimization — preview
     * The transaction and fees are estimated based on the quantity of coins sold and the **target allocation ratio**, and **no orders are written**. When &#x60;code&#x3D;0&#x60;, &#x60;data&#x60; contains estimated &#x60;order&#x60; and &#x60;transaction_fee&#x60;. **Key differences from the order interface (error-prone points)** - The &#x60;to&#x60; array element of this interface is &#x60;PreviewToParam&#x60;: **&#x60;asset&#x60; + &#x60;ratio&#x60; (ratio, decimal string)**, which represents the weight/proportion of the target currency in the portfolio. - The &#x60;to&#x60; of the order interface &#x60;POST /asset-swap/order/create&#x60; is **&#x60;asset&#x60; + &#x60;amount&#x60; (absolute quantity)**, **not** &#x60;ratio&#x60;. Callers should never mix the two sets of fields. **How to construct &#x60;to&#x60;(ratio)** - Prioritize the value from &#x60;data.recommend_v2&#x60; of &#x60;GET /asset-swap/config&#x60;: find a certain &#x60;RecommendV2Strategy&#x60; in the strategy list (such as &#x60;name&#x60; is &#x60;top2&#x60;) by grouping key (such as &#x60;market&#x60;, &#x60;faith&#x60;, &#x60;conservative&#x60;), and map its &#x60;schemes&#x60; to a preview request:   - &#x60;to[].asset&#x60; ← &#x60;scheme.name&#x60; (target currency symbol)   - &#x60;to[].ratio&#x60; ← &#x60;scheme.ratio&#x60; (ratio string consistent with configuration) - You can also use the flat map (currency → ratio string) under &#x60;recommend&#x60; to expand it into a multi-element &#x60;to&#x60; (one &#x60;asset&#x60; + &#x60;ratio&#x60; for each item). - When there are multiple targets, it is recommended that each &#x60;ratio&#x60; be consistent with the front-end/operation configuration; whether it needs to be summed to 1 is subject to server-side verification. **&#x60;from&#x60; (sell side)** - Each item is &#x60;asset&#x60; + &#x60;amount&#x60; (string, decimal), indicating the amount of the currency participating in the exchange this time. The currency should be within the supported range of &#x60;GET /asset-swap/asset/list&#x60;; when the magnitude is too small or the market depth is insufficient, a non-0 &#x60;code&#x60; may be returned (if the price cannot be inquired). **Connection with order placement** - After the preview is successful, convert the preview results allowed by the business into the request body where **&#x60;from&#x60;/&#x60;to&#x60; is all amount** required for ordering and then call create (the specific mapping rules are subject to the product documentation or server agreement).
     * @param orderPreviewV1Req Preview the request body. &#x60;to&#x60; must be **ratio**; unlike create&#39;s **amount** semantics. (required)
     * @return ApiResponseAssetSwapOrderPreviewV1
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponseAssetSwapOrderPreviewV1 previewAssetSwapOrderV1(OrderPreviewV1Req orderPreviewV1Req) throws ApiException {
        ApiResponse<ApiResponseAssetSwapOrderPreviewV1> localVarResp = previewAssetSwapOrderV1WithHttpInfo(orderPreviewV1Req);
        return localVarResp.getData();
    }

    /**
     * Portfolio optimization — preview
     * The transaction and fees are estimated based on the quantity of coins sold and the **target allocation ratio**, and **no orders are written**. When &#x60;code&#x3D;0&#x60;, &#x60;data&#x60; contains estimated &#x60;order&#x60; and &#x60;transaction_fee&#x60;. **Key differences from the order interface (error-prone points)** - The &#x60;to&#x60; array element of this interface is &#x60;PreviewToParam&#x60;: **&#x60;asset&#x60; + &#x60;ratio&#x60; (ratio, decimal string)**, which represents the weight/proportion of the target currency in the portfolio. - The &#x60;to&#x60; of the order interface &#x60;POST /asset-swap/order/create&#x60; is **&#x60;asset&#x60; + &#x60;amount&#x60; (absolute quantity)**, **not** &#x60;ratio&#x60;. Callers should never mix the two sets of fields. **How to construct &#x60;to&#x60;(ratio)** - Prioritize the value from &#x60;data.recommend_v2&#x60; of &#x60;GET /asset-swap/config&#x60;: find a certain &#x60;RecommendV2Strategy&#x60; in the strategy list (such as &#x60;name&#x60; is &#x60;top2&#x60;) by grouping key (such as &#x60;market&#x60;, &#x60;faith&#x60;, &#x60;conservative&#x60;), and map its &#x60;schemes&#x60; to a preview request:   - &#x60;to[].asset&#x60; ← &#x60;scheme.name&#x60; (target currency symbol)   - &#x60;to[].ratio&#x60; ← &#x60;scheme.ratio&#x60; (ratio string consistent with configuration) - You can also use the flat map (currency → ratio string) under &#x60;recommend&#x60; to expand it into a multi-element &#x60;to&#x60; (one &#x60;asset&#x60; + &#x60;ratio&#x60; for each item). - When there are multiple targets, it is recommended that each &#x60;ratio&#x60; be consistent with the front-end/operation configuration; whether it needs to be summed to 1 is subject to server-side verification. **&#x60;from&#x60; (sell side)** - Each item is &#x60;asset&#x60; + &#x60;amount&#x60; (string, decimal), indicating the amount of the currency participating in the exchange this time. The currency should be within the supported range of &#x60;GET /asset-swap/asset/list&#x60;; when the magnitude is too small or the market depth is insufficient, a non-0 &#x60;code&#x60; may be returned (if the price cannot be inquired). **Connection with order placement** - After the preview is successful, convert the preview results allowed by the business into the request body where **&#x60;from&#x60;/&#x60;to&#x60; is all amount** required for ordering and then call create (the specific mapping rules are subject to the product documentation or server agreement).
     * @param orderPreviewV1Req Preview the request body. &#x60;to&#x60; must be **ratio**; unlike create&#39;s **amount** semantics. (required)
     * @return ApiResponse&lt;ApiResponseAssetSwapOrderPreviewV1&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ApiResponseAssetSwapOrderPreviewV1> previewAssetSwapOrderV1WithHttpInfo(OrderPreviewV1Req orderPreviewV1Req) throws ApiException {
        okhttp3.Call localVarCall = previewAssetSwapOrderV1ValidateBeforeCall(orderPreviewV1Req, null);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapOrderPreviewV1>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Portfolio optimization — preview (asynchronously)
     * The transaction and fees are estimated based on the quantity of coins sold and the **target allocation ratio**, and **no orders are written**. When &#x60;code&#x3D;0&#x60;, &#x60;data&#x60; contains estimated &#x60;order&#x60; and &#x60;transaction_fee&#x60;. **Key differences from the order interface (error-prone points)** - The &#x60;to&#x60; array element of this interface is &#x60;PreviewToParam&#x60;: **&#x60;asset&#x60; + &#x60;ratio&#x60; (ratio, decimal string)**, which represents the weight/proportion of the target currency in the portfolio. - The &#x60;to&#x60; of the order interface &#x60;POST /asset-swap/order/create&#x60; is **&#x60;asset&#x60; + &#x60;amount&#x60; (absolute quantity)**, **not** &#x60;ratio&#x60;. Callers should never mix the two sets of fields. **How to construct &#x60;to&#x60;(ratio)** - Prioritize the value from &#x60;data.recommend_v2&#x60; of &#x60;GET /asset-swap/config&#x60;: find a certain &#x60;RecommendV2Strategy&#x60; in the strategy list (such as &#x60;name&#x60; is &#x60;top2&#x60;) by grouping key (such as &#x60;market&#x60;, &#x60;faith&#x60;, &#x60;conservative&#x60;), and map its &#x60;schemes&#x60; to a preview request:   - &#x60;to[].asset&#x60; ← &#x60;scheme.name&#x60; (target currency symbol)   - &#x60;to[].ratio&#x60; ← &#x60;scheme.ratio&#x60; (ratio string consistent with configuration) - You can also use the flat map (currency → ratio string) under &#x60;recommend&#x60; to expand it into a multi-element &#x60;to&#x60; (one &#x60;asset&#x60; + &#x60;ratio&#x60; for each item). - When there are multiple targets, it is recommended that each &#x60;ratio&#x60; be consistent with the front-end/operation configuration; whether it needs to be summed to 1 is subject to server-side verification. **&#x60;from&#x60; (sell side)** - Each item is &#x60;asset&#x60; + &#x60;amount&#x60; (string, decimal), indicating the amount of the currency participating in the exchange this time. The currency should be within the supported range of &#x60;GET /asset-swap/asset/list&#x60;; when the magnitude is too small or the market depth is insufficient, a non-0 &#x60;code&#x60; may be returned (if the price cannot be inquired). **Connection with order placement** - After the preview is successful, convert the preview results allowed by the business into the request body where **&#x60;from&#x60;/&#x60;to&#x60; is all amount** required for ordering and then call create (the specific mapping rules are subject to the product documentation or server agreement).
     * @param orderPreviewV1Req Preview the request body. &#x60;to&#x60; must be **ratio**; unlike create&#39;s **amount** semantics. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call previewAssetSwapOrderV1Async(OrderPreviewV1Req orderPreviewV1Req, final ApiCallback<ApiResponseAssetSwapOrderPreviewV1> _callback) throws ApiException {
        okhttp3.Call localVarCall = previewAssetSwapOrderV1ValidateBeforeCall(orderPreviewV1Req, _callback);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapOrderPreviewV1>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for getAssetSwapOrderV1
     * @param orderId Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getAssetSwapOrderV1Call(String orderId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/asset-swap/order/{order_id}"
            .replaceAll("\\{" + "order_id" + "\\}", localVarApiClient.escapeString(orderId));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getAssetSwapOrderV1ValidateBeforeCall(String orderId, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException("Missing the required parameter 'orderId' when calling getAssetSwapOrderV1(Async)");
        }

        okhttp3.Call localVarCall = getAssetSwapOrderV1Call(orderId, _callback);
        return localVarCall;
    }

    /**
     * Portfolio optimization — query order
     * Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0 
     * @param orderId Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (required)
     * @return ApiResponseAssetSwapOrderQueryV1
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponseAssetSwapOrderQueryV1 getAssetSwapOrderV1(String orderId) throws ApiException {
        ApiResponse<ApiResponseAssetSwapOrderQueryV1> localVarResp = getAssetSwapOrderV1WithHttpInfo(orderId);
        return localVarResp.getData();
    }

    /**
     * Portfolio optimization — query order
     * Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0 
     * @param orderId Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (required)
     * @return ApiResponse&lt;ApiResponseAssetSwapOrderQueryV1&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ApiResponseAssetSwapOrderQueryV1> getAssetSwapOrderV1WithHttpInfo(String orderId) throws ApiException {
        okhttp3.Call localVarCall = getAssetSwapOrderV1ValidateBeforeCall(orderId, null);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapOrderQueryV1>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Portfolio optimization — query order (asynchronously)
     * Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0 
     * @param orderId Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> HTTP 200, business results are distinguished by the code field </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getAssetSwapOrderV1Async(String orderId, final ApiCallback<ApiResponseAssetSwapOrderQueryV1> _callback) throws ApiException {
        okhttp3.Call localVarCall = getAssetSwapOrderV1ValidateBeforeCall(orderId, _callback);
        Type localVarReturnType = new TypeToken<ApiResponseAssetSwapOrderQueryV1>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

}
