/*
 * Gate API
 * Welcome to Gate API APIv4 provides operations related to spot, margin, and contract trading, including public interfaces for querying market data and authenticated private interfaces for implementing API-based automated trading.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package io.gate.gateapi.api;

import io.gate.gateapi.ApiCallback;
import io.gate.gateapi.ApiClient;
import io.gate.gateapi.ApiException;
import io.gate.gateapi.ApiResponse;
import io.gate.gateapi.Configuration;
import io.gate.gateapi.Pair;

import com.google.gson.reflect.TypeToken;


import io.gate.gateapi.models.AIHubCreateSuccessResponse;
import io.gate.gateapi.models.AIHubDiscoverSuccessResponse;
import io.gate.gateapi.models.AIHubPortfolioDetailSuccessResponse;
import io.gate.gateapi.models.AIHubPortfolioRunningSuccessResponse;
import io.gate.gateapi.models.AIHubPortfolioStopRequest;
import io.gate.gateapi.models.AIHubPortfolioStopSuccessResponse;
import io.gate.gateapi.models.ContractMartingaleCreateRequest;
import io.gate.gateapi.models.FuturesGridCreateRequest;
import io.gate.gateapi.models.InfiniteGridCreateRequest;
import io.gate.gateapi.models.MarginGridCreateRequest;
import io.gate.gateapi.models.SpotGridCreateRequest;
import io.gate.gateapi.models.SpotMartingaleCreateRequest;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class BotApi {
    private ApiClient localVarApiClient;

    public BotApi() {
        this(Configuration.getDefaultApiClient());
    }

    public BotApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    private okhttp3.Call getAIHubStrategyRecommendCall(String market, String strategyType, String direction, String investAmount, String scene, String refreshRecommendationId, Integer limit, String maxDrawdownLte, String backtestAprGte, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/bot/strategy/recommend";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (market != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("market", market));
        }

        if (strategyType != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("strategy_type", strategyType));
        }

        if (direction != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("direction", direction));
        }

        if (investAmount != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("invest_amount", investAmount));
        }

        if (scene != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("scene", scene));
        }

        if (refreshRecommendationId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("refresh_recommendation_id", refreshRecommendationId));
        }

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (maxDrawdownLte != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("max_drawdown_lte", maxDrawdownLte));
        }

        if (backtestAprGte != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("backtest_apr_gte", backtestAprGte));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xGateServiceId != null) {
            localVarHeaderParams.put("X-Gate-Service-Id", localVarApiClient.parameterToString(xGateServiceId));
        }

        if (xGateAppLang != null) {
            localVarHeaderParams.put("X-Gate-AppLang", localVarApiClient.parameterToString(xGateAppLang));
        }

        if (xRequestId != null) {
            localVarHeaderParams.put("X-Request-Id", localVarApiClient.parameterToString(xRequestId));
        }

        if (xTraceId != null) {
            localVarHeaderParams.put("X-Trace-Id", localVarApiClient.parameterToString(xTraceId));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getAIHubStrategyRecommendValidateBeforeCall(String market, String strategyType, String direction, String investAmount, String scene, String refreshRecommendationId, Integer limit, String maxDrawdownLte, String backtestAprGte, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = getAIHubStrategyRecommendCall(market, strategyType, direction, investAmount, scene, refreshRecommendationId, limit, maxDrawdownLte, backtestAprGte, xGateServiceId, xGateAppLang, xRequestId, xTraceId, _callback);
        return localVarCall;
    }


    private ApiResponse<AIHubDiscoverSuccessResponse> getAIHubStrategyRecommendWithHttpInfo(String market, String strategyType, String direction, String investAmount, String scene, String refreshRecommendationId, Integer limit, String maxDrawdownLte, String backtestAprGte, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId) throws ApiException {
        okhttp3.Call localVarCall = getAIHubStrategyRecommendValidateBeforeCall(market, strategyType, direction, investAmount, scene, refreshRecommendationId, limit, maxDrawdownLte, backtestAprGte, xGateServiceId, xGateAppLang, xRequestId, xTraceId, null);
        Type localVarReturnType = new TypeToken<AIHubDiscoverSuccessResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call getAIHubStrategyRecommendAsync(String market, String strategyType, String direction, String investAmount, String scene, String refreshRecommendationId, Integer limit, String maxDrawdownLte, String backtestAprGte, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback<AIHubDiscoverSuccessResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = getAIHubStrategyRecommendValidateBeforeCall(market, strategyType, direction, investAmount, scene, refreshRecommendationId, limit, maxDrawdownLte, backtestAprGte, xGateServiceId, xGateAppLang, xRequestId, xTraceId, _callback);
        Type localVarReturnType = new TypeToken<AIHubDiscoverSuccessResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIgetAIHubStrategyRecommendRequest {
        private String market;
        private String strategyType;
        private String direction;
        private String investAmount;
        private String scene;
        private String refreshRecommendationId;
        private Integer limit;
        private String maxDrawdownLte;
        private String backtestAprGte;
        private String xGateServiceId;
        private String xGateAppLang;
        private String xRequestId;
        private String xTraceId;

        private APIgetAIHubStrategyRecommendRequest() {
        }

        /**
         * Set market
         * @param market 交易对，例如 &#x60;BTC_USDT&#x60; (optional)
         * @return APIgetAIHubStrategyRecommendRequest
         */
        public APIgetAIHubStrategyRecommendRequest market(String market) {
            this.market = market;
            return this;
        }

        /**
         * Set strategyType
         * @param strategyType 推荐目标策略类型；&#x60;contract_martingale&#x60; 不允许 (optional)
         * @return APIgetAIHubStrategyRecommendRequest
         */
        public APIgetAIHubStrategyRecommendRequest strategyType(String strategyType) {
            this.strategyType = strategyType;
            return this;
        }

        /**
         * Set direction
         * @param direction 行情方向 (optional)
         * @return APIgetAIHubStrategyRecommendRequest
         */
        public APIgetAIHubStrategyRecommendRequest direction(String direction) {
            this.direction = direction;
            return this;
        }

        /**
         * Set investAmount
         * @param investAmount 投入金额，字符串透传 (optional)
         * @return APIgetAIHubStrategyRecommendRequest
         */
        public APIgetAIHubStrategyRecommendRequest investAmount(String investAmount) {
            this.investAmount = investAmount;
            return this;
        }

        /**
         * Set scene
         * @param scene 推荐场景；为空时 bot-service 可按实现逻辑自动推断 (optional)
         * @return APIgetAIHubStrategyRecommendRequest
         */
        public APIgetAIHubStrategyRecommendRequest scene(String scene) {
            this.scene = scene;
            return this;
        }

        /**
         * Set refreshRecommendationId
         * @param refreshRecommendationId 推荐刷新上下文。&#x60;scene&#x3D;refresh&#x60; 时使用；当 &#x60;scene&#x60; 为空但该字段存在时，bot-service 也会自动判定为 &#x60;refresh&#x60;。 正式最小格式为 &#x60;strategy_type|market&#x60;；若直接透传上一条推荐的 &#x60;recommendation_id&#x60;，第三段 &#x60;backtest_id&#x60; 会被忽略。 (optional)
         * @return APIgetAIHubStrategyRecommendRequest
         */
        public APIgetAIHubStrategyRecommendRequest refreshRecommendationId(String refreshRecommendationId) {
            this.refreshRecommendationId = refreshRecommendationId;
            return this;
        }

        /**
         * Set limit
         * @param limit 返回数量；&#x60;scene&#x3D;filter&#x60; 时实际结果最多 10 条 (optional)
         * @return APIgetAIHubStrategyRecommendRequest
         */
        public APIgetAIHubStrategyRecommendRequest limit(Integer limit) {
            this.limit = limit;
            return this;
        }

        /**
         * Set maxDrawdownLte
         * @param maxDrawdownLte 最大回撤上限 (optional)
         * @return APIgetAIHubStrategyRecommendRequest
         */
        public APIgetAIHubStrategyRecommendRequest maxDrawdownLte(String maxDrawdownLte) {
            this.maxDrawdownLte = maxDrawdownLte;
            return this;
        }

        /**
         * Set backtestAprGte
         * @param backtestAprGte 回测年化下限 (optional)
         * @return APIgetAIHubStrategyRecommendRequest
         */
        public APIgetAIHubStrategyRecommendRequest backtestAprGte(String backtestAprGte) {
            this.backtestAprGte = backtestAprGte;
            return this;
        }

        /**
         * Set xGateServiceId
         * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
         * @return APIgetAIHubStrategyRecommendRequest
         */
        public APIgetAIHubStrategyRecommendRequest xGateServiceId(String xGateServiceId) {
            this.xGateServiceId = xGateServiceId;
            return this;
        }

        /**
         * Set xGateAppLang
         * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
         * @return APIgetAIHubStrategyRecommendRequest
         */
        public APIgetAIHubStrategyRecommendRequest xGateAppLang(String xGateAppLang) {
            this.xGateAppLang = xGateAppLang;
            return this;
        }

        /**
         * Set xRequestId
         * @param xRequestId 请求链路 ID；调用方可透传 (optional)
         * @return APIgetAIHubStrategyRecommendRequest
         */
        public APIgetAIHubStrategyRecommendRequest xRequestId(String xRequestId) {
            this.xRequestId = xRequestId;
            return this;
        }

        /**
         * Set xTraceId
         * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
         * @return APIgetAIHubStrategyRecommendRequest
         */
        public APIgetAIHubStrategyRecommendRequest xTraceId(String xTraceId) {
            this.xTraceId = xTraceId;
            return this;
        }

        /**
         * Build call for getAIHubStrategyRecommend
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return getAIHubStrategyRecommendCall(market, strategyType, direction, investAmount, scene, refreshRecommendationId, limit, maxDrawdownLte, backtestAprGte, xGateServiceId, xGateAppLang, xRequestId, xTraceId, _callback);
        }

        /**
         * Execute getAIHubStrategyRecommend request
         * @return AIHubDiscoverSuccessResponse
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
         </table>
         */
        public AIHubDiscoverSuccessResponse execute() throws ApiException {
            ApiResponse<AIHubDiscoverSuccessResponse> localVarResp = getAIHubStrategyRecommendWithHttpInfo(market, strategyType, direction, investAmount, scene, refreshRecommendationId, limit, maxDrawdownLte, backtestAprGte, xGateServiceId, xGateAppLang, xRequestId, xTraceId);
            return localVarResp.getData();
        }

        /**
         * Execute getAIHubStrategyRecommend request with HTTP info returned
         * @return ApiResponse&lt;AIHubDiscoverSuccessResponse&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<AIHubDiscoverSuccessResponse> executeWithHttpInfo() throws ApiException {
            return getAIHubStrategyRecommendWithHttpInfo(market, strategyType, direction, investAmount, scene, refreshRecommendationId, limit, maxDrawdownLte, backtestAprGte, xGateServiceId, xGateAppLang, xRequestId, xTraceId);
        }

        /**
         * Execute getAIHubStrategyRecommend request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<AIHubDiscoverSuccessResponse> _callback) throws ApiException {
            return getAIHubStrategyRecommendAsync(market, strategyType, direction, investAmount, scene, refreshRecommendationId, limit, maxDrawdownLte, backtestAprGte, xGateServiceId, xGateAppLang, xRequestId, xTraceId, _callback);
        }
    }

    /**
     * 获取 AIHub 策略推荐
     * discover 域唯一正式接口。  支持场景： - &#x60;top1&#x60; - &#x60;bundle&#x60; - &#x60;filter&#x60; - &#x60;refresh&#x60;  约束： - 主动推荐池仅包含 &#x60;spot_grid&#x60;、&#x60;futures_grid&#x60;、&#x60;spot_martingale&#x60; - 可返回但不主动推荐 &#x60;infinite_grid&#x60;、&#x60;margin_grid&#x60; - 不得返回 &#x60;contract_martingale&#x60;、&#x60;smart-position&#x60;、&#x60;spot-future-arbitrage&#x60; - &#x60;scene&#x3D;filter&#x60; 时只允许按 &#x60;market&#x60;、&#x60;backtest_apr_gte&#x60;、&#x60;max_drawdown_lte&#x60; 过滤 - &#x60;scene&#x3D;refresh&#x60; 通过 &#x60;refresh_recommendation_id&#x60; 承接刷新上下文；正式最小格式只要求 &#x60;strategy_type|market&#x60; - 若上游直接透传上一条推荐的 &#x60;recommendation_id&#x60;，其中第三段 &#x60;backtest_id&#x60; 当前会被忽略
     * @return APIgetAIHubStrategyRecommendRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public APIgetAIHubStrategyRecommendRequest getAIHubStrategyRecommend() {
        return new APIgetAIHubStrategyRecommendRequest();
    }

    /**
     * Build call for postAIHubSpotGridCreate
     * @param spotGridCreateRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call postAIHubSpotGridCreateCall(SpotGridCreateRequest spotGridCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = spotGridCreateRequest;

        // create path and map variables
        String localVarPath = "/bot/spot-grid/create";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xGateServiceId != null) {
            localVarHeaderParams.put("X-Gate-Service-Id", localVarApiClient.parameterToString(xGateServiceId));
        }

        if (xGateAppLang != null) {
            localVarHeaderParams.put("X-Gate-AppLang", localVarApiClient.parameterToString(xGateAppLang));
        }

        if (xRequestId != null) {
            localVarHeaderParams.put("X-Request-Id", localVarApiClient.parameterToString(xRequestId));
        }

        if (xTraceId != null) {
            localVarHeaderParams.put("X-Trace-Id", localVarApiClient.parameterToString(xTraceId));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call postAIHubSpotGridCreateValidateBeforeCall(SpotGridCreateRequest spotGridCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'spotGridCreateRequest' is set
        if (spotGridCreateRequest == null) {
            throw new ApiException("Missing the required parameter 'spotGridCreateRequest' when calling postAIHubSpotGridCreate(Async)");
        }

        okhttp3.Call localVarCall = postAIHubSpotGridCreateCall(spotGridCreateRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId, _callback);
        return localVarCall;
    }

    /**
     * 创建现货网格
     * 根据传入参数创建现货网格策略。
     * @param spotGridCreateRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @return AIHubCreateSuccessResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public AIHubCreateSuccessResponse postAIHubSpotGridCreate(SpotGridCreateRequest spotGridCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId) throws ApiException {
        ApiResponse<AIHubCreateSuccessResponse> localVarResp = postAIHubSpotGridCreateWithHttpInfo(spotGridCreateRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId);
        return localVarResp.getData();
    }

    /**
     * 创建现货网格
     * 根据传入参数创建现货网格策略。
     * @param spotGridCreateRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @return ApiResponse&lt;AIHubCreateSuccessResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<AIHubCreateSuccessResponse> postAIHubSpotGridCreateWithHttpInfo(SpotGridCreateRequest spotGridCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId) throws ApiException {
        okhttp3.Call localVarCall = postAIHubSpotGridCreateValidateBeforeCall(spotGridCreateRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId, null);
        Type localVarReturnType = new TypeToken<AIHubCreateSuccessResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * 创建现货网格 (asynchronously)
     * 根据传入参数创建现货网格策略。
     * @param spotGridCreateRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call postAIHubSpotGridCreateAsync(SpotGridCreateRequest spotGridCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback<AIHubCreateSuccessResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = postAIHubSpotGridCreateValidateBeforeCall(spotGridCreateRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId, _callback);
        Type localVarReturnType = new TypeToken<AIHubCreateSuccessResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for postAIHubMarginGridCreate
     * @param marginGridCreateRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call postAIHubMarginGridCreateCall(MarginGridCreateRequest marginGridCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = marginGridCreateRequest;

        // create path and map variables
        String localVarPath = "/bot/margin-grid/create";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xGateServiceId != null) {
            localVarHeaderParams.put("X-Gate-Service-Id", localVarApiClient.parameterToString(xGateServiceId));
        }

        if (xGateAppLang != null) {
            localVarHeaderParams.put("X-Gate-AppLang", localVarApiClient.parameterToString(xGateAppLang));
        }

        if (xRequestId != null) {
            localVarHeaderParams.put("X-Request-Id", localVarApiClient.parameterToString(xRequestId));
        }

        if (xTraceId != null) {
            localVarHeaderParams.put("X-Trace-Id", localVarApiClient.parameterToString(xTraceId));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call postAIHubMarginGridCreateValidateBeforeCall(MarginGridCreateRequest marginGridCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'marginGridCreateRequest' is set
        if (marginGridCreateRequest == null) {
            throw new ApiException("Missing the required parameter 'marginGridCreateRequest' when calling postAIHubMarginGridCreate(Async)");
        }

        okhttp3.Call localVarCall = postAIHubMarginGridCreateCall(marginGridCreateRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId, _callback);
        return localVarCall;
    }

    /**
     * 创建杠杆网格
     * 根据传入参数创建杠杆网格策略。
     * @param marginGridCreateRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @return AIHubCreateSuccessResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public AIHubCreateSuccessResponse postAIHubMarginGridCreate(MarginGridCreateRequest marginGridCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId) throws ApiException {
        ApiResponse<AIHubCreateSuccessResponse> localVarResp = postAIHubMarginGridCreateWithHttpInfo(marginGridCreateRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId);
        return localVarResp.getData();
    }

    /**
     * 创建杠杆网格
     * 根据传入参数创建杠杆网格策略。
     * @param marginGridCreateRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @return ApiResponse&lt;AIHubCreateSuccessResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<AIHubCreateSuccessResponse> postAIHubMarginGridCreateWithHttpInfo(MarginGridCreateRequest marginGridCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId) throws ApiException {
        okhttp3.Call localVarCall = postAIHubMarginGridCreateValidateBeforeCall(marginGridCreateRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId, null);
        Type localVarReturnType = new TypeToken<AIHubCreateSuccessResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * 创建杠杆网格 (asynchronously)
     * 根据传入参数创建杠杆网格策略。
     * @param marginGridCreateRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call postAIHubMarginGridCreateAsync(MarginGridCreateRequest marginGridCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback<AIHubCreateSuccessResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = postAIHubMarginGridCreateValidateBeforeCall(marginGridCreateRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId, _callback);
        Type localVarReturnType = new TypeToken<AIHubCreateSuccessResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for postAIHubInfiniteGridCreate
     * @param infiniteGridCreateRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call postAIHubInfiniteGridCreateCall(InfiniteGridCreateRequest infiniteGridCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = infiniteGridCreateRequest;

        // create path and map variables
        String localVarPath = "/bot/infinite-grid/create";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xGateServiceId != null) {
            localVarHeaderParams.put("X-Gate-Service-Id", localVarApiClient.parameterToString(xGateServiceId));
        }

        if (xGateAppLang != null) {
            localVarHeaderParams.put("X-Gate-AppLang", localVarApiClient.parameterToString(xGateAppLang));
        }

        if (xRequestId != null) {
            localVarHeaderParams.put("X-Request-Id", localVarApiClient.parameterToString(xRequestId));
        }

        if (xTraceId != null) {
            localVarHeaderParams.put("X-Trace-Id", localVarApiClient.parameterToString(xTraceId));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call postAIHubInfiniteGridCreateValidateBeforeCall(InfiniteGridCreateRequest infiniteGridCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'infiniteGridCreateRequest' is set
        if (infiniteGridCreateRequest == null) {
            throw new ApiException("Missing the required parameter 'infiniteGridCreateRequest' when calling postAIHubInfiniteGridCreate(Async)");
        }

        okhttp3.Call localVarCall = postAIHubInfiniteGridCreateCall(infiniteGridCreateRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId, _callback);
        return localVarCall;
    }

    /**
     * 创建无限网格
     * 根据传入参数创建无限网格策略。
     * @param infiniteGridCreateRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @return AIHubCreateSuccessResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public AIHubCreateSuccessResponse postAIHubInfiniteGridCreate(InfiniteGridCreateRequest infiniteGridCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId) throws ApiException {
        ApiResponse<AIHubCreateSuccessResponse> localVarResp = postAIHubInfiniteGridCreateWithHttpInfo(infiniteGridCreateRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId);
        return localVarResp.getData();
    }

    /**
     * 创建无限网格
     * 根据传入参数创建无限网格策略。
     * @param infiniteGridCreateRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @return ApiResponse&lt;AIHubCreateSuccessResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<AIHubCreateSuccessResponse> postAIHubInfiniteGridCreateWithHttpInfo(InfiniteGridCreateRequest infiniteGridCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId) throws ApiException {
        okhttp3.Call localVarCall = postAIHubInfiniteGridCreateValidateBeforeCall(infiniteGridCreateRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId, null);
        Type localVarReturnType = new TypeToken<AIHubCreateSuccessResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * 创建无限网格 (asynchronously)
     * 根据传入参数创建无限网格策略。
     * @param infiniteGridCreateRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call postAIHubInfiniteGridCreateAsync(InfiniteGridCreateRequest infiniteGridCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback<AIHubCreateSuccessResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = postAIHubInfiniteGridCreateValidateBeforeCall(infiniteGridCreateRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId, _callback);
        Type localVarReturnType = new TypeToken<AIHubCreateSuccessResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for postAIHubFuturesGridCreate
     * @param futuresGridCreateRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call postAIHubFuturesGridCreateCall(FuturesGridCreateRequest futuresGridCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = futuresGridCreateRequest;

        // create path and map variables
        String localVarPath = "/bot/futures-grid/create";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xGateServiceId != null) {
            localVarHeaderParams.put("X-Gate-Service-Id", localVarApiClient.parameterToString(xGateServiceId));
        }

        if (xGateAppLang != null) {
            localVarHeaderParams.put("X-Gate-AppLang", localVarApiClient.parameterToString(xGateAppLang));
        }

        if (xRequestId != null) {
            localVarHeaderParams.put("X-Request-Id", localVarApiClient.parameterToString(xRequestId));
        }

        if (xTraceId != null) {
            localVarHeaderParams.put("X-Trace-Id", localVarApiClient.parameterToString(xTraceId));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call postAIHubFuturesGridCreateValidateBeforeCall(FuturesGridCreateRequest futuresGridCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'futuresGridCreateRequest' is set
        if (futuresGridCreateRequest == null) {
            throw new ApiException("Missing the required parameter 'futuresGridCreateRequest' when calling postAIHubFuturesGridCreate(Async)");
        }

        okhttp3.Call localVarCall = postAIHubFuturesGridCreateCall(futuresGridCreateRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId, _callback);
        return localVarCall;
    }

    /**
     * 创建合约网格
     * 根据传入参数创建合约网格策略。
     * @param futuresGridCreateRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @return AIHubCreateSuccessResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public AIHubCreateSuccessResponse postAIHubFuturesGridCreate(FuturesGridCreateRequest futuresGridCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId) throws ApiException {
        ApiResponse<AIHubCreateSuccessResponse> localVarResp = postAIHubFuturesGridCreateWithHttpInfo(futuresGridCreateRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId);
        return localVarResp.getData();
    }

    /**
     * 创建合约网格
     * 根据传入参数创建合约网格策略。
     * @param futuresGridCreateRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @return ApiResponse&lt;AIHubCreateSuccessResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<AIHubCreateSuccessResponse> postAIHubFuturesGridCreateWithHttpInfo(FuturesGridCreateRequest futuresGridCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId) throws ApiException {
        okhttp3.Call localVarCall = postAIHubFuturesGridCreateValidateBeforeCall(futuresGridCreateRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId, null);
        Type localVarReturnType = new TypeToken<AIHubCreateSuccessResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * 创建合约网格 (asynchronously)
     * 根据传入参数创建合约网格策略。
     * @param futuresGridCreateRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call postAIHubFuturesGridCreateAsync(FuturesGridCreateRequest futuresGridCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback<AIHubCreateSuccessResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = postAIHubFuturesGridCreateValidateBeforeCall(futuresGridCreateRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId, _callback);
        Type localVarReturnType = new TypeToken<AIHubCreateSuccessResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for postAIHubSpotMartingaleCreate
     * @param spotMartingaleCreateRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call postAIHubSpotMartingaleCreateCall(SpotMartingaleCreateRequest spotMartingaleCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = spotMartingaleCreateRequest;

        // create path and map variables
        String localVarPath = "/bot/spot-martingale/create";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xGateServiceId != null) {
            localVarHeaderParams.put("X-Gate-Service-Id", localVarApiClient.parameterToString(xGateServiceId));
        }

        if (xGateAppLang != null) {
            localVarHeaderParams.put("X-Gate-AppLang", localVarApiClient.parameterToString(xGateAppLang));
        }

        if (xRequestId != null) {
            localVarHeaderParams.put("X-Request-Id", localVarApiClient.parameterToString(xRequestId));
        }

        if (xTraceId != null) {
            localVarHeaderParams.put("X-Trace-Id", localVarApiClient.parameterToString(xTraceId));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call postAIHubSpotMartingaleCreateValidateBeforeCall(SpotMartingaleCreateRequest spotMartingaleCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'spotMartingaleCreateRequest' is set
        if (spotMartingaleCreateRequest == null) {
            throw new ApiException("Missing the required parameter 'spotMartingaleCreateRequest' when calling postAIHubSpotMartingaleCreate(Async)");
        }

        okhttp3.Call localVarCall = postAIHubSpotMartingaleCreateCall(spotMartingaleCreateRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId, _callback);
        return localVarCall;
    }

    /**
     * 创建现货马丁
     * 根据传入参数创建现货马丁策略。
     * @param spotMartingaleCreateRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @return AIHubCreateSuccessResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public AIHubCreateSuccessResponse postAIHubSpotMartingaleCreate(SpotMartingaleCreateRequest spotMartingaleCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId) throws ApiException {
        ApiResponse<AIHubCreateSuccessResponse> localVarResp = postAIHubSpotMartingaleCreateWithHttpInfo(spotMartingaleCreateRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId);
        return localVarResp.getData();
    }

    /**
     * 创建现货马丁
     * 根据传入参数创建现货马丁策略。
     * @param spotMartingaleCreateRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @return ApiResponse&lt;AIHubCreateSuccessResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<AIHubCreateSuccessResponse> postAIHubSpotMartingaleCreateWithHttpInfo(SpotMartingaleCreateRequest spotMartingaleCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId) throws ApiException {
        okhttp3.Call localVarCall = postAIHubSpotMartingaleCreateValidateBeforeCall(spotMartingaleCreateRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId, null);
        Type localVarReturnType = new TypeToken<AIHubCreateSuccessResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * 创建现货马丁 (asynchronously)
     * 根据传入参数创建现货马丁策略。
     * @param spotMartingaleCreateRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call postAIHubSpotMartingaleCreateAsync(SpotMartingaleCreateRequest spotMartingaleCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback<AIHubCreateSuccessResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = postAIHubSpotMartingaleCreateValidateBeforeCall(spotMartingaleCreateRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId, _callback);
        Type localVarReturnType = new TypeToken<AIHubCreateSuccessResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for postAIHubContractMartingaleCreate
     * @param contractMartingaleCreateRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call postAIHubContractMartingaleCreateCall(ContractMartingaleCreateRequest contractMartingaleCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = contractMartingaleCreateRequest;

        // create path and map variables
        String localVarPath = "/bot/contract-martingale/create";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xGateServiceId != null) {
            localVarHeaderParams.put("X-Gate-Service-Id", localVarApiClient.parameterToString(xGateServiceId));
        }

        if (xGateAppLang != null) {
            localVarHeaderParams.put("X-Gate-AppLang", localVarApiClient.parameterToString(xGateAppLang));
        }

        if (xRequestId != null) {
            localVarHeaderParams.put("X-Request-Id", localVarApiClient.parameterToString(xRequestId));
        }

        if (xTraceId != null) {
            localVarHeaderParams.put("X-Trace-Id", localVarApiClient.parameterToString(xTraceId));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call postAIHubContractMartingaleCreateValidateBeforeCall(ContractMartingaleCreateRequest contractMartingaleCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'contractMartingaleCreateRequest' is set
        if (contractMartingaleCreateRequest == null) {
            throw new ApiException("Missing the required parameter 'contractMartingaleCreateRequest' when calling postAIHubContractMartingaleCreate(Async)");
        }

        okhttp3.Call localVarCall = postAIHubContractMartingaleCreateCall(contractMartingaleCreateRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId, _callback);
        return localVarCall;
    }

    /**
     * 创建合约马丁
     * 根据传入参数创建合约马丁策略。
     * @param contractMartingaleCreateRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @return AIHubCreateSuccessResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public AIHubCreateSuccessResponse postAIHubContractMartingaleCreate(ContractMartingaleCreateRequest contractMartingaleCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId) throws ApiException {
        ApiResponse<AIHubCreateSuccessResponse> localVarResp = postAIHubContractMartingaleCreateWithHttpInfo(contractMartingaleCreateRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId);
        return localVarResp.getData();
    }

    /**
     * 创建合约马丁
     * 根据传入参数创建合约马丁策略。
     * @param contractMartingaleCreateRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @return ApiResponse&lt;AIHubCreateSuccessResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<AIHubCreateSuccessResponse> postAIHubContractMartingaleCreateWithHttpInfo(ContractMartingaleCreateRequest contractMartingaleCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId) throws ApiException {
        okhttp3.Call localVarCall = postAIHubContractMartingaleCreateValidateBeforeCall(contractMartingaleCreateRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId, null);
        Type localVarReturnType = new TypeToken<AIHubCreateSuccessResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * 创建合约马丁 (asynchronously)
     * 根据传入参数创建合约马丁策略。
     * @param contractMartingaleCreateRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call postAIHubContractMartingaleCreateAsync(ContractMartingaleCreateRequest contractMartingaleCreateRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback<AIHubCreateSuccessResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = postAIHubContractMartingaleCreateValidateBeforeCall(contractMartingaleCreateRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId, _callback);
        Type localVarReturnType = new TypeToken<AIHubCreateSuccessResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    private okhttp3.Call getAIHubPortfolioRunningCall(String strategyType, String market, Integer page, Integer pageSize, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/bot/portfolio/running";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (strategyType != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("strategy_type", strategyType));
        }

        if (market != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("market", market));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (pageSize != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page_size", pageSize));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xGateServiceId != null) {
            localVarHeaderParams.put("X-Gate-Service-Id", localVarApiClient.parameterToString(xGateServiceId));
        }

        if (xGateAppLang != null) {
            localVarHeaderParams.put("X-Gate-AppLang", localVarApiClient.parameterToString(xGateAppLang));
        }

        if (xRequestId != null) {
            localVarHeaderParams.put("X-Request-Id", localVarApiClient.parameterToString(xRequestId));
        }

        if (xTraceId != null) {
            localVarHeaderParams.put("X-Trace-Id", localVarApiClient.parameterToString(xTraceId));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getAIHubPortfolioRunningValidateBeforeCall(String strategyType, String market, Integer page, Integer pageSize, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = getAIHubPortfolioRunningCall(strategyType, market, page, pageSize, xGateServiceId, xGateAppLang, xRequestId, xTraceId, _callback);
        return localVarCall;
    }


    private ApiResponse<AIHubPortfolioRunningSuccessResponse> getAIHubPortfolioRunningWithHttpInfo(String strategyType, String market, Integer page, Integer pageSize, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId) throws ApiException {
        okhttp3.Call localVarCall = getAIHubPortfolioRunningValidateBeforeCall(strategyType, market, page, pageSize, xGateServiceId, xGateAppLang, xRequestId, xTraceId, null);
        Type localVarReturnType = new TypeToken<AIHubPortfolioRunningSuccessResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call getAIHubPortfolioRunningAsync(String strategyType, String market, Integer page, Integer pageSize, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback<AIHubPortfolioRunningSuccessResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = getAIHubPortfolioRunningValidateBeforeCall(strategyType, market, page, pageSize, xGateServiceId, xGateAppLang, xRequestId, xTraceId, _callback);
        Type localVarReturnType = new TypeToken<AIHubPortfolioRunningSuccessResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIgetAIHubPortfolioRunningRequest {
        private String strategyType;
        private String market;
        private Integer page;
        private Integer pageSize;
        private String xGateServiceId;
        private String xGateAppLang;
        private String xRequestId;
        private String xTraceId;

        private APIgetAIHubPortfolioRunningRequest() {
        }

        /**
         * Set strategyType
         * @param strategyType 按策略类型过滤 (optional)
         * @return APIgetAIHubPortfolioRunningRequest
         */
        public APIgetAIHubPortfolioRunningRequest strategyType(String strategyType) {
            this.strategyType = strategyType;
            return this;
        }

        /**
         * Set market
         * @param market 按交易对过滤 (optional)
         * @return APIgetAIHubPortfolioRunningRequest
         */
        public APIgetAIHubPortfolioRunningRequest market(String market) {
            this.market = market;
            return this;
        }

        /**
         * Set page
         * @param page 页码，默认 1 (optional, default to 1)
         * @return APIgetAIHubPortfolioRunningRequest
         */
        public APIgetAIHubPortfolioRunningRequest page(Integer page) {
            this.page = page;
            return this;
        }

        /**
         * Set pageSize
         * @param pageSize 分页大小，默认 20，最大 50 (optional, default to 20)
         * @return APIgetAIHubPortfolioRunningRequest
         */
        public APIgetAIHubPortfolioRunningRequest pageSize(Integer pageSize) {
            this.pageSize = pageSize;
            return this;
        }

        /**
         * Set xGateServiceId
         * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
         * @return APIgetAIHubPortfolioRunningRequest
         */
        public APIgetAIHubPortfolioRunningRequest xGateServiceId(String xGateServiceId) {
            this.xGateServiceId = xGateServiceId;
            return this;
        }

        /**
         * Set xGateAppLang
         * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
         * @return APIgetAIHubPortfolioRunningRequest
         */
        public APIgetAIHubPortfolioRunningRequest xGateAppLang(String xGateAppLang) {
            this.xGateAppLang = xGateAppLang;
            return this;
        }

        /**
         * Set xRequestId
         * @param xRequestId 请求链路 ID；调用方可透传 (optional)
         * @return APIgetAIHubPortfolioRunningRequest
         */
        public APIgetAIHubPortfolioRunningRequest xRequestId(String xRequestId) {
            this.xRequestId = xRequestId;
            return this;
        }

        /**
         * Set xTraceId
         * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
         * @return APIgetAIHubPortfolioRunningRequest
         */
        public APIgetAIHubPortfolioRunningRequest xTraceId(String xTraceId) {
            this.xTraceId = xTraceId;
            return this;
        }

        /**
         * Build call for getAIHubPortfolioRunning
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return getAIHubPortfolioRunningCall(strategyType, market, page, pageSize, xGateServiceId, xGateAppLang, xRequestId, xTraceId, _callback);
        }

        /**
         * Execute getAIHubPortfolioRunning request
         * @return AIHubPortfolioRunningSuccessResponse
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
         </table>
         */
        public AIHubPortfolioRunningSuccessResponse execute() throws ApiException {
            ApiResponse<AIHubPortfolioRunningSuccessResponse> localVarResp = getAIHubPortfolioRunningWithHttpInfo(strategyType, market, page, pageSize, xGateServiceId, xGateAppLang, xRequestId, xTraceId);
            return localVarResp.getData();
        }

        /**
         * Execute getAIHubPortfolioRunning request with HTTP info returned
         * @return ApiResponse&lt;AIHubPortfolioRunningSuccessResponse&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<AIHubPortfolioRunningSuccessResponse> executeWithHttpInfo() throws ApiException {
            return getAIHubPortfolioRunningWithHttpInfo(strategyType, market, page, pageSize, xGateServiceId, xGateAppLang, xRequestId, xTraceId);
        }

        /**
         * Execute getAIHubPortfolioRunning request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<AIHubPortfolioRunningSuccessResponse> _callback) throws ApiException {
            return getAIHubPortfolioRunningAsync(strategyType, market, page, pageSize, xGateServiceId, xGateAppLang, xRequestId, xTraceId, _callback);
        }
    }

    /**
     * 查询运行中策略列表
     * 查询当前用户运行中的 AIHub 策略列表，支持按策略类型、交易对和分页条件过滤。
     * @return APIgetAIHubPortfolioRunningRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public APIgetAIHubPortfolioRunningRequest getAIHubPortfolioRunning() {
        return new APIgetAIHubPortfolioRunningRequest();
    }

    private okhttp3.Call getAIHubPortfolioDetailCall(String strategyId, String strategyType, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/bot/portfolio/detail";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (strategyId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("strategy_id", strategyId));
        }

        if (strategyType != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("strategy_type", strategyType));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xGateServiceId != null) {
            localVarHeaderParams.put("X-Gate-Service-Id", localVarApiClient.parameterToString(xGateServiceId));
        }

        if (xGateAppLang != null) {
            localVarHeaderParams.put("X-Gate-AppLang", localVarApiClient.parameterToString(xGateAppLang));
        }

        if (xRequestId != null) {
            localVarHeaderParams.put("X-Request-Id", localVarApiClient.parameterToString(xRequestId));
        }

        if (xTraceId != null) {
            localVarHeaderParams.put("X-Trace-Id", localVarApiClient.parameterToString(xTraceId));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getAIHubPortfolioDetailValidateBeforeCall(String strategyId, String strategyType, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'strategyId' is set
        if (strategyId == null) {
            throw new ApiException("Missing the required parameter 'strategyId' when calling getAIHubPortfolioDetail(Async)");
        }

        // verify the required parameter 'strategyType' is set
        if (strategyType == null) {
            throw new ApiException("Missing the required parameter 'strategyType' when calling getAIHubPortfolioDetail(Async)");
        }

        okhttp3.Call localVarCall = getAIHubPortfolioDetailCall(strategyId, strategyType, xGateServiceId, xGateAppLang, xRequestId, xTraceId, _callback);
        return localVarCall;
    }


    private ApiResponse<AIHubPortfolioDetailSuccessResponse> getAIHubPortfolioDetailWithHttpInfo(String strategyId, String strategyType, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId) throws ApiException {
        okhttp3.Call localVarCall = getAIHubPortfolioDetailValidateBeforeCall(strategyId, strategyType, xGateServiceId, xGateAppLang, xRequestId, xTraceId, null);
        Type localVarReturnType = new TypeToken<AIHubPortfolioDetailSuccessResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call getAIHubPortfolioDetailAsync(String strategyId, String strategyType, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback<AIHubPortfolioDetailSuccessResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = getAIHubPortfolioDetailValidateBeforeCall(strategyId, strategyType, xGateServiceId, xGateAppLang, xRequestId, xTraceId, _callback);
        Type localVarReturnType = new TypeToken<AIHubPortfolioDetailSuccessResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIgetAIHubPortfolioDetailRequest {
        private final String strategyId;
        private final String strategyType;
        private String xGateServiceId;
        private String xGateAppLang;
        private String xRequestId;
        private String xTraceId;

        private APIgetAIHubPortfolioDetailRequest(String strategyId, String strategyType) {
            this.strategyId = strategyId;
            this.strategyType = strategyType;
        }

        /**
         * Set xGateServiceId
         * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
         * @return APIgetAIHubPortfolioDetailRequest
         */
        public APIgetAIHubPortfolioDetailRequest xGateServiceId(String xGateServiceId) {
            this.xGateServiceId = xGateServiceId;
            return this;
        }

        /**
         * Set xGateAppLang
         * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
         * @return APIgetAIHubPortfolioDetailRequest
         */
        public APIgetAIHubPortfolioDetailRequest xGateAppLang(String xGateAppLang) {
            this.xGateAppLang = xGateAppLang;
            return this;
        }

        /**
         * Set xRequestId
         * @param xRequestId 请求链路 ID；调用方可透传 (optional)
         * @return APIgetAIHubPortfolioDetailRequest
         */
        public APIgetAIHubPortfolioDetailRequest xRequestId(String xRequestId) {
            this.xRequestId = xRequestId;
            return this;
        }

        /**
         * Set xTraceId
         * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
         * @return APIgetAIHubPortfolioDetailRequest
         */
        public APIgetAIHubPortfolioDetailRequest xTraceId(String xTraceId) {
            this.xTraceId = xTraceId;
            return this;
        }

        /**
         * Build call for getAIHubPortfolioDetail
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return getAIHubPortfolioDetailCall(strategyId, strategyType, xGateServiceId, xGateAppLang, xRequestId, xTraceId, _callback);
        }

        /**
         * Execute getAIHubPortfolioDetail request
         * @return AIHubPortfolioDetailSuccessResponse
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
         </table>
         */
        public AIHubPortfolioDetailSuccessResponse execute() throws ApiException {
            ApiResponse<AIHubPortfolioDetailSuccessResponse> localVarResp = getAIHubPortfolioDetailWithHttpInfo(strategyId, strategyType, xGateServiceId, xGateAppLang, xRequestId, xTraceId);
            return localVarResp.getData();
        }

        /**
         * Execute getAIHubPortfolioDetail request with HTTP info returned
         * @return ApiResponse&lt;AIHubPortfolioDetailSuccessResponse&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<AIHubPortfolioDetailSuccessResponse> executeWithHttpInfo() throws ApiException {
            return getAIHubPortfolioDetailWithHttpInfo(strategyId, strategyType, xGateServiceId, xGateAppLang, xRequestId, xTraceId);
        }

        /**
         * Execute getAIHubPortfolioDetail request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<AIHubPortfolioDetailSuccessResponse> _callback) throws ApiException {
            return getAIHubPortfolioDetailAsync(strategyId, strategyType, xGateServiceId, xGateAppLang, xRequestId, xTraceId, _callback);
        }
    }

    /**
     * 查询单策略详情
     * 请求中必须同时传 &#x60;strategy_id&#x60; 与 &#x60;strategy_type&#x60;，其中 &#x60;strategy_type&#x60; 用于按策略类型分发到底层详情实现。
     * @param strategyId 策略 ID (required)
     * @param strategyType 策略类型；用于底层详情分发 (required)
     * @return APIgetAIHubPortfolioDetailRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public APIgetAIHubPortfolioDetailRequest getAIHubPortfolioDetail(String strategyId, String strategyType) {
        return new APIgetAIHubPortfolioDetailRequest(strategyId, strategyType);
    }

    /**
     * Build call for postAIHubPortfolioStop
     * @param aiHubPortfolioStopRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call postAIHubPortfolioStopCall(AIHubPortfolioStopRequest aiHubPortfolioStopRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = aiHubPortfolioStopRequest;

        // create path and map variables
        String localVarPath = "/bot/portfolio/stop";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xGateServiceId != null) {
            localVarHeaderParams.put("X-Gate-Service-Id", localVarApiClient.parameterToString(xGateServiceId));
        }

        if (xGateAppLang != null) {
            localVarHeaderParams.put("X-Gate-AppLang", localVarApiClient.parameterToString(xGateAppLang));
        }

        if (xRequestId != null) {
            localVarHeaderParams.put("X-Request-Id", localVarApiClient.parameterToString(xRequestId));
        }

        if (xTraceId != null) {
            localVarHeaderParams.put("X-Trace-Id", localVarApiClient.parameterToString(xTraceId));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call postAIHubPortfolioStopValidateBeforeCall(AIHubPortfolioStopRequest aiHubPortfolioStopRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'aiHubPortfolioStopRequest' is set
        if (aiHubPortfolioStopRequest == null) {
            throw new ApiException("Missing the required parameter 'aiHubPortfolioStopRequest' when calling postAIHubPortfolioStop(Async)");
        }

        okhttp3.Call localVarCall = postAIHubPortfolioStopCall(aiHubPortfolioStopRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId, _callback);
        return localVarCall;
    }

    /**
     * 终止单个运行中策略
     * 单次请求只允许终止一个策略。 风险提示与二次确认由 OpenClaw 上层承担；本接口只负责执行 stop。
     * @param aiHubPortfolioStopRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @return AIHubPortfolioStopSuccessResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public AIHubPortfolioStopSuccessResponse postAIHubPortfolioStop(AIHubPortfolioStopRequest aiHubPortfolioStopRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId) throws ApiException {
        ApiResponse<AIHubPortfolioStopSuccessResponse> localVarResp = postAIHubPortfolioStopWithHttpInfo(aiHubPortfolioStopRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId);
        return localVarResp.getData();
    }

    /**
     * 终止单个运行中策略
     * 单次请求只允许终止一个策略。 风险提示与二次确认由 OpenClaw 上层承担；本接口只负责执行 stop。
     * @param aiHubPortfolioStopRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @return ApiResponse&lt;AIHubPortfolioStopSuccessResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<AIHubPortfolioStopSuccessResponse> postAIHubPortfolioStopWithHttpInfo(AIHubPortfolioStopRequest aiHubPortfolioStopRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId) throws ApiException {
        okhttp3.Call localVarCall = postAIHubPortfolioStopValidateBeforeCall(aiHubPortfolioStopRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId, null);
        Type localVarReturnType = new TypeToken<AIHubPortfolioStopSuccessResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * 终止单个运行中策略 (asynchronously)
     * 单次请求只允许终止一个策略。 风险提示与二次确认由 OpenClaw 上层承担；本接口只负责执行 stop。
     * @param aiHubPortfolioStopRequest  (required)
     * @param xGateServiceId 调用来源标识；如有需要由 APIv4 注入 (optional)
     * @param xGateAppLang 语言上下文，例如 &#x60;zh-CN&#x60; / &#x60;en-US&#x60; (optional)
     * @param xRequestId 请求链路 ID；调用方可透传 (optional)
     * @param xTraceId trace header；可由 APIv4 统一生成 (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 统一业务响应 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call postAIHubPortfolioStopAsync(AIHubPortfolioStopRequest aiHubPortfolioStopRequest, String xGateServiceId, String xGateAppLang, String xRequestId, String xTraceId, final ApiCallback<AIHubPortfolioStopSuccessResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = postAIHubPortfolioStopValidateBeforeCall(aiHubPortfolioStopRequest, xGateServiceId, xGateAppLang, xRequestId, xTraceId, _callback);
        Type localVarReturnType = new TypeToken<AIHubPortfolioStopSuccessResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

}
