/*
 * Gate API
 * Welcome to Gate API APIv4 provides operations related to spot, margin, and contract trading, including public interfaces for querying market data and authenticated private interfaces for implementing API-based automated trading.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package io.gate.gateapi.api;

import io.gate.gateapi.ApiCallback;
import io.gate.gateapi.ApiClient;
import io.gate.gateapi.ApiException;
import io.gate.gateapi.ApiResponse;
import io.gate.gateapi.Configuration;
import io.gate.gateapi.Pair;

import com.google.gson.reflect.TypeToken;


import io.gate.gateapi.models.InlineResponse20011;
import io.gate.gateapi.models.InlineResponse20012;
import io.gate.gateapi.models.InlineResponse20013;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class DefaultApi {
    private ApiClient localVarApiClient;

    public DefaultApi() {
        this(Configuration.getDefaultApiClient());
    }

    public DefaultApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getMyActivityEntry
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully returns activity entry information </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getMyActivityEntryCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/rewards/activity/my-activity-entry";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getMyActivityEntryValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = getMyActivityEntryCall(_callback);
        return localVarCall;
    }

    /**
     * My activity entry
     * Query user&#39;s Activity Center entry information, including activity icon and redirect link
     * @return InlineResponse20011
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully returns activity entry information </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse20011 getMyActivityEntry() throws ApiException {
        ApiResponse<InlineResponse20011> localVarResp = getMyActivityEntryWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * My activity entry
     * Query user&#39;s Activity Center entry information, including activity icon and redirect link
     * @return ApiResponse&lt;InlineResponse20011&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully returns activity entry information </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse20011> getMyActivityEntryWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = getMyActivityEntryValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<InlineResponse20011>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * My activity entry (asynchronously)
     * Query user&#39;s Activity Center entry information, including activity icon and redirect link
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully returns activity entry information </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getMyActivityEntryAsync(final ApiCallback<InlineResponse20011> _callback) throws ApiException {
        okhttp3.Call localVarCall = getMyActivityEntryValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<InlineResponse20011>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    private okhttp3.Call listActivitiesCall(String recommendType, String typeIds, String keywords, Integer page, Integer pageSize, String sortBy, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/rewards/activity/activity-list";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (recommendType != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("recommend_type", recommendType));
        }

        if (typeIds != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("type_ids", typeIds));
        }

        if (keywords != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("keywords", keywords));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (pageSize != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page_size", pageSize));
        }

        if (sortBy != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("sort_by", sortBy));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listActivitiesValidateBeforeCall(String recommendType, String typeIds, String keywords, Integer page, Integer pageSize, String sortBy, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = listActivitiesCall(recommendType, typeIds, keywords, page, pageSize, sortBy, _callback);
        return localVarCall;
    }


    private ApiResponse<InlineResponse20012> listActivitiesWithHttpInfo(String recommendType, String typeIds, String keywords, Integer page, Integer pageSize, String sortBy) throws ApiException {
        okhttp3.Call localVarCall = listActivitiesValidateBeforeCall(recommendType, typeIds, keywords, page, pageSize, sortBy, null);
        Type localVarReturnType = new TypeToken<InlineResponse20012>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call listActivitiesAsync(String recommendType, String typeIds, String keywords, Integer page, Integer pageSize, String sortBy, final ApiCallback<InlineResponse20012> _callback) throws ApiException {
        okhttp3.Call localVarCall = listActivitiesValidateBeforeCall(recommendType, typeIds, keywords, page, pageSize, sortBy, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse20012>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIlistActivitiesRequest {
        private String recommendType;
        private String typeIds;
        private String keywords;
        private Integer page;
        private Integer pageSize;
        private String sortBy;

        private APIlistActivitiesRequest() {
        }

        /**
         * Set recommendType
         * @param recommendType Recommendation type: hot for popular activities, type for filtering by activity type (type_ids), scenario for matching by activity name (optional)
         * @return APIlistActivitiesRequest
         */
        public APIlistActivitiesRequest recommendType(String recommendType) {
            this.recommendType = recommendType;
            return this;
        }

        /**
         * Set typeIds
         * @param typeIds Activity type ID, multiple IDs separated by commas (supports filtering by activity type through this field) (optional)
         * @return APIlistActivitiesRequest
         */
        public APIlistActivitiesRequest typeIds(String typeIds) {
            this.typeIds = typeIds;
            return this;
        }

        /**
         * Set keywords
         * @param keywords Activity name. When scenario type is used, keyword matching is applied (optional)
         * @return APIlistActivitiesRequest
         */
        public APIlistActivitiesRequest keywords(String keywords) {
            this.keywords = keywords;
            return this;
        }

        /**
         * Set page
         * @param page Page number, starting from 1 (optional, default to 1)
         * @return APIlistActivitiesRequest
         */
        public APIlistActivitiesRequest page(Integer page) {
            this.page = page;
            return this;
        }

        /**
         * Set pageSize
         * @param pageSize Items per page (optional, default to 10)
         * @return APIlistActivitiesRequest
         */
        public APIlistActivitiesRequest pageSize(Integer pageSize) {
            this.pageSize = pageSize;
            return this;
        }

        /**
         * Set sortBy
         * @param sortBy Sort order, e.g., hot for sorting by popularity (optional)
         * @return APIlistActivitiesRequest
         */
        public APIlistActivitiesRequest sortBy(String sortBy) {
            this.sortBy = sortBy;
            return this;
        }

        /**
         * Build call for listActivities
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns activity list </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return listActivitiesCall(recommendType, typeIds, keywords, page, pageSize, sortBy, _callback);
        }

        /**
         * Execute listActivities request
         * @return InlineResponse20012
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns activity list </td><td>  -  </td></tr>
         </table>
         */
        public InlineResponse20012 execute() throws ApiException {
            ApiResponse<InlineResponse20012> localVarResp = listActivitiesWithHttpInfo(recommendType, typeIds, keywords, page, pageSize, sortBy);
            return localVarResp.getData();
        }

        /**
         * Execute listActivities request with HTTP info returned
         * @return ApiResponse&lt;InlineResponse20012&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns activity list </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<InlineResponse20012> executeWithHttpInfo() throws ApiException {
            return listActivitiesWithHttpInfo(recommendType, typeIds, keywords, page, pageSize, sortBy);
        }

        /**
         * Execute listActivities request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns activity list </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<InlineResponse20012> _callback) throws ApiException {
            return listActivitiesAsync(recommendType, typeIds, keywords, page, pageSize, sortBy, _callback);
        }
    }

    /**
     * Recommended activity list
     * Query recommended activity list from Activity Center, supports pagination and sorting
     * @return APIlistActivitiesRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully returns activity list </td><td>  -  </td></tr>
     </table>
     */
    public APIlistActivitiesRequest listActivities() {
        return new APIlistActivitiesRequest();
    }

    /**
     * Build call for listActivityTypes
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully returns activity type list </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listActivityTypesCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/rewards/activity/activity-type";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listActivityTypesValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = listActivityTypesCall(_callback);
        return localVarCall;
    }

    /**
     * Activity type list
     * Query all activity types supported by Activity Center
     * @return InlineResponse20013
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully returns activity type list </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse20013 listActivityTypes() throws ApiException {
        ApiResponse<InlineResponse20013> localVarResp = listActivityTypesWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Activity type list
     * Query all activity types supported by Activity Center
     * @return ApiResponse&lt;InlineResponse20013&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully returns activity type list </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse20013> listActivityTypesWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = listActivityTypesValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<InlineResponse20013>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Activity type list (asynchronously)
     * Query all activity types supported by Activity Center
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully returns activity type list </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listActivityTypesAsync(final ApiCallback<InlineResponse20013> _callback) throws ApiException {
        okhttp3.Call localVarCall = listActivityTypesValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<InlineResponse20013>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

}
