/*
 * Gate API
 * Welcome to Gate API APIv4 provides operations related to spot, margin, and contract trading, including public interfaces for querying market data and authenticated private interfaces for implementing API-based automated trading.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package io.gate.gateapi.api;

import io.gate.gateapi.ApiCallback;
import io.gate.gateapi.ApiClient;
import io.gate.gateapi.ApiException;
import io.gate.gateapi.ApiResponse;
import io.gate.gateapi.Configuration;
import io.gate.gateapi.Pair;

import com.google.gson.reflect.TypeToken;


import io.gate.gateapi.models.AutoInvestCoinsItem;
import io.gate.gateapi.models.AutoInvestConfigItem;
import io.gate.gateapi.models.AutoInvestMinInvestAmount;
import io.gate.gateapi.models.AutoInvestMinInvestAmountResp;
import io.gate.gateapi.models.AutoInvestOrderItem;
import io.gate.gateapi.models.AutoInvestPlanAddPosition;
import io.gate.gateapi.models.AutoInvestPlanCreate;
import io.gate.gateapi.models.AutoInvestPlanCreateResp;
import io.gate.gateapi.models.AutoInvestPlanDetail;
import io.gate.gateapi.models.AutoInvestPlanListInfoResp;
import io.gate.gateapi.models.AutoInvestPlanRecordsResp;
import io.gate.gateapi.models.AutoInvestPlanStop;
import io.gate.gateapi.models.AutoInvestPlanUpdate;
import io.gate.gateapi.models.AwardListStruct;
import io.gate.gateapi.models.CreateEarnFixedTermLendResponse;
import io.gate.gateapi.models.CreateEarnFixedTermPreRedeemResponse;
import io.gate.gateapi.models.DualGetBalance;
import io.gate.gateapi.models.DualGetOrders;
import io.gate.gateapi.models.DualGetPlans;
import io.gate.gateapi.models.DualModifyOrderReinvestParams;
import io.gate.gateapi.models.DualOrderRefundParams;
import io.gate.gateapi.models.DualOrderRefundPreview;
import io.gate.gateapi.models.DualProjectRecommend;
import io.gate.gateapi.models.EarnFixedTermPreRedeemRequest;
import io.gate.gateapi.models.FixedTermLendRequest;
import io.gate.gateapi.models.ListEarnFixedTermHistoryResponse;
import io.gate.gateapi.models.ListEarnFixedTermLendsResponse;
import io.gate.gateapi.models.ListEarnFixedTermProductsByAssetResponse;
import io.gate.gateapi.models.ListEarnFixedTermProductsResponse;
import io.gate.gateapi.models.OrderListStruct;
import io.gate.gateapi.models.PlaceDualInvestmentOrder;
import io.gate.gateapi.models.PlaceDualInvestmentOrderParams;
import io.gate.gateapi.models.SwapCoin;
import io.gate.gateapi.models.SwapCoinStruct;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class EarnApi {
    private ApiClient localVarApiClient;

    public EarnApi() {
        this(Configuration.getDefaultApiClient());
    }

    public EarnApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    private okhttp3.Call listDualInvestmentPlansCall(Long planId, String coin, String type, String quoteCurrency, String sort, Integer page, Integer pageSize, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/earn/dual/investment_plan";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (planId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("plan_id", planId));
        }

        if (coin != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("coin", coin));
        }

        if (type != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("type", type));
        }

        if (quoteCurrency != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("quote_currency", quoteCurrency));
        }

        if (sort != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("sort", sort));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (pageSize != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page_size", pageSize));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listDualInvestmentPlansValidateBeforeCall(Long planId, String coin, String type, String quoteCurrency, String sort, Integer page, Integer pageSize, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = listDualInvestmentPlansCall(planId, coin, type, quoteCurrency, sort, page, pageSize, _callback);
        return localVarCall;
    }


    private ApiResponse<List<DualGetPlans>> listDualInvestmentPlansWithHttpInfo(Long planId, String coin, String type, String quoteCurrency, String sort, Integer page, Integer pageSize) throws ApiException {
        okhttp3.Call localVarCall = listDualInvestmentPlansValidateBeforeCall(planId, coin, type, quoteCurrency, sort, page, pageSize, null);
        Type localVarReturnType = new TypeToken<List<DualGetPlans>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call listDualInvestmentPlansAsync(Long planId, String coin, String type, String quoteCurrency, String sort, Integer page, Integer pageSize, final ApiCallback<List<DualGetPlans>> _callback) throws ApiException {
        okhttp3.Call localVarCall = listDualInvestmentPlansValidateBeforeCall(planId, coin, type, quoteCurrency, sort, page, pageSize, _callback);
        Type localVarReturnType = new TypeToken<List<DualGetPlans>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIlistDualInvestmentPlansRequest {
        private Long planId;
        private String coin;
        private String type;
        private String quoteCurrency;
        private String sort;
        private Integer page;
        private Integer pageSize;

        private APIlistDualInvestmentPlansRequest() {
        }

        /**
         * Set planId
         * @param planId Financial project ID (optional)
         * @return APIlistDualInvestmentPlansRequest
         */
        public APIlistDualInvestmentPlansRequest planId(Long planId) {
            this.planId = planId;
            return this;
        }

        /**
         * Set coin
         * @param coin Investment Token (optional)
         * @return APIlistDualInvestmentPlansRequest
         */
        public APIlistDualInvestmentPlansRequest coin(String coin) {
            this.coin = coin;
            return this;
        }

        /**
         * Set type
         * @param type Type enum: &#x60;put&#x60; — buy low; &#x60;call&#x60; — sell high (optional)
         * @return APIlistDualInvestmentPlansRequest
         */
        public APIlistDualInvestmentPlansRequest type(String type) {
            this.type = type;
            return this;
        }

        /**
         * Set quoteCurrency
         * @param quoteCurrency Settlement currency enum: defaults to USDT; GUSD optional (optional)
         * @return APIlistDualInvestmentPlansRequest
         */
        public APIlistDualInvestmentPlansRequest quoteCurrency(String quoteCurrency) {
            this.quoteCurrency = quoteCurrency;
            return this;
        }

        /**
         * Set sort
         * @param sort Sort field enum: &#x60;apy&#x60; — highest APY first &#x60;short-period&#x60; — shortest tenor first &#x60;multiple&#x60; — highest premium first (optional)
         * @return APIlistDualInvestmentPlansRequest
         */
        public APIlistDualInvestmentPlansRequest sort(String sort) {
            this.sort = sort;
            return this;
        }

        /**
         * Set page
         * @param page page number (optional)
         * @return APIlistDualInvestmentPlansRequest
         */
        public APIlistDualInvestmentPlansRequest page(Integer page) {
            this.page = page;
            return this;
        }

        /**
         * Set pageSize
         * @param pageSize Items per page (optional)
         * @return APIlistDualInvestmentPlansRequest
         */
        public APIlistDualInvestmentPlansRequest pageSize(Integer pageSize) {
            this.pageSize = pageSize;
            return this;
        }

        /**
         * Build call for listDualInvestmentPlans
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return listDualInvestmentPlansCall(planId, coin, type, quoteCurrency, sort, page, pageSize, _callback);
        }

        /**
         * Execute listDualInvestmentPlans request
         * @return List&lt;DualGetPlans&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public List<DualGetPlans> execute() throws ApiException {
            ApiResponse<List<DualGetPlans>> localVarResp = listDualInvestmentPlansWithHttpInfo(planId, coin, type, quoteCurrency, sort, page, pageSize);
            return localVarResp.getData();
        }

        /**
         * Execute listDualInvestmentPlans request with HTTP info returned
         * @return ApiResponse&lt;List&lt;DualGetPlans&gt;&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<List<DualGetPlans>> executeWithHttpInfo() throws ApiException {
            return listDualInvestmentPlansWithHttpInfo(planId, coin, type, quoteCurrency, sort, page, pageSize);
        }

        /**
         * Execute listDualInvestmentPlans request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<List<DualGetPlans>> _callback) throws ApiException {
            return listDualInvestmentPlansAsync(planId, coin, type, quoteCurrency, sort, page, pageSize, _callback);
        }
    }

    /**
     * Dual Investment product list
     * 
     * @return APIlistDualInvestmentPlansRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public APIlistDualInvestmentPlansRequest listDualInvestmentPlans() {
        return new APIlistDualInvestmentPlansRequest();
    }

    private okhttp3.Call listDualOrdersCall(Long from, Long to, String type, String status, String coin, Integer page, Integer limit, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/earn/dual/orders";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (from != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("from", from));
        }

        if (to != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("to", to));
        }

        if (type != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("type", type));
        }

        if (status != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("status", status));
        }

        if (coin != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("coin", coin));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listDualOrdersValidateBeforeCall(Long from, Long to, String type, String status, String coin, Integer page, Integer limit, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = listDualOrdersCall(from, to, type, status, coin, page, limit, _callback);
        return localVarCall;
    }


    private ApiResponse<List<DualGetOrders>> listDualOrdersWithHttpInfo(Long from, Long to, String type, String status, String coin, Integer page, Integer limit) throws ApiException {
        okhttp3.Call localVarCall = listDualOrdersValidateBeforeCall(from, to, type, status, coin, page, limit, null);
        Type localVarReturnType = new TypeToken<List<DualGetOrders>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call listDualOrdersAsync(Long from, Long to, String type, String status, String coin, Integer page, Integer limit, final ApiCallback<List<DualGetOrders>> _callback) throws ApiException {
        okhttp3.Call localVarCall = listDualOrdersValidateBeforeCall(from, to, type, status, coin, page, limit, _callback);
        Type localVarReturnType = new TypeToken<List<DualGetOrders>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIlistDualOrdersRequest {
        private Long from;
        private Long to;
        private String type;
        private String status;
        private String coin;
        private Integer page;
        private Integer limit;

        private APIlistDualOrdersRequest() {
        }

        /**
         * Set from
         * @param from Start settlement time (optional)
         * @return APIlistDualOrdersRequest
         */
        public APIlistDualOrdersRequest from(Long from) {
            this.from = from;
            return this;
        }

        /**
         * Set to
         * @param to End settlement time (optional)
         * @return APIlistDualOrdersRequest
         */
        public APIlistDualOrdersRequest to(Long to) {
            this.to = to;
            return this;
        }

        /**
         * Set type
         * @param type Type enum: &#x60;put&#x60; — buy low; &#x60;call&#x60; — sell high (optional)
         * @return APIlistDualOrdersRequest
         */
        public APIlistDualOrdersRequest type(String type) {
            this.type = type;
            return this;
        }

        /**
         * Set status
         * @param status Order status enum: &#x60;HOLD&#x60; — open position &#x60;REPAY&#x60; — historical position &#x60;PROCESSING&#x60; — position active &#x60;SETTLEMENT_PROCESSING&#x60; — settlement in progress &#x60;ALL&#x60; — all (optional)
         * @return APIlistDualOrdersRequest
         */
        public APIlistDualOrdersRequest status(String status) {
            this.status = status;
            return this;
        }

        /**
         * Set coin
         * @param coin Investment Token (optional)
         * @return APIlistDualOrdersRequest
         */
        public APIlistDualOrdersRequest coin(String coin) {
            this.coin = coin;
            return this;
        }

        /**
         * Set page
         * @param page Page number (optional, default to 1)
         * @return APIlistDualOrdersRequest
         */
        public APIlistDualOrdersRequest page(Integer page) {
            this.page = page;
            return this;
        }

        /**
         * Set limit
         * @param limit Maximum number of records returned in a single list (optional, default to 100)
         * @return APIlistDualOrdersRequest
         */
        public APIlistDualOrdersRequest limit(Integer limit) {
            this.limit = limit;
            return this;
        }

        /**
         * Build call for listDualOrders
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return listDualOrdersCall(from, to, type, status, coin, page, limit, _callback);
        }

        /**
         * Execute listDualOrders request
         * @return List&lt;DualGetOrders&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public List<DualGetOrders> execute() throws ApiException {
            ApiResponse<List<DualGetOrders>> localVarResp = listDualOrdersWithHttpInfo(from, to, type, status, coin, page, limit);
            return localVarResp.getData();
        }

        /**
         * Execute listDualOrders request with HTTP info returned
         * @return ApiResponse&lt;List&lt;DualGetOrders&gt;&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<List<DualGetOrders>> executeWithHttpInfo() throws ApiException {
            return listDualOrdersWithHttpInfo(from, to, type, status, coin, page, limit);
        }

        /**
         * Execute listDualOrders request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<List<DualGetOrders>> _callback) throws ApiException {
            return listDualOrdersAsync(from, to, type, status, coin, page, limit, _callback);
        }
    }

    /**
     * Dual Investment order list
     * 
     * @return APIlistDualOrdersRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public APIlistDualOrdersRequest listDualOrders() {
        return new APIlistDualOrdersRequest();
    }

    /**
     * Build call for placeDualOrder
     * @param placeDualInvestmentOrderParams  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order placed successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call placeDualOrderCall(PlaceDualInvestmentOrderParams placeDualInvestmentOrderParams, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = placeDualInvestmentOrderParams;

        // create path and map variables
        String localVarPath = "/earn/dual/orders";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call placeDualOrderValidateBeforeCall(PlaceDualInvestmentOrderParams placeDualInvestmentOrderParams, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'placeDualInvestmentOrderParams' is set
        if (placeDualInvestmentOrderParams == null) {
            throw new ApiException("Missing the required parameter 'placeDualInvestmentOrderParams' when calling placeDualOrder(Async)");
        }

        okhttp3.Call localVarCall = placeDualOrderCall(placeDualInvestmentOrderParams, _callback);
        return localVarCall;
    }

    /**
     * Place Dual Investment order
     * 
     * @param placeDualInvestmentOrderParams  (required)
     * @return PlaceDualInvestmentOrder
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order placed successfully </td><td>  -  </td></tr>
     </table>
     */
    public PlaceDualInvestmentOrder placeDualOrder(PlaceDualInvestmentOrderParams placeDualInvestmentOrderParams) throws ApiException {
        ApiResponse<PlaceDualInvestmentOrder> localVarResp = placeDualOrderWithHttpInfo(placeDualInvestmentOrderParams);
        return localVarResp.getData();
    }

    /**
     * Place Dual Investment order
     * 
     * @param placeDualInvestmentOrderParams  (required)
     * @return ApiResponse&lt;PlaceDualInvestmentOrder&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order placed successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<PlaceDualInvestmentOrder> placeDualOrderWithHttpInfo(PlaceDualInvestmentOrderParams placeDualInvestmentOrderParams) throws ApiException {
        okhttp3.Call localVarCall = placeDualOrderValidateBeforeCall(placeDualInvestmentOrderParams, null);
        Type localVarReturnType = new TypeToken<PlaceDualInvestmentOrder>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Place Dual Investment order (asynchronously)
     * 
     * @param placeDualInvestmentOrderParams  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order placed successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call placeDualOrderAsync(PlaceDualInvestmentOrderParams placeDualInvestmentOrderParams, final ApiCallback<PlaceDualInvestmentOrder> _callback) throws ApiException {
        okhttp3.Call localVarCall = placeDualOrderValidateBeforeCall(placeDualInvestmentOrderParams, _callback);
        Type localVarReturnType = new TypeToken<PlaceDualInvestmentOrder>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for listDualBalance
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listDualBalanceCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/earn/dual/balance";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listDualBalanceValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = listDualBalanceCall(_callback);
        return localVarCall;
    }

    /**
     * Dual-Currency Earning Assets
     * 
     * @return DualGetBalance
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public DualGetBalance listDualBalance() throws ApiException {
        ApiResponse<DualGetBalance> localVarResp = listDualBalanceWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Dual-Currency Earning Assets
     * 
     * @return ApiResponse&lt;DualGetBalance&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<DualGetBalance> listDualBalanceWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = listDualBalanceValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<DualGetBalance>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Dual-Currency Earning Assets (asynchronously)
     * 
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listDualBalanceAsync(final ApiCallback<DualGetBalance> _callback) throws ApiException {
        okhttp3.Call localVarCall = listDualBalanceValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<DualGetBalance>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for getDualOrderRefundPreview
     * @param orderId Order ID (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getDualOrderRefundPreviewCall(String orderId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/earn/dual/order-refund-preview";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (orderId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("order_id", orderId));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getDualOrderRefundPreviewValidateBeforeCall(String orderId, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException("Missing the required parameter 'orderId' when calling getDualOrderRefundPreview(Async)");
        }

        okhttp3.Call localVarCall = getDualOrderRefundPreviewCall(orderId, _callback);
        return localVarCall;
    }

    /**
     * Dual-currency early redemption preview
     * 
     * @param orderId Order ID (required)
     * @return DualOrderRefundPreview
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public DualOrderRefundPreview getDualOrderRefundPreview(String orderId) throws ApiException {
        ApiResponse<DualOrderRefundPreview> localVarResp = getDualOrderRefundPreviewWithHttpInfo(orderId);
        return localVarResp.getData();
    }

    /**
     * Dual-currency early redemption preview
     * 
     * @param orderId Order ID (required)
     * @return ApiResponse&lt;DualOrderRefundPreview&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<DualOrderRefundPreview> getDualOrderRefundPreviewWithHttpInfo(String orderId) throws ApiException {
        okhttp3.Call localVarCall = getDualOrderRefundPreviewValidateBeforeCall(orderId, null);
        Type localVarReturnType = new TypeToken<DualOrderRefundPreview>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Dual-currency early redemption preview (asynchronously)
     * 
     * @param orderId Order ID (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getDualOrderRefundPreviewAsync(String orderId, final ApiCallback<DualOrderRefundPreview> _callback) throws ApiException {
        okhttp3.Call localVarCall = getDualOrderRefundPreviewValidateBeforeCall(orderId, _callback);
        Type localVarReturnType = new TypeToken<DualOrderRefundPreview>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for placeDualOrderRefund
     * @param dualOrderRefundParams  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Redemption successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call placeDualOrderRefundCall(DualOrderRefundParams dualOrderRefundParams, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = dualOrderRefundParams;

        // create path and map variables
        String localVarPath = "/earn/dual/order-refund";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call placeDualOrderRefundValidateBeforeCall(DualOrderRefundParams dualOrderRefundParams, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'dualOrderRefundParams' is set
        if (dualOrderRefundParams == null) {
            throw new ApiException("Missing the required parameter 'dualOrderRefundParams' when calling placeDualOrderRefund(Async)");
        }

        okhttp3.Call localVarCall = placeDualOrderRefundCall(dualOrderRefundParams, _callback);
        return localVarCall;
    }

    /**
     * Dual-currency order early redemption
     * 
     * @param dualOrderRefundParams  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Redemption successful </td><td>  -  </td></tr>
     </table>
     */
    public void placeDualOrderRefund(DualOrderRefundParams dualOrderRefundParams) throws ApiException {
        placeDualOrderRefundWithHttpInfo(dualOrderRefundParams);
    }

    /**
     * Dual-currency order early redemption
     * 
     * @param dualOrderRefundParams  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Redemption successful </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> placeDualOrderRefundWithHttpInfo(DualOrderRefundParams dualOrderRefundParams) throws ApiException {
        okhttp3.Call localVarCall = placeDualOrderRefundValidateBeforeCall(dualOrderRefundParams, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Dual-currency order early redemption (asynchronously)
     * 
     * @param dualOrderRefundParams  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Redemption successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call placeDualOrderRefundAsync(DualOrderRefundParams dualOrderRefundParams, final ApiCallback<Void> _callback) throws ApiException {
        okhttp3.Call localVarCall = placeDualOrderRefundValidateBeforeCall(dualOrderRefundParams, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }

    /**
     * Build call for modifyDualOrderReinvest
     * @param dualModifyOrderReinvestParams  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Updated successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call modifyDualOrderReinvestCall(DualModifyOrderReinvestParams dualModifyOrderReinvestParams, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = dualModifyOrderReinvestParams;

        // create path and map variables
        String localVarPath = "/earn/dual/modify-order-reinvest";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call modifyDualOrderReinvestValidateBeforeCall(DualModifyOrderReinvestParams dualModifyOrderReinvestParams, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'dualModifyOrderReinvestParams' is set
        if (dualModifyOrderReinvestParams == null) {
            throw new ApiException("Missing the required parameter 'dualModifyOrderReinvestParams' when calling modifyDualOrderReinvest(Async)");
        }

        okhttp3.Call localVarCall = modifyDualOrderReinvestCall(dualModifyOrderReinvestParams, _callback);
        return localVarCall;
    }

    /**
     * Modify dual-currency order reinvest
     * 
     * @param dualModifyOrderReinvestParams  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Updated successfully </td><td>  -  </td></tr>
     </table>
     */
    public void modifyDualOrderReinvest(DualModifyOrderReinvestParams dualModifyOrderReinvestParams) throws ApiException {
        modifyDualOrderReinvestWithHttpInfo(dualModifyOrderReinvestParams);
    }

    /**
     * Modify dual-currency order reinvest
     * 
     * @param dualModifyOrderReinvestParams  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Updated successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> modifyDualOrderReinvestWithHttpInfo(DualModifyOrderReinvestParams dualModifyOrderReinvestParams) throws ApiException {
        okhttp3.Call localVarCall = modifyDualOrderReinvestValidateBeforeCall(dualModifyOrderReinvestParams, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Modify dual-currency order reinvest (asynchronously)
     * 
     * @param dualModifyOrderReinvestParams  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Updated successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call modifyDualOrderReinvestAsync(DualModifyOrderReinvestParams dualModifyOrderReinvestParams, final ApiCallback<Void> _callback) throws ApiException {
        okhttp3.Call localVarCall = modifyDualOrderReinvestValidateBeforeCall(dualModifyOrderReinvestParams, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }

    private okhttp3.Call getDualProjectRecommendCall(String mode, String coin, String type, String historyPids, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/earn/dual/project-recommend";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (mode != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("mode", mode));
        }

        if (coin != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("coin", coin));
        }

        if (type != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("type", type));
        }

        if (historyPids != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("history_pids", historyPids));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getDualProjectRecommendValidateBeforeCall(String mode, String coin, String type, String historyPids, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = getDualProjectRecommendCall(mode, coin, type, historyPids, _callback);
        return localVarCall;
    }


    private ApiResponse<List<DualProjectRecommend>> getDualProjectRecommendWithHttpInfo(String mode, String coin, String type, String historyPids) throws ApiException {
        okhttp3.Call localVarCall = getDualProjectRecommendValidateBeforeCall(mode, coin, type, historyPids, null);
        Type localVarReturnType = new TypeToken<List<DualProjectRecommend>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call getDualProjectRecommendAsync(String mode, String coin, String type, String historyPids, final ApiCallback<List<DualProjectRecommend>> _callback) throws ApiException {
        okhttp3.Call localVarCall = getDualProjectRecommendValidateBeforeCall(mode, coin, type, historyPids, _callback);
        Type localVarReturnType = new TypeToken<List<DualProjectRecommend>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIgetDualProjectRecommendRequest {
        private String mode;
        private String coin;
        private String type;
        private String historyPids;

        private APIgetDualProjectRecommendRequest() {
        }

        /**
         * Set mode
         * @param mode Sort mode; default &#x60;normal&#x60;: &#x60;senior&#x60; — curated picks (APR/tenor) &#x60;apy_up&#x60; — APY ascending &#x60;ep_down&#x60; — target price descending &#x60;ep_up&#x60; — target price ascending &#x60;dt_down&#x60; — maturity time descending &#x60;dt_up&#x60; — maturity time ascending (optional)
         * @return APIgetDualProjectRecommendRequest
         */
        public APIgetDualProjectRecommendRequest mode(String mode) {
            this.mode = mode;
            return this;
        }

        /**
         * Set coin
         * @param coin Investment Token (optional)
         * @return APIgetDualProjectRecommendRequest
         */
        public APIgetDualProjectRecommendRequest coin(String coin) {
            this.coin = coin;
            return this;
        }

        /**
         * Set type
         * @param type &#x60;call&#x60;: sell high; &#x60;put&#x60;: buy low (optional)
         * @return APIgetDualProjectRecommendRequest
         */
        public APIgetDualProjectRecommendRequest type(String type) {
            this.type = type;
            return this;
        }

        /**
         * Set historyPids
         * @param historyPids Comma-separated project IDs to exclude already recommended items (optional)
         * @return APIgetDualProjectRecommendRequest
         */
        public APIgetDualProjectRecommendRequest historyPids(String historyPids) {
            this.historyPids = historyPids;
            return this;
        }

        /**
         * Build call for getDualProjectRecommend
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return getDualProjectRecommendCall(mode, coin, type, historyPids, _callback);
        }

        /**
         * Execute getDualProjectRecommend request
         * @return List&lt;DualProjectRecommend&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public List<DualProjectRecommend> execute() throws ApiException {
            ApiResponse<List<DualProjectRecommend>> localVarResp = getDualProjectRecommendWithHttpInfo(mode, coin, type, historyPids);
            return localVarResp.getData();
        }

        /**
         * Execute getDualProjectRecommend request with HTTP info returned
         * @return ApiResponse&lt;List&lt;DualProjectRecommend&gt;&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<List<DualProjectRecommend>> executeWithHttpInfo() throws ApiException {
            return getDualProjectRecommendWithHttpInfo(mode, coin, type, historyPids);
        }

        /**
         * Execute getDualProjectRecommend request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<List<DualProjectRecommend>> _callback) throws ApiException {
            return getDualProjectRecommendAsync(mode, coin, type, historyPids, _callback);
        }
    }

    /**
     * Dual-currency recommended projects
     * 
     * @return APIgetDualProjectRecommendRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public APIgetDualProjectRecommendRequest getDualProjectRecommend() {
        return new APIgetDualProjectRecommendRequest();
    }

    private okhttp3.Call findCoinCall(String cointype, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/earn/staking/coins";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (cointype != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("cointype", cointype));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call findCoinValidateBeforeCall(String cointype, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = findCoinCall(cointype, _callback);
        return localVarCall;
    }


    private ApiResponse<List<Object>> findCoinWithHttpInfo(String cointype) throws ApiException {
        okhttp3.Call localVarCall = findCoinValidateBeforeCall(cointype, null);
        Type localVarReturnType = new TypeToken<List<Object>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call findCoinAsync(String cointype, final ApiCallback<List<Object>> _callback) throws ApiException {
        okhttp3.Call localVarCall = findCoinValidateBeforeCall(cointype, _callback);
        Type localVarReturnType = new TypeToken<List<Object>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIfindCoinRequest {
        private String cointype;

        private APIfindCoinRequest() {
        }

        /**
         * Set cointype
         * @param cointype Currency type: swap - voucher; lock - locked position; debt - US Treasury bond. (optional)
         * @return APIfindCoinRequest
         */
        public APIfindCoinRequest cointype(String cointype) {
            this.cointype = cointype;
            return this;
        }

        /**
         * Build call for findCoin
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return findCoinCall(cointype, _callback);
        }

        /**
         * Execute findCoin request
         * @return List&lt;Object&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public List<Object> execute() throws ApiException {
            ApiResponse<List<Object>> localVarResp = findCoinWithHttpInfo(cointype);
            return localVarResp.getData();
        }

        /**
         * Execute findCoin request with HTTP info returned
         * @return ApiResponse&lt;List&lt;Object&gt;&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<List<Object>> executeWithHttpInfo() throws ApiException {
            return findCoinWithHttpInfo(cointype);
        }

        /**
         * Execute findCoin request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<List<Object>> _callback) throws ApiException {
            return findCoinAsync(cointype, _callback);
        }
    }

    /**
     * Staking coins
     * 
     * @return APIfindCoinRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public APIfindCoinRequest findCoin() {
        return new APIfindCoinRequest();
    }

    /**
     * Build call for swapStakingCoin
     * @param swapCoin  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Swap successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call swapStakingCoinCall(SwapCoin swapCoin, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = swapCoin;

        // create path and map variables
        String localVarPath = "/earn/staking/swap";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call swapStakingCoinValidateBeforeCall(SwapCoin swapCoin, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'swapCoin' is set
        if (swapCoin == null) {
            throw new ApiException("Missing the required parameter 'swapCoin' when calling swapStakingCoin(Async)");
        }

        okhttp3.Call localVarCall = swapStakingCoinCall(swapCoin, _callback);
        return localVarCall;
    }

    /**
     * On-chain token swap for earned coins
     * 
     * @param swapCoin  (required)
     * @return SwapCoinStruct
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Swap successful </td><td>  -  </td></tr>
     </table>
     */
    public SwapCoinStruct swapStakingCoin(SwapCoin swapCoin) throws ApiException {
        ApiResponse<SwapCoinStruct> localVarResp = swapStakingCoinWithHttpInfo(swapCoin);
        return localVarResp.getData();
    }

    /**
     * On-chain token swap for earned coins
     * 
     * @param swapCoin  (required)
     * @return ApiResponse&lt;SwapCoinStruct&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Swap successful </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<SwapCoinStruct> swapStakingCoinWithHttpInfo(SwapCoin swapCoin) throws ApiException {
        okhttp3.Call localVarCall = swapStakingCoinValidateBeforeCall(swapCoin, null);
        Type localVarReturnType = new TypeToken<SwapCoinStruct>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * On-chain token swap for earned coins (asynchronously)
     * 
     * @param swapCoin  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Swap successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call swapStakingCoinAsync(SwapCoin swapCoin, final ApiCallback<SwapCoinStruct> _callback) throws ApiException {
        okhttp3.Call localVarCall = swapStakingCoinValidateBeforeCall(swapCoin, _callback);
        Type localVarReturnType = new TypeToken<SwapCoinStruct>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    private okhttp3.Call orderListCall(Integer pid, String coin, Integer type, Integer page, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/earn/staking/order_list";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (pid != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("pid", pid));
        }

        if (coin != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("coin", coin));
        }

        if (type != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("type", type));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call orderListValidateBeforeCall(Integer pid, String coin, Integer type, Integer page, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = orderListCall(pid, coin, type, page, _callback);
        return localVarCall;
    }


    private ApiResponse<OrderListStruct> orderListWithHttpInfo(Integer pid, String coin, Integer type, Integer page) throws ApiException {
        okhttp3.Call localVarCall = orderListValidateBeforeCall(pid, coin, type, page, null);
        Type localVarReturnType = new TypeToken<OrderListStruct>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call orderListAsync(Integer pid, String coin, Integer type, Integer page, final ApiCallback<OrderListStruct> _callback) throws ApiException {
        okhttp3.Call localVarCall = orderListValidateBeforeCall(pid, coin, type, page, _callback);
        Type localVarReturnType = new TypeToken<OrderListStruct>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIorderListRequest {
        private Integer pid;
        private String coin;
        private Integer type;
        private Integer page;

        private APIorderListRequest() {
        }

        /**
         * Set pid
         * @param pid Product ID (optional)
         * @return APIorderListRequest
         */
        public APIorderListRequest pid(Integer pid) {
            this.pid = pid;
            return this;
        }

        /**
         * Set coin
         * @param coin Currency name (optional)
         * @return APIorderListRequest
         */
        public APIorderListRequest coin(String coin) {
            this.coin = coin;
            return this;
        }

        /**
         * Set type
         * @param type Type 0-staking 1-redemption (optional)
         * @return APIorderListRequest
         */
        public APIorderListRequest type(Integer type) {
            this.type = type;
            return this;
        }

        /**
         * Set page
         * @param page Page number (optional, default to 1)
         * @return APIorderListRequest
         */
        public APIorderListRequest page(Integer page) {
            this.page = page;
            return this;
        }

        /**
         * Build call for orderList
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return orderListCall(pid, coin, type, page, _callback);
        }

        /**
         * Execute orderList request
         * @return OrderListStruct
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public OrderListStruct execute() throws ApiException {
            ApiResponse<OrderListStruct> localVarResp = orderListWithHttpInfo(pid, coin, type, page);
            return localVarResp.getData();
        }

        /**
         * Execute orderList request with HTTP info returned
         * @return ApiResponse&lt;OrderListStruct&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<OrderListStruct> executeWithHttpInfo() throws ApiException {
            return orderListWithHttpInfo(pid, coin, type, page);
        }

        /**
         * Execute orderList request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<OrderListStruct> _callback) throws ApiException {
            return orderListAsync(pid, coin, type, page, _callback);
        }
    }

    /**
     * List of on-chain coin-earning orders
     * 
     * @return APIorderListRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public APIorderListRequest orderList() {
        return new APIorderListRequest();
    }

    private okhttp3.Call awardListCall(Integer pid, String coin, Integer page, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/earn/staking/award_list";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (pid != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("pid", pid));
        }

        if (coin != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("coin", coin));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call awardListValidateBeforeCall(Integer pid, String coin, Integer page, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = awardListCall(pid, coin, page, _callback);
        return localVarCall;
    }


    private ApiResponse<AwardListStruct> awardListWithHttpInfo(Integer pid, String coin, Integer page) throws ApiException {
        okhttp3.Call localVarCall = awardListValidateBeforeCall(pid, coin, page, null);
        Type localVarReturnType = new TypeToken<AwardListStruct>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call awardListAsync(Integer pid, String coin, Integer page, final ApiCallback<AwardListStruct> _callback) throws ApiException {
        okhttp3.Call localVarCall = awardListValidateBeforeCall(pid, coin, page, _callback);
        Type localVarReturnType = new TypeToken<AwardListStruct>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIawardListRequest {
        private Integer pid;
        private String coin;
        private Integer page;

        private APIawardListRequest() {
        }

        /**
         * Set pid
         * @param pid Product ID (optional)
         * @return APIawardListRequest
         */
        public APIawardListRequest pid(Integer pid) {
            this.pid = pid;
            return this;
        }

        /**
         * Set coin
         * @param coin Currency name (optional)
         * @return APIawardListRequest
         */
        public APIawardListRequest coin(String coin) {
            this.coin = coin;
            return this;
        }

        /**
         * Set page
         * @param page Page number (optional, default to 1)
         * @return APIawardListRequest
         */
        public APIawardListRequest page(Integer page) {
            this.page = page;
            return this;
        }

        /**
         * Build call for awardList
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return awardListCall(pid, coin, page, _callback);
        }

        /**
         * Execute awardList request
         * @return AwardListStruct
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public AwardListStruct execute() throws ApiException {
            ApiResponse<AwardListStruct> localVarResp = awardListWithHttpInfo(pid, coin, page);
            return localVarResp.getData();
        }

        /**
         * Execute awardList request with HTTP info returned
         * @return ApiResponse&lt;AwardListStruct&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<AwardListStruct> executeWithHttpInfo() throws ApiException {
            return awardListWithHttpInfo(pid, coin, page);
        }

        /**
         * Execute awardList request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<AwardListStruct> _callback) throws ApiException {
            return awardListAsync(pid, coin, page, _callback);
        }
    }

    /**
     * On-chain coin-earning dividend records
     * 
     * @return APIawardListRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public APIawardListRequest awardList() {
        return new APIawardListRequest();
    }

    private okhttp3.Call assetListCall(String coin, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/earn/staking/assets";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (coin != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("coin", coin));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call assetListValidateBeforeCall(String coin, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = assetListCall(coin, _callback);
        return localVarCall;
    }


    private ApiResponse<List<Object>> assetListWithHttpInfo(String coin) throws ApiException {
        okhttp3.Call localVarCall = assetListValidateBeforeCall(coin, null);
        Type localVarReturnType = new TypeToken<List<Object>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call assetListAsync(String coin, final ApiCallback<List<Object>> _callback) throws ApiException {
        okhttp3.Call localVarCall = assetListValidateBeforeCall(coin, _callback);
        Type localVarReturnType = new TypeToken<List<Object>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIassetListRequest {
        private String coin;

        private APIassetListRequest() {
        }

        /**
         * Set coin
         * @param coin Currency name (optional)
         * @return APIassetListRequest
         */
        public APIassetListRequest coin(String coin) {
            this.coin = coin;
            return this;
        }

        /**
         * Build call for assetList
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return assetListCall(coin, _callback);
        }

        /**
         * Execute assetList request
         * @return List&lt;Object&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public List<Object> execute() throws ApiException {
            ApiResponse<List<Object>> localVarResp = assetListWithHttpInfo(coin);
            return localVarResp.getData();
        }

        /**
         * Execute assetList request with HTTP info returned
         * @return ApiResponse&lt;List&lt;Object&gt;&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<List<Object>> executeWithHttpInfo() throws ApiException {
            return assetListWithHttpInfo(coin);
        }

        /**
         * Execute assetList request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<List<Object>> _callback) throws ApiException {
            return assetListAsync(coin, _callback);
        }
    }

    /**
     * On-chain coin-earning assets
     * 
     * @return APIassetListRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public APIassetListRequest assetList() {
        return new APIassetListRequest();
    }

    /**
     * Build call for createAutoInvestPlan
     * @param autoInvestPlanCreate  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Created successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createAutoInvestPlanCall(AutoInvestPlanCreate autoInvestPlanCreate, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = autoInvestPlanCreate;

        // create path and map variables
        String localVarPath = "/earn/autoinvest/plans/create";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createAutoInvestPlanValidateBeforeCall(AutoInvestPlanCreate autoInvestPlanCreate, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'autoInvestPlanCreate' is set
        if (autoInvestPlanCreate == null) {
            throw new ApiException("Missing the required parameter 'autoInvestPlanCreate' when calling createAutoInvestPlan(Async)");
        }

        okhttp3.Call localVarCall = createAutoInvestPlanCall(autoInvestPlanCreate, _callback);
        return localVarCall;
    }

    /**
     * Create auto invest plan
     * 
     * @param autoInvestPlanCreate  (required)
     * @return AutoInvestPlanCreateResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Created successfully </td><td>  -  </td></tr>
     </table>
     */
    public AutoInvestPlanCreateResp createAutoInvestPlan(AutoInvestPlanCreate autoInvestPlanCreate) throws ApiException {
        ApiResponse<AutoInvestPlanCreateResp> localVarResp = createAutoInvestPlanWithHttpInfo(autoInvestPlanCreate);
        return localVarResp.getData();
    }

    /**
     * Create auto invest plan
     * 
     * @param autoInvestPlanCreate  (required)
     * @return ApiResponse&lt;AutoInvestPlanCreateResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Created successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<AutoInvestPlanCreateResp> createAutoInvestPlanWithHttpInfo(AutoInvestPlanCreate autoInvestPlanCreate) throws ApiException {
        okhttp3.Call localVarCall = createAutoInvestPlanValidateBeforeCall(autoInvestPlanCreate, null);
        Type localVarReturnType = new TypeToken<AutoInvestPlanCreateResp>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Create auto invest plan (asynchronously)
     * 
     * @param autoInvestPlanCreate  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Created successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createAutoInvestPlanAsync(AutoInvestPlanCreate autoInvestPlanCreate, final ApiCallback<AutoInvestPlanCreateResp> _callback) throws ApiException {
        okhttp3.Call localVarCall = createAutoInvestPlanValidateBeforeCall(autoInvestPlanCreate, _callback);
        Type localVarReturnType = new TypeToken<AutoInvestPlanCreateResp>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for updateAutoInvestPlan
     * @param autoInvestPlanUpdate  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Updated successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call updateAutoInvestPlanCall(AutoInvestPlanUpdate autoInvestPlanUpdate, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = autoInvestPlanUpdate;

        // create path and map variables
        String localVarPath = "/earn/autoinvest/plans/update";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call updateAutoInvestPlanValidateBeforeCall(AutoInvestPlanUpdate autoInvestPlanUpdate, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'autoInvestPlanUpdate' is set
        if (autoInvestPlanUpdate == null) {
            throw new ApiException("Missing the required parameter 'autoInvestPlanUpdate' when calling updateAutoInvestPlan(Async)");
        }

        okhttp3.Call localVarCall = updateAutoInvestPlanCall(autoInvestPlanUpdate, _callback);
        return localVarCall;
    }

    /**
     * UpdateAuto invest plan
     * 
     * @param autoInvestPlanUpdate  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Updated successfully </td><td>  -  </td></tr>
     </table>
     */
    public void updateAutoInvestPlan(AutoInvestPlanUpdate autoInvestPlanUpdate) throws ApiException {
        updateAutoInvestPlanWithHttpInfo(autoInvestPlanUpdate);
    }

    /**
     * UpdateAuto invest plan
     * 
     * @param autoInvestPlanUpdate  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
[...]
