/*
 * Gate API
 * Welcome to Gate API APIv4 provides operations related to spot, margin, and contract trading, including public interfaces for querying market data and authenticated private interfaces for implementing API-based automated trading.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package io.gate.gateapi.api;

import io.gate.gateapi.ApiCallback;
import io.gate.gateapi.ApiClient;
import io.gate.gateapi.ApiException;
import io.gate.gateapi.ApiResponse;
import io.gate.gateapi.Configuration;
import io.gate.gateapi.Pair;

import com.google.gson.reflect.TypeToken;


import io.gate.gateapi.models.AwardListStruct;
import io.gate.gateapi.models.DualGetBalance;
import io.gate.gateapi.models.DualGetOrders;
import io.gate.gateapi.models.DualGetPlans;
import io.gate.gateapi.models.Eth2RateList;
import io.gate.gateapi.models.Eth2Swap;
import io.gate.gateapi.models.FindCoin;
import io.gate.gateapi.models.FixedTermLendRequest;
import io.gate.gateapi.models.InlineObject;
import io.gate.gateapi.models.InlineResponse200;
import io.gate.gateapi.models.InlineResponse2001;
import io.gate.gateapi.models.InlineResponse2002;
import io.gate.gateapi.models.InlineResponse2003;
import io.gate.gateapi.models.InlineResponse2004;
import io.gate.gateapi.models.InlineResponse2005;
import io.gate.gateapi.models.OrderListStruct;
import io.gate.gateapi.models.PlaceDualInvestmentOrder;
import io.gate.gateapi.models.PlaceDualInvestmentOrderParams;
import io.gate.gateapi.models.StructuredBuy;
import io.gate.gateapi.models.StructuredGetProjectList;
import io.gate.gateapi.models.StructuredOrderList;
import io.gate.gateapi.models.SwapCoin;
import io.gate.gateapi.models.SwapCoinStruct;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class EarnApi {
    private ApiClient localVarApiClient;

    public EarnApi() {
        this(Configuration.getDefaultApiClient());
    }

    public EarnApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for swapETH2
     * @param eth2Swap  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Swap successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call swapETH2Call(Eth2Swap eth2Swap, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = eth2Swap;

        // create path and map variables
        String localVarPath = "/earn/staking/eth2/swap";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call swapETH2ValidateBeforeCall(Eth2Swap eth2Swap, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'eth2Swap' is set
        if (eth2Swap == null) {
            throw new ApiException("Missing the required parameter 'eth2Swap' when calling swapETH2(Async)");
        }

        okhttp3.Call localVarCall = swapETH2Call(eth2Swap, _callback);
        return localVarCall;
    }

    /**
     * ETH swap
     * 
     * @param eth2Swap  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Swap successful </td><td>  -  </td></tr>
     </table>
     */
    public void swapETH2(Eth2Swap eth2Swap) throws ApiException {
        swapETH2WithHttpInfo(eth2Swap);
    }

    /**
     * ETH swap
     * 
     * @param eth2Swap  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Swap successful </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> swapETH2WithHttpInfo(Eth2Swap eth2Swap) throws ApiException {
        okhttp3.Call localVarCall = swapETH2ValidateBeforeCall(eth2Swap, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * ETH swap (asynchronously)
     * 
     * @param eth2Swap  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Swap successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call swapETH2Async(Eth2Swap eth2Swap, final ApiCallback<Void> _callback) throws ApiException {
        okhttp3.Call localVarCall = swapETH2ValidateBeforeCall(eth2Swap, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }

    /**
     * Build call for rateListETH2
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call rateListETH2Call(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/earn/staking/eth2/rate_records";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call rateListETH2ValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = rateListETH2Call(_callback);
        return localVarCall;
    }

    /**
     * GTETH historical return rate query
     * Query ETH earnings rate records for the last 31 days
     * @return List&lt;Eth2RateList&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public List<Eth2RateList> rateListETH2() throws ApiException {
        ApiResponse<List<Eth2RateList>> localVarResp = rateListETH2WithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * GTETH historical return rate query
     * Query ETH earnings rate records for the last 31 days
     * @return ApiResponse&lt;List&lt;Eth2RateList&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<Eth2RateList>> rateListETH2WithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = rateListETH2ValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<List<Eth2RateList>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * GTETH historical return rate query (asynchronously)
     * Query ETH earnings rate records for the last 31 days
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call rateListETH2Async(final ApiCallback<List<Eth2RateList>> _callback) throws ApiException {
        okhttp3.Call localVarCall = rateListETH2ValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<List<Eth2RateList>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    private okhttp3.Call listDualInvestmentPlansCall(Long planId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/earn/dual/investment_plan";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (planId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("plan_id", planId));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listDualInvestmentPlansValidateBeforeCall(Long planId, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = listDualInvestmentPlansCall(planId, _callback);
        return localVarCall;
    }


    private ApiResponse<List<DualGetPlans>> listDualInvestmentPlansWithHttpInfo(Long planId) throws ApiException {
        okhttp3.Call localVarCall = listDualInvestmentPlansValidateBeforeCall(planId, null);
        Type localVarReturnType = new TypeToken<List<DualGetPlans>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call listDualInvestmentPlansAsync(Long planId, final ApiCallback<List<DualGetPlans>> _callback) throws ApiException {
        okhttp3.Call localVarCall = listDualInvestmentPlansValidateBeforeCall(planId, _callback);
        Type localVarReturnType = new TypeToken<List<DualGetPlans>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIlistDualInvestmentPlansRequest {
        private Long planId;

        private APIlistDualInvestmentPlansRequest() {
        }

        /**
         * Set planId
         * @param planId Financial project ID (optional)
         * @return APIlistDualInvestmentPlansRequest
         */
        public APIlistDualInvestmentPlansRequest planId(Long planId) {
            this.planId = planId;
            return this;
        }

        /**
         * Build call for listDualInvestmentPlans
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return listDualInvestmentPlansCall(planId, _callback);
        }

        /**
         * Execute listDualInvestmentPlans request
         * @return List&lt;DualGetPlans&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public List<DualGetPlans> execute() throws ApiException {
            ApiResponse<List<DualGetPlans>> localVarResp = listDualInvestmentPlansWithHttpInfo(planId);
            return localVarResp.getData();
        }

        /**
         * Execute listDualInvestmentPlans request with HTTP info returned
         * @return ApiResponse&lt;List&lt;DualGetPlans&gt;&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<List<DualGetPlans>> executeWithHttpInfo() throws ApiException {
            return listDualInvestmentPlansWithHttpInfo(planId);
        }

        /**
         * Execute listDualInvestmentPlans request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<List<DualGetPlans>> _callback) throws ApiException {
            return listDualInvestmentPlansAsync(planId, _callback);
        }
    }

    /**
     * Dual Investment product list
     * 
     * @return APIlistDualInvestmentPlansRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public APIlistDualInvestmentPlansRequest listDualInvestmentPlans() {
        return new APIlistDualInvestmentPlansRequest();
    }

    private okhttp3.Call listDualOrdersCall(Long from, Long to, Integer page, Integer limit, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/earn/dual/orders";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (from != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("from", from));
        }

        if (to != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("to", to));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listDualOrdersValidateBeforeCall(Long from, Long to, Integer page, Integer limit, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = listDualOrdersCall(from, to, page, limit, _callback);
        return localVarCall;
    }


    private ApiResponse<List<DualGetOrders>> listDualOrdersWithHttpInfo(Long from, Long to, Integer page, Integer limit) throws ApiException {
        okhttp3.Call localVarCall = listDualOrdersValidateBeforeCall(from, to, page, limit, null);
        Type localVarReturnType = new TypeToken<List<DualGetOrders>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call listDualOrdersAsync(Long from, Long to, Integer page, Integer limit, final ApiCallback<List<DualGetOrders>> _callback) throws ApiException {
        okhttp3.Call localVarCall = listDualOrdersValidateBeforeCall(from, to, page, limit, _callback);
        Type localVarReturnType = new TypeToken<List<DualGetOrders>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIlistDualOrdersRequest {
        private Long from;
        private Long to;
        private Integer page;
        private Integer limit;

        private APIlistDualOrdersRequest() {
        }

        /**
         * Set from
         * @param from Start settlement time (optional)
         * @return APIlistDualOrdersRequest
         */
        public APIlistDualOrdersRequest from(Long from) {
            this.from = from;
            return this;
        }

        /**
         * Set to
         * @param to End settlement time (optional)
         * @return APIlistDualOrdersRequest
         */
        public APIlistDualOrdersRequest to(Long to) {
            this.to = to;
            return this;
        }

        /**
         * Set page
         * @param page Page number (optional, default to 1)
         * @return APIlistDualOrdersRequest
         */
        public APIlistDualOrdersRequest page(Integer page) {
            this.page = page;
            return this;
        }

        /**
         * Set limit
         * @param limit Maximum number of records returned in a single list (optional, default to 100)
         * @return APIlistDualOrdersRequest
         */
        public APIlistDualOrdersRequest limit(Integer limit) {
            this.limit = limit;
            return this;
        }

        /**
         * Build call for listDualOrders
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return listDualOrdersCall(from, to, page, limit, _callback);
        }

        /**
         * Execute listDualOrders request
         * @return List&lt;DualGetOrders&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public List<DualGetOrders> execute() throws ApiException {
            ApiResponse<List<DualGetOrders>> localVarResp = listDualOrdersWithHttpInfo(from, to, page, limit);
            return localVarResp.getData();
        }

        /**
         * Execute listDualOrders request with HTTP info returned
         * @return ApiResponse&lt;List&lt;DualGetOrders&gt;&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<List<DualGetOrders>> executeWithHttpInfo() throws ApiException {
            return listDualOrdersWithHttpInfo(from, to, page, limit);
        }

        /**
         * Execute listDualOrders request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<List<DualGetOrders>> _callback) throws ApiException {
            return listDualOrdersAsync(from, to, page, limit, _callback);
        }
    }

    /**
     * Dual Investment order list
     * 
     * @return APIlistDualOrdersRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public APIlistDualOrdersRequest listDualOrders() {
        return new APIlistDualOrdersRequest();
    }

    /**
     * Build call for placeDualOrder
     * @param placeDualInvestmentOrderParams  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order placed successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call placeDualOrderCall(PlaceDualInvestmentOrderParams placeDualInvestmentOrderParams, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = placeDualInvestmentOrderParams;

        // create path and map variables
        String localVarPath = "/earn/dual/orders";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call placeDualOrderValidateBeforeCall(PlaceDualInvestmentOrderParams placeDualInvestmentOrderParams, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'placeDualInvestmentOrderParams' is set
        if (placeDualInvestmentOrderParams == null) {
            throw new ApiException("Missing the required parameter 'placeDualInvestmentOrderParams' when calling placeDualOrder(Async)");
        }

        okhttp3.Call localVarCall = placeDualOrderCall(placeDualInvestmentOrderParams, _callback);
        return localVarCall;
    }

    /**
     * Place Dual Investment order
     * 
     * @param placeDualInvestmentOrderParams  (required)
     * @return PlaceDualInvestmentOrder
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order placed successfully </td><td>  -  </td></tr>
     </table>
     */
    public PlaceDualInvestmentOrder placeDualOrder(PlaceDualInvestmentOrderParams placeDualInvestmentOrderParams) throws ApiException {
        ApiResponse<PlaceDualInvestmentOrder> localVarResp = placeDualOrderWithHttpInfo(placeDualInvestmentOrderParams);
        return localVarResp.getData();
    }

    /**
     * Place Dual Investment order
     * 
     * @param placeDualInvestmentOrderParams  (required)
     * @return ApiResponse&lt;PlaceDualInvestmentOrder&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order placed successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<PlaceDualInvestmentOrder> placeDualOrderWithHttpInfo(PlaceDualInvestmentOrderParams placeDualInvestmentOrderParams) throws ApiException {
        okhttp3.Call localVarCall = placeDualOrderValidateBeforeCall(placeDualInvestmentOrderParams, null);
        Type localVarReturnType = new TypeToken<PlaceDualInvestmentOrder>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Place Dual Investment order (asynchronously)
     * 
     * @param placeDualInvestmentOrderParams  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order placed successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call placeDualOrderAsync(PlaceDualInvestmentOrderParams placeDualInvestmentOrderParams, final ApiCallback<PlaceDualInvestmentOrder> _callback) throws ApiException {
        okhttp3.Call localVarCall = placeDualOrderValidateBeforeCall(placeDualInvestmentOrderParams, _callback);
        Type localVarReturnType = new TypeToken<PlaceDualInvestmentOrder>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for listDualBalance
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listDualBalanceCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/earn/dual/balance";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listDualBalanceValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = listDualBalanceCall(_callback);
        return localVarCall;
    }

    /**
     * Dual-Currency Earning Assets
     * 
     * @return DualGetBalance
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public DualGetBalance listDualBalance() throws ApiException {
        ApiResponse<DualGetBalance> localVarResp = listDualBalanceWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Dual-Currency Earning Assets
     * 
     * @return ApiResponse&lt;DualGetBalance&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<DualGetBalance> listDualBalanceWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = listDualBalanceValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<DualGetBalance>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Dual-Currency Earning Assets (asynchronously)
     * 
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listDualBalanceAsync(final ApiCallback<DualGetBalance> _callback) throws ApiException {
        okhttp3.Call localVarCall = listDualBalanceValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<DualGetBalance>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    private okhttp3.Call listStructuredProductsCall(String status, String type, Integer page, Integer limit, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/earn/structured/products";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (type != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("type", type));
        }

        if (status != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("status", status));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listStructuredProductsValidateBeforeCall(String status, String type, Integer page, Integer limit, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'status' is set
        if (status == null) {
            throw new ApiException("Missing the required parameter 'status' when calling listStructuredProducts(Async)");
        }

        okhttp3.Call localVarCall = listStructuredProductsCall(status, type, page, limit, _callback);
        return localVarCall;
    }


    private ApiResponse<List<StructuredGetProjectList>> listStructuredProductsWithHttpInfo(String status, String type, Integer page, Integer limit) throws ApiException {
        okhttp3.Call localVarCall = listStructuredProductsValidateBeforeCall(status, type, page, limit, null);
        Type localVarReturnType = new TypeToken<List<StructuredGetProjectList>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call listStructuredProductsAsync(String status, String type, Integer page, Integer limit, final ApiCallback<List<StructuredGetProjectList>> _callback) throws ApiException {
        okhttp3.Call localVarCall = listStructuredProductsValidateBeforeCall(status, type, page, limit, _callback);
        Type localVarReturnType = new TypeToken<List<StructuredGetProjectList>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIlistStructuredProductsRequest {
        private final String status;
        private String type;
        private Integer page;
        private Integer limit;

        private APIlistStructuredProductsRequest(String status) {
            this.status = status;
        }

        /**
         * Set type
         * @param type Product Type (Default empty to query all)  &#x60;SharkFin2.0&#x60;-Shark Fin &#x60;BullishSharkFin&#x60;-Bullish Treasure &#x60;BearishSharkFin&#x60;-Bearish Treasure &#x60;DoubleNoTouch&#x60;-Volatility Treasure &#x60;RangeAccrual&#x60;-Range Smart Yield &#x60;SnowBall&#x60;-Snowball  (optional)
         * @return APIlistStructuredProductsRequest
         */
        public APIlistStructuredProductsRequest type(String type) {
            this.type = type;
            return this;
        }

        /**
         * Set page
         * @param page Page number (optional, default to 1)
         * @return APIlistStructuredProductsRequest
         */
        public APIlistStructuredProductsRequest page(Integer page) {
            this.page = page;
            return this;
        }

        /**
         * Set limit
         * @param limit Maximum number of records returned in a single list (optional, default to 100)
         * @return APIlistStructuredProductsRequest
         */
        public APIlistStructuredProductsRequest limit(Integer limit) {
            this.limit = limit;
            return this;
        }

        /**
         * Build call for listStructuredProducts
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return listStructuredProductsCall(status, type, page, limit, _callback);
        }

        /**
         * Execute listStructuredProducts request
         * @return List&lt;StructuredGetProjectList&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public List<StructuredGetProjectList> execute() throws ApiException {
            ApiResponse<List<StructuredGetProjectList>> localVarResp = listStructuredProductsWithHttpInfo(status, type, page, limit);
            return localVarResp.getData();
        }

        /**
         * Execute listStructuredProducts request with HTTP info returned
         * @return ApiResponse&lt;List&lt;StructuredGetProjectList&gt;&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<List<StructuredGetProjectList>> executeWithHttpInfo() throws ApiException {
            return listStructuredProductsWithHttpInfo(status, type, page, limit);
        }

        /**
         * Execute listStructuredProducts request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<List<StructuredGetProjectList>> _callback) throws ApiException {
            return listStructuredProductsAsync(status, type, page, limit, _callback);
        }
    }

    /**
     * Structured Product List
     * 
     * @param status Status (Default empty to query all)  &#x60;in_process&#x60;-In progress &#x60;will_begin&#x60;-Not started &#x60;wait_settlement&#x60;-Pending settlement &#x60;done&#x60;-Completed  (required)
     * @return APIlistStructuredProductsRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public APIlistStructuredProductsRequest listStructuredProducts(String status) {
        return new APIlistStructuredProductsRequest(status);
    }

    private okhttp3.Call listStructuredOrdersCall(Long from, Long to, Integer page, Integer limit, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/earn/structured/orders";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (from != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("from", from));
        }

        if (to != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("to", to));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listStructuredOrdersValidateBeforeCall(Long from, Long to, Integer page, Integer limit, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = listStructuredOrdersCall(from, to, page, limit, _callback);
        return localVarCall;
    }


    private ApiResponse<List<StructuredOrderList>> listStructuredOrdersWithHttpInfo(Long from, Long to, Integer page, Integer limit) throws ApiException {
        okhttp3.Call localVarCall = listStructuredOrdersValidateBeforeCall(from, to, page, limit, null);
        Type localVarReturnType = new TypeToken<List<StructuredOrderList>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call listStructuredOrdersAsync(Long from, Long to, Integer page, Integer limit, final ApiCallback<List<StructuredOrderList>> _callback) throws ApiException {
        okhttp3.Call localVarCall = listStructuredOrdersValidateBeforeCall(from, to, page, limit, _callback);
        Type localVarReturnType = new TypeToken<List<StructuredOrderList>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIlistStructuredOrdersRequest {
        private Long from;
        private Long to;
        private Integer page;
        private Integer limit;

        private APIlistStructuredOrdersRequest() {
        }

        /**
         * Set from
         * @param from Start timestamp  Specify start time, time format is Unix timestamp. If not specified, it defaults to (the data start time of the time range actually returned by to and limit) (optional)
         * @return APIlistStructuredOrdersRequest
         */
        public APIlistStructuredOrdersRequest from(Long from) {
            this.from = from;
            return this;
        }

        /**
         * Set to
         * @param to Termination Timestamp  Specify the end time. If not specified, it defaults to the current time, and the time format is a Unix timestamp (optional)
         * @return APIlistStructuredOrdersRequest
         */
        public APIlistStructuredOrdersRequest to(Long to) {
            this.to = to;
            return this;
        }

        /**
         * Set page
         * @param page Page number (optional, default to 1)
         * @return APIlistStructuredOrdersRequest
         */
        public APIlistStructuredOrdersRequest page(Integer page) {
            this.page = page;
            return this;
        }

        /**
         * Set limit
         * @param limit Maximum number of records returned in a single list (optional, default to 100)
         * @return APIlistStructuredOrdersRequest
         */
        public APIlistStructuredOrdersRequest limit(Integer limit) {
            this.limit = limit;
            return this;
        }

        /**
         * Build call for listStructuredOrders
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return listStructuredOrdersCall(from, to, page, limit, _callback);
        }

        /**
         * Execute listStructuredOrders request
         * @return List&lt;StructuredOrderList&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public List<StructuredOrderList> execute() throws ApiException {
            ApiResponse<List<StructuredOrderList>> localVarResp = listStructuredOrdersWithHttpInfo(from, to, page, limit);
            return localVarResp.getData();
        }

        /**
         * Execute listStructuredOrders request with HTTP info returned
         * @return ApiResponse&lt;List&lt;StructuredOrderList&gt;&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<List<StructuredOrderList>> executeWithHttpInfo() throws ApiException {
            return listStructuredOrdersWithHttpInfo(from, to, page, limit);
        }

        /**
         * Execute listStructuredOrders request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<List<StructuredOrderList>> _callback) throws ApiException {
            return listStructuredOrdersAsync(from, to, page, limit, _callback);
        }
    }

    /**
     * Structured Product Order List
     * 
     * @return APIlistStructuredOrdersRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public APIlistStructuredOrdersRequest listStructuredOrders() {
        return new APIlistStructuredOrdersRequest();
    }

    /**
     * Build call for placeStructuredOrder
     * @param structuredBuy  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order placed successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call placeStructuredOrderCall(StructuredBuy structuredBuy, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = structuredBuy;

        // create path and map variables
        String localVarPath = "/earn/structured/orders";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call placeStructuredOrderValidateBeforeCall(StructuredBuy structuredBuy, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'structuredBuy' is set
        if (structuredBuy == null) {
            throw new ApiException("Missing the required parameter 'structuredBuy' when calling placeStructuredOrder(Async)");
        }

        okhttp3.Call localVarCall = placeStructuredOrderCall(structuredBuy, _callback);
        return localVarCall;
    }

    /**
     * Place Structured Product Order
     * 
     * @param structuredBuy  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order placed successfully </td><td>  -  </td></tr>
     </table>
     */
    public void placeStructuredOrder(StructuredBuy structuredBuy) throws ApiException {
        placeStructuredOrderWithHttpInfo(structuredBuy);
    }

    /**
     * Place Structured Product Order
     * 
     * @param structuredBuy  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order placed successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> placeStructuredOrderWithHttpInfo(StructuredBuy structuredBuy) throws ApiException {
        okhttp3.Call localVarCall = placeStructuredOrderValidateBeforeCall(structuredBuy, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Place Structured Product Order (asynchronously)
     * 
     * @param structuredBuy  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order placed successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call placeStructuredOrderAsync(StructuredBuy structuredBuy, final ApiCallback<Void> _callback) throws ApiException {
        okhttp3.Call localVarCall = placeStructuredOrderValidateBeforeCall(structuredBuy, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }

    /**
     * Build call for findCoin
     * @param findCoin  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call findCoinCall(FindCoin findCoin, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = findCoin;

        // create path and map variables
        String localVarPath = "/earn/staking/coins";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call findCoinValidateBeforeCall(FindCoin findCoin, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'findCoin' is set
        if (findCoin == null) {
            throw new ApiException("Missing the required parameter 'findCoin' when calling findCoin(Async)");
        }

        okhttp3.Call localVarCall = findCoinCall(findCoin, _callback);
        return localVarCall;
    }

    /**
     * Staking coins
     * 
     * @param findCoin  (required)
     * @return List&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public List<Object> findCoin(FindCoin findCoin) throws ApiException {
        ApiResponse<List<Object>> localVarResp = findCoinWithHttpInfo(findCoin);
        return localVarResp.getData();
    }

    /**
     * Staking coins
     * 
     * @param findCoin  (required)
     * @return ApiResponse&lt;List&lt;Object&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<Object>> findCoinWithHttpInfo(FindCoin findCoin) throws ApiException {
        okhttp3.Call localVarCall = findCoinValidateBeforeCall(findCoin, null);
        Type localVarReturnType = new TypeToken<List<Object>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Staking coins (asynchronously)
     * 
     * @param findCoin  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call findCoinAsync(FindCoin findCoin, final ApiCallback<List<Object>> _callback) throws ApiException {
        okhttp3.Call localVarCall = findCoinValidateBeforeCall(findCoin, _callback);
        Type localVarReturnType = new TypeToken<List<Object>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for swapStakingCoin
     * @param swapCoin  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Swap successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call swapStakingCoinCall(SwapCoin swapCoin, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = swapCoin;

        // create path and map variables
        String localVarPath = "/earn/staking/swap";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call swapStakingCoinValidateBeforeCall(SwapCoin swapCoin, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'swapCoin' is set
        if (swapCoin == null) {
            throw new ApiException("Missing the required parameter 'swapCoin' when calling swapStakingCoin(Async)");
        }

        okhttp3.Call localVarCall = swapStakingCoinCall(swapCoin, _callback);
        return localVarCall;
    }

    /**
     * On-chain token swap for earned coins
     * 
     * @param swapCoin  (required)
     * @return SwapCoinStruct
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Swap successful </td><td>  -  </td></tr>
     </table>
     */
    public SwapCoinStruct swapStakingCoin(SwapCoin swapCoin) throws ApiException {
        ApiResponse<SwapCoinStruct> localVarResp = swapStakingCoinWithHttpInfo(swapCoin);
        return localVarResp.getData();
    }

    /**
     * On-chain token swap for earned coins
     * 
     * @param swapCoin  (required)
     * @return ApiResponse&lt;SwapCoinStruct&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Swap successful </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<SwapCoinStruct> swapStakingCoinWithHttpInfo(SwapCoin swapCoin) throws ApiException {
        okhttp3.Call localVarCall = swapStakingCoinValidateBeforeCall(swapCoin, null);
        Type localVarReturnType = new TypeToken<SwapCoinStruct>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * On-chain token swap for earned coins (asynchronously)
     * 
     * @param swapCoin  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Swap successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call swapStakingCoinAsync(SwapCoin swapCoin, final ApiCallback<SwapCoinStruct> _callback) throws ApiException {
        okhttp3.Call localVarCall = swapStakingCoinValidateBeforeCall(swapCoin, _callback);
        Type localVarReturnType = new TypeToken<SwapCoinStruct>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    private okhttp3.Call orderListCall(Integer pid, String coin, Integer type, Integer page, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/earn/staking/order_list";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (pid != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("pid", pid));
        }

        if (coin != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("coin", coin));
        }

        if (type != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("type", type));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call orderListValidateBeforeCall(Integer pid, String coin, Integer type, Integer page, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = orderListCall(pid, coin, type, page, _callback);
        return localVarCall;
    }


    private ApiResponse<OrderListStruct> orderListWithHttpInfo(Integer pid, String coin, Integer type, Integer page) throws ApiException {
        okhttp3.Call localVarCall = orderListValidateBeforeCall(pid, coin, type, page, null);
        Type localVarReturnType = new TypeToken<OrderListStruct>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call orderListAsync(Integer pid, String coin, Integer type, Integer page, final ApiCallback<OrderListStruct> _callback) throws ApiException {
        okhttp3.Call localVarCall = orderListValidateBeforeCall(pid, coin, type, page, _callback);
        Type localVarReturnType = new TypeToken<OrderListStruct>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIorderListRequest {
        private Integer pid;
        private String coin;
        private Integer type;
        private Integer page;

        private APIorderListRequest() {
        }

        /**
         * Set pid
         * @param pid Product ID (optional)
         * @return APIorderListRequest
         */
        public APIorderListRequest pid(Integer pid) {
            this.pid = pid;
            return this;
        }

        /**
         * Set coin
         * @param coin Currency name (optional)
         * @return APIorderListRequest
         */
        public APIorderListRequest coin(String coin) {
            this.coin = coin;
            return this;
        }

        /**
         * Set type
         * @param type Type 0-staking 1-redemption (optional)
         * @return APIorderListRequest
         */
        public APIorderListRequest type(Integer type) {
            this.type = type;
            return this;
        }

        /**
         * Set page
         * @param page Page number (optional, default to 1)
         * @return APIorderListRequest
         */
        public APIorderListRequest page(Integer page) {
            this.page = page;
            return this;
        }

        /**
         * Build call for orderList
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return orderListCall(pid, coin, type, page, _callback);
        }

        /**
         * Execute orderList request
         * @return OrderListStruct
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public OrderListStruct execute() throws ApiException {
            ApiResponse<OrderListStruct> localVarResp = orderListWithHttpInfo(pid, coin, type, page);
            return localVarResp.getData();
        }

        /**
         * Execute orderList request with HTTP info returned
         * @return ApiResponse&lt;OrderListStruct&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<OrderListStruct> executeWithHttpInfo() throws ApiException {
            return orderListWithHttpInfo(pid, coin, type, page);
        }

        /**
         * Execute orderList request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<OrderListStruct> _callback) throws ApiException {
            return orderListAsync(pid, coin, type, page, _callback);
        }
    }

    /**
     * List of on-chain coin-earning orders
     * 
     * @return APIorderListRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public APIorderListRequest orderList() {
        return new APIorderListRequest();
    }

    private okhttp3.Call awardListCall(Integer pid, String coin, Integer page, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/earn/staking/award_list";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (pid != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("pid", pid));
        }

        if (coin != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("coin", coin));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call awardListValidateBeforeCall(Integer pid, String coin, Integer page, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = awardListCall(pid, coin, page, _callback);
        return localVarCall;
    }


    private ApiResponse<AwardListStruct> awardListWithHttpInfo(Integer pid, String coin, Integer page) throws ApiException {
        okhttp3.Call localVarCall = awardListValidateBeforeCall(pid, coin, page, null);
        Type localVarReturnType = new TypeToken<AwardListStruct>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call awardListAsync(Integer pid, String coin, Integer page, final ApiCallback<AwardListStruct> _callback) throws ApiException {
        okhttp3.Call localVarCall = awardListValidateBeforeCall(pid, coin, page, _callback);
        Type localVarReturnType = new TypeToken<AwardListStruct>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIawardListRequest {
        private Integer pid;
        private String coin;
        private Integer page;

        private APIawardListRequest() {
        }

        /**
         * Set pid
         * @param pid Product ID (optional)
         * @return APIawardListRequest
         */
        public APIawardListRequest pid(Integer pid) {
            this.pid = pid;
            return this;
        }

        /**
         * Set coin
         * @param coin Currency name (optional)
         * @return APIawardListRequest
         */
        public APIawardListRequest coin(String coin) {
            this.coin = coin;
            return this;
        }

        /**
         * Set page
         * @param page Page number (optional, default to 1)
         * @return APIawardListRequest
         */
        public APIawardListRequest page(Integer page) {
            this.page = page;
            return this;
        }

        /**
         * Build call for awardList
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return awardListCall(pid, coin, page, _callback);
        }

        /**
         * Execute awardList request
         * @return AwardListStruct
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public AwardListStruct execute() throws ApiException {
            ApiResponse<AwardListStruct> localVarResp = awardListWithHttpInfo(pid, coin, page);
            return localVarResp.getData();
        }

        /**
         * Execute awardList request with HTTP info returned
         * @return ApiResponse&lt;AwardListStruct&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<AwardListStruct> executeWithHttpInfo() throws ApiException {
            return awardListWithHttpInfo(pid, coin, page);
        }

        /**
         * Execute awardList request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<AwardListStruct> _callback) throws ApiException {
            return awardListAsync(pid, coin, page, _callback);
        }
    }

    /**
     * On-chain coin-earning dividend records
     * 
     * @return APIawardListRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public APIawardListRequest awardList() {
        return new APIawardListRequest();
    }

    private okhttp3.Call assetListCall(String coin, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/earn/staking/assets";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (coin != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("coin", coin));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call assetListValidateBeforeCall(String coin, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = assetListCall(coin, _callback);
        return localVarCall;
    }


    private ApiResponse<List<Object>> assetListWithHttpInfo(String coin) throws ApiException {
        okhttp3.Call localVarCall = assetListValidateBeforeCall(coin, null);
        Type localVarReturnType = new TypeToken<List<Object>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call assetListAsync(String coin, final ApiCallback<List<Object>> _callback) throws ApiException {
        okhttp3.Call localVarCall = assetListValidateBeforeCall(coin, _callback);
        Type localVarReturnType = new TypeToken<List<Object>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIassetListRequest {
        private String coin;

        private APIassetListRequest() {
        }

        /**
         * Set coin
         * @param coin Currency name (optional)
         * @return APIassetListRequest
         */
        public APIassetListRequest coin(String coin) {
            this.coin = coin;
            return this;
        }

        /**
         * Build call for assetList
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return assetListCall(coin, _callback);
        }

        /**
         * Execute assetList request
         * @return List&lt;Object&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public List<Object> execute() throws ApiException {
            ApiResponse<List<Object>> localVarResp = assetListWithHttpInfo(coin);
            return localVarResp.getData();
        }

        /**
         * Execute assetList request with HTTP info returned
         * @return ApiResponse&lt;List&lt;Object&gt;&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<List<Object>> executeWithHttpInfo() throws ApiException {
            return assetListWithHttpInfo(coin);
        }

        /**
         * Execute assetList request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<List<Object>> _callback) throws ApiException {
            return assetListAsync(coin, _callback);
        }
    }

    /**
     * On-chain coin-earning assets
     * 
     * @return APIassetListRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully retrieved </td><td>  -  </td></tr>
     </table>
     */
    public APIassetListRequest assetList() {
        return new APIassetListRequest();
    }

    private okhttp3.Call listEarnFixedTermProductsCall(Integer page, Integer limit, String asset, Integer type, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/earn/fixed-term/product";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (asset != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("asset", asset));
        }

        if (type != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("type", type));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listEarnFixedTermProductsValidateBeforeCall(Integer page, Integer limit, String asset, Integer type, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'page' is set
        if (page == null) {
            throw new ApiException("Missing the required parameter 'page' when calling listEarnFixedTermProducts(Async)");
        }

        // verify the required parameter 'limit' is set
        if (limit == null) {
            throw new ApiException("Missing the required parameter 'limit' when calling listEarnFixedTermProducts(Async)");
        }

        okhttp3.Call localVarCall = listEarnFixedTermProductsCall(page, limit, asset, type, _callback);
        return localVarCall;
    }


    private ApiResponse<InlineResponse200> listEarnFixedTermProductsWithHttpInfo(Integer page, Integer limit, String asset, Integer type) throws ApiException {
        okhttp3.Call localVarCall = listEarnFixedTermProductsValidateBeforeCall(page, limit, asset, type, null);
        Type localVarReturnType = new TypeToken<InlineResponse200>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call listEarnFixedTermProductsAsync(Integer page, Integer limit, String asset, Integer type, final ApiCallback<InlineResponse200> _callback) throws ApiException {
        okhttp3.Call localVarCall = listEarnFixedTermProductsValidateBeforeCall(page, limit, asset, type, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse200>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIlistEarnFixedTermProductsRequest {
        private final Integer page;
        private final Integer limit;
        private String asset;
        private Integer type;

        private APIlistEarnFixedTermProductsRequest(Integer page, Integer limit) {
            this.page = page;
            this.limit = limit;
        }

        /**
         * Set asset
         * @param asset Currency (optional)
         * @return APIlistEarnFixedTermProductsRequest
         */
        public APIlistEarnFixedTermProductsRequest asset(String asset) {
            this.asset = asset;
            return this;
        }

        /**
         * Set type
         * @param type Product type: 1 for regular, 2 for VIP (optional)
         * @return APIlistEarnFixedTermProductsRequest
         */
        public APIlistEarnFixedTermProductsRequest type(Integer type) {
            this.type = type;
            return this;
        }

        /**
         * Build call for listEarnFixedTermProducts
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Product list retrieved successfully </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return listEarnFixedTermProductsCall(page, limit, asset, type, _callback);
        }

        /**
         * Execute listEarnFixedTermProducts request
         * @return InlineResponse200
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Product list retrieved successfully </td><td>  -  </td></tr>
         </table>
         */
        public InlineResponse200 execute() throws ApiException {
            ApiResponse<InlineResponse200> localVarResp = listEarnFixedTermProductsWithHttpInfo(page, limit, asset, type);
            return localVarResp.getData();
        }

        /**
         * Execute listEarnFixedTermProducts request with HTTP info returned
         * @return ApiResponse&lt;InlineResponse200&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Product list retrieved successfully </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<InlineResponse200> executeWithHttpInfo() throws ApiException {
            return listEarnFixedTermProductsWithHttpInfo(page, limit, asset, type);
        }

        /**
         * Execute listEarnFixedTermProducts request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Product list retrieved successfully </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<InlineResponse200> _callback) throws ApiException {
            return listEarnFixedTermProductsAsync(page, limit, asset, type, _callback);
        }
    }

    /**
     * Get product list
     * Query fixed-term earn product list. Supports filtering by currency, product type, status, etc. Returns product interest rate, lock-up period, quota, and reward campaign information
     * @param page Page number (required)
     * @param limit Page size (required)
     * @return APIlistEarnFixedTermProductsRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Product list retrieved successfully </td><td>  -  </td></tr>
     </table>
     */
    public APIlistEarnFixedTermProductsRequest listEarnFixedTermProducts(Integer page, Integer limit) {
        return new APIlistEarnFixedTermProductsRequest(page, limit);
    }

    private okhttp3.Call listEarnFixedTermProductsByAssetCall(String asset, String type, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/earn/fixed-term/product/{asset}/list"
            .replaceAll("\\{" + "asset" + "\\}", localVarApiClient.escapeString(asset));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (type != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("type", type));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

[...]
