/*
 * Gate API
 * Welcome to Gate API APIv4 provides operations related to spot, margin, and contract trading, including public interfaces for querying market data and authenticated private interfaces for implementing API-based automated trading.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package io.gate.gateapi.api;

import io.gate.gateapi.ApiCallback;
import io.gate.gateapi.ApiClient;
import io.gate.gateapi.ApiException;
import io.gate.gateapi.ApiResponse;
import io.gate.gateapi.Configuration;
import io.gate.gateapi.Pair;

import com.google.gson.reflect.TypeToken;


import io.gate.gateapi.models.CandyDropV4ActivityCd01;
import io.gate.gateapi.models.CandyDropV4ActivityRulesCd03;
import io.gate.gateapi.models.CandyDropV4AirdropRecordCd06;
import io.gate.gateapi.models.CandyDropV4ErrorCd01;
import io.gate.gateapi.models.CandyDropV4ParticipationRecordCd05;
import io.gate.gateapi.models.CandyDropV4RegisterReqCd02;
import io.gate.gateapi.models.CandyDropV4RegisterRespCd02;
import io.gate.gateapi.models.CandyDropV4TaskProgressCd04;
import io.gate.gateapi.models.CreateOrderV4;
import io.gate.gateapi.models.HodlerAirdropV4ErrorResponse;
import io.gate.gateapi.models.HodlerAirdropV4OrderRequest;
import io.gate.gateapi.models.HodlerAirdropV4OrderResponse;
import io.gate.gateapi.models.HodlerAirdropV4ProjectItem;
import io.gate.gateapi.models.HodlerAirdropV4UserAirdropRecord;
import io.gate.gateapi.models.HodlerAirdropV4UserOrderRecord;
import io.gate.gateapi.models.LaunchPoolV4CreateOrderResponse;
import io.gate.gateapi.models.LaunchPoolV4ErrorResponse;
import io.gate.gateapi.models.LaunchPoolV4PledgeRecord;
import io.gate.gateapi.models.LaunchPoolV4Project;
import io.gate.gateapi.models.LaunchPoolV4RewardRecord;
import io.gate.gateapi.models.RedeemLaunchPoolResponse;
import io.gate.gateapi.models.RedeemV4;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class LaunchApi {
    private ApiClient localVarApiClient;

    public LaunchApi() {
        this(Configuration.getDefaultApiClient());
    }

    public LaunchApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    private okhttp3.Call listLaunchPoolProjectsCall(Integer status, String mortgageCoin, String searchCoin, Integer limitRule, Integer sortType, Integer page, Integer pageSize, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/launch/project-list";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (status != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("status", status));
        }

        if (mortgageCoin != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("mortgageCoin", mortgageCoin));
        }

        if (searchCoin != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("searchCoin", searchCoin));
        }

        if (limitRule != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limitRule", limitRule));
        }

        if (sortType != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("sortType", sortType));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (pageSize != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("pageSize", pageSize));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listLaunchPoolProjectsValidateBeforeCall(Integer status, String mortgageCoin, String searchCoin, Integer limitRule, Integer sortType, Integer page, Integer pageSize, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = listLaunchPoolProjectsCall(status, mortgageCoin, searchCoin, limitRule, sortType, page, pageSize, _callback);
        return localVarCall;
    }


    private ApiResponse<List<LaunchPoolV4Project>> listLaunchPoolProjectsWithHttpInfo(Integer status, String mortgageCoin, String searchCoin, Integer limitRule, Integer sortType, Integer page, Integer pageSize) throws ApiException {
        okhttp3.Call localVarCall = listLaunchPoolProjectsValidateBeforeCall(status, mortgageCoin, searchCoin, limitRule, sortType, page, pageSize, null);
        Type localVarReturnType = new TypeToken<List<LaunchPoolV4Project>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call listLaunchPoolProjectsAsync(Integer status, String mortgageCoin, String searchCoin, Integer limitRule, Integer sortType, Integer page, Integer pageSize, final ApiCallback<List<LaunchPoolV4Project>> _callback) throws ApiException {
        okhttp3.Call localVarCall = listLaunchPoolProjectsValidateBeforeCall(status, mortgageCoin, searchCoin, limitRule, sortType, page, pageSize, _callback);
        Type localVarReturnType = new TypeToken<List<LaunchPoolV4Project>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIlistLaunchPoolProjectsRequest {
        private Integer status;
        private String mortgageCoin;
        private String searchCoin;
        private Integer limitRule;
        private Integer sortType;
        private Integer page;
        private Integer pageSize;

        private APIlistLaunchPoolProjectsRequest() {
        }

        /**
         * Set status
         * @param status Filter by project status: 0 for all, 1 for ongoing, 2 for warming up, 3 for ended, 4 for ongoing and warming up (optional)
         * @return APIlistLaunchPoolProjectsRequest
         */
        public APIlistLaunchPoolProjectsRequest status(Integer status) {
            this.status = status;
            return this;
        }

        /**
         * Set mortgageCoin
         * @param mortgageCoin Exact match by staking currency (optional)
         * @return APIlistLaunchPoolProjectsRequest
         */
        public APIlistLaunchPoolProjectsRequest mortgageCoin(String mortgageCoin) {
            this.mortgageCoin = mortgageCoin;
            return this;
        }

        /**
         * Set searchCoin
         * @param searchCoin Fuzzy match by reward currency and name (optional)
         * @return APIlistLaunchPoolProjectsRequest
         */
        public APIlistLaunchPoolProjectsRequest searchCoin(String searchCoin) {
            this.searchCoin = searchCoin;
            return this;
        }

        /**
         * Set limitRule
         * @param limitRule Limit rule: 0 for regular pool, 1 for beginner pool (optional)
         * @return APIlistLaunchPoolProjectsRequest
         */
        public APIlistLaunchPoolProjectsRequest limitRule(Integer limitRule) {
            this.limitRule = limitRule;
            return this;
        }

        /**
         * Set sortType
         * @param sortType Sort type: 1 for max APR descending, 2 for max APR ascending (optional)
         * @return APIlistLaunchPoolProjectsRequest
         */
        public APIlistLaunchPoolProjectsRequest sortType(Integer sortType) {
            this.sortType = sortType;
            return this;
        }

        /**
         * Set page
         * @param page Page number, default 1 (optional, default to 1)
         * @return APIlistLaunchPoolProjectsRequest
         */
        public APIlistLaunchPoolProjectsRequest page(Integer page) {
            this.page = page;
            return this;
        }

        /**
         * Set pageSize
         * @param pageSize Number of items per page, default 10, maximum 30 (optional, default to 10)
         * @return APIlistLaunchPoolProjectsRequest
         */
        public APIlistLaunchPoolProjectsRequest pageSize(Integer pageSize) {
            this.pageSize = pageSize;
            return this;
        }

        /**
         * Build call for listLaunchPoolProjects
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns project list </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return listLaunchPoolProjectsCall(status, mortgageCoin, searchCoin, limitRule, sortType, page, pageSize, _callback);
        }

        /**
         * Execute listLaunchPoolProjects request
         * @return List&lt;LaunchPoolV4Project&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns project list </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
         </table>
         */
        public List<LaunchPoolV4Project> execute() throws ApiException {
            ApiResponse<List<LaunchPoolV4Project>> localVarResp = listLaunchPoolProjectsWithHttpInfo(status, mortgageCoin, searchCoin, limitRule, sortType, page, pageSize);
            return localVarResp.getData();
        }

        /**
         * Execute listLaunchPoolProjects request with HTTP info returned
         * @return ApiResponse&lt;List&lt;LaunchPoolV4Project&gt;&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns project list </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<List<LaunchPoolV4Project>> executeWithHttpInfo() throws ApiException {
            return listLaunchPoolProjectsWithHttpInfo(status, mortgageCoin, searchCoin, limitRule, sortType, page, pageSize);
        }

        /**
         * Execute listLaunchPoolProjects request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns project list </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<List<LaunchPoolV4Project>> _callback) throws ApiException {
            return listLaunchPoolProjectsAsync(status, mortgageCoin, searchCoin, limitRule, sortType, page, pageSize, _callback);
        }
    }

    /**
     * Query LaunchPool project list
     * Retrieve the list of available LaunchPool projects, including basic project information and reward pool configuration. This endpoint does not require user authentication.
     * @return APIlistLaunchPoolProjectsRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully returns project list </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public APIlistLaunchPoolProjectsRequest listLaunchPoolProjects() {
        return new APIlistLaunchPoolProjectsRequest();
    }

    /**
     * Build call for createLaunchPoolOrder
     * @param createOrderV4  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully created staking order </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createLaunchPoolOrderCall(CreateOrderV4 createOrderV4, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = createOrderV4;

        // create path and map variables
        String localVarPath = "/launch/create-order";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createLaunchPoolOrderValidateBeforeCall(CreateOrderV4 createOrderV4, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'createOrderV4' is set
        if (createOrderV4 == null) {
            throw new ApiException("Missing the required parameter 'createOrderV4' when calling createLaunchPoolOrder(Async)");
        }

        okhttp3.Call localVarCall = createLaunchPoolOrderCall(createOrderV4, _callback);
        return localVarCall;
    }

    /**
     * Create LaunchPool staking order
     * Create a new staking order for asset staking mining. This endpoint requires API Key signature authentication.
     * @param createOrderV4  (required)
     * @return LaunchPoolV4CreateOrderResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully created staking order </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
     </table>
     */
    public LaunchPoolV4CreateOrderResponse createLaunchPoolOrder(CreateOrderV4 createOrderV4) throws ApiException {
        ApiResponse<LaunchPoolV4CreateOrderResponse> localVarResp = createLaunchPoolOrderWithHttpInfo(createOrderV4);
        return localVarResp.getData();
    }

    /**
     * Create LaunchPool staking order
     * Create a new staking order for asset staking mining. This endpoint requires API Key signature authentication.
     * @param createOrderV4  (required)
     * @return ApiResponse&lt;LaunchPoolV4CreateOrderResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully created staking order </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<LaunchPoolV4CreateOrderResponse> createLaunchPoolOrderWithHttpInfo(CreateOrderV4 createOrderV4) throws ApiException {
        okhttp3.Call localVarCall = createLaunchPoolOrderValidateBeforeCall(createOrderV4, null);
        Type localVarReturnType = new TypeToken<LaunchPoolV4CreateOrderResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Create LaunchPool staking order (asynchronously)
     * Create a new staking order for asset staking mining. This endpoint requires API Key signature authentication.
     * @param createOrderV4  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully created staking order </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createLaunchPoolOrderAsync(CreateOrderV4 createOrderV4, final ApiCallback<LaunchPoolV4CreateOrderResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = createLaunchPoolOrderValidateBeforeCall(createOrderV4, _callback);
        Type localVarReturnType = new TypeToken<LaunchPoolV4CreateOrderResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for redeemLaunchPool
     * @param redeemV4  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully redeemed pledged assets </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call redeemLaunchPoolCall(RedeemV4 redeemV4, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = redeemV4;

        // create path and map variables
        String localVarPath = "/launch/redeem";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call redeemLaunchPoolValidateBeforeCall(RedeemV4 redeemV4, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'redeemV4' is set
        if (redeemV4 == null) {
            throw new ApiException("Missing the required parameter 'redeemV4' when calling redeemLaunchPool(Async)");
        }

        okhttp3.Call localVarCall = redeemLaunchPoolCall(redeemV4, _callback);
        return localVarCall;
    }

    /**
     * Redeem LaunchPool staked assets
     * Redeem staked assets and end staking mining. This endpoint requires API Key signature authentication.
     * @param redeemV4  (required)
     * @return RedeemLaunchPoolResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully redeemed pledged assets </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
     </table>
     */
    public RedeemLaunchPoolResponse redeemLaunchPool(RedeemV4 redeemV4) throws ApiException {
        ApiResponse<RedeemLaunchPoolResponse> localVarResp = redeemLaunchPoolWithHttpInfo(redeemV4);
        return localVarResp.getData();
    }

    /**
     * Redeem LaunchPool staked assets
     * Redeem staked assets and end staking mining. This endpoint requires API Key signature authentication.
     * @param redeemV4  (required)
     * @return ApiResponse&lt;RedeemLaunchPoolResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully redeemed pledged assets </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<RedeemLaunchPoolResponse> redeemLaunchPoolWithHttpInfo(RedeemV4 redeemV4) throws ApiException {
        okhttp3.Call localVarCall = redeemLaunchPoolValidateBeforeCall(redeemV4, null);
        Type localVarReturnType = new TypeToken<RedeemLaunchPoolResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Redeem LaunchPool staked assets (asynchronously)
     * Redeem staked assets and end staking mining. This endpoint requires API Key signature authentication.
     * @param redeemV4  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully redeemed pledged assets </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call redeemLaunchPoolAsync(RedeemV4 redeemV4, final ApiCallback<RedeemLaunchPoolResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = redeemLaunchPoolValidateBeforeCall(redeemV4, _callback);
        Type localVarReturnType = new TypeToken<RedeemLaunchPoolResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    private okhttp3.Call listLaunchPoolPledgeRecordsCall(Long page, Long pageSize, Integer type, String startTime, String endTime, String coin, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/launch/user-pledge-records";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (pageSize != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("pageSize", pageSize));
        }

        if (type != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("type", type));
        }

        if (startTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("startTime", startTime));
        }

        if (endTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("endTime", endTime));
        }

        if (coin != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("coin", coin));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listLaunchPoolPledgeRecordsValidateBeforeCall(Long page, Long pageSize, Integer type, String startTime, String endTime, String coin, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = listLaunchPoolPledgeRecordsCall(page, pageSize, type, startTime, endTime, coin, _callback);
        return localVarCall;
    }


    private ApiResponse<List<LaunchPoolV4PledgeRecord>> listLaunchPoolPledgeRecordsWithHttpInfo(Long page, Long pageSize, Integer type, String startTime, String endTime, String coin) throws ApiException {
        okhttp3.Call localVarCall = listLaunchPoolPledgeRecordsValidateBeforeCall(page, pageSize, type, startTime, endTime, coin, null);
        Type localVarReturnType = new TypeToken<List<LaunchPoolV4PledgeRecord>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call listLaunchPoolPledgeRecordsAsync(Long page, Long pageSize, Integer type, String startTime, String endTime, String coin, final ApiCallback<List<LaunchPoolV4PledgeRecord>> _callback) throws ApiException {
        okhttp3.Call localVarCall = listLaunchPoolPledgeRecordsValidateBeforeCall(page, pageSize, type, startTime, endTime, coin, _callback);
        Type localVarReturnType = new TypeToken<List<LaunchPoolV4PledgeRecord>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIlistLaunchPoolPledgeRecordsRequest {
        private Long page;
        private Long pageSize;
        private Integer type;
        private String startTime;
        private String endTime;
        private String coin;

        private APIlistLaunchPoolPledgeRecordsRequest() {
        }

        /**
         * Set page
         * @param page Page number, default 1 (optional, default to 1l)
         * @return APIlistLaunchPoolPledgeRecordsRequest
         */
        public APIlistLaunchPoolPledgeRecordsRequest page(Long page) {
            this.page = page;
            return this;
        }

        /**
         * Set pageSize
         * @param pageSize Number of items per page, maximum 30 (optional, default to 10l)
         * @return APIlistLaunchPoolPledgeRecordsRequest
         */
        public APIlistLaunchPoolPledgeRecordsRequest pageSize(Long pageSize) {
            this.pageSize = pageSize;
            return this;
        }

        /**
         * Set type
         * @param type Type: 1 for pledge, 2 for redemption (optional)
         * @return APIlistLaunchPoolPledgeRecordsRequest
         */
        public APIlistLaunchPoolPledgeRecordsRequest type(Integer type) {
            this.type = type;
            return this;
        }

        /**
         * Set startTime
         * @param startTime Start time, format: YYYY-MM-DD HH:MM:SS (optional)
         * @return APIlistLaunchPoolPledgeRecordsRequest
         */
        public APIlistLaunchPoolPledgeRecordsRequest startTime(String startTime) {
            this.startTime = startTime;
            return this;
        }

        /**
         * Set endTime
         * @param endTime End time, format: YYYY-MM-DD HH:MM:SS (optional)
         * @return APIlistLaunchPoolPledgeRecordsRequest
         */
        public APIlistLaunchPoolPledgeRecordsRequest endTime(String endTime) {
            this.endTime = endTime;
            return this;
        }

        /**
         * Set coin
         * @param coin Collateral currency (optional)
         * @return APIlistLaunchPoolPledgeRecordsRequest
         */
        public APIlistLaunchPoolPledgeRecordsRequest coin(String coin) {
            this.coin = coin;
            return this;
        }

        /**
         * Build call for listLaunchPoolPledgeRecords
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns user staking records </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
            <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return listLaunchPoolPledgeRecordsCall(page, pageSize, type, startTime, endTime, coin, _callback);
        }

        /**
         * Execute listLaunchPoolPledgeRecords request
         * @return List&lt;LaunchPoolV4PledgeRecord&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns user staking records </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
            <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
         </table>
         */
        public List<LaunchPoolV4PledgeRecord> execute() throws ApiException {
            ApiResponse<List<LaunchPoolV4PledgeRecord>> localVarResp = listLaunchPoolPledgeRecordsWithHttpInfo(page, pageSize, type, startTime, endTime, coin);
            return localVarResp.getData();
        }

        /**
         * Execute listLaunchPoolPledgeRecords request with HTTP info returned
         * @return ApiResponse&lt;List&lt;LaunchPoolV4PledgeRecord&gt;&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns user staking records </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
            <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<List<LaunchPoolV4PledgeRecord>> executeWithHttpInfo() throws ApiException {
            return listLaunchPoolPledgeRecordsWithHttpInfo(page, pageSize, type, startTime, endTime, coin);
        }

        /**
         * Execute listLaunchPoolPledgeRecords request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns user staking records </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
            <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<List<LaunchPoolV4PledgeRecord>> _callback) throws ApiException {
            return listLaunchPoolPledgeRecordsAsync(page, pageSize, type, startTime, endTime, coin, _callback);
        }
    }

    /**
     * Query user pledge records
     * Query user&#39;s staking and redemption operation records. This endpoint requires user authentication.
     * @return APIlistLaunchPoolPledgeRecordsRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully returns user staking records </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
     </table>
     */
    public APIlistLaunchPoolPledgeRecordsRequest listLaunchPoolPledgeRecords() {
        return new APIlistLaunchPoolPledgeRecordsRequest();
    }

    private okhttp3.Call listLaunchPoolRewardRecordsCall(Long page, Long pageSize, Long startTime, Long endTime, String coin, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/launch/get-user-reward-records";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (pageSize != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("pageSize", pageSize));
        }

        if (startTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("start_time", startTime));
        }

        if (endTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("end_time", endTime));
        }

        if (coin != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("coin", coin));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listLaunchPoolRewardRecordsValidateBeforeCall(Long page, Long pageSize, Long startTime, Long endTime, String coin, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = listLaunchPoolRewardRecordsCall(page, pageSize, startTime, endTime, coin, _callback);
        return localVarCall;
    }


    private ApiResponse<List<LaunchPoolV4RewardRecord>> listLaunchPoolRewardRecordsWithHttpInfo(Long page, Long pageSize, Long startTime, Long endTime, String coin) throws ApiException {
        okhttp3.Call localVarCall = listLaunchPoolRewardRecordsValidateBeforeCall(page, pageSize, startTime, endTime, coin, null);
        Type localVarReturnType = new TypeToken<List<LaunchPoolV4RewardRecord>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call listLaunchPoolRewardRecordsAsync(Long page, Long pageSize, Long startTime, Long endTime, String coin, final ApiCallback<List<LaunchPoolV4RewardRecord>> _callback) throws ApiException {
        okhttp3.Call localVarCall = listLaunchPoolRewardRecordsValidateBeforeCall(page, pageSize, startTime, endTime, coin, _callback);
        Type localVarReturnType = new TypeToken<List<LaunchPoolV4RewardRecord>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIlistLaunchPoolRewardRecordsRequest {
        private Long page;
        private Long pageSize;
        private Long startTime;
        private Long endTime;
        private String coin;

        private APIlistLaunchPoolRewardRecordsRequest() {
        }

        /**
         * Set page
         * @param page Page number, default 1 (optional, default to 1l)
         * @return APIlistLaunchPoolRewardRecordsRequest
         */
        public APIlistLaunchPoolRewardRecordsRequest page(Long page) {
            this.page = page;
            return this;
        }

        /**
         * Set pageSize
         * @param pageSize Number of items per page, maximum 30 (optional, default to 10l)
         * @return APIlistLaunchPoolRewardRecordsRequest
         */
        public APIlistLaunchPoolRewardRecordsRequest pageSize(Long pageSize) {
            this.pageSize = pageSize;
            return this;
        }

        /**
         * Set startTime
         * @param startTime Start timestamp (optional)
         * @return APIlistLaunchPoolRewardRecordsRequest
         */
        public APIlistLaunchPoolRewardRecordsRequest startTime(Long startTime) {
            this.startTime = startTime;
            return this;
        }

        /**
         * Set endTime
         * @param endTime End Timestamp (optional)
         * @return APIlistLaunchPoolRewardRecordsRequest
         */
        public APIlistLaunchPoolRewardRecordsRequest endTime(Long endTime) {
            this.endTime = endTime;
            return this;
        }

        /**
         * Set coin
         * @param coin Reward currency (optional)
         * @return APIlistLaunchPoolRewardRecordsRequest
         */
        public APIlistLaunchPoolRewardRecordsRequest coin(String coin) {
            this.coin = coin;
            return this;
        }

        /**
         * Build call for listLaunchPoolRewardRecords
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns user reward records </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
            <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return listLaunchPoolRewardRecordsCall(page, pageSize, startTime, endTime, coin, _callback);
        }

        /**
         * Execute listLaunchPoolRewardRecords request
         * @return List&lt;LaunchPoolV4RewardRecord&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns user reward records </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
            <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
         </table>
         */
        public List<LaunchPoolV4RewardRecord> execute() throws ApiException {
            ApiResponse<List<LaunchPoolV4RewardRecord>> localVarResp = listLaunchPoolRewardRecordsWithHttpInfo(page, pageSize, startTime, endTime, coin);
            return localVarResp.getData();
        }

        /**
         * Execute listLaunchPoolRewardRecords request with HTTP info returned
         * @return ApiResponse&lt;List&lt;LaunchPoolV4RewardRecord&gt;&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns user reward records </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
            <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<List<LaunchPoolV4RewardRecord>> executeWithHttpInfo() throws ApiException {
            return listLaunchPoolRewardRecordsWithHttpInfo(page, pageSize, startTime, endTime, coin);
        }

        /**
         * Execute listLaunchPoolRewardRecords request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns user reward records </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
            <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<List<LaunchPoolV4RewardRecord>> _callback) throws ApiException {
            return listLaunchPoolRewardRecordsAsync(page, pageSize, startTime, endTime, coin, _callback);
        }
    }

    /**
     * Query user reward records
     * Query the user&#39;s staking reward records. This endpoint requires user authentication.
     * @return APIlistLaunchPoolRewardRecordsRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully returns user reward records </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
     </table>
     */
    public APIlistLaunchPoolRewardRecordsRequest listLaunchPoolRewardRecords() {
        return new APIlistLaunchPoolRewardRecordsRequest();
    }

    private okhttp3.Call getHodlerAirdropProjectListCall(String status, String keyword, Integer join, Integer page, Integer size, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/launch/hodler-airdrop/project-list";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (status != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("status", status));
        }

        if (keyword != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("keyword", keyword));
        }

        if (join != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("join", join));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (size != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("size", size));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getHodlerAirdropProjectListValidateBeforeCall(String status, String keyword, Integer join, Integer page, Integer size, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = getHodlerAirdropProjectListCall(status, keyword, join, page, size, _callback);
        return localVarCall;
    }


    private ApiResponse<List<HodlerAirdropV4ProjectItem>> getHodlerAirdropProjectListWithHttpInfo(String status, String keyword, Integer join, Integer page, Integer size) throws ApiException {
        okhttp3.Call localVarCall = getHodlerAirdropProjectListValidateBeforeCall(status, keyword, join, page, size, null);
        Type localVarReturnType = new TypeToken<List<HodlerAirdropV4ProjectItem>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call getHodlerAirdropProjectListAsync(String status, String keyword, Integer join, Integer page, Integer size, final ApiCallback<List<HodlerAirdropV4ProjectItem>> _callback) throws ApiException {
        okhttp3.Call localVarCall = getHodlerAirdropProjectListValidateBeforeCall(status, keyword, join, page, size, _callback);
        Type localVarReturnType = new TypeToken<List<HodlerAirdropV4ProjectItem>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIgetHodlerAirdropProjectListRequest {
        private String status;
        private String keyword;
        private Integer join;
        private Integer page;
        private Integer size;

        private APIgetHodlerAirdropProjectListRequest() {
        }

        /**
         * Set status
         * @param status 活动状态筛选，可选值：ACTIVE（进行中+预热中）、UNDERWAY（进行中）、PREHEAT（预热中）、FINISH（已结束），不传返回全部 (optional)
         * @return APIgetHodlerAirdropProjectListRequest
         */
        public APIgetHodlerAirdropProjectListRequest status(String status) {
            this.status = status;
            return this;
        }

        /**
         * Set keyword
         * @param keyword 币种/项目名称关键词，模糊匹配 (optional)
         * @return APIgetHodlerAirdropProjectListRequest
         */
        public APIgetHodlerAirdropProjectListRequest keyword(String keyword) {
            this.keyword = keyword;
            return this;
        }

        /**
         * Set join
         * @param join 参与情况筛选：0全部（默认），1仅已参与 (optional, default to 0)
         * @return APIgetHodlerAirdropProjectListRequest
         */
        public APIgetHodlerAirdropProjectListRequest join(Integer join) {
            this.join = join;
            return this;
        }

        /**
         * Set page
         * @param page 页码，默认1 (optional, default to 1)
         * @return APIgetHodlerAirdropProjectListRequest
         */
        public APIgetHodlerAirdropProjectListRequest page(Integer page) {
            this.page = page;
            return this;
        }

        /**
         * Set size
         * @param size 每页条数，默认10 (optional, default to 10)
         * @return APIgetHodlerAirdropProjectListRequest
         */
        public APIgetHodlerAirdropProjectListRequest size(Integer size) {
            this.size = size;
            return this;
        }

        /**
         * Build call for getHodlerAirdropProjectList
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns activity list </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return getHodlerAirdropProjectListCall(status, keyword, join, page, size, _callback);
        }

        /**
         * Execute getHodlerAirdropProjectList request
         * @return List&lt;HodlerAirdropV4ProjectItem&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns activity list </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
         </table>
         */
        public List<HodlerAirdropV4ProjectItem> execute() throws ApiException {
            ApiResponse<List<HodlerAirdropV4ProjectItem>> localVarResp = getHodlerAirdropProjectListWithHttpInfo(status, keyword, join, page, size);
            return localVarResp.getData();
        }

        /**
         * Execute getHodlerAirdropProjectList request with HTTP info returned
         * @return ApiResponse&lt;List&lt;HodlerAirdropV4ProjectItem&gt;&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns activity list </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<List<HodlerAirdropV4ProjectItem>> executeWithHttpInfo() throws ApiException {
            return getHodlerAirdropProjectListWithHttpInfo(status, keyword, join, page, size);
        }

        /**
         * Execute getHodlerAirdropProjectList request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns activity list </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<List<HodlerAirdropV4ProjectItem>> _callback) throws ApiException {
            return getHodlerAirdropProjectListAsync(status, keyword, join, page, size, _callback);
        }
    }

    /**
     * 查询HODLer Airdrop活动列表
     * 获取HODLer Airdrop活动列表，支持按状态、币种/项目名称、参与情况筛选。此接口无需用户登录，登录用户可获取个人参与信息。
     * @return APIgetHodlerAirdropProjectListRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully returns activity list </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public APIgetHodlerAirdropProjectListRequest getHodlerAirdropProjectList() {
        return new APIgetHodlerAirdropProjectListRequest();
    }

    /**
     * Build call for hodlerAirdropOrder
     * @param hodlerAirdropV4OrderRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 成功参与活动 </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 请求参数错误或业务校验失败（KYC不足、子账户限制、企业用户限制等） </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 用户未登录 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call hodlerAirdropOrderCall(HodlerAirdropV4OrderRequest hodlerAirdropV4OrderRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = hodlerAirdropV4OrderRequest;

        // create path and map variables
        String localVarPath = "/launch/hodler-airdrop/order";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call hodlerAirdropOrderValidateBeforeCall(HodlerAirdropV4OrderRequest hodlerAirdropV4OrderRequest, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'hodlerAirdropV4OrderRequest' is set
        if (hodlerAirdropV4OrderRequest == null) {
            throw new ApiException("Missing the required parameter 'hodlerAirdropV4OrderRequest' when calling hodlerAirdropOrder(Async)");
        }

        okhttp3.Call localVarCall = hodlerAirdropOrderCall(hodlerAirdropV4OrderRequest, _callback);
        return localVarCall;
    }

    /**
     * 参与HODLer Airdrop活动
     * 参与指定的HODLer Airdrop活动，需持有GT。此接口需要用户登录认证，且须满足KYC要求，不支持子账户、企业/机构用户。
     * @param hodlerAirdropV4OrderRequest  (required)
     * @return HodlerAirdropV4OrderResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 成功参与活动 </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 请求参数错误或业务校验失败（KYC不足、子账户限制、企业用户限制等） </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 用户未登录 </td><td>  -  </td></tr>
     </table>
     */
    public HodlerAirdropV4OrderResponse hodlerAirdropOrder(HodlerAirdropV4OrderRequest hodlerAirdropV4OrderRequest) throws ApiException {
        ApiResponse<HodlerAirdropV4OrderResponse> localVarResp = hodlerAirdropOrderWithHttpInfo(hodlerAirdropV4OrderRequest);
        return localVarResp.getData();
    }

    /**
     * 参与HODLer Airdrop活动
     * 参与指定的HODLer Airdrop活动，需持有GT。此接口需要用户登录认证，且须满足KYC要求，不支持子账户、企业/机构用户。
     * @param hodlerAirdropV4OrderRequest  (required)
     * @return ApiResponse&lt;HodlerAirdropV4OrderResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 成功参与活动 </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 请求参数错误或业务校验失败（KYC不足、子账户限制、企业用户限制等） </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 用户未登录 </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<HodlerAirdropV4OrderResponse> hodlerAirdropOrderWithHttpInfo(HodlerAirdropV4OrderRequest hodlerAirdropV4OrderRequest) throws ApiException {
        okhttp3.Call localVarCall = hodlerAirdropOrderValidateBeforeCall(hodlerAirdropV4OrderRequest, null);
        Type localVarReturnType = new TypeToken<HodlerAirdropV4OrderResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * 参与HODLer Airdrop活动 (asynchronously)
     * 参与指定的HODLer Airdrop活动，需持有GT。此接口需要用户登录认证，且须满足KYC要求，不支持子账户、企业/机构用户。
     * @param hodlerAirdropV4OrderRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 成功参与活动 </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 请求参数错误或业务校验失败（KYC不足、子账户限制、企业用户限制等） </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 用户未登录 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call hodlerAirdropOrderAsync(HodlerAirdropV4OrderRequest hodlerAirdropV4OrderRequest, final ApiCallback<HodlerAirdropV4OrderResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = hodlerAirdropOrderValidateBeforeCall(hodlerAirdropV4OrderRequest, _callback);
        Type localVarReturnType = new TypeToken<HodlerAirdropV4OrderResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    private okhttp3.Call getHodlerAirdropUserOrderRecordsCall(String keyword, Integer startTimest, Integer endTimest, Integer page, Integer size, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/launch/hodler-airdrop/user-order-records";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (keyword != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("keyword", keyword));
        }

        if (startTimest != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("start_timest", startTimest));
        }

        if (endTimest != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("end_timest", endTimest));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (size != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("size", size));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getHodlerAirdropUserOrderRecordsValidateBeforeCall(String keyword, Integer startTimest, Integer endTimest, Integer page, Integer size, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = getHodlerAirdropUserOrderRecordsCall(keyword, startTimest, endTimest, page, size, _callback);
        return localVarCall;
    }


    private ApiResponse<List<HodlerAirdropV4UserOrderRecord>> getHodlerAirdropUserOrderRecordsWithHttpInfo(String keyword, Integer startTimest, Integer endTimest, Integer page, Integer size) throws ApiException {
        okhttp3.Call localVarCall = getHodlerAirdropUserOrderRecordsValidateBeforeCall(keyword, startTimest, endTimest, page, size, null);
        Type localVarReturnType = new TypeToken<List<HodlerAirdropV4UserOrderRecord>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call getHodlerAirdropUserOrderRecordsAsync(String keyword, Integer startTimest, Integer endTimest, Integer page, Integer size, final ApiCallback<List<HodlerAirdropV4UserOrderRecord>> _callback) throws ApiException {
        okhttp3.Call localVarCall = getHodlerAirdropUserOrderRecordsValidateBeforeCall(keyword, startTimest, endTimest, page, size, _callback);
        Type localVarReturnType = new TypeToken<List<HodlerAirdropV4UserOrderRecord>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIgetHodlerAirdropUserOrderRecordsRequest {
        private String keyword;
        private Integer startTimest;
        private Integer endTimest;
        private Integer page;
        private Integer size;

        private APIgetHodlerAirdropUserOrderRecordsRequest() {
        }

        /**
         * Set keyword
         * @param keyword 币种名称关键词筛选 (optional)
         * @return APIgetHodlerAirdropUserOrderRecordsRequest
         */
        public APIgetHodlerAirdropUserOrderRecordsRequest keyword(String keyword) {
            this.keyword = keyword;
            return this;
        }

        /**
         * Set startTimest
         * @param startTimest 开始时间戳（秒） (optional)
         * @return APIgetHodlerAirdropUserOrderRecordsRequest
         */
        public APIgetHodlerAirdropUserOrderRecordsRequest startTimest(Integer startTimest) {
            this.startTimest = startTimest;
            return this;
        }

        /**
         * Set endTimest
         * @param endTimest 结束时间戳（秒） (optional)
         * @return APIgetHodlerAirdropUserOrderRecordsRequest
         */
        public APIgetHodlerAirdropUserOrderRecordsRequest endTimest(Integer endTimest) {
            this.endTimest = endTimest;
            return this;
        }

        /**
         * Set page
         * @param page 页码，默认1 (optional, default to 1)
         * @return APIgetHodlerAirdropUserOrderRecordsRequest
         */
        public APIgetHodlerAirdropUserOrderRecordsRequest page(Integer page) {
            this.page = page;
            return this;
        }

        /**
         * Set size
         * @param size 每页条数，默认10 (optional, default to 10)
         * @return APIgetHodlerAirdropUserOrderRecordsRequest
         */
        public APIgetHodlerAirdropUserOrderRecordsRequest size(Integer size) {
            this.size = size;
            return this;
        }

        /**
         * Build call for getHodlerAirdropUserOrderRecords
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> 成功返回参与记录列表 </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
            <tr><td> 401 </td><td> 用户未登录 </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return getHodlerAirdropUserOrderRecordsCall(keyword, startTimest, endTimest, page, size, _callback);
        }

        /**
         * Execute getHodlerAirdropUserOrderRecords request
         * @return List&lt;HodlerAirdropV4UserOrderRecord&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> 成功返回参与记录列表 </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
            <tr><td> 401 </td><td> 用户未登录 </td><td>  -  </td></tr>
         </table>
         */
        public List<HodlerAirdropV4UserOrderRecord> execute() throws ApiException {
            ApiResponse<List<HodlerAirdropV4UserOrderRecord>> localVarResp = getHodlerAirdropUserOrderRecordsWithHttpInfo(keyword, startTimest, endTimest, page, size);
            return localVarResp.getData();
        }

        /**
         * Execute getHodlerAirdropUserOrderRecords request with HTTP info returned
         * @return ApiResponse&lt;List&lt;HodlerAirdropV4UserOrderRecord&gt;&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> 成功返回参与记录列表 </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
            <tr><td> 401 </td><td> 用户未登录 </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<List<HodlerAirdropV4UserOrderRecord>> executeWithHttpInfo() throws ApiException {
            return getHodlerAirdropUserOrderRecordsWithHttpInfo(keyword, startTimest, endTimest, page, size);
        }

        /**
         * Execute getHodlerAirdropUserOrderRecords request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> 成功返回参与记录列表 </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
            <tr><td> 401 </td><td> 用户未登录 </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<List<HodlerAirdropV4UserOrderRecord>> _callback) throws ApiException {
            return getHodlerAirdropUserOrderRecordsAsync(keyword, startTimest, endTimest, page, size, _callback);
        }
    }

    /**
     * 查询HODLer Airdrop参与记录
     * 查询用户的HODLer Airdrop参与记录，返回每个活动的有效持仓和空投金额。此接口需要用户登录认证。
     * @return APIgetHodlerAirdropUserOrderRecordsRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 成功返回参与记录列表 </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 用户未登录 </td><td>  -  </td></tr>
     </table>
     */
    public APIgetHodlerAirdropUserOrderRecordsRequest getHodlerAirdropUserOrderRecords() {
        return new APIgetHodlerAirdropUserOrderRecordsRequest();
    }

    private okhttp3.Call getHodlerAirdropUserAirdropRecordsCall(String keyword, Integer startTimest, Integer endTimest, Integer page, Integer size, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/launch/hodler-airdrop/user-airdrop-records";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (keyword != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("keyword", keyword));
        }

        if (startTimest != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("start_timest", startTimest));
        }

        if (endTimest != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("end_timest", endTimest));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (size != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("size", size));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getHodlerAirdropUserAirdropRecordsValidateBeforeCall(String keyword, Integer startTimest, Integer endTimest, Integer page, Integer size, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = getHodlerAirdropUserAirdropRecordsCall(keyword, startTimest, endTimest, page, size, _callback);
        return localVarCall;
    }


    private ApiResponse<List<HodlerAirdropV4UserAirdropRecord>> getHodlerAirdropUserAirdropRecordsWithHttpInfo(String keyword, Integer startTimest, Integer endTimest, Integer page, Integer size) throws ApiException {
        okhttp3.Call localVarCall = getHodlerAirdropUserAirdropRecordsValidateBeforeCall(keyword, startTimest, endTimest, page, size, null);
        Type localVarReturnType = new TypeToken<List<HodlerAirdropV4UserAirdropRecord>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call getHodlerAirdropUserAirdropRecordsAsync(String keyword, Integer startTimest, Integer endTimest, Integer page, Integer size, final ApiCallback<List<HodlerAirdropV4UserAirdropRecord>> _callback) throws ApiException {
        okhttp3.Call localVarCall = getHodlerAirdropUserAirdropRecordsValidateBeforeCall(keyword, startTimest, endTimest, page, size, _callback);
        Type localVarReturnType = new TypeToken<List<HodlerAirdropV4UserAirdropRecord>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIgetHodlerAirdropUserAirdropRecordsRequest {
        private String keyword;
        private Integer startTimest;
        private Integer endTimest;
        private Integer page;
        private Integer size;

        private APIgetHodlerAirdropUserAirdropRecordsRequest() {
        }

        /**
         * Set keyword
         * @param keyword 币种名称关键词筛选 (optional)
         * @return APIgetHodlerAirdropUserAirdropRecordsRequest
         */
        public APIgetHodlerAirdropUserAirdropRecordsRequest keyword(String keyword) {
            this.keyword = keyword;
            return this;
        }

        /**
         * Set startTimest
         * @param startTimest 开始时间戳（秒） (optional)
         * @return APIgetHodlerAirdropUserAirdropRecordsRequest
         */
        public APIgetHodlerAirdropUserAirdropRecordsRequest startTimest(Integer startTimest) {
            this.startTimest = startTimest;
            return this;
        }

        /**
         * Set endTimest
         * @param endTimest 结束时间戳（秒） (optional)
         * @return APIgetHodlerAirdropUserAirdropRecordsRequest
         */
        public APIgetHodlerAirdropUserAirdropRecordsRequest endTimest(Integer endTimest) {
            this.endTimest = endTimest;
            return this;
        }

        /**
         * Set page
         * @param page 页码，默认1 (optional, default to 1)
         * @return APIgetHodlerAirdropUserAirdropRecordsRequest
         */
        public APIgetHodlerAirdropUserAirdropRecordsRequest page(Integer page) {
            this.page = page;
            return this;
        }

        /**
         * Set size
         * @param size 每页条数，默认10 (optional, default to 10)
         * @return APIgetHodlerAirdropUserAirdropRecordsRequest
         */
        public APIgetHodlerAirdropUserAirdropRecordsRequest size(Integer size) {
            this.size = size;
            return this;
        }

        /**
         * Build call for getHodlerAirdropUserAirdropRecords
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> 成功返回空投记录列表 </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
            <tr><td> 401 </td><td> 用户未登录 </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return getHodlerAirdropUserAirdropRecordsCall(keyword, startTimest, endTimest, page, size, _callback);
        }

        /**
         * Execute getHodlerAirdropUserAirdropRecords request
         * @return List&lt;HodlerAirdropV4UserAirdropRecord&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> 成功返回空投记录列表 </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
            <tr><td> 401 </td><td> 用户未登录 </td><td>  -  </td></tr>
         </table>
         */
        public List<HodlerAirdropV4UserAirdropRecord> execute() throws ApiException {
            ApiResponse<List<HodlerAirdropV4UserAirdropRecord>> localVarResp = getHodlerAirdropUserAirdropRecordsWithHttpInfo(keyword, startTimest, endTimest, page, size);
            return localVarResp.getData();
        }

        /**
         * Execute getHodlerAirdropUserAirdropRecords request with HTTP info returned
         * @return ApiResponse&lt;List&lt;HodlerAirdropV4UserAirdropRecord&gt;&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> 成功返回空投记录列表 </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
            <tr><td> 401 </td><td> 用户未登录 </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<List<HodlerAirdropV4UserAirdropRecord>> executeWithHttpInfo() throws ApiException {
            return getHodlerAirdropUserAirdropRecordsWithHttpInfo(keyword, startTimest, endTimest, page, size);
        }

        /**
         * Execute getHodlerAirdropUserAirdropRecords request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> 成功返回空投记录列表 </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
            <tr><td> 401 </td><td> 用户未登录 </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<List<HodlerAirdropV4UserAirdropRecord>> _callback) throws ApiException {
            return getHodlerAirdropUserAirdropRecordsAsync(keyword, startTimest, endTimest, page, size, _callback);
        }
    }

    /**
     * 查询HODLer Airdrop空投记录
     * 查询用户已获得的HODLer Airdrop空投发放记录，包含基础空投、额外空投和自动兑换状态。此接口需要用户登录认证。
     * @return APIgetHodlerAirdropUserAirdropRecordsRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 成功返回空投记录列表 </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 用户未登录 </td><td>  -  </td></tr>
     </table>
     */
    public APIgetHodlerAirdropUserAirdropRecordsRequest getHodlerAirdropUserAirdropRecords() {
        return new APIgetHodlerAirdropUserAirdropRecordsRequest();
    }

    private okhttp3.Call getCandyDropActivityListV4Call(String status, String ruleName, String registerStatus, String currency, Integer limit, Integer offset, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/launch/candydrop/activity-list";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (status != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("status", status));
        }

        if (ruleName != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("rule_name", ruleName));
        }

        if (registerStatus != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("register_status", registerStatus));
        }

        if (currency != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("currency", currency));
        }

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (offset != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("offset", offset));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getCandyDropActivityListV4ValidateBeforeCall(String status, String ruleName, String registerStatus, String currency, Integer limit, Integer offset, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = getCandyDropActivityListV4Call(status, ruleName, registerStatus, currency, limit, offset, _callback);
        return localVarCall;
    }


    private ApiResponse<List<CandyDropV4ActivityCd01>> getCandyDropActivityListV4WithHttpInfo(String status, String ruleName, String registerStatus, String currency, Integer limit, Integer offset) throws ApiException {
        okhttp3.Call localVarCall = getCandyDropActivityListV4ValidateBeforeCall(status, ruleName, registerStatus, currency, limit, offset, null);
        Type localVarReturnType = new TypeToken<List<CandyDropV4ActivityCd01>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call getCandyDropActivityListV4Async(String status, String ruleName, String registerStatus, String currency, Integer limit, Integer offset, final ApiCallback<List<CandyDropV4ActivityCd01>> _callback) throws ApiException {
        okhttp3.Call localVarCall = getCandyDropActivityListV4ValidateBeforeCall(status, ruleName, registerStatus, currency, limit, offset, _callback);
        Type localVarReturnType = new TypeToken<List<CandyDropV4ActivityCd01>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIgetCandyDropActivityListV4Request {
        private String status;
        private String ruleName;
        private String registerStatus;
        private String currency;
        private Integer limit;
        private Integer offset;

        private APIgetCandyDropActivityListV4Request() {
        }

        /**
         * Set status
         * @param status 活动状态筛选：ongoing(进行中)、upcoming(即将开始)、ended(已结束)，不传则返回全部 (optional)
         * @return APIgetCandyDropActivityListV4Request
         */
        public APIgetCandyDropActivityListV4Request status(String status) {
            this.status = status;
            return this;
        }

        /**
         * Set ruleName
         * @param ruleName 任务类型筛选：spot(现货)、futures(合约)、deposit(充值)、invite(邀请)、trading_bot(交易机器人)、simple_earn(余币宝)、first_deposit(首笔入金)、alpha(Alpha)、flash_swap(闪兑)、tradfi(TradFi)、etf(ETF) (optional)
         * @return APIgetCandyDropActivityListV4Request
         */
        public APIgetCandyDropActivityListV4Request ruleName(String ruleName) {
            this.ruleName = ruleName;
            return this;
        }

        /**
         * Set registerStatus
         * @param registerStatus 参与情况筛选：registered(已参与)、unregistered(未参与)，不传则返回全部 (optional)
         * @return APIgetCandyDropActivityListV4Request
         */
        public APIgetCandyDropActivityListV4Request registerStatus(String registerStatus) {
            this.registerStatus = registerStatus;
            return this;
        }

        /**
         * Set currency
         * @param currency 币种名称筛选 (optional)
         * @return APIgetCandyDropActivityListV4Request
         */
        public APIgetCandyDropActivityListV4Request currency(String currency) {
            this.currency = currency;
            return this;
        }

        /**
         * Set limit
         * @param limit 返回条数，默认10，最大30 (optional, default to 10)
         * @return APIgetCandyDropActivityListV4Request
         */
        public APIgetCandyDropActivityListV4Request limit(Integer limit) {
            this.limit = limit;
            return this;
        }

        /**
         * Set offset
         * @param offset 偏移量，默认0 (optional, default to 0)
         * @return APIgetCandyDropActivityListV4Request
         */
        public APIgetCandyDropActivityListV4Request offset(Integer offset) {
            this.offset = offset;
            return this;
        }

        /**
         * Build call for getCandyDropActivityListV4
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> 成功返回活动列表数组 </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return getCandyDropActivityListV4Call(status, ruleName, registerStatus, currency, limit, offset, _callback);
        }

        /**
         * Execute getCandyDropActivityListV4 request
         * @return List&lt;CandyDropV4ActivityCd01&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> 成功返回活动列表数组 </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
         </table>
         */
        public List<CandyDropV4ActivityCd01> execute() throws ApiException {
            ApiResponse<List<CandyDropV4ActivityCd01>> localVarResp = getCandyDropActivityListV4WithHttpInfo(status, ruleName, registerStatus, currency, limit, offset);
            return localVarResp.getData();
        }

        /**
         * Execute getCandyDropActivityListV4 request with HTTP info returned
         * @return ApiResponse&lt;List&lt;CandyDropV4ActivityCd01&gt;&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> 成功返回活动列表数组 </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<List<CandyDropV4ActivityCd01>> executeWithHttpInfo() throws ApiException {
            return getCandyDropActivityListV4WithHttpInfo(status, ruleName, registerStatus, currency, limit, offset);
        }

        /**
         * Execute getCandyDropActivityListV4 request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> 成功返回活动列表数组 </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<List<CandyDropV4ActivityCd01>> _callback) throws ApiException {
            return getCandyDropActivityListV4Async(status, ruleName, registerStatus, currency, limit, offset, _callback);
        }
    }

    /**
     * 查询活动列表
     * 支持多维度筛选 CandyDrop 活动，每次查询返回列表排序的前十条数据。不需要登录。
     * @return APIgetCandyDropActivityListV4Request
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 成功返回活动列表数组 </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public APIgetCandyDropActivityListV4Request getCandyDropActivityListV4() {
        return new APIgetCandyDropActivityListV4Request();
    }

    /**
     * Build call for registerCandyDropV4
     * @param candyDropV4RegisterReqCd02  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 报名成功 </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call registerCandyDropV4Call(CandyDropV4RegisterReqCd02 candyDropV4RegisterReqCd02, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = candyDropV4RegisterReqCd02;

        // create path and map variables
        String localVarPath = "/launch/candydrop/register";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call registerCandyDropV4ValidateBeforeCall(CandyDropV4RegisterReqCd02 candyDropV4RegisterReqCd02, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'candyDropV4RegisterReqCd02' is set
        if (candyDropV4RegisterReqCd02 == null) {
            throw new ApiException("Missing the required parameter 'candyDropV4RegisterReqCd02' when calling registerCandyDropV4(Async)");
        }

        okhttp3.Call localVarCall = registerCandyDropV4Call(candyDropV4RegisterReqCd02, _callback);
        return localVarCall;
    }

    /**
     * 报名参与活动
     * 报名参与特定 CandyDrop 活动。需要登录，需要 API Key 签名认证。
     * @param candyDropV4RegisterReqCd02  (required)
     * @return CandyDropV4RegisterRespCd02
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 报名成功 </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
     </table>
     */
    public CandyDropV4RegisterRespCd02 registerCandyDropV4(CandyDropV4RegisterReqCd02 candyDropV4RegisterReqCd02) throws ApiException {
        ApiResponse<CandyDropV4RegisterRespCd02> localVarResp = registerCandyDropV4WithHttpInfo(candyDropV4RegisterReqCd02);
        return localVarResp.getData();
    }

    /**
     * 报名参与活动
     * 报名参与特定 CandyDrop 活动。需要登录，需要 API Key 签名认证。
     * @param candyDropV4RegisterReqCd02  (required)
     * @return ApiResponse&lt;CandyDropV4RegisterRespCd02&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 报名成功 </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<CandyDropV4RegisterRespCd02> registerCandyDropV4WithHttpInfo(CandyDropV4RegisterReqCd02 candyDropV4RegisterReqCd02) throws ApiException {
        okhttp3.Call localVarCall = registerCandyDropV4ValidateBeforeCall(candyDropV4RegisterReqCd02, null);
[...]
