/*
 * Gate API
 * Welcome to Gate API APIv4 provides operations related to spot, margin, and contract trading, including public interfaces for querying market data and authenticated private interfaces for implementing API-based automated trading.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package io.gate.gateapi.api;

import io.gate.gateapi.ApiCallback;
import io.gate.gateapi.ApiClient;
import io.gate.gateapi.ApiException;
import io.gate.gateapi.ApiResponse;
import io.gate.gateapi.Configuration;
import io.gate.gateapi.Pair;

import com.google.gson.reflect.TypeToken;


import io.gate.gateapi.models.CreateOrderV4;
import io.gate.gateapi.models.LaunchPoolV4CreateOrderResponse;
import io.gate.gateapi.models.LaunchPoolV4ErrorResponse;
import io.gate.gateapi.models.LaunchPoolV4PledgeRecord;
import io.gate.gateapi.models.LaunchPoolV4Project;
import io.gate.gateapi.models.LaunchPoolV4RewardRecord;
import io.gate.gateapi.models.RedeemLaunchPoolResponse;
import io.gate.gateapi.models.RedeemV4;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class LaunchApi {
    private ApiClient localVarApiClient;

    public LaunchApi() {
        this(Configuration.getDefaultApiClient());
    }

    public LaunchApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    private okhttp3.Call listLaunchPoolProjectsCall(Integer status, String mortgageCoin, String searchCoin, Integer limitRule, Integer sortType, Integer page, Integer pageSize, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/launch/project-list";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (status != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("status", status));
        }

        if (mortgageCoin != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("mortgageCoin", mortgageCoin));
        }

        if (searchCoin != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("searchCoin", searchCoin));
        }

        if (limitRule != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limitRule", limitRule));
        }

        if (sortType != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("sortType", sortType));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (pageSize != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("pageSize", pageSize));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listLaunchPoolProjectsValidateBeforeCall(Integer status, String mortgageCoin, String searchCoin, Integer limitRule, Integer sortType, Integer page, Integer pageSize, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = listLaunchPoolProjectsCall(status, mortgageCoin, searchCoin, limitRule, sortType, page, pageSize, _callback);
        return localVarCall;
    }


    private ApiResponse<List<LaunchPoolV4Project>> listLaunchPoolProjectsWithHttpInfo(Integer status, String mortgageCoin, String searchCoin, Integer limitRule, Integer sortType, Integer page, Integer pageSize) throws ApiException {
        okhttp3.Call localVarCall = listLaunchPoolProjectsValidateBeforeCall(status, mortgageCoin, searchCoin, limitRule, sortType, page, pageSize, null);
        Type localVarReturnType = new TypeToken<List<LaunchPoolV4Project>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call listLaunchPoolProjectsAsync(Integer status, String mortgageCoin, String searchCoin, Integer limitRule, Integer sortType, Integer page, Integer pageSize, final ApiCallback<List<LaunchPoolV4Project>> _callback) throws ApiException {
        okhttp3.Call localVarCall = listLaunchPoolProjectsValidateBeforeCall(status, mortgageCoin, searchCoin, limitRule, sortType, page, pageSize, _callback);
        Type localVarReturnType = new TypeToken<List<LaunchPoolV4Project>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIlistLaunchPoolProjectsRequest {
        private Integer status;
        private String mortgageCoin;
        private String searchCoin;
        private Integer limitRule;
        private Integer sortType;
        private Integer page;
        private Integer pageSize;

        private APIlistLaunchPoolProjectsRequest() {
        }

        /**
         * Set status
         * @param status Filter by project status: 0 for all, 1 for ongoing, 2 for warming up, 3 for ended, 4 for ongoing and warming up (optional)
         * @return APIlistLaunchPoolProjectsRequest
         */
        public APIlistLaunchPoolProjectsRequest status(Integer status) {
            this.status = status;
            return this;
        }

        /**
         * Set mortgageCoin
         * @param mortgageCoin Exact match by staking currency (optional)
         * @return APIlistLaunchPoolProjectsRequest
         */
        public APIlistLaunchPoolProjectsRequest mortgageCoin(String mortgageCoin) {
            this.mortgageCoin = mortgageCoin;
            return this;
        }

        /**
         * Set searchCoin
         * @param searchCoin Fuzzy match by reward currency and name (optional)
         * @return APIlistLaunchPoolProjectsRequest
         */
        public APIlistLaunchPoolProjectsRequest searchCoin(String searchCoin) {
            this.searchCoin = searchCoin;
            return this;
        }

        /**
         * Set limitRule
         * @param limitRule Limit rule: 0 for regular pool, 1 for beginner pool (optional)
         * @return APIlistLaunchPoolProjectsRequest
         */
        public APIlistLaunchPoolProjectsRequest limitRule(Integer limitRule) {
            this.limitRule = limitRule;
            return this;
        }

        /**
         * Set sortType
         * @param sortType Sort type: 1 for max APR descending, 2 for max APR ascending (optional)
         * @return APIlistLaunchPoolProjectsRequest
         */
        public APIlistLaunchPoolProjectsRequest sortType(Integer sortType) {
            this.sortType = sortType;
            return this;
        }

        /**
         * Set page
         * @param page Page number, default 1 (optional, default to 1)
         * @return APIlistLaunchPoolProjectsRequest
         */
        public APIlistLaunchPoolProjectsRequest page(Integer page) {
            this.page = page;
            return this;
        }

        /**
         * Set pageSize
         * @param pageSize Number of items per page, default 10, maximum 30 (optional, default to 10)
         * @return APIlistLaunchPoolProjectsRequest
         */
        public APIlistLaunchPoolProjectsRequest pageSize(Integer pageSize) {
            this.pageSize = pageSize;
            return this;
        }

        /**
         * Build call for listLaunchPoolProjects
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns project list </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return listLaunchPoolProjectsCall(status, mortgageCoin, searchCoin, limitRule, sortType, page, pageSize, _callback);
        }

        /**
         * Execute listLaunchPoolProjects request
         * @return List&lt;LaunchPoolV4Project&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns project list </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
         </table>
         */
        public List<LaunchPoolV4Project> execute() throws ApiException {
            ApiResponse<List<LaunchPoolV4Project>> localVarResp = listLaunchPoolProjectsWithHttpInfo(status, mortgageCoin, searchCoin, limitRule, sortType, page, pageSize);
            return localVarResp.getData();
        }

        /**
         * Execute listLaunchPoolProjects request with HTTP info returned
         * @return ApiResponse&lt;List&lt;LaunchPoolV4Project&gt;&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns project list </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<List<LaunchPoolV4Project>> executeWithHttpInfo() throws ApiException {
            return listLaunchPoolProjectsWithHttpInfo(status, mortgageCoin, searchCoin, limitRule, sortType, page, pageSize);
        }

        /**
         * Execute listLaunchPoolProjects request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns project list </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<List<LaunchPoolV4Project>> _callback) throws ApiException {
            return listLaunchPoolProjectsAsync(status, mortgageCoin, searchCoin, limitRule, sortType, page, pageSize, _callback);
        }
    }

    /**
     * Query LaunchPool project list
     * Retrieve the list of available LaunchPool projects, including basic project information and reward pool configuration. This endpoint does not require user authentication.
     * @return APIlistLaunchPoolProjectsRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully returns project list </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public APIlistLaunchPoolProjectsRequest listLaunchPoolProjects() {
        return new APIlistLaunchPoolProjectsRequest();
    }

    /**
     * Build call for createLaunchPoolOrder
     * @param createOrderV4  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully created staking order </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createLaunchPoolOrderCall(CreateOrderV4 createOrderV4, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = createOrderV4;

        // create path and map variables
        String localVarPath = "/launch/create-order";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createLaunchPoolOrderValidateBeforeCall(CreateOrderV4 createOrderV4, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'createOrderV4' is set
        if (createOrderV4 == null) {
            throw new ApiException("Missing the required parameter 'createOrderV4' when calling createLaunchPoolOrder(Async)");
        }

        okhttp3.Call localVarCall = createLaunchPoolOrderCall(createOrderV4, _callback);
        return localVarCall;
    }

    /**
     * Create LaunchPool staking order
     * Create a new staking order for asset staking mining. This endpoint requires API Key signature authentication.
     * @param createOrderV4  (required)
     * @return LaunchPoolV4CreateOrderResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully created staking order </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
     </table>
     */
    public LaunchPoolV4CreateOrderResponse createLaunchPoolOrder(CreateOrderV4 createOrderV4) throws ApiException {
        ApiResponse<LaunchPoolV4CreateOrderResponse> localVarResp = createLaunchPoolOrderWithHttpInfo(createOrderV4);
        return localVarResp.getData();
    }

    /**
     * Create LaunchPool staking order
     * Create a new staking order for asset staking mining. This endpoint requires API Key signature authentication.
     * @param createOrderV4  (required)
     * @return ApiResponse&lt;LaunchPoolV4CreateOrderResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully created staking order </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<LaunchPoolV4CreateOrderResponse> createLaunchPoolOrderWithHttpInfo(CreateOrderV4 createOrderV4) throws ApiException {
        okhttp3.Call localVarCall = createLaunchPoolOrderValidateBeforeCall(createOrderV4, null);
        Type localVarReturnType = new TypeToken<LaunchPoolV4CreateOrderResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Create LaunchPool staking order (asynchronously)
     * Create a new staking order for asset staking mining. This endpoint requires API Key signature authentication.
     * @param createOrderV4  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully created staking order </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createLaunchPoolOrderAsync(CreateOrderV4 createOrderV4, final ApiCallback<LaunchPoolV4CreateOrderResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = createLaunchPoolOrderValidateBeforeCall(createOrderV4, _callback);
        Type localVarReturnType = new TypeToken<LaunchPoolV4CreateOrderResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for redeemLaunchPool
     * @param redeemV4  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully redeemed pledged assets </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call redeemLaunchPoolCall(RedeemV4 redeemV4, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = redeemV4;

        // create path and map variables
        String localVarPath = "/launch/redeem";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call redeemLaunchPoolValidateBeforeCall(RedeemV4 redeemV4, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'redeemV4' is set
        if (redeemV4 == null) {
            throw new ApiException("Missing the required parameter 'redeemV4' when calling redeemLaunchPool(Async)");
        }

        okhttp3.Call localVarCall = redeemLaunchPoolCall(redeemV4, _callback);
        return localVarCall;
    }

    /**
     * Redeem LaunchPool staked assets
     * Redeem staked assets and end staking mining. This endpoint requires API Key signature authentication.
     * @param redeemV4  (required)
     * @return RedeemLaunchPoolResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully redeemed pledged assets </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
     </table>
     */
    public RedeemLaunchPoolResponse redeemLaunchPool(RedeemV4 redeemV4) throws ApiException {
        ApiResponse<RedeemLaunchPoolResponse> localVarResp = redeemLaunchPoolWithHttpInfo(redeemV4);
        return localVarResp.getData();
    }

    /**
     * Redeem LaunchPool staked assets
     * Redeem staked assets and end staking mining. This endpoint requires API Key signature authentication.
     * @param redeemV4  (required)
     * @return ApiResponse&lt;RedeemLaunchPoolResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully redeemed pledged assets </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<RedeemLaunchPoolResponse> redeemLaunchPoolWithHttpInfo(RedeemV4 redeemV4) throws ApiException {
        okhttp3.Call localVarCall = redeemLaunchPoolValidateBeforeCall(redeemV4, null);
        Type localVarReturnType = new TypeToken<RedeemLaunchPoolResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Redeem LaunchPool staked assets (asynchronously)
     * Redeem staked assets and end staking mining. This endpoint requires API Key signature authentication.
     * @param redeemV4  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully redeemed pledged assets </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call redeemLaunchPoolAsync(RedeemV4 redeemV4, final ApiCallback<RedeemLaunchPoolResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = redeemLaunchPoolValidateBeforeCall(redeemV4, _callback);
        Type localVarReturnType = new TypeToken<RedeemLaunchPoolResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    private okhttp3.Call listLaunchPoolPledgeRecordsCall(Long page, Long pageSize, Integer type, String startTime, String endTime, String coin, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/launch/user-pledge-records";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (pageSize != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("pageSize", pageSize));
        }

        if (type != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("type", type));
        }

        if (startTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("startTime", startTime));
        }

        if (endTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("endTime", endTime));
        }

        if (coin != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("coin", coin));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listLaunchPoolPledgeRecordsValidateBeforeCall(Long page, Long pageSize, Integer type, String startTime, String endTime, String coin, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = listLaunchPoolPledgeRecordsCall(page, pageSize, type, startTime, endTime, coin, _callback);
        return localVarCall;
    }


    private ApiResponse<List<LaunchPoolV4PledgeRecord>> listLaunchPoolPledgeRecordsWithHttpInfo(Long page, Long pageSize, Integer type, String startTime, String endTime, String coin) throws ApiException {
        okhttp3.Call localVarCall = listLaunchPoolPledgeRecordsValidateBeforeCall(page, pageSize, type, startTime, endTime, coin, null);
        Type localVarReturnType = new TypeToken<List<LaunchPoolV4PledgeRecord>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call listLaunchPoolPledgeRecordsAsync(Long page, Long pageSize, Integer type, String startTime, String endTime, String coin, final ApiCallback<List<LaunchPoolV4PledgeRecord>> _callback) throws ApiException {
        okhttp3.Call localVarCall = listLaunchPoolPledgeRecordsValidateBeforeCall(page, pageSize, type, startTime, endTime, coin, _callback);
        Type localVarReturnType = new TypeToken<List<LaunchPoolV4PledgeRecord>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIlistLaunchPoolPledgeRecordsRequest {
        private Long page;
        private Long pageSize;
        private Integer type;
        private String startTime;
        private String endTime;
        private String coin;

        private APIlistLaunchPoolPledgeRecordsRequest() {
        }

        /**
         * Set page
         * @param page Page number, default 1 (optional, default to 1l)
         * @return APIlistLaunchPoolPledgeRecordsRequest
         */
        public APIlistLaunchPoolPledgeRecordsRequest page(Long page) {
            this.page = page;
            return this;
        }

        /**
         * Set pageSize
         * @param pageSize Number of items per page, maximum 30 (optional, default to 10l)
         * @return APIlistLaunchPoolPledgeRecordsRequest
         */
        public APIlistLaunchPoolPledgeRecordsRequest pageSize(Long pageSize) {
            this.pageSize = pageSize;
            return this;
        }

        /**
         * Set type
         * @param type Type: 1 for pledge, 2 for redemption (optional)
         * @return APIlistLaunchPoolPledgeRecordsRequest
         */
        public APIlistLaunchPoolPledgeRecordsRequest type(Integer type) {
            this.type = type;
            return this;
        }

        /**
         * Set startTime
         * @param startTime Start time, format: YYYY-MM-DD HH:MM:SS (optional)
         * @return APIlistLaunchPoolPledgeRecordsRequest
         */
        public APIlistLaunchPoolPledgeRecordsRequest startTime(String startTime) {
            this.startTime = startTime;
            return this;
        }

        /**
         * Set endTime
         * @param endTime End time, format: YYYY-MM-DD HH:MM:SS (optional)
         * @return APIlistLaunchPoolPledgeRecordsRequest
         */
        public APIlistLaunchPoolPledgeRecordsRequest endTime(String endTime) {
            this.endTime = endTime;
            return this;
        }

        /**
         * Set coin
         * @param coin Collateral currency (optional)
         * @return APIlistLaunchPoolPledgeRecordsRequest
         */
        public APIlistLaunchPoolPledgeRecordsRequest coin(String coin) {
            this.coin = coin;
            return this;
        }

        /**
         * Build call for listLaunchPoolPledgeRecords
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns user staking records </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
            <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return listLaunchPoolPledgeRecordsCall(page, pageSize, type, startTime, endTime, coin, _callback);
        }

        /**
         * Execute listLaunchPoolPledgeRecords request
         * @return List&lt;LaunchPoolV4PledgeRecord&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns user staking records </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
            <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
         </table>
         */
        public List<LaunchPoolV4PledgeRecord> execute() throws ApiException {
            ApiResponse<List<LaunchPoolV4PledgeRecord>> localVarResp = listLaunchPoolPledgeRecordsWithHttpInfo(page, pageSize, type, startTime, endTime, coin);
            return localVarResp.getData();
        }

        /**
         * Execute listLaunchPoolPledgeRecords request with HTTP info returned
         * @return ApiResponse&lt;List&lt;LaunchPoolV4PledgeRecord&gt;&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns user staking records </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
            <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<List<LaunchPoolV4PledgeRecord>> executeWithHttpInfo() throws ApiException {
            return listLaunchPoolPledgeRecordsWithHttpInfo(page, pageSize, type, startTime, endTime, coin);
        }

        /**
         * Execute listLaunchPoolPledgeRecords request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns user staking records </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
            <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<List<LaunchPoolV4PledgeRecord>> _callback) throws ApiException {
            return listLaunchPoolPledgeRecordsAsync(page, pageSize, type, startTime, endTime, coin, _callback);
        }
    }

    /**
     * Query user pledge records
     * Query user&#39;s staking and redemption operation records. This endpoint requires user authentication.
     * @return APIlistLaunchPoolPledgeRecordsRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully returns user staking records </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
     </table>
     */
    public APIlistLaunchPoolPledgeRecordsRequest listLaunchPoolPledgeRecords() {
        return new APIlistLaunchPoolPledgeRecordsRequest();
    }

    private okhttp3.Call listLaunchPoolRewardRecordsCall(Long page, Long pageSize, Long startTime, Long endTime, String coin, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/launch/get-user-reward-records";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (pageSize != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("pageSize", pageSize));
        }

        if (startTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("start_time", startTime));
        }

        if (endTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("end_time", endTime));
        }

        if (coin != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("coin", coin));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listLaunchPoolRewardRecordsValidateBeforeCall(Long page, Long pageSize, Long startTime, Long endTime, String coin, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = listLaunchPoolRewardRecordsCall(page, pageSize, startTime, endTime, coin, _callback);
        return localVarCall;
    }


    private ApiResponse<List<LaunchPoolV4RewardRecord>> listLaunchPoolRewardRecordsWithHttpInfo(Long page, Long pageSize, Long startTime, Long endTime, String coin) throws ApiException {
        okhttp3.Call localVarCall = listLaunchPoolRewardRecordsValidateBeforeCall(page, pageSize, startTime, endTime, coin, null);
        Type localVarReturnType = new TypeToken<List<LaunchPoolV4RewardRecord>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call listLaunchPoolRewardRecordsAsync(Long page, Long pageSize, Long startTime, Long endTime, String coin, final ApiCallback<List<LaunchPoolV4RewardRecord>> _callback) throws ApiException {
        okhttp3.Call localVarCall = listLaunchPoolRewardRecordsValidateBeforeCall(page, pageSize, startTime, endTime, coin, _callback);
        Type localVarReturnType = new TypeToken<List<LaunchPoolV4RewardRecord>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIlistLaunchPoolRewardRecordsRequest {
        private Long page;
        private Long pageSize;
        private Long startTime;
        private Long endTime;
        private String coin;

        private APIlistLaunchPoolRewardRecordsRequest() {
        }

        /**
         * Set page
         * @param page Page number, default 1 (optional, default to 1l)
         * @return APIlistLaunchPoolRewardRecordsRequest
         */
        public APIlistLaunchPoolRewardRecordsRequest page(Long page) {
            this.page = page;
            return this;
        }

        /**
         * Set pageSize
         * @param pageSize Number of items per page, maximum 30 (optional, default to 10l)
         * @return APIlistLaunchPoolRewardRecordsRequest
         */
        public APIlistLaunchPoolRewardRecordsRequest pageSize(Long pageSize) {
            this.pageSize = pageSize;
            return this;
        }

        /**
         * Set startTime
         * @param startTime Start timestamp (optional)
         * @return APIlistLaunchPoolRewardRecordsRequest
         */
        public APIlistLaunchPoolRewardRecordsRequest startTime(Long startTime) {
            this.startTime = startTime;
            return this;
        }

        /**
         * Set endTime
         * @param endTime End Timestamp (optional)
         * @return APIlistLaunchPoolRewardRecordsRequest
         */
        public APIlistLaunchPoolRewardRecordsRequest endTime(Long endTime) {
            this.endTime = endTime;
            return this;
        }

        /**
         * Set coin
         * @param coin Reward currency (optional)
         * @return APIlistLaunchPoolRewardRecordsRequest
         */
        public APIlistLaunchPoolRewardRecordsRequest coin(String coin) {
            this.coin = coin;
            return this;
        }

        /**
         * Build call for listLaunchPoolRewardRecords
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns user reward records </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
            <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return listLaunchPoolRewardRecordsCall(page, pageSize, startTime, endTime, coin, _callback);
        }

        /**
         * Execute listLaunchPoolRewardRecords request
         * @return List&lt;LaunchPoolV4RewardRecord&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns user reward records </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
            <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
         </table>
         */
        public List<LaunchPoolV4RewardRecord> execute() throws ApiException {
            ApiResponse<List<LaunchPoolV4RewardRecord>> localVarResp = listLaunchPoolRewardRecordsWithHttpInfo(page, pageSize, startTime, endTime, coin);
            return localVarResp.getData();
        }

        /**
         * Execute listLaunchPoolRewardRecords request with HTTP info returned
         * @return ApiResponse&lt;List&lt;LaunchPoolV4RewardRecord&gt;&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns user reward records </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
            <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<List<LaunchPoolV4RewardRecord>> executeWithHttpInfo() throws ApiException {
            return listLaunchPoolRewardRecordsWithHttpInfo(page, pageSize, startTime, endTime, coin);
        }

        /**
         * Execute listLaunchPoolRewardRecords request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Successfully returns user reward records </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
            <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<List<LaunchPoolV4RewardRecord>> _callback) throws ApiException {
            return listLaunchPoolRewardRecordsAsync(page, pageSize, startTime, endTime, coin, _callback);
        }
    }

    /**
     * Query user reward records
     * Query the user&#39;s staking reward records. This endpoint requires user authentication.
     * @return APIlistLaunchPoolRewardRecordsRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully returns user reward records </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> User not authenticated </td><td>  -  </td></tr>
     </table>
     */
    public APIlistLaunchPoolRewardRecordsRequest listLaunchPoolRewardRecords() {
        return new APIlistLaunchPoolRewardRecordsRequest();
    }

}
