/*
 * Gate API
 * Welcome to Gate API APIv4 provides operations related to spot, margin, and contract trading, including public interfaces for querying market data and authenticated private interfaces for implementing API-based automated trading.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package io.gate.gateapi.api;

import io.gate.gateapi.ApiCallback;
import io.gate.gateapi.ApiClient;
import io.gate.gateapi.ApiException;
import io.gate.gateapi.ApiResponse;
import io.gate.gateapi.Configuration;
import io.gate.gateapi.Pair;

import com.google.gson.reflect.TypeToken;


import io.gate.gateapi.models.OtcActionResponse;
import io.gate.gateapi.models.OtcBankListResponse;
import io.gate.gateapi.models.OtcMarkOrderPaidRequest;
import io.gate.gateapi.models.OtcOrderDetailResponse;
import io.gate.gateapi.models.OtcOrderListResponse;
import io.gate.gateapi.models.OtcOrderRequest;
import io.gate.gateapi.models.OtcQuoteRequest;
import io.gate.gateapi.models.OtcQuoteResponse;
import io.gate.gateapi.models.OtcStableCoinOrderCreateResponse;
import io.gate.gateapi.models.OtcStableCoinOrderListResponse;
import io.gate.gateapi.models.OtcStableCoinOrderRequest;
import io.gate.gateapi.models.OtcUserDefaultBankResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class OtcApi {
    private ApiClient localVarApiClient;

    public OtcApi() {
        this(Configuration.getDefaultApiClient());
    }

    public OtcApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for createOtcQuote
     * @param otcQuoteRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Quote retrieved successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createOtcQuoteCall(OtcQuoteRequest otcQuoteRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = otcQuoteRequest;

        // create path and map variables
        String localVarPath = "/otc/quote";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createOtcQuoteValidateBeforeCall(OtcQuoteRequest otcQuoteRequest, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'otcQuoteRequest' is set
        if (otcQuoteRequest == null) {
            throw new ApiException("Missing the required parameter 'otcQuoteRequest' when calling createOtcQuote(Async)");
        }

        okhttp3.Call localVarCall = createOtcQuoteCall(otcQuoteRequest, _callback);
        return localVarCall;
    }

    /**
     * Fiat and stablecoin quote
     * Create fiat and stablecoin quotes, supporting both PAY and GET directions
     * @param otcQuoteRequest  (required)
     * @return OtcQuoteResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Quote retrieved successfully </td><td>  -  </td></tr>
     </table>
     */
    public OtcQuoteResponse createOtcQuote(OtcQuoteRequest otcQuoteRequest) throws ApiException {
        ApiResponse<OtcQuoteResponse> localVarResp = createOtcQuoteWithHttpInfo(otcQuoteRequest);
        return localVarResp.getData();
    }

    /**
     * Fiat and stablecoin quote
     * Create fiat and stablecoin quotes, supporting both PAY and GET directions
     * @param otcQuoteRequest  (required)
     * @return ApiResponse&lt;OtcQuoteResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Quote retrieved successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcQuoteResponse> createOtcQuoteWithHttpInfo(OtcQuoteRequest otcQuoteRequest) throws ApiException {
        okhttp3.Call localVarCall = createOtcQuoteValidateBeforeCall(otcQuoteRequest, null);
        Type localVarReturnType = new TypeToken<OtcQuoteResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Fiat and stablecoin quote (asynchronously)
     * Create fiat and stablecoin quotes, supporting both PAY and GET directions
     * @param otcQuoteRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Quote retrieved successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createOtcQuoteAsync(OtcQuoteRequest otcQuoteRequest, final ApiCallback<OtcQuoteResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = createOtcQuoteValidateBeforeCall(otcQuoteRequest, _callback);
        Type localVarReturnType = new TypeToken<OtcQuoteResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for createOtcOrder
     * @param otcOrderRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createOtcOrderCall(OtcOrderRequest otcOrderRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = otcOrderRequest;

        // create path and map variables
        String localVarPath = "/otc/order/create";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createOtcOrderValidateBeforeCall(OtcOrderRequest otcOrderRequest, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'otcOrderRequest' is set
        if (otcOrderRequest == null) {
            throw new ApiException("Missing the required parameter 'otcOrderRequest' when calling createOtcOrder(Async)");
        }

        okhttp3.Call localVarCall = createOtcOrderCall(otcOrderRequest, _callback);
        return localVarCall;
    }

    /**
     * Create fiat order
     * Create a fiat order, supporting BUY for on-ramp and SELL for off-ramp
     * @param otcOrderRequest  (required)
     * @return OtcActionResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public OtcActionResponse createOtcOrder(OtcOrderRequest otcOrderRequest) throws ApiException {
        ApiResponse<OtcActionResponse> localVarResp = createOtcOrderWithHttpInfo(otcOrderRequest);
        return localVarResp.getData();
    }

    /**
     * Create fiat order
     * Create a fiat order, supporting BUY for on-ramp and SELL for off-ramp
     * @param otcOrderRequest  (required)
     * @return ApiResponse&lt;OtcActionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcActionResponse> createOtcOrderWithHttpInfo(OtcOrderRequest otcOrderRequest) throws ApiException {
        okhttp3.Call localVarCall = createOtcOrderValidateBeforeCall(otcOrderRequest, null);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Create fiat order (asynchronously)
     * Create a fiat order, supporting BUY for on-ramp and SELL for off-ramp
     * @param otcOrderRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createOtcOrderAsync(OtcOrderRequest otcOrderRequest, final ApiCallback<OtcActionResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = createOtcOrderValidateBeforeCall(otcOrderRequest, _callback);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for createStableCoinOrder
     * @param otcStableCoinOrderRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Stablecoin order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createStableCoinOrderCall(OtcStableCoinOrderRequest otcStableCoinOrderRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = otcStableCoinOrderRequest;

        // create path and map variables
        String localVarPath = "/otc/stable_coin/order/create";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createStableCoinOrderValidateBeforeCall(OtcStableCoinOrderRequest otcStableCoinOrderRequest, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'otcStableCoinOrderRequest' is set
        if (otcStableCoinOrderRequest == null) {
            throw new ApiException("Missing the required parameter 'otcStableCoinOrderRequest' when calling createStableCoinOrder(Async)");
        }

        okhttp3.Call localVarCall = createStableCoinOrderCall(otcStableCoinOrderRequest, _callback);
        return localVarCall;
    }

    /**
     * Create stablecoin order
     * Create stablecoin order
     * @param otcStableCoinOrderRequest  (required)
     * @return OtcStableCoinOrderCreateResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Stablecoin order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public OtcStableCoinOrderCreateResponse createStableCoinOrder(OtcStableCoinOrderRequest otcStableCoinOrderRequest) throws ApiException {
        ApiResponse<OtcStableCoinOrderCreateResponse> localVarResp = createStableCoinOrderWithHttpInfo(otcStableCoinOrderRequest);
        return localVarResp.getData();
    }

    /**
     * Create stablecoin order
     * Create stablecoin order
     * @param otcStableCoinOrderRequest  (required)
     * @return ApiResponse&lt;OtcStableCoinOrderCreateResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Stablecoin order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcStableCoinOrderCreateResponse> createStableCoinOrderWithHttpInfo(OtcStableCoinOrderRequest otcStableCoinOrderRequest) throws ApiException {
        okhttp3.Call localVarCall = createStableCoinOrderValidateBeforeCall(otcStableCoinOrderRequest, null);
        Type localVarReturnType = new TypeToken<OtcStableCoinOrderCreateResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Create stablecoin order (asynchronously)
     * Create stablecoin order
     * @param otcStableCoinOrderRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Stablecoin order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createStableCoinOrderAsync(OtcStableCoinOrderRequest otcStableCoinOrderRequest, final ApiCallback<OtcStableCoinOrderCreateResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = createStableCoinOrderValidateBeforeCall(otcStableCoinOrderRequest, _callback);
        Type localVarReturnType = new TypeToken<OtcStableCoinOrderCreateResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for getUserDefaultBank
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getUserDefaultBankCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/otc/get_user_def_bank";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getUserDefaultBankValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = getUserDefaultBankCall(_callback);
        return localVarCall;
    }

    /**
     * Get user&#39;s default bank account information
     * Get user&#39;s default bank account information for order placement
     * @return OtcUserDefaultBankResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public OtcUserDefaultBankResponse getUserDefaultBank() throws ApiException {
        ApiResponse<OtcUserDefaultBankResponse> localVarResp = getUserDefaultBankWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Get user&#39;s default bank account information
     * Get user&#39;s default bank account information for order placement
     * @return ApiResponse&lt;OtcUserDefaultBankResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcUserDefaultBankResponse> getUserDefaultBankWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = getUserDefaultBankValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<OtcUserDefaultBankResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get user&#39;s default bank account information (asynchronously)
     * Get user&#39;s default bank account information for order placement
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getUserDefaultBankAsync(final ApiCallback<OtcUserDefaultBankResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = getUserDefaultBankValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<OtcUserDefaultBankResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for getBankList
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getBankListCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/otc/bank_list";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getBankListValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = getBankListCall(_callback);
        return localVarCall;
    }

    /**
     * Get user bank card list
     * Get user bank card list for selecting bank card when placing orders
     * @return OtcBankListResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public OtcBankListResponse getBankList() throws ApiException {
        ApiResponse<OtcBankListResponse> localVarResp = getBankListWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Get user bank card list
     * Get user bank card list for selecting bank card when placing orders
     * @return ApiResponse&lt;OtcBankListResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcBankListResponse> getBankListWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = getBankListValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<OtcBankListResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get user bank card list (asynchronously)
     * Get user bank card list for selecting bank card when placing orders
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getBankListAsync(final ApiCallback<OtcBankListResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = getBankListValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<OtcBankListResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for markOtcOrderPaid
     * @param otcMarkOrderPaidRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The order has been marked as paid </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call markOtcOrderPaidCall(OtcMarkOrderPaidRequest otcMarkOrderPaidRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = otcMarkOrderPaidRequest;

        // create path and map variables
        String localVarPath = "/otc/order/paid";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call markOtcOrderPaidValidateBeforeCall(OtcMarkOrderPaidRequest otcMarkOrderPaidRequest, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'otcMarkOrderPaidRequest' is set
        if (otcMarkOrderPaidRequest == null) {
            throw new ApiException("Missing the required parameter 'otcMarkOrderPaidRequest' when calling markOtcOrderPaid(Async)");
        }

        okhttp3.Call localVarCall = markOtcOrderPaidCall(otcMarkOrderPaidRequest, _callback);
        return localVarCall;
    }

    /**
     * Mark fiat order as paid
     * Mark fiat order as paid
     * @param otcMarkOrderPaidRequest  (required)
     * @return OtcActionResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The order has been marked as paid </td><td>  -  </td></tr>
     </table>
     */
    public OtcActionResponse markOtcOrderPaid(OtcMarkOrderPaidRequest otcMarkOrderPaidRequest) throws ApiException {
        ApiResponse<OtcActionResponse> localVarResp = markOtcOrderPaidWithHttpInfo(otcMarkOrderPaidRequest);
        return localVarResp.getData();
    }

    /**
     * Mark fiat order as paid
     * Mark fiat order as paid
     * @param otcMarkOrderPaidRequest  (required)
     * @return ApiResponse&lt;OtcActionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The order has been marked as paid </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcActionResponse> markOtcOrderPaidWithHttpInfo(OtcMarkOrderPaidRequest otcMarkOrderPaidRequest) throws ApiException {
        okhttp3.Call localVarCall = markOtcOrderPaidValidateBeforeCall(otcMarkOrderPaidRequest, null);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Mark fiat order as paid (asynchronously)
     * Mark fiat order as paid
     * @param otcMarkOrderPaidRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The order has been marked as paid </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call markOtcOrderPaidAsync(OtcMarkOrderPaidRequest otcMarkOrderPaidRequest, final ApiCallback<OtcActionResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = markOtcOrderPaidValidateBeforeCall(otcMarkOrderPaidRequest, _callback);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for cancelOtcOrder
     * @param orderId Order ID (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order cancelled successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call cancelOtcOrderCall(String orderId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/otc/order/cancel";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (orderId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("order_id", orderId));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call cancelOtcOrderValidateBeforeCall(String orderId, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException("Missing the required parameter 'orderId' when calling cancelOtcOrder(Async)");
        }

        okhttp3.Call localVarCall = cancelOtcOrderCall(orderId, _callback);
        return localVarCall;
    }

    /**
     * Fiat order cancellation
     * Cancel fiat order
     * @param orderId Order ID (required)
     * @return OtcActionResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order cancelled successfully </td><td>  -  </td></tr>
     </table>
     */
    public OtcActionResponse cancelOtcOrder(String orderId) throws ApiException {
        ApiResponse<OtcActionResponse> localVarResp = cancelOtcOrderWithHttpInfo(orderId);
        return localVarResp.getData();
    }

    /**
     * Fiat order cancellation
     * Cancel fiat order
     * @param orderId Order ID (required)
     * @return ApiResponse&lt;OtcActionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order cancelled successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcActionResponse> cancelOtcOrderWithHttpInfo(String orderId) throws ApiException {
        okhttp3.Call localVarCall = cancelOtcOrderValidateBeforeCall(orderId, null);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Fiat order cancellation (asynchronously)
     * Cancel fiat order
     * @param orderId Order ID (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order cancelled successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call cancelOtcOrderAsync(String orderId, final ApiCallback<OtcActionResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = cancelOtcOrderValidateBeforeCall(orderId, _callback);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    private okhttp3.Call listOtcOrdersCall(String type, String fiatCurrency, String cryptoCurrency, String startTime, String endTime, String status, String pn, String ps, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/otc/order/list";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (type != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("type", type));
        }

        if (fiatCurrency != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("fiat_currency", fiatCurrency));
        }

        if (cryptoCurrency != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("crypto_currency", cryptoCurrency));
        }

        if (startTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("start_time", startTime));
        }

        if (endTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("end_time", endTime));
        }

        if (status != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("status", status));
        }

        if (pn != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("pn", pn));
        }

        if (ps != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("ps", ps));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listOtcOrdersValidateBeforeCall(String type, String fiatCurrency, String cryptoCurrency, String startTime, String endTime, String status, String pn, String ps, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = listOtcOrdersCall(type, fiatCurrency, cryptoCurrency, startTime, endTime, status, pn, ps, _callback);
        return localVarCall;
    }


    private ApiResponse<OtcOrderListResponse> listOtcOrdersWithHttpInfo(String type, String fiatCurrency, String cryptoCurrency, String startTime, String endTime, String status, String pn, String ps) throws ApiException {
        okhttp3.Call localVarCall = listOtcOrdersValidateBeforeCall(type, fiatCurrency, cryptoCurrency, startTime, endTime, status, pn, ps, null);
        Type localVarReturnType = new TypeToken<OtcOrderListResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call listOtcOrdersAsync(String type, String fiatCurrency, String cryptoCurrency, String startTime, String endTime, String status, String pn, String ps, final ApiCallback<OtcOrderListResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = listOtcOrdersValidateBeforeCall(type, fiatCurrency, cryptoCurrency, startTime, endTime, status, pn, ps, _callback);
        Type localVarReturnType = new TypeToken<OtcOrderListResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIlistOtcOrdersRequest {
        private String type;
        private String fiatCurrency;
        private String cryptoCurrency;
        private String startTime;
        private String endTime;
        private String status;
        private String pn;
        private String ps;

        private APIlistOtcOrdersRequest() {
        }

        /**
         * Set type
         * @param type BUY for on-ramp, SELL for off-ramp (optional)
         * @return APIlistOtcOrdersRequest
         */
        public APIlistOtcOrdersRequest type(String type) {
            this.type = type;
            return this;
        }

        /**
         * Set fiatCurrency
         * @param fiatCurrency Fiat currency (optional)
         * @return APIlistOtcOrdersRequest
         */
        public APIlistOtcOrdersRequest fiatCurrency(String fiatCurrency) {
            this.fiatCurrency = fiatCurrency;
            return this;
        }

        /**
         * Set cryptoCurrency
         * @param cryptoCurrency Digital currency (optional)
         * @return APIlistOtcOrdersRequest
         */
        public APIlistOtcOrdersRequest cryptoCurrency(String cryptoCurrency) {
            this.cryptoCurrency = cryptoCurrency;
            return this;
        }

        /**
         * Set startTime
         * @param startTime starttime   for example : 2025-09-09 (optional)
         * @return APIlistOtcOrdersRequest
         */
        public APIlistOtcOrdersRequest startTime(String startTime) {
            this.startTime = startTime;
            return this;
        }

        /**
         * Set endTime
         * @param endTime endtime  for example :2025-09-09 (optional)
         * @return APIlistOtcOrdersRequest
         */
        public APIlistOtcOrdersRequest endTime(String endTime) {
            this.endTime = endTime;
            return this;
        }

        /**
         * Set status
         * @param status DONE: Completed CANCEL: Canceled PROCESSING: In Progress (optional)
         * @return APIlistOtcOrdersRequest
         */
        public APIlistOtcOrdersRequest status(String status) {
            this.status = status;
            return this;
        }

        /**
         * Set pn
         * @param pn Page number (optional)
         * @return APIlistOtcOrdersRequest
         */
        public APIlistOtcOrdersRequest pn(String pn) {
            this.pn = pn;
            return this;
        }

        /**
         * Set ps
         * @param ps Number of items per page (optional)
         * @return APIlistOtcOrdersRequest
         */
        public APIlistOtcOrdersRequest ps(String ps) {
            this.ps = ps;
            return this;
        }

        /**
         * Build call for listOtcOrders
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return listOtcOrdersCall(type, fiatCurrency, cryptoCurrency, startTime, endTime, status, pn, ps, _callback);
        }

        /**
         * Execute listOtcOrders request
         * @return OtcOrderListResponse
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
         </table>
         */
        public OtcOrderListResponse execute() throws ApiException {
            ApiResponse<OtcOrderListResponse> localVarResp = listOtcOrdersWithHttpInfo(type, fiatCurrency, cryptoCurrency, startTime, endTime, status, pn, ps);
            return localVarResp.getData();
        }

        /**
         * Execute listOtcOrders request with HTTP info returned
         * @return ApiResponse&lt;OtcOrderListResponse&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<OtcOrderListResponse> executeWithHttpInfo() throws ApiException {
            return listOtcOrdersWithHttpInfo(type, fiatCurrency, cryptoCurrency, startTime, endTime, status, pn, ps);
        }

        /**
         * Execute listOtcOrders request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<OtcOrderListResponse> _callback) throws ApiException {
            return listOtcOrdersAsync(type, fiatCurrency, cryptoCurrency, startTime, endTime, status, pn, ps, _callback);
        }
    }

    /**
     * Fiat order list
     * Query the fiat order list with filters such as type, currency, time range, and status
     * @return APIlistOtcOrdersRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public APIlistOtcOrdersRequest listOtcOrders() {
        return new APIlistOtcOrdersRequest();
    }

    private okhttp3.Call listStableCoinOrdersCall(String pageSize, String pageNumber, String coinName, String startTime, String endTime, String status, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/otc/stable_coin/order/list";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (pageSize != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page_size", pageSize));
        }

        if (pageNumber != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page_number", pageNumber));
        }

        if (coinName != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("coin_name", coinName));
        }

        if (startTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("start_time", startTime));
        }

        if (endTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("end_time", endTime));
        }

        if (status != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("status", status));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listStableCoinOrdersValidateBeforeCall(String pageSize, String pageNumber, String coinName, String startTime, String endTime, String status, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = listStableCoinOrdersCall(pageSize, pageNumber, coinName, startTime, endTime, status, _callback);
        return localVarCall;
    }


    private ApiResponse<OtcStableCoinOrderListResponse> listStableCoinOrdersWithHttpInfo(String pageSize, String pageNumber, String coinName, String startTime, String endTime, String status) throws ApiException {
        okhttp3.Call localVarCall = listStableCoinOrdersValidateBeforeCall(pageSize, pageNumber, coinName, startTime, endTime, status, null);
        Type localVarReturnType = new TypeToken<OtcStableCoinOrderListResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call listStableCoinOrdersAsync(String pageSize, String pageNumber, String coinName, String startTime, String endTime, String status, final ApiCallback<OtcStableCoinOrderListResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = listStableCoinOrdersValidateBeforeCall(pageSize, pageNumber, coinName, startTime, endTime, status, _callback);
        Type localVarReturnType = new TypeToken<OtcStableCoinOrderListResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIlistStableCoinOrdersRequest {
        private String pageSize;
        private String pageNumber;
        private String coinName;
        private String startTime;
        private String endTime;
        private String status;

        private APIlistStableCoinOrdersRequest() {
        }

        /**
         * Set pageSize
         * @param pageSize Number of records per page (optional)
         * @return APIlistStableCoinOrdersRequest
         */
        public APIlistStableCoinOrdersRequest pageSize(String pageSize) {
            this.pageSize = pageSize;
            return this;
        }

        /**
         * Set pageNumber
         * @param pageNumber Page number (optional)
         * @return APIlistStableCoinOrdersRequest
         */
        public APIlistStableCoinOrdersRequest pageNumber(String pageNumber) {
            this.pageNumber = pageNumber;
            return this;
        }

        /**
         * Set coinName
         * @param coinName ordercurrency (optional)
         * @return APIlistStableCoinOrdersRequest
         */
        public APIlistStableCoinOrdersRequest coinName(String coinName) {
            this.coinName = coinName;
            return this;
        }

        /**
         * Set startTime
         * @param startTime Start Time (optional)
         * @return APIlistStableCoinOrdersRequest
         */
        public APIlistStableCoinOrdersRequest startTime(String startTime) {
            this.startTime = startTime;
            return this;
        }

        /**
         * Set endTime
         * @param endTime End time (optional)
         * @return APIlistStableCoinOrdersRequest
         */
        public APIlistStableCoinOrdersRequest endTime(String endTime) {
            this.endTime = endTime;
            return this;
        }

        /**
         * Set status
         * @param status Status: PROCESSING: in progress / DONE：completed / FAILED: failed (optional)
         * @return APIlistStableCoinOrdersRequest
         */
        public APIlistStableCoinOrdersRequest status(String status) {
            this.status = status;
            return this;
        }

        /**
         * Build call for listStableCoinOrders
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return listStableCoinOrdersCall(pageSize, pageNumber, coinName, startTime, endTime, status, _callback);
        }

        /**
         * Execute listStableCoinOrders request
         * @return OtcStableCoinOrderListResponse
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
         </table>
         */
        public OtcStableCoinOrderListResponse execute() throws ApiException {
            ApiResponse<OtcStableCoinOrderListResponse> localVarResp = listStableCoinOrdersWithHttpInfo(pageSize, pageNumber, coinName, startTime, endTime, status);
            return localVarResp.getData();
        }

        /**
         * Execute listStableCoinOrders request with HTTP info returned
         * @return ApiResponse&lt;OtcStableCoinOrderListResponse&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<OtcStableCoinOrderListResponse> executeWithHttpInfo() throws ApiException {
            return listStableCoinOrdersWithHttpInfo(pageSize, pageNumber, coinName, startTime, endTime, status);
        }

        /**
         * Execute listStableCoinOrders request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<OtcStableCoinOrderListResponse> _callback) throws ApiException {
            return listStableCoinOrdersAsync(pageSize, pageNumber, coinName, startTime, endTime, status, _callback);
        }
    }

    /**
     * Stablecoin order list
     * Query stablecoin order list with filtering by currency, time range, status, etc.
     * @return APIlistStableCoinOrdersRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public APIlistStableCoinOrdersRequest listStableCoinOrders() {
        return new APIlistStableCoinOrdersRequest();
    }

    /**
     * Build call for getOtcOrderDetail
     * @param orderId Order ID (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getOtcOrderDetailCall(String orderId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/otc/order/detail";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (orderId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("order_id", orderId));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getOtcOrderDetailValidateBeforeCall(String orderId, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException("Missing the required parameter 'orderId' when calling getOtcOrderDetail(Async)");
        }

        okhttp3.Call localVarCall = getOtcOrderDetailCall(orderId, _callback);
        return localVarCall;
    }

    /**
     * Fiat order details
     * Query fiat order details
     * @param orderId Order ID (required)
     * @return OtcOrderDetailResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public OtcOrderDetailResponse getOtcOrderDetail(String orderId) throws ApiException {
        ApiResponse<OtcOrderDetailResponse> localVarResp = getOtcOrderDetailWithHttpInfo(orderId);
        return localVarResp.getData();
    }

    /**
     * Fiat order details
     * Query fiat order details
     * @param orderId Order ID (required)
     * @return ApiResponse&lt;OtcOrderDetailResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcOrderDetailResponse> getOtcOrderDetailWithHttpInfo(String orderId) throws ApiException {
        okhttp3.Call localVarCall = getOtcOrderDetailValidateBeforeCall(orderId, null);
        Type localVarReturnType = new TypeToken<OtcOrderDetailResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Fiat order details (asynchronously)
     * Query fiat order details
     * @param orderId Order ID (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getOtcOrderDetailAsync(String orderId, final ApiCallback<OtcOrderDetailResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = getOtcOrderDetailValidateBeforeCall(orderId, _callback);
        Type localVarReturnType = new TypeToken<OtcOrderDetailResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

}
