/*
 * Gate API
 * Welcome to Gate API APIv4 provides operations related to spot, margin, and contract trading, including public interfaces for querying market data and authenticated private interfaces for implementing API-based automated trading.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package io.gate.gateapi.api;

import io.gate.gateapi.ApiCallback;
import io.gate.gateapi.ApiClient;
import io.gate.gateapi.ApiException;
import io.gate.gateapi.ApiResponse;
import io.gate.gateapi.Configuration;
import io.gate.gateapi.Pair;

import com.google.gson.reflect.TypeToken;


import io.gate.gateapi.models.OtcActionResponse;
import io.gate.gateapi.models.OtcBankCreateResponse;
import io.gate.gateapi.models.OtcBankIdRequest;
import io.gate.gateapi.models.OtcBankListResponse;
import io.gate.gateapi.models.OtcBankSupplementChecklistResponse;
import io.gate.gateapi.models.OtcMarkOrderPaidRequest;
import io.gate.gateapi.models.OtcOrderDetailResponse;
import io.gate.gateapi.models.OtcOrderListResponse;
import io.gate.gateapi.models.OtcOrderRequest;
import io.gate.gateapi.models.OtcQuoteRequest;
import io.gate.gateapi.models.OtcQuoteResponse;
import io.gate.gateapi.models.OtcStableCoinOrderCreateResponse;
import io.gate.gateapi.models.OtcStableCoinOrderListResponse;
import io.gate.gateapi.models.OtcStableCoinOrderRequest;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class OtcApi {
    private ApiClient localVarApiClient;

    public OtcApi() {
        this(Configuration.getDefaultApiClient());
    }

    public OtcApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for createOtcQuote
     * @param otcQuoteRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Quote retrieved successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createOtcQuoteCall(OtcQuoteRequest otcQuoteRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = otcQuoteRequest;

        // create path and map variables
        String localVarPath = "/otc/quote";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createOtcQuoteValidateBeforeCall(OtcQuoteRequest otcQuoteRequest, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'otcQuoteRequest' is set
        if (otcQuoteRequest == null) {
            throw new ApiException("Missing the required parameter 'otcQuoteRequest' when calling createOtcQuote(Async)");
        }

        okhttp3.Call localVarCall = createOtcQuoteCall(otcQuoteRequest, _callback);
        return localVarCall;
    }

    /**
     * Fiat and stablecoin quote
     * Create fiat and stablecoin quotes, supporting both PAY and GET directions
     * @param otcQuoteRequest  (required)
     * @return OtcQuoteResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Quote retrieved successfully </td><td>  -  </td></tr>
     </table>
     */
    public OtcQuoteResponse createOtcQuote(OtcQuoteRequest otcQuoteRequest) throws ApiException {
        ApiResponse<OtcQuoteResponse> localVarResp = createOtcQuoteWithHttpInfo(otcQuoteRequest);
        return localVarResp.getData();
    }

    /**
     * Fiat and stablecoin quote
     * Create fiat and stablecoin quotes, supporting both PAY and GET directions
     * @param otcQuoteRequest  (required)
     * @return ApiResponse&lt;OtcQuoteResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Quote retrieved successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcQuoteResponse> createOtcQuoteWithHttpInfo(OtcQuoteRequest otcQuoteRequest) throws ApiException {
        okhttp3.Call localVarCall = createOtcQuoteValidateBeforeCall(otcQuoteRequest, null);
        Type localVarReturnType = new TypeToken<OtcQuoteResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Fiat and stablecoin quote (asynchronously)
     * Create fiat and stablecoin quotes, supporting both PAY and GET directions
     * @param otcQuoteRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Quote retrieved successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createOtcQuoteAsync(OtcQuoteRequest otcQuoteRequest, final ApiCallback<OtcQuoteResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = createOtcQuoteValidateBeforeCall(otcQuoteRequest, _callback);
        Type localVarReturnType = new TypeToken<OtcQuoteResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for createOtcOrder
     * @param otcOrderRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createOtcOrderCall(OtcOrderRequest otcOrderRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = otcOrderRequest;

        // create path and map variables
        String localVarPath = "/otc/order/create";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createOtcOrderValidateBeforeCall(OtcOrderRequest otcOrderRequest, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'otcOrderRequest' is set
        if (otcOrderRequest == null) {
            throw new ApiException("Missing the required parameter 'otcOrderRequest' when calling createOtcOrder(Async)");
        }

        okhttp3.Call localVarCall = createOtcOrderCall(otcOrderRequest, _callback);
        return localVarCall;
    }

    /**
     * Create fiat order
     * Create a fiat order, supporting BUY for on-ramp and SELL for off-ramp
     * @param otcOrderRequest  (required)
     * @return OtcActionResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public OtcActionResponse createOtcOrder(OtcOrderRequest otcOrderRequest) throws ApiException {
        ApiResponse<OtcActionResponse> localVarResp = createOtcOrderWithHttpInfo(otcOrderRequest);
        return localVarResp.getData();
    }

    /**
     * Create fiat order
     * Create a fiat order, supporting BUY for on-ramp and SELL for off-ramp
     * @param otcOrderRequest  (required)
     * @return ApiResponse&lt;OtcActionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcActionResponse> createOtcOrderWithHttpInfo(OtcOrderRequest otcOrderRequest) throws ApiException {
        okhttp3.Call localVarCall = createOtcOrderValidateBeforeCall(otcOrderRequest, null);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Create fiat order (asynchronously)
     * Create a fiat order, supporting BUY for on-ramp and SELL for off-ramp
     * @param otcOrderRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createOtcOrderAsync(OtcOrderRequest otcOrderRequest, final ApiCallback<OtcActionResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = createOtcOrderValidateBeforeCall(otcOrderRequest, _callback);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for createStableCoinOrder
     * @param otcStableCoinOrderRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Stablecoin order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createStableCoinOrderCall(OtcStableCoinOrderRequest otcStableCoinOrderRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = otcStableCoinOrderRequest;

        // create path and map variables
        String localVarPath = "/otc/stable_coin/order/create";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createStableCoinOrderValidateBeforeCall(OtcStableCoinOrderRequest otcStableCoinOrderRequest, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'otcStableCoinOrderRequest' is set
        if (otcStableCoinOrderRequest == null) {
            throw new ApiException("Missing the required parameter 'otcStableCoinOrderRequest' when calling createStableCoinOrder(Async)");
        }

        okhttp3.Call localVarCall = createStableCoinOrderCall(otcStableCoinOrderRequest, _callback);
        return localVarCall;
    }

    /**
     * Create stablecoin order
     * Create a stablecoin order. All request body fields except &#x60;promotion_code&#x60; are required.
     * @param otcStableCoinOrderRequest  (required)
     * @return OtcStableCoinOrderCreateResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Stablecoin order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public OtcStableCoinOrderCreateResponse createStableCoinOrder(OtcStableCoinOrderRequest otcStableCoinOrderRequest) throws ApiException {
        ApiResponse<OtcStableCoinOrderCreateResponse> localVarResp = createStableCoinOrderWithHttpInfo(otcStableCoinOrderRequest);
        return localVarResp.getData();
    }

    /**
     * Create stablecoin order
     * Create a stablecoin order. All request body fields except &#x60;promotion_code&#x60; are required.
     * @param otcStableCoinOrderRequest  (required)
     * @return ApiResponse&lt;OtcStableCoinOrderCreateResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Stablecoin order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcStableCoinOrderCreateResponse> createStableCoinOrderWithHttpInfo(OtcStableCoinOrderRequest otcStableCoinOrderRequest) throws ApiException {
        okhttp3.Call localVarCall = createStableCoinOrderValidateBeforeCall(otcStableCoinOrderRequest, null);
        Type localVarReturnType = new TypeToken<OtcStableCoinOrderCreateResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Create stablecoin order (asynchronously)
     * Create a stablecoin order. All request body fields except &#x60;promotion_code&#x60; are required.
     * @param otcStableCoinOrderRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Stablecoin order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createStableCoinOrderAsync(OtcStableCoinOrderRequest otcStableCoinOrderRequest, final ApiCallback<OtcStableCoinOrderCreateResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = createStableCoinOrderValidateBeforeCall(otcStableCoinOrderRequest, _callback);
        Type localVarReturnType = new TypeToken<OtcStableCoinOrderCreateResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for getBankListInnerPath
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getBankListInnerPathCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/otc/bank/list";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getBankListInnerPathValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = getBankListInnerPathCall(_callback);
        return localVarCall;
    }

    /**
     * Get user bank card list
     * List the user&#39;s bank cards for selecting a card when placing an order. **Default card**: use the &#x60;is_default&#x60; field in each list item (&#x60;1&#x60; indicates the default). The deprecated standalone default-bank-card endpoint is no longer required.
     * @return OtcBankListResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public OtcBankListResponse getBankListInnerPath() throws ApiException {
        ApiResponse<OtcBankListResponse> localVarResp = getBankListInnerPathWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Get user bank card list
     * List the user&#39;s bank cards for selecting a card when placing an order. **Default card**: use the &#x60;is_default&#x60; field in each list item (&#x60;1&#x60; indicates the default). The deprecated standalone default-bank-card endpoint is no longer required.
     * @return ApiResponse&lt;OtcBankListResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcBankListResponse> getBankListInnerPathWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = getBankListInnerPathValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<OtcBankListResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get user bank card list (asynchronously)
     * List the user&#39;s bank cards for selecting a card when placing an order. **Default card**: use the &#x60;is_default&#x60; field in each list item (&#x60;1&#x60; indicates the default). The deprecated standalone default-bank-card endpoint is no longer required.
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getBankListInnerPathAsync(final ApiCallback<OtcBankListResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = getBankListInnerPathValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<OtcBankListResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for createOtcBank
     * @param bankAccountName  (required)
     * @param bankName  (required)
     * @param bankCountry  (required)
     * @param bankAddress  (required)
     * @param iban  (required)
     * @param swift  (required)
     * @param documentationFile Account opening proof file content (multipart file field, binary/Base64; jpg/jpeg/png/pdf, etc.; maximum 10 MB per file, subject to the live environment) (required)
     * @param remittanceLineNumber  (optional)
     * @param agentBankName  (optional)
     * @param agentBankSwift  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Accepted successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createOtcBankCall(String bankAccountName, String bankName, String bankCountry, String bankAddress, String iban, String swift, String documentationFile, String remittanceLineNumber, String agentBankName, String agentBankSwift, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/otc/bank/create";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (bankAccountName != null) {
            localVarFormParams.put("bank_account_name", bankAccountName);
        }

        if (bankName != null) {
            localVarFormParams.put("bank_name", bankName);
        }

        if (bankCountry != null) {
            localVarFormParams.put("bank_country", bankCountry);
        }

        if (bankAddress != null) {
            localVarFormParams.put("bank_address", bankAddress);
        }

        if (iban != null) {
            localVarFormParams.put("iban", iban);
        }

        if (swift != null) {
            localVarFormParams.put("swift", swift);
        }

        if (remittanceLineNumber != null) {
            localVarFormParams.put("remittance_line_number", remittanceLineNumber);
        }

        if (agentBankName != null) {
            localVarFormParams.put("agent_bank_name", agentBankName);
        }

        if (agentBankSwift != null) {
            localVarFormParams.put("agent_bank_swift", agentBankSwift);
        }

        if (documentationFile != null) {
            localVarFormParams.put("documentation_file", documentationFile);
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createOtcBankValidateBeforeCall(String bankAccountName, String bankName, String bankCountry, String bankAddress, String iban, String swift, String documentationFile, String remittanceLineNumber, String agentBankName, String agentBankSwift, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'bankAccountName' is set
        if (bankAccountName == null) {
            throw new ApiException("Missing the required parameter 'bankAccountName' when calling createOtcBank(Async)");
        }

        // verify the required parameter 'bankName' is set
        if (bankName == null) {
            throw new ApiException("Missing the required parameter 'bankName' when calling createOtcBank(Async)");
        }

        // verify the required parameter 'bankCountry' is set
        if (bankCountry == null) {
            throw new ApiException("Missing the required parameter 'bankCountry' when calling createOtcBank(Async)");
        }

        // verify the required parameter 'bankAddress' is set
        if (bankAddress == null) {
            throw new ApiException("Missing the required parameter 'bankAddress' when calling createOtcBank(Async)");
        }

        // verify the required parameter 'iban' is set
        if (iban == null) {
            throw new ApiException("Missing the required parameter 'iban' when calling createOtcBank(Async)");
        }

        // verify the required parameter 'swift' is set
        if (swift == null) {
            throw new ApiException("Missing the required parameter 'swift' when calling createOtcBank(Async)");
        }

        // verify the required parameter 'documentationFile' is set
        if (documentationFile == null) {
            throw new ApiException("Missing the required parameter 'documentationFile' when calling createOtcBank(Async)");
        }

        okhttp3.Call localVarCall = createOtcBankCall(bankAccountName, bankName, bankCountry, bankAddress, iban, swift, documentationFile, remittanceLineNumber, agentBankName, agentBankSwift, _callback);
        return localVarCall;
    }

    /**
     * Create bank card
     * Bind a bank card. Under the Global entity, an account with a non-matching name may enter manual review (&#x60;status&#x60; pending) and require subsequent supplementary materials. Corresponding Inner: &#x60;POST /bank/create&#x60;. Fields and protocol are subject to the production form/gateway; in some environments &#x60;bank_account_name&#x60; is passed Base64-encoded, see the integration notes for details.
     * @param bankAccountName  (required)
     * @param bankName  (required)
     * @param bankCountry  (required)
     * @param bankAddress  (required)
     * @param iban  (required)
     * @param swift  (required)
     * @param documentationFile Account opening proof file content (multipart file field, binary/Base64; jpg/jpeg/png/pdf, etc.; maximum 10 MB per file, subject to the live environment) (required)
     * @param remittanceLineNumber  (optional)
     * @param agentBankName  (optional)
     * @param agentBankSwift  (optional)
     * @return OtcBankCreateResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Accepted successfully </td><td>  -  </td></tr>
     </table>
     */
    public OtcBankCreateResponse createOtcBank(String bankAccountName, String bankName, String bankCountry, String bankAddress, String iban, String swift, String documentationFile, String remittanceLineNumber, String agentBankName, String agentBankSwift) throws ApiException {
        ApiResponse<OtcBankCreateResponse> localVarResp = createOtcBankWithHttpInfo(bankAccountName, bankName, bankCountry, bankAddress, iban, swift, documentationFile, remittanceLineNumber, agentBankName, agentBankSwift);
        return localVarResp.getData();
    }

    /**
     * Create bank card
     * Bind a bank card. Under the Global entity, an account with a non-matching name may enter manual review (&#x60;status&#x60; pending) and require subsequent supplementary materials. Corresponding Inner: &#x60;POST /bank/create&#x60;. Fields and protocol are subject to the production form/gateway; in some environments &#x60;bank_account_name&#x60; is passed Base64-encoded, see the integration notes for details.
     * @param bankAccountName  (required)
     * @param bankName  (required)
     * @param bankCountry  (required)
     * @param bankAddress  (required)
     * @param iban  (required)
     * @param swift  (required)
     * @param documentationFile Account opening proof file content (multipart file field, binary/Base64; jpg/jpeg/png/pdf, etc.; maximum 10 MB per file, subject to the live environment) (required)
     * @param remittanceLineNumber  (optional)
     * @param agentBankName  (optional)
     * @param agentBankSwift  (optional)
     * @return ApiResponse&lt;OtcBankCreateResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Accepted successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcBankCreateResponse> createOtcBankWithHttpInfo(String bankAccountName, String bankName, String bankCountry, String bankAddress, String iban, String swift, String documentationFile, String remittanceLineNumber, String agentBankName, String agentBankSwift) throws ApiException {
        okhttp3.Call localVarCall = createOtcBankValidateBeforeCall(bankAccountName, bankName, bankCountry, bankAddress, iban, swift, documentationFile, remittanceLineNumber, agentBankName, agentBankSwift, null);
        Type localVarReturnType = new TypeToken<OtcBankCreateResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Create bank card (asynchronously)
     * Bind a bank card. Under the Global entity, an account with a non-matching name may enter manual review (&#x60;status&#x60; pending) and require subsequent supplementary materials. Corresponding Inner: &#x60;POST /bank/create&#x60;. Fields and protocol are subject to the production form/gateway; in some environments &#x60;bank_account_name&#x60; is passed Base64-encoded, see the integration notes for details.
     * @param bankAccountName  (required)
     * @param bankName  (required)
     * @param bankCountry  (required)
     * @param bankAddress  (required)
     * @param iban  (required)
     * @param swift  (required)
     * @param documentationFile Account opening proof file content (multipart file field, binary/Base64; jpg/jpeg/png/pdf, etc.; maximum 10 MB per file, subject to the live environment) (required)
     * @param remittanceLineNumber  (optional)
     * @param agentBankName  (optional)
     * @param agentBankSwift  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Accepted successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createOtcBankAsync(String bankAccountName, String bankName, String bankCountry, String bankAddress, String iban, String swift, String documentationFile, String remittanceLineNumber, String agentBankName, String agentBankSwift, final ApiCallback<OtcBankCreateResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = createOtcBankValidateBeforeCall(bankAccountName, bankName, bankCountry, bankAddress, iban, swift, documentationFile, remittanceLineNumber, agentBankName, agentBankSwift, _callback);
        Type localVarReturnType = new TypeToken<OtcBankCreateResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for deleteOtcBank
     * @param otcBankIdRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call deleteOtcBankCall(OtcBankIdRequest otcBankIdRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = otcBankIdRequest;

        // create path and map variables
        String localVarPath = "/otc/bank/delete";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call deleteOtcBankValidateBeforeCall(OtcBankIdRequest otcBankIdRequest, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'otcBankIdRequest' is set
        if (otcBankIdRequest == null) {
            throw new ApiException("Missing the required parameter 'otcBankIdRequest' when calling deleteOtcBank(Async)");
        }

        okhttp3.Call localVarCall = deleteOtcBankCall(otcBankIdRequest, _callback);
        return localVarCall;
    }

    /**
     * Delete bank card
     * Delete the specified bank card. Corresponds to Inner: &#x60;POST /bank/delete&#x60;.
     * @param otcBankIdRequest  (required)
     * @return OtcActionResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted successfully </td><td>  -  </td></tr>
     </table>
     */
    public OtcActionResponse deleteOtcBank(OtcBankIdRequest otcBankIdRequest) throws ApiException {
        ApiResponse<OtcActionResponse> localVarResp = deleteOtcBankWithHttpInfo(otcBankIdRequest);
        return localVarResp.getData();
    }

    /**
     * Delete bank card
     * Delete the specified bank card. Corresponds to Inner: &#x60;POST /bank/delete&#x60;.
     * @param otcBankIdRequest  (required)
     * @return ApiResponse&lt;OtcActionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcActionResponse> deleteOtcBankWithHttpInfo(OtcBankIdRequest otcBankIdRequest) throws ApiException {
        okhttp3.Call localVarCall = deleteOtcBankValidateBeforeCall(otcBankIdRequest, null);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Delete bank card (asynchronously)
     * Delete the specified bank card. Corresponds to Inner: &#x60;POST /bank/delete&#x60;.
     * @param otcBankIdRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call deleteOtcBankAsync(OtcBankIdRequest otcBankIdRequest, final ApiCallback<OtcActionResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = deleteOtcBankValidateBeforeCall(otcBankIdRequest, _callback);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for setDefaultOtcBank
     * @param otcBankIdRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Set successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call setDefaultOtcBankCall(OtcBankIdRequest otcBankIdRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = otcBankIdRequest;

        // create path and map variables
        String localVarPath = "/otc/bank/set_default";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call setDefaultOtcBankValidateBeforeCall(OtcBankIdRequest otcBankIdRequest, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'otcBankIdRequest' is set
        if (otcBankIdRequest == null) {
            throw new ApiException("Missing the required parameter 'otcBankIdRequest' when calling setDefaultOtcBank(Async)");
        }

        okhttp3.Call localVarCall = setDefaultOtcBankCall(otcBankIdRequest, _callback);
        return localVarCall;
    }

    /**
     * Set default bank card
     * Set the specified bank card as default. Corresponds to Inner: &#x60;POST /bank/set_default&#x60;.
     * @param otcBankIdRequest  (required)
     * @return OtcActionResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Set successfully </td><td>  -  </td></tr>
     </table>
     */
    public OtcActionResponse setDefaultOtcBank(OtcBankIdRequest otcBankIdRequest) throws ApiException {
        ApiResponse<OtcActionResponse> localVarResp = setDefaultOtcBankWithHttpInfo(otcBankIdRequest);
        return localVarResp.getData();
    }

    /**
     * Set default bank card
     * Set the specified bank card as default. Corresponds to Inner: &#x60;POST /bank/set_default&#x60;.
     * @param otcBankIdRequest  (required)
     * @return ApiResponse&lt;OtcActionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Set successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcActionResponse> setDefaultOtcBankWithHttpInfo(OtcBankIdRequest otcBankIdRequest) throws ApiException {
        okhttp3.Call localVarCall = setDefaultOtcBankValidateBeforeCall(otcBankIdRequest, null);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Set default bank card (asynchronously)
     * Set the specified bank card as default. Corresponds to Inner: &#x60;POST /bank/set_default&#x60;.
     * @param otcBankIdRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Set successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call setDefaultOtcBankAsync(OtcBankIdRequest otcBankIdRequest, final ApiCallback<OtcActionResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = setDefaultOtcBankValidateBeforeCall(otcBankIdRequest, _callback);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for getOtcBankSupplementChecklist
     * @param bankId Bank card ID (otc_rds / the id returned by the list endpoint). (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getOtcBankSupplementChecklistCall(String bankId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/otc/bank/bank_supplement_checklist";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (bankId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("bank_id", bankId));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getOtcBankSupplementChecklistValidateBeforeCall(String bankId, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'bankId' is set
        if (bankId == null) {
            throw new ApiException("Missing the required parameter 'bankId' when calling getOtcBankSupplementChecklist(Async)");
        }

        okhttp3.Call localVarCall = getOtcBankSupplementChecklistCall(bankId, _callback);
        return localVarCall;
    }

    /**
     * Query the checklist of materials to supplement for a bank card
     * **①** &#x60;bank_id&#x60; must be specified. After verifying that the card belongs to the current user and its status allows supplementary documents, the endpoint returns the required items based on the user&#39;s **approved advanced verification type** (personal/enterprise); each item&#39;s &#x60;description&#x60; states the submission requirements. Corresponding Inner endpoint: &#x60;GET /bank/bank_supplement_checklist&#x60;.
     * @param bankId Bank card ID (otc_rds / the id returned by the list endpoint). (required)
     * @return OtcBankSupplementChecklistResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public OtcBankSupplementChecklistResponse getOtcBankSupplementChecklist(String bankId) throws ApiException {
        ApiResponse<OtcBankSupplementChecklistResponse> localVarResp = getOtcBankSupplementChecklistWithHttpInfo(bankId);
        return localVarResp.getData();
    }

    /**
     * Query the checklist of materials to supplement for a bank card
     * **①** &#x60;bank_id&#x60; must be specified. After verifying that the card belongs to the current user and its status allows supplementary documents, the endpoint returns the required items based on the user&#39;s **approved advanced verification type** (personal/enterprise); each item&#39;s &#x60;description&#x60; states the submission requirements. Corresponding Inner endpoint: &#x60;GET /bank/bank_supplement_checklist&#x60;.
     * @param bankId Bank card ID (otc_rds / the id returned by the list endpoint). (required)
     * @return ApiResponse&lt;OtcBankSupplementChecklistResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcBankSupplementChecklistResponse> getOtcBankSupplementChecklistWithHttpInfo(String bankId) throws ApiException {
        okhttp3.Call localVarCall = getOtcBankSupplementChecklistValidateBeforeCall(bankId, null);
        Type localVarReturnType = new TypeToken<OtcBankSupplementChecklistResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Query the checklist of materials to supplement for a bank card (asynchronously)
     * **①** &#x60;bank_id&#x60; must be specified. After verifying that the card belongs to the current user and its status allows supplementary documents, the endpoint returns the required items based on the user&#39;s **approved advanced verification type** (personal/enterprise); each item&#39;s &#x60;description&#x60; states the submission requirements. Corresponding Inner endpoint: &#x60;GET /bank/bank_supplement_checklist&#x60;.
     * @param bankId Bank card ID (otc_rds / the id returned by the list endpoint). (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getOtcBankSupplementChecklistAsync(String bankId, final ApiCallback<OtcBankSupplementChecklistResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = getOtcBankSupplementChecklistValidateBeforeCall(bankId, _callback);
        Type localVarReturnType = new TypeToken<OtcBankSupplementChecklistResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for submitOtcBankPersonalSupplement
     * @param bankId  (required)
     * @param idDocumentFront ID document front-side file content (multipart file field, binary/Base64) (required)
     * @param idDocumentBack ID document back-side file content (multipart file field, binary/Base64) (required)
     * @param addressProof Proof-of-address file content (multipart file field, binary/Base64) (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Accepted successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call submitOtcBankPersonalSupplementCall(String bankId, String idDocumentFront, String idDocumentBack, String addressProof, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/otc/bank/personal/bank_supplement";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (bankId != null) {
            localVarFormParams.put("bank_id", bankId);
        }

        if (idDocumentFront != null) {
            localVarFormParams.put("id_document_front", idDocumentFront);
        }

        if (idDocumentBack != null) {
            localVarFormParams.put("id_document_back", idDocumentBack);
        }

        if (addressProof != null) {
            localVarFormParams.put("address_proof", addressProof);
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call submitOtcBankPersonalSupplementValidateBeforeCall(String bankId, String idDocumentFront, String idDocumentBack, String addressProof, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'bankId' is set
        if (bankId == null) {
            throw new ApiException("Missing the required parameter 'bankId' when calling submitOtcBankPersonalSupplement(Async)");
        }

        // verify the required parameter 'idDocumentFront' is set
        if (idDocumentFront == null) {
            throw new ApiException("Missing the required parameter 'idDocumentFront' when calling submitOtcBankPersonalSupplement(Async)");
        }

        // verify the required parameter 'idDocumentBack' is set
        if (idDocumentBack == null) {
            throw new ApiException("Missing the required parameter 'idDocumentBack' when calling submitOtcBankPersonalSupplement(Async)");
        }

        // verify the required parameter 'addressProof' is set
        if (addressProof == null) {
            throw new ApiException("Missing the required parameter 'addressProof' when calling submitOtcBankPersonalSupplement(Async)");
        }

        okhttp3.Call localVarCall = submitOtcBankPersonalSupplementCall(bankId, idDocumentFront, idDocumentBack, addressProof, _callback);
        return localVarCall;
    }

    /**
     * Submit Bank Card Supplement Materials (Personal)
     * **Personal professional verification (type&#x3D;1)** users submit non-same-person/supplementary materials. Must match &#x60;user_type&#x3D;personal&#x60; returned by &#x60;GET /otc/bank/bank_supplement_checklist?bank_id&#x3D;&#x60;, otherwise the request is rejected. **multipart/form-data** is recommended: each material item is a separate file field, with field names matching the checklist &#x60;code&#x60; (&#x60;id_document_front&#x60;, &#x60;id_document_back&#x60;, &#x60;address_proof&#x60;).
     * @param bankId  (required)
     * @param idDocumentFront ID document front-side file content (multipart file field, binary/Base64) (required)
     * @param idDocumentBack ID document back-side file content (multipart file field, binary/Base64) (required)
     * @param addressProof Proof-of-address file content (multipart file field, binary/Base64) (required)
     * @return OtcActionResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Accepted successfully </td><td>  -  </td></tr>
     </table>
     */
    public OtcActionResponse submitOtcBankPersonalSupplement(String bankId, String idDocumentFront, String idDocumentBack, String addressProof) throws ApiException {
        ApiResponse<OtcActionResponse> localVarResp = submitOtcBankPersonalSupplementWithHttpInfo(bankId, idDocumentFront, idDocumentBack, addressProof);
        return localVarResp.getData();
    }

    /**
     * Submit Bank Card Supplement Materials (Personal)
     * **Personal professional verification (type&#x3D;1)** users submit non-same-person/supplementary materials. Must match &#x60;user_type&#x3D;personal&#x60; returned by &#x60;GET /otc/bank/bank_supplement_checklist?bank_id&#x3D;&#x60;, otherwise the request is rejected. **multipart/form-data** is recommended: each material item is a separate file field, with field names matching the checklist &#x60;code&#x60; (&#x60;id_document_front&#x60;, &#x60;id_document_back&#x60;, &#x60;address_proof&#x60;).
     * @param bankId  (required)
     * @param idDocumentFront ID document front-side file content (multipart file field, binary/Base64) (required)
     * @param idDocumentBack ID document back-side file content (multipart file field, binary/Base64) (required)
     * @param addressProof Proof-of-address file content (multipart file field, binary/Base64) (required)
     * @return ApiResponse&lt;OtcActionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Accepted successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcActionResponse> submitOtcBankPersonalSupplementWithHttpInfo(String bankId, String idDocumentFront, String idDocumentBack, String addressProof) throws ApiException {
        okhttp3.Call localVarCall = submitOtcBankPersonalSupplementValidateBeforeCall(bankId, idDocumentFront, idDocumentBack, addressProof, null);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Submit Bank Card Supplement Materials (Personal) (asynchronously)
     * **Personal professional verification (type&#x3D;1)** users submit non-same-person/supplementary materials. Must match &#x60;user_type&#x3D;personal&#x60; returned by &#x60;GET /otc/bank/bank_supplement_checklist?bank_id&#x3D;&#x60;, otherwise the request is rejected. **multipart/form-data** is recommended: each material item is a separate file field, with field names matching the checklist &#x60;code&#x60; (&#x60;id_document_front&#x60;, &#x60;id_document_back&#x60;, &#x60;address_proof&#x60;).
     * @param bankId  (required)
     * @param idDocumentFront ID document front-side file content (multipart file field, binary/Base64) (required)
     * @param idDocumentBack ID document back-side file content (multipart file field, binary/Base64) (required)
     * @param addressProof Proof-of-address file content (multipart file field, binary/Base64) (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Accepted successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call submitOtcBankPersonalSupplementAsync(String bankId, String idDocumentFront, String idDocumentBack, String addressProof, final ApiCallback<OtcActionResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = submitOtcBankPersonalSupplementValidateBeforeCall(bankId, idDocumentFront, idDocumentBack, addressProof, _callback);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for submitOtcBankEnterpriseSupplement
     * @param bankId  (required)
     * @param certificate Business license / registration certificate file content (multipart file field, binary/Base64) (required)
     * @param shareHolders Register of shareholders file content (multipart file field, binary/Base64) (required)
     * @param passport Legal representative / shareholder passport file content (multipart file field, binary/Base64) (required)
     * @param shareHoldingStructure Ownership structure chart file content (multipart file field, binary/Base64) (required)
     * @param uid  (optional)
     * @param fundsStatement Proof-of-funds file content (multipart file field, binary/Base64, optional) (optional)
     * @param additional Other supplementary material file content (multipart file field, binary/Base64, optional) (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Accepted successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call submitOtcBankEnterpriseSupplementCall(String bankId, String certificate, String shareHolders, String passport, String shareHoldingStructure, String uid, String fundsStatement, String additional, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/otc/bank/enterprise/bank_supplement";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (uid != null) {
            localVarFormParams.put("uid", uid);
        }

        if (bankId != null) {
            localVarFormParams.put("bank_id", bankId);
        }

        if (certificate != null) {
            localVarFormParams.put("certificate", certificate);
        }

        if (shareHolders != null) {
            localVarFormParams.put("share_holders", shareHolders);
        }

        if (passport != null) {
            localVarFormParams.put("passport", passport);
        }

        if (shareHoldingStructure != null) {
            localVarFormParams.put("share_holding_structure", shareHoldingStructure);
        }

        if (fundsStatement != null) {
            localVarFormParams.put("funds_statement", fundsStatement);
        }

        if (additional != null) {
            localVarFormParams.put("additional", additional);
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call submitOtcBankEnterpriseSupplementValidateBeforeCall(String bankId, String certificate, String shareHolders, String passport, String shareHoldingStructure, String uid, String fundsStatement, String additional, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'bankId' is set
        if (bankId == null) {
            throw new ApiException("Missing the required parameter 'bankId' when calling submitOtcBankEnterpriseSupplement(Async)");
        }

        // verify the required parameter 'certificate' is set
        if (certificate == null) {
            throw new ApiException("Missing the required parameter 'certificate' when calling submitOtcBankEnterpriseSupplement(Async)");
        }

        // verify the required parameter 'shareHolders' is set
        if (shareHolders == null) {
            throw new ApiException("Missing the required parameter 'shareHolders' when calling submitOtcBankEnterpriseSupplement(Async)");
        }

        // verify the required parameter 'passport' is set
        if (passport == null) {
            throw new ApiException("Missing the required parameter 'passport' when calling submitOtcBankEnterpriseSupplement(Async)");
        }

        // verify the required parameter 'shareHoldingStructure' is set
        if (shareHoldingStructure == null) {
            throw new ApiException("Missing the required parameter 'shareHoldingStructure' when calling submitOtcBankEnterpriseSupplement(Async)");
        }

        okhttp3.Call localVarCall = submitOtcBankEnterpriseSupplementCall(bankId, certificate, shareHolders, passport, shareHoldingStructure, uid, fundsStatement, additional, _callback);
        return localVarCall;
    }

    /**
     * Submit Bank Card Supplement Materials (Enterprise)
     * **Enterprise professional verification (type&#x3D;2)** users submit supplementary materials. Must match &#x60;user_type&#x3D;enterprise&#x60; returned by the checklist. **multipart** file field names: &#x60;certificate&#x60;, &#x60;share_holders&#x60;, &#x60;passport&#x60;, &#x60;share_holding_structure&#x60;.
     * @param bankId  (required)
     * @param certificate Business license / registration certificate file content (multipart file field, binary/Base64) (required)
     * @param shareHolders Register of shareholders file content (multipart file field, binary/Base64) (required)
     * @param passport Legal representative / shareholder passport file content (multipart file field, binary/Base64) (required)
     * @param shareHoldingStructure Ownership structure chart file content (multipart file field, binary/Base64) (required)
     * @param uid  (optional)
     * @param fundsStatement Proof-of-funds file content (multipart file field, binary/Base64, optional) (optional)
     * @param additional Other supplementary material file content (multipart file field, binary/Base64, optional) (optional)
     * @return OtcActionResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Accepted successfully </td><td>  -  </td></tr>
     </table>
     */
    public OtcActionResponse submitOtcBankEnterpriseSupplement(String bankId, String certificate, String shareHolders, String passport, String shareHoldingStructure, String uid, String fundsStatement, String additional) throws ApiException {
        ApiResponse<OtcActionResponse> localVarResp = submitOtcBankEnterpriseSupplementWithHttpInfo(bankId, certificate, shareHolders, passport, shareHoldingStructure, uid, fundsStatement, additional);
        return localVarResp.getData();
    }

    /**
     * Submit Bank Card Supplement Materials (Enterprise)
     * **Enterprise professional verification (type&#x3D;2)** users submit supplementary materials. Must match &#x60;user_type&#x3D;enterprise&#x60; returned by the checklist. **multipart** file field names: &#x60;certificate&#x60;, &#x60;share_holders&#x60;, &#x60;passport&#x60;, &#x60;share_holding_structure&#x60;.
     * @param bankId  (required)
     * @param certificate Business license / registration certificate file content (multipart file field, binary/Base64) (required)
     * @param shareHolders Register of shareholders file content (multipart file field, binary/Base64) (required)
     * @param passport Legal representative / shareholder passport file content (multipart file field, binary/Base64) (required)
     * @param shareHoldingStructure Ownership structure chart file content (multipart file field, binary/Base64) (required)
     * @param uid  (optional)
     * @param fundsStatement Proof-of-funds file content (multipart file field, binary/Base64, optional) (optional)
     * @param additional Other supplementary material file content (multipart file field, binary/Base64, optional) (optional)
     * @return ApiResponse&lt;OtcActionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Accepted successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcActionResponse> submitOtcBankEnterpriseSupplementWithHttpInfo(String bankId, String certificate, String shareHolders, String passport, String shareHoldingStructure, String uid, String fundsStatement, String additional) throws ApiException {
        okhttp3.Call localVarCall = submitOtcBankEnterpriseSupplementValidateBeforeCall(bankId, certificate, shareHolders, passport, shareHoldingStructure, uid, fundsStatement, additional, null);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Submit Bank Card Supplement Materials (Enterprise) (asynchronously)
     * **Enterprise professional verification (type&#x3D;2)** users submit supplementary materials. Must match &#x60;user_type&#x3D;enterprise&#x60; returned by the checklist. **multipart** file field names: &#x60;certificate&#x60;, &#x60;share_holders&#x60;, &#x60;passport&#x60;, &#x60;share_holding_structure&#x60;.
     * @param bankId  (required)
     * @param certificate Business license / registration certificate file content (multipart file field, binary/Base64) (required)
     * @param shareHolders Register of shareholders file content (multipart file field, binary/Base64) (required)
     * @param passport Legal representative / shareholder passport file content (multipart file field, binary/Base64) (required)
     * @param shareHoldingStructure Ownership structure chart file content (multipart file field, binary/Base64) (required)
     * @param uid  (optional)
     * @param fundsStatement Proof-of-funds file content (multipart file field, binary/Base64, optional) (optional)
     * @param additional Other supplementary material file content (multipart file field, binary/Base64, optional) (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Accepted successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call submitOtcBankEnterpriseSupplementAsync(String bankId, String certificate, String shareHolders, String passport, String shareHoldingStructure, String uid, String fundsStatement, String additional, final ApiCallback<OtcActionResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = submitOtcBankEnterpriseSupplementValidateBeforeCall(bankId, certificate, shareHolders, passport, shareHoldingStructure, uid, fundsStatement, additional, _callback);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for markOtcOrderPaid
     * @param otcMarkOrderPaidRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The order has been marked as paid </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call markOtcOrderPaidCall(OtcMarkOrderPaidRequest otcMarkOrderPaidRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = otcMarkOrderPaidRequest;

        // create path and map variables
        String localVarPath = "/otc/order/paid";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call markOtcOrderPaidValidateBeforeCall(OtcMarkOrderPaidRequest otcMarkOrderPaidRequest, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'otcMarkOrderPaidRequest' is set
        if (otcMarkOrderPaidRequest == null) {
            throw new ApiException("Missing the required parameter 'otcMarkOrderPaidRequest' when calling markOtcOrderPaid(Async)");
        }

        okhttp3.Call localVarCall = markOtcOrderPaidCall(otcMarkOrderPaidRequest, _callback);
        return localVarCall;
    }

    /**
     * Mark fiat order as paid (deposit confirmation)
     * Mark a fiat BUY order as paid (deposit confirmation). **A user payment receipt must be uploaded**: &#x60;payment_receipt_file_key&#x60; is required; supported formats are jpg/jpeg/png/pdf, with a maximum size of 10 MB per file (validated jointly by the service and gateway). The compatibility field name &#x60;payment_receipt&#x60; is subject to the gateway/live environment. The persisted field is &#x60;otc_trade_record.payment_receipt_file_key&#x60;. The Pay Inner path is &#x60;POST .../pay/order_set_paid&#x60; (commonly associated by &#x60;client_order_id&#x60;); the Inner path corresponding to this OpenAPI endpoint, &#x60;POST /order/paid&#x60;, still primarily uses &#x60;order_id&#x60;. If the gateway standardizes on the merchant order ID, follow the gateway documentation.
     * @param otcMarkOrderPaidRequest  (required)
     * @return OtcActionResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The order has been marked as paid </td><td>  -  </td></tr>
     </table>
     */
    public OtcActionResponse markOtcOrderPaid(OtcMarkOrderPaidRequest otcMarkOrderPaidRequest) throws ApiException {
        ApiResponse<OtcActionResponse> localVarResp = markOtcOrderPaidWithHttpInfo(otcMarkOrderPaidRequest);
        return localVarResp.getData();
    }

    /**
     * Mark fiat order as paid (deposit confirmation)
     * Mark a fiat BUY order as paid (deposit confirmation). **A user payment receipt must be uploaded**: &#x60;payment_receipt_file_key&#x60; is required; supported formats are jpg/jpeg/png/pdf, with a maximum size of 10 MB per file (validated jointly by the service and gateway). The compatibility field name &#x60;payment_receipt&#x60; is subject to the gateway/live environment. The persisted field is &#x60;otc_trade_record.payment_receipt_file_key&#x60;. The Pay Inner path is &#x60;POST .../pay/order_set_paid&#x60; (commonly associated by &#x60;client_order_id&#x60;); the Inner path corresponding to this OpenAPI endpoint, &#x60;POST /order/paid&#x60;, still primarily uses &#x60;order_id&#x60;. If the gateway standardizes on the merchant order ID, follow the gateway documentation.
     * @param otcMarkOrderPaidRequest  (required)
     * @return ApiResponse&lt;OtcActionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The order has been marked as paid </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcActionResponse> markOtcOrderPaidWithHttpInfo(OtcMarkOrderPaidRequest otcMarkOrderPaidRequest) throws ApiException {
        okhttp3.Call localVarCall = markOtcOrderPaidValidateBeforeCall(otcMarkOrderPaidRequest, null);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Mark fiat order as paid (deposit confirmation) (asynchronously)
     * Mark a fiat BUY order as paid (deposit confirmation). **A user payment receipt must be uploaded**: &#x60;payment_receipt_file_key&#x60; is required; supported formats are jpg/jpeg/png/pdf, with a maximum size of 10 MB per file (validated jointly by the service and gateway). The compatibility field name &#x60;payment_receipt&#x60; is subject to the gateway/live environment. The persisted field is &#x60;otc_trade_record.payment_receipt_file_key&#x60;. The Pay Inner path is &#x60;POST .../pay/order_set_paid&#x60; (commonly associated by &#x60;client_order_id&#x60;); the Inner path corresponding to this OpenAPI endpoint, &#x60;POST /order/paid&#x60;, still primarily uses &#x60;order_id&#x60;. If the gateway standardizes on the merchant order ID, follow the gateway documentation.
     * @param otcMarkOrderPaidRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The order has been marked as paid </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call markOtcOrderPaidAsync(OtcMarkOrderPaidRequest otcMarkOrderPaidRequest, final ApiCallback<OtcActionResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = markOtcOrderPaidValidateBeforeCall(otcMarkOrderPaidRequest, _callback);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for cancelOtcOrder
     * @param orderId Order ID (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order cancelled successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call cancelOtcOrderCall(String orderId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/otc/order/cancel";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (orderId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("order_id", orderId));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call cancelOtcOrderValidateBeforeCall(String orderId, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException("Missing the required parameter 'orderId' when calling cancelOtcOrder(Async)");
        }

        okhttp3.Call localVarCall = cancelOtcOrderCall(orderId, _callback);
        return localVarCall;
    }

    /**
     * Fiat order cancellation
     * Cancel fiat order
     * @param orderId Order ID (required)
     * @return OtcActionResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order cancelled successfully </td><td>  -  </td></tr>
     </table>
     */
    public OtcActionResponse cancelOtcOrder(String orderId) throws ApiException {
        ApiResponse<OtcActionResponse> localVarResp = cancelOtcOrderWithHttpInfo(orderId);
        return localVarResp.getData();
    }

    /**
     * Fiat order cancellation
     * Cancel fiat order
     * @param orderId Order ID (required)
     * @return ApiResponse&lt;OtcActionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order cancelled successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcActionResponse> cancelOtcOrderWithHttpInfo(String orderId) throws ApiException {
        okhttp3.Call localVarCall = cancelOtcOrderValidateBeforeCall(orderId, null);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Fiat order cancellation (asynchronously)
     * Cancel fiat order
     * @param orderId Order ID (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order cancelled successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call cancelOtcOrderAsync(String orderId, final ApiCallback<OtcActionResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = cancelOtcOrderValidateBeforeCall(orderId, _callback);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    private okhttp3.Call listOtcOrdersCall(String type, String fiatCurrency, String cryptoCurrency, String startTime, String endTime, String status, String pn, String ps, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/otc/order/list";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (type != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("type", type));
        }

        if (fiatCurrency != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("fiat_currency", fiatCurrency));
        }

        if (cryptoCurrency != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("crypto_currency", cryptoCurrency));
        }

        if (startTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("start_time", startTime));
        }

        if (endTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("end_time", endTime));
        }

        if (status != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("status", status));
        }

        if (pn != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("pn", pn));
        }

        if (ps != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("ps", ps));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listOtcOrdersValidateBeforeCall(String type, String fiatCurrency, String cryptoCurrency, String startTime, String endTime, String status, String pn, String ps, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = listOtcOrdersCall(type, fiatCurrency, cryptoCurrency, startTime, endTime, status, pn, ps, _callback);
        return localVarCall;
    }


    private ApiResponse<OtcOrderListResponse> listOtcOrdersWithHttpInfo(String type, String fiatCurrency, String cryptoCurrency, String startTime, String endTime, String status, String pn, String ps) throws ApiException {
        okhttp3.Call localVarCall = listOtcOrdersValidateBeforeCall(type, fiatCurrency, cryptoCurrency, startTime, endTime, status, pn, ps, null);
        Type localVarReturnType = new TypeToken<OtcOrderListResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call listOtcOrdersAsync(String type, String fiatCurrency, String cryptoCurrency, String startTime, String endTime, String status, String pn, String ps, final ApiCallback<OtcOrderListResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = listOtcOrdersValidateBeforeCall(type, fiatCurrency, cryptoCurrency, startTime, endTime, status, pn, ps, _callback);
        Type localVarReturnType = new TypeToken<OtcOrderListResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIlistOtcOrdersRequest {
        private String type;
        private String fiatCurrency;
        private String cryptoCurrency;
        private String startTime;
        private String endTime;
        private String status;
        private String pn;
        private String ps;

        private APIlistOtcOrdersRequest() {
        }

        /**
         * Set type
         * @param type BUY for on-ramp, SELL for off-ramp (optional)
         * @return APIlistOtcOrdersRequest
         */
        public APIlistOtcOrdersRequest type(String type) {
            this.type = type;
            return this;
        }

        /**
         * Set fiatCurrency
         * @param fiatCurrency Fiat currency (optional)
         * @return APIlistOtcOrdersRequest
         */
        public APIlistOtcOrdersRequest fiatCurrency(String fiatCurrency) {
            this.fiatCurrency = fiatCurrency;
            return this;
        }

        /**
         * Set cryptoCurrency
         * @param cryptoCurrency Digital currency (optional)
         * @return APIlistOtcOrdersRequest
         */
        public APIlistOtcOrdersRequest cryptoCurrency(String cryptoCurrency) {
            this.cryptoCurrency = cryptoCurrency;
            return this;
        }

        /**
         * Set startTime
         * @param startTime starttime   for example : 2025-09-09 (optional)
         * @return APIlistOtcOrdersRequest
         */
        public APIlistOtcOrdersRequest startTime(String startTime) {
            this.startTime = startTime;
            return this;
        }

        /**
         * Set endTime
         * @param endTime endtime  for example :2025-09-09 (optional)
         * @return APIlistOtcOrdersRequest
         */
        public APIlistOtcOrdersRequest endTime(String endTime) {
            this.endTime = endTime;
            return this;
        }

        /**
         * Set status
         * @param status DONE: completed CANCEL: canceled PROCESSING: in progress DISBURSED: disbursed (optional)
         * @return APIlistOtcOrdersRequest
         */
        public APIlistOtcOrdersRequest status(String status) {
            this.status = status;
            return this;
        }

        /**
         * Set pn
         * @param pn Page number (optional)
         * @return APIlistOtcOrdersRequest
         */
        public APIlistOtcOrdersRequest pn(String pn) {
            this.pn = pn;
            return this;
        }

        /**
         * Set ps
         * @param ps Number of items per page (optional)
         * @return APIlistOtcOrdersRequest
         */
        public APIlistOtcOrdersRequest ps(String ps) {
            this.ps = ps;
            return this;
        }

        /**
         * Build call for listOtcOrders
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return listOtcOrdersCall(type, fiatCurrency, cryptoCurrency, startTime, endTime, status, pn, ps, _callback);
        }

        /**
         * Execute listOtcOrders request
         * @return OtcOrderListResponse
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
         </table>
         */
        public OtcOrderListResponse execute() throws ApiException {
            ApiResponse<OtcOrderListResponse> localVarResp = listOtcOrdersWithHttpInfo(type, fiatCurrency, cryptoCurrency, startTime, endTime, status, pn, ps);
            return localVarResp.getData();
        }

        /**
         * Execute listOtcOrders request with HTTP info returned
         * @return ApiResponse&lt;OtcOrderListResponse&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<OtcOrderListResponse> executeWithHttpInfo() throws ApiException {
            return listOtcOrdersWithHttpInfo(type, fiatCurrency, cryptoCurrency, startTime, endTime, status, pn, ps);
        }

        /**
         * Execute listOtcOrders request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
[...]
