/*
 * Gate API
 * Welcome to Gate API APIv4 provides operations related to spot, margin, and contract trading, including public interfaces for querying market data and authenticated private interfaces for implementing API-based automated trading.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package io.gate.gateapi.api;

import io.gate.gateapi.ApiCallback;
import io.gate.gateapi.ApiClient;
import io.gate.gateapi.ApiException;
import io.gate.gateapi.ApiResponse;
import io.gate.gateapi.Configuration;
import io.gate.gateapi.Pair;

import com.google.gson.reflect.TypeToken;


import io.gate.gateapi.models.OtcActionResponse;
import io.gate.gateapi.models.OtcBankCreateResponse;
import io.gate.gateapi.models.OtcBankIdRequest;
import io.gate.gateapi.models.OtcBankListResponse;
import io.gate.gateapi.models.OtcBankSupplementChecklistResponse;
import io.gate.gateapi.models.OtcMarkOrderPaidRequest;
import io.gate.gateapi.models.OtcOrderDetailResponse;
import io.gate.gateapi.models.OtcOrderListResponse;
import io.gate.gateapi.models.OtcOrderRequest;
import io.gate.gateapi.models.OtcQuoteRequest;
import io.gate.gateapi.models.OtcQuoteResponse;
import io.gate.gateapi.models.OtcStableCoinOrderCreateResponse;
import io.gate.gateapi.models.OtcStableCoinOrderListResponse;
import io.gate.gateapi.models.OtcStableCoinOrderRequest;
import io.gate.gateapi.models.OtcUploadPreUploadRequest;
import io.gate.gateapi.models.OtcUploadPreUploadResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class OtcApi {
    private ApiClient localVarApiClient;

    public OtcApi() {
        this(Configuration.getDefaultApiClient());
    }

    public OtcApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for createOtcQuote
     * @param otcQuoteRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Quote retrieved successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createOtcQuoteCall(OtcQuoteRequest otcQuoteRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = otcQuoteRequest;

        // create path and map variables
        String localVarPath = "/otc/quote";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createOtcQuoteValidateBeforeCall(OtcQuoteRequest otcQuoteRequest, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'otcQuoteRequest' is set
        if (otcQuoteRequest == null) {
            throw new ApiException("Missing the required parameter 'otcQuoteRequest' when calling createOtcQuote(Async)");
        }

        okhttp3.Call localVarCall = createOtcQuoteCall(otcQuoteRequest, _callback);
        return localVarCall;
    }

    /**
     * Fiat and stablecoin quote
     * Create fiat and stablecoin quotes, supporting both PAY and GET directions
     * @param otcQuoteRequest  (required)
     * @return OtcQuoteResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Quote retrieved successfully </td><td>  -  </td></tr>
     </table>
     */
    public OtcQuoteResponse createOtcQuote(OtcQuoteRequest otcQuoteRequest) throws ApiException {
        ApiResponse<OtcQuoteResponse> localVarResp = createOtcQuoteWithHttpInfo(otcQuoteRequest);
        return localVarResp.getData();
    }

    /**
     * Fiat and stablecoin quote
     * Create fiat and stablecoin quotes, supporting both PAY and GET directions
     * @param otcQuoteRequest  (required)
     * @return ApiResponse&lt;OtcQuoteResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Quote retrieved successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcQuoteResponse> createOtcQuoteWithHttpInfo(OtcQuoteRequest otcQuoteRequest) throws ApiException {
        okhttp3.Call localVarCall = createOtcQuoteValidateBeforeCall(otcQuoteRequest, null);
        Type localVarReturnType = new TypeToken<OtcQuoteResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Fiat and stablecoin quote (asynchronously)
     * Create fiat and stablecoin quotes, supporting both PAY and GET directions
     * @param otcQuoteRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Quote retrieved successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createOtcQuoteAsync(OtcQuoteRequest otcQuoteRequest, final ApiCallback<OtcQuoteResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = createOtcQuoteValidateBeforeCall(otcQuoteRequest, _callback);
        Type localVarReturnType = new TypeToken<OtcQuoteResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for createOtcOrder
     * @param otcOrderRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createOtcOrderCall(OtcOrderRequest otcOrderRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = otcOrderRequest;

        // create path and map variables
        String localVarPath = "/otc/order/create";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createOtcOrderValidateBeforeCall(OtcOrderRequest otcOrderRequest, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'otcOrderRequest' is set
        if (otcOrderRequest == null) {
            throw new ApiException("Missing the required parameter 'otcOrderRequest' when calling createOtcOrder(Async)");
        }

        okhttp3.Call localVarCall = createOtcOrderCall(otcOrderRequest, _callback);
        return localVarCall;
    }

    /**
     * Create fiat order
     * Create a fiat order, supporting BUY for on-ramp and SELL for off-ramp
     * @param otcOrderRequest  (required)
     * @return OtcActionResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public OtcActionResponse createOtcOrder(OtcOrderRequest otcOrderRequest) throws ApiException {
        ApiResponse<OtcActionResponse> localVarResp = createOtcOrderWithHttpInfo(otcOrderRequest);
        return localVarResp.getData();
    }

    /**
     * Create fiat order
     * Create a fiat order, supporting BUY for on-ramp and SELL for off-ramp
     * @param otcOrderRequest  (required)
     * @return ApiResponse&lt;OtcActionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcActionResponse> createOtcOrderWithHttpInfo(OtcOrderRequest otcOrderRequest) throws ApiException {
        okhttp3.Call localVarCall = createOtcOrderValidateBeforeCall(otcOrderRequest, null);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Create fiat order (asynchronously)
     * Create a fiat order, supporting BUY for on-ramp and SELL for off-ramp
     * @param otcOrderRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createOtcOrderAsync(OtcOrderRequest otcOrderRequest, final ApiCallback<OtcActionResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = createOtcOrderValidateBeforeCall(otcOrderRequest, _callback);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for createStableCoinOrder
     * @param otcStableCoinOrderRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Stablecoin order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createStableCoinOrderCall(OtcStableCoinOrderRequest otcStableCoinOrderRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = otcStableCoinOrderRequest;

        // create path and map variables
        String localVarPath = "/otc/stable_coin/order/create";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createStableCoinOrderValidateBeforeCall(OtcStableCoinOrderRequest otcStableCoinOrderRequest, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'otcStableCoinOrderRequest' is set
        if (otcStableCoinOrderRequest == null) {
            throw new ApiException("Missing the required parameter 'otcStableCoinOrderRequest' when calling createStableCoinOrder(Async)");
        }

        okhttp3.Call localVarCall = createStableCoinOrderCall(otcStableCoinOrderRequest, _callback);
        return localVarCall;
    }

    /**
     * Create stablecoin order
     * Create a stablecoin order. All request body fields except &#x60;promotion_code&#x60; are required.
     * @param otcStableCoinOrderRequest  (required)
     * @return OtcStableCoinOrderCreateResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Stablecoin order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public OtcStableCoinOrderCreateResponse createStableCoinOrder(OtcStableCoinOrderRequest otcStableCoinOrderRequest) throws ApiException {
        ApiResponse<OtcStableCoinOrderCreateResponse> localVarResp = createStableCoinOrderWithHttpInfo(otcStableCoinOrderRequest);
        return localVarResp.getData();
    }

    /**
     * Create stablecoin order
     * Create a stablecoin order. All request body fields except &#x60;promotion_code&#x60; are required.
     * @param otcStableCoinOrderRequest  (required)
     * @return ApiResponse&lt;OtcStableCoinOrderCreateResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Stablecoin order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcStableCoinOrderCreateResponse> createStableCoinOrderWithHttpInfo(OtcStableCoinOrderRequest otcStableCoinOrderRequest) throws ApiException {
        okhttp3.Call localVarCall = createStableCoinOrderValidateBeforeCall(otcStableCoinOrderRequest, null);
        Type localVarReturnType = new TypeToken<OtcStableCoinOrderCreateResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Create stablecoin order (asynchronously)
     * Create a stablecoin order. All request body fields except &#x60;promotion_code&#x60; are required.
     * @param otcStableCoinOrderRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Stablecoin order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createStableCoinOrderAsync(OtcStableCoinOrderRequest otcStableCoinOrderRequest, final ApiCallback<OtcStableCoinOrderCreateResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = createStableCoinOrderValidateBeforeCall(otcStableCoinOrderRequest, _callback);
        Type localVarReturnType = new TypeToken<OtcStableCoinOrderCreateResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for getBankListInnerPath
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getBankListInnerPathCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/otc/bank/list";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getBankListInnerPathValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = getBankListInnerPathCall(_callback);
        return localVarCall;
    }

    /**
     * Get user bank card list
     * List the user&#39;s bank cards for selecting a card when placing an order. **Default card**: use the &#x60;is_default&#x60; field in each list item (&#x60;1&#x60; indicates the default). The deprecated standalone default-bank-card endpoint is no longer required.
     * @return OtcBankListResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public OtcBankListResponse getBankListInnerPath() throws ApiException {
        ApiResponse<OtcBankListResponse> localVarResp = getBankListInnerPathWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Get user bank card list
     * List the user&#39;s bank cards for selecting a card when placing an order. **Default card**: use the &#x60;is_default&#x60; field in each list item (&#x60;1&#x60; indicates the default). The deprecated standalone default-bank-card endpoint is no longer required.
     * @return ApiResponse&lt;OtcBankListResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcBankListResponse> getBankListInnerPathWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = getBankListInnerPathValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<OtcBankListResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get user bank card list (asynchronously)
     * List the user&#39;s bank cards for selecting a card when placing an order. **Default card**: use the &#x60;is_default&#x60; field in each list item (&#x60;1&#x60; indicates the default). The deprecated standalone default-bank-card endpoint is no longer required.
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getBankListInnerPathAsync(final ApiCallback<OtcBankListResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = getBankListInnerPathValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<OtcBankListResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for createOtcBank
     * @param bankAccountName  (required)
     * @param bankName  (required)
     * @param bankCountry  (required)
     * @param bankAddress  (required)
     * @param iban  (required)
     * @param swift  (required)
     * @param remittanceLineNumber  (optional)
     * @param agentBankName  (optional)
     * @param agentBankSwift  (optional)
     * @param documentationFile Multipart direct upload; mutually exclusive with documentation_file_key (optional)
     * @param documentationFileKey Pre-upload mode; file_key returned by pre_upload (plaintext or base64 accepted) (optional)
     * @param fileType Required when using documentation_file_key; plaintext MIME or its base64 (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Accepted successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createOtcBankCall(String bankAccountName, String bankName, String bankCountry, String bankAddress, String iban, String swift, String remittanceLineNumber, String agentBankName, String agentBankSwift, String documentationFile, String documentationFileKey, String fileType, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/otc/bank/create";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (bankAccountName != null) {
            localVarFormParams.put("bank_account_name", bankAccountName);
        }

        if (bankName != null) {
            localVarFormParams.put("bank_name", bankName);
        }

        if (bankCountry != null) {
            localVarFormParams.put("bank_country", bankCountry);
        }

        if (bankAddress != null) {
            localVarFormParams.put("bank_address", bankAddress);
        }

        if (iban != null) {
            localVarFormParams.put("iban", iban);
        }

        if (swift != null) {
            localVarFormParams.put("swift", swift);
        }

        if (remittanceLineNumber != null) {
            localVarFormParams.put("remittance_line_number", remittanceLineNumber);
        }

        if (agentBankName != null) {
            localVarFormParams.put("agent_bank_name", agentBankName);
        }

        if (agentBankSwift != null) {
            localVarFormParams.put("agent_bank_swift", agentBankSwift);
        }

        if (documentationFile != null) {
            localVarFormParams.put("documentation_file", documentationFile);
        }

        if (documentationFileKey != null) {
            localVarFormParams.put("documentation_file_key", documentationFileKey);
        }

        if (fileType != null) {
            localVarFormParams.put("file_type", fileType);
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createOtcBankValidateBeforeCall(String bankAccountName, String bankName, String bankCountry, String bankAddress, String iban, String swift, String remittanceLineNumber, String agentBankName, String agentBankSwift, String documentationFile, String documentationFileKey, String fileType, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'bankAccountName' is set
        if (bankAccountName == null) {
            throw new ApiException("Missing the required parameter 'bankAccountName' when calling createOtcBank(Async)");
        }

        // verify the required parameter 'bankName' is set
        if (bankName == null) {
            throw new ApiException("Missing the required parameter 'bankName' when calling createOtcBank(Async)");
        }

        // verify the required parameter 'bankCountry' is set
        if (bankCountry == null) {
            throw new ApiException("Missing the required parameter 'bankCountry' when calling createOtcBank(Async)");
        }

        // verify the required parameter 'bankAddress' is set
        if (bankAddress == null) {
            throw new ApiException("Missing the required parameter 'bankAddress' when calling createOtcBank(Async)");
        }

        // verify the required parameter 'iban' is set
        if (iban == null) {
            throw new ApiException("Missing the required parameter 'iban' when calling createOtcBank(Async)");
        }

        // verify the required parameter 'swift' is set
        if (swift == null) {
            throw new ApiException("Missing the required parameter 'swift' when calling createOtcBank(Async)");
        }

        okhttp3.Call localVarCall = createOtcBankCall(bankAccountName, bankName, bankCountry, bankAddress, iban, swift, remittanceLineNumber, agentBankName, agentBankSwift, documentationFile, documentationFileKey, fileType, _callback);
        return localVarCall;
    }

    /**
     * Create bank card
     * Bind a bank card. Under the Global entity, non-same-name accounts may enter manual review (&#x60;status&#x60; pending) and require supplementary materials later. Corresponds to Inner: &#x60;POST /bank/create&#x60;. Fields and protocol follow the live form/gateway; &#x60;bank_account_name&#x60; may be Base64-encoded in some environments—see integration notes.  Account-opening proof supports two methods (choose one):  1. **Pre-upload (recommended)**: call &#x60;POST /otc/upload/pre_upload&#x60; (&#x60;scene&#x3D;bank&#x60;) to obtain a temporary-bucket Policy and upload directly to S3, then pass &#x60;documentation_file_key&#x60; + &#x60;file_type&#x60; in this endpoint; 2. **Multipart direct upload**: pass the &#x60;documentation_file&#x60; file field; the server writes directly to the production bucket.  When using pre-upload, the server validates object existence and that the uid in the &#x60;file_key&#x60; path matches the caller; after validation, the object is moved to the production bucket and persisted. Cross-user references return &#x60;Invalid parameters file_key&#x60;; incomplete direct upload returns &#x60;Invalid parameters file not uploaded&#x60;.
     * @param bankAccountName  (required)
     * @param bankName  (required)
     * @param bankCountry  (required)
     * @param bankAddress  (required)
     * @param iban  (required)
     * @param swift  (required)
     * @param remittanceLineNumber  (optional)
     * @param agentBankName  (optional)
     * @param agentBankSwift  (optional)
     * @param documentationFile Multipart direct upload; mutually exclusive with documentation_file_key (optional)
     * @param documentationFileKey Pre-upload mode; file_key returned by pre_upload (plaintext or base64 accepted) (optional)
     * @param fileType Required when using documentation_file_key; plaintext MIME or its base64 (optional)
     * @return OtcBankCreateResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Accepted successfully </td><td>  -  </td></tr>
     </table>
     */
    public OtcBankCreateResponse createOtcBank(String bankAccountName, String bankName, String bankCountry, String bankAddress, String iban, String swift, String remittanceLineNumber, String agentBankName, String agentBankSwift, String documentationFile, String documentationFileKey, String fileType) throws ApiException {
        ApiResponse<OtcBankCreateResponse> localVarResp = createOtcBankWithHttpInfo(bankAccountName, bankName, bankCountry, bankAddress, iban, swift, remittanceLineNumber, agentBankName, agentBankSwift, documentationFile, documentationFileKey, fileType);
        return localVarResp.getData();
    }

    /**
     * Create bank card
     * Bind a bank card. Under the Global entity, non-same-name accounts may enter manual review (&#x60;status&#x60; pending) and require supplementary materials later. Corresponds to Inner: &#x60;POST /bank/create&#x60;. Fields and protocol follow the live form/gateway; &#x60;bank_account_name&#x60; may be Base64-encoded in some environments—see integration notes.  Account-opening proof supports two methods (choose one):  1. **Pre-upload (recommended)**: call &#x60;POST /otc/upload/pre_upload&#x60; (&#x60;scene&#x3D;bank&#x60;) to obtain a temporary-bucket Policy and upload directly to S3, then pass &#x60;documentation_file_key&#x60; + &#x60;file_type&#x60; in this endpoint; 2. **Multipart direct upload**: pass the &#x60;documentation_file&#x60; file field; the server writes directly to the production bucket.  When using pre-upload, the server validates object existence and that the uid in the &#x60;file_key&#x60; path matches the caller; after validation, the object is moved to the production bucket and persisted. Cross-user references return &#x60;Invalid parameters file_key&#x60;; incomplete direct upload returns &#x60;Invalid parameters file not uploaded&#x60;.
     * @param bankAccountName  (required)
     * @param bankName  (required)
     * @param bankCountry  (required)
     * @param bankAddress  (required)
     * @param iban  (required)
     * @param swift  (required)
     * @param remittanceLineNumber  (optional)
     * @param agentBankName  (optional)
     * @param agentBankSwift  (optional)
     * @param documentationFile Multipart direct upload; mutually exclusive with documentation_file_key (optional)
     * @param documentationFileKey Pre-upload mode; file_key returned by pre_upload (plaintext or base64 accepted) (optional)
     * @param fileType Required when using documentation_file_key; plaintext MIME or its base64 (optional)
     * @return ApiResponse&lt;OtcBankCreateResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Accepted successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcBankCreateResponse> createOtcBankWithHttpInfo(String bankAccountName, String bankName, String bankCountry, String bankAddress, String iban, String swift, String remittanceLineNumber, String agentBankName, String agentBankSwift, String documentationFile, String documentationFileKey, String fileType) throws ApiException {
        okhttp3.Call localVarCall = createOtcBankValidateBeforeCall(bankAccountName, bankName, bankCountry, bankAddress, iban, swift, remittanceLineNumber, agentBankName, agentBankSwift, documentationFile, documentationFileKey, fileType, null);
        Type localVarReturnType = new TypeToken<OtcBankCreateResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Create bank card (asynchronously)
     * Bind a bank card. Under the Global entity, non-same-name accounts may enter manual review (&#x60;status&#x60; pending) and require supplementary materials later. Corresponds to Inner: &#x60;POST /bank/create&#x60;. Fields and protocol follow the live form/gateway; &#x60;bank_account_name&#x60; may be Base64-encoded in some environments—see integration notes.  Account-opening proof supports two methods (choose one):  1. **Pre-upload (recommended)**: call &#x60;POST /otc/upload/pre_upload&#x60; (&#x60;scene&#x3D;bank&#x60;) to obtain a temporary-bucket Policy and upload directly to S3, then pass &#x60;documentation_file_key&#x60; + &#x60;file_type&#x60; in this endpoint; 2. **Multipart direct upload**: pass the &#x60;documentation_file&#x60; file field; the server writes directly to the production bucket.  When using pre-upload, the server validates object existence and that the uid in the &#x60;file_key&#x60; path matches the caller; after validation, the object is moved to the production bucket and persisted. Cross-user references return &#x60;Invalid parameters file_key&#x60;; incomplete direct upload returns &#x60;Invalid parameters file not uploaded&#x60;.
     * @param bankAccountName  (required)
     * @param bankName  (required)
     * @param bankCountry  (required)
     * @param bankAddress  (required)
     * @param iban  (required)
     * @param swift  (required)
     * @param remittanceLineNumber  (optional)
     * @param agentBankName  (optional)
     * @param agentBankSwift  (optional)
     * @param documentationFile Multipart direct upload; mutually exclusive with documentation_file_key (optional)
     * @param documentationFileKey Pre-upload mode; file_key returned by pre_upload (plaintext or base64 accepted) (optional)
     * @param fileType Required when using documentation_file_key; plaintext MIME or its base64 (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Accepted successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createOtcBankAsync(String bankAccountName, String bankName, String bankCountry, String bankAddress, String iban, String swift, String remittanceLineNumber, String agentBankName, String agentBankSwift, String documentationFile, String documentationFileKey, String fileType, final ApiCallback<OtcBankCreateResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = createOtcBankValidateBeforeCall(bankAccountName, bankName, bankCountry, bankAddress, iban, swift, remittanceLineNumber, agentBankName, agentBankSwift, documentationFile, documentationFileKey, fileType, _callback);
        Type localVarReturnType = new TypeToken<OtcBankCreateResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for deleteOtcBank
     * @param otcBankIdRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call deleteOtcBankCall(OtcBankIdRequest otcBankIdRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = otcBankIdRequest;

        // create path and map variables
        String localVarPath = "/otc/bank/delete";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call deleteOtcBankValidateBeforeCall(OtcBankIdRequest otcBankIdRequest, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'otcBankIdRequest' is set
        if (otcBankIdRequest == null) {
            throw new ApiException("Missing the required parameter 'otcBankIdRequest' when calling deleteOtcBank(Async)");
        }

        okhttp3.Call localVarCall = deleteOtcBankCall(otcBankIdRequest, _callback);
        return localVarCall;
    }

    /**
     * Delete bank card
     * Delete the specified bank card. Corresponds to Inner: &#x60;POST /bank/delete&#x60;.
     * @param otcBankIdRequest  (required)
     * @return OtcActionResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted successfully </td><td>  -  </td></tr>
     </table>
     */
    public OtcActionResponse deleteOtcBank(OtcBankIdRequest otcBankIdRequest) throws ApiException {
        ApiResponse<OtcActionResponse> localVarResp = deleteOtcBankWithHttpInfo(otcBankIdRequest);
        return localVarResp.getData();
    }

    /**
     * Delete bank card
     * Delete the specified bank card. Corresponds to Inner: &#x60;POST /bank/delete&#x60;.
     * @param otcBankIdRequest  (required)
     * @return ApiResponse&lt;OtcActionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcActionResponse> deleteOtcBankWithHttpInfo(OtcBankIdRequest otcBankIdRequest) throws ApiException {
        okhttp3.Call localVarCall = deleteOtcBankValidateBeforeCall(otcBankIdRequest, null);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Delete bank card (asynchronously)
     * Delete the specified bank card. Corresponds to Inner: &#x60;POST /bank/delete&#x60;.
     * @param otcBankIdRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call deleteOtcBankAsync(OtcBankIdRequest otcBankIdRequest, final ApiCallback<OtcActionResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = deleteOtcBankValidateBeforeCall(otcBankIdRequest, _callback);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for setDefaultOtcBank
     * @param otcBankIdRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Set successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call setDefaultOtcBankCall(OtcBankIdRequest otcBankIdRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = otcBankIdRequest;

        // create path and map variables
        String localVarPath = "/otc/bank/set_default";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call setDefaultOtcBankValidateBeforeCall(OtcBankIdRequest otcBankIdRequest, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'otcBankIdRequest' is set
        if (otcBankIdRequest == null) {
            throw new ApiException("Missing the required parameter 'otcBankIdRequest' when calling setDefaultOtcBank(Async)");
        }

        okhttp3.Call localVarCall = setDefaultOtcBankCall(otcBankIdRequest, _callback);
        return localVarCall;
    }

    /**
     * Set default bank card
     * Set the specified bank card as default. Corresponds to Inner: &#x60;POST /bank/set_default&#x60;.
     * @param otcBankIdRequest  (required)
     * @return OtcActionResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Set successfully </td><td>  -  </td></tr>
     </table>
     */
    public OtcActionResponse setDefaultOtcBank(OtcBankIdRequest otcBankIdRequest) throws ApiException {
        ApiResponse<OtcActionResponse> localVarResp = setDefaultOtcBankWithHttpInfo(otcBankIdRequest);
        return localVarResp.getData();
    }

    /**
     * Set default bank card
     * Set the specified bank card as default. Corresponds to Inner: &#x60;POST /bank/set_default&#x60;.
     * @param otcBankIdRequest  (required)
     * @return ApiResponse&lt;OtcActionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Set successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcActionResponse> setDefaultOtcBankWithHttpInfo(OtcBankIdRequest otcBankIdRequest) throws ApiException {
        okhttp3.Call localVarCall = setDefaultOtcBankValidateBeforeCall(otcBankIdRequest, null);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Set default bank card (asynchronously)
     * Set the specified bank card as default. Corresponds to Inner: &#x60;POST /bank/set_default&#x60;.
     * @param otcBankIdRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Set successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call setDefaultOtcBankAsync(OtcBankIdRequest otcBankIdRequest, final ApiCallback<OtcActionResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = setDefaultOtcBankValidateBeforeCall(otcBankIdRequest, _callback);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for getOtcBankSupplementChecklist
     * @param bankId Bank card ID (otc_rds / the id returned by the list endpoint). (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getOtcBankSupplementChecklistCall(String bankId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/otc/bank/bank_supplement_checklist";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (bankId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("bank_id", bankId));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getOtcBankSupplementChecklistValidateBeforeCall(String bankId, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'bankId' is set
        if (bankId == null) {
            throw new ApiException("Missing the required parameter 'bankId' when calling getOtcBankSupplementChecklist(Async)");
        }

        okhttp3.Call localVarCall = getOtcBankSupplementChecklistCall(bankId, _callback);
        return localVarCall;
    }

    /**
     * Query the checklist of materials to supplement for a bank card
     * **①** &#x60;bank_id&#x60; must be specified. After verifying that the card belongs to the current user and its status allows supplementary documents, the endpoint returns the required items based on the user&#39;s **approved advanced verification type** (personal/enterprise); each item&#39;s &#x60;description&#x60; states the submission requirements. Corresponding Inner endpoint: &#x60;GET /bank/bank_supplement_checklist&#x60;.
     * @param bankId Bank card ID (otc_rds / the id returned by the list endpoint). (required)
     * @return OtcBankSupplementChecklistResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public OtcBankSupplementChecklistResponse getOtcBankSupplementChecklist(String bankId) throws ApiException {
        ApiResponse<OtcBankSupplementChecklistResponse> localVarResp = getOtcBankSupplementChecklistWithHttpInfo(bankId);
        return localVarResp.getData();
    }

    /**
     * Query the checklist of materials to supplement for a bank card
     * **①** &#x60;bank_id&#x60; must be specified. After verifying that the card belongs to the current user and its status allows supplementary documents, the endpoint returns the required items based on the user&#39;s **approved advanced verification type** (personal/enterprise); each item&#39;s &#x60;description&#x60; states the submission requirements. Corresponding Inner endpoint: &#x60;GET /bank/bank_supplement_checklist&#x60;.
     * @param bankId Bank card ID (otc_rds / the id returned by the list endpoint). (required)
     * @return ApiResponse&lt;OtcBankSupplementChecklistResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcBankSupplementChecklistResponse> getOtcBankSupplementChecklistWithHttpInfo(String bankId) throws ApiException {
        okhttp3.Call localVarCall = getOtcBankSupplementChecklistValidateBeforeCall(bankId, null);
        Type localVarReturnType = new TypeToken<OtcBankSupplementChecklistResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Query the checklist of materials to supplement for a bank card (asynchronously)
     * **①** &#x60;bank_id&#x60; must be specified. After verifying that the card belongs to the current user and its status allows supplementary documents, the endpoint returns the required items based on the user&#39;s **approved advanced verification type** (personal/enterprise); each item&#39;s &#x60;description&#x60; states the submission requirements. Corresponding Inner endpoint: &#x60;GET /bank/bank_supplement_checklist&#x60;.
     * @param bankId Bank card ID (otc_rds / the id returned by the list endpoint). (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getOtcBankSupplementChecklistAsync(String bankId, final ApiCallback<OtcBankSupplementChecklistResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = getOtcBankSupplementChecklistValidateBeforeCall(bankId, _callback);
        Type localVarReturnType = new TypeToken<OtcBankSupplementChecklistResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for submitOtcBankPersonalSupplement
     * @param bankId  (required)
     * @param idDocumentFront ID document front-side file content (multipart file field, binary/Base64) (optional)
     * @param idDocumentBack ID document back-side file content (multipart file field, binary/Base64) (optional)
     * @param addressProof Proof-of-address file content (multipart file field, binary/Base64) (optional)
     * @param relationshipProof Optional. JSON string of relationship_proof. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Accepted successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call submitOtcBankPersonalSupplementCall(String bankId, String idDocumentFront, String idDocumentBack, String addressProof, String relationshipProof, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/otc/bank/personal/bank_supplement";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (bankId != null) {
            localVarFormParams.put("bank_id", bankId);
        }

        if (idDocumentFront != null) {
            localVarFormParams.put("id_document_front", idDocumentFront);
        }

        if (idDocumentBack != null) {
            localVarFormParams.put("id_document_back", idDocumentBack);
        }

        if (addressProof != null) {
            localVarFormParams.put("address_proof", addressProof);
        }

        if (relationshipProof != null) {
            localVarFormParams.put("relationship_proof", relationshipProof);
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call submitOtcBankPersonalSupplementValidateBeforeCall(String bankId, String idDocumentFront, String idDocumentBack, String addressProof, String relationshipProof, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'bankId' is set
        if (bankId == null) {
            throw new ApiException("Missing the required parameter 'bankId' when calling submitOtcBankPersonalSupplement(Async)");
        }

        okhttp3.Call localVarCall = submitOtcBankPersonalSupplementCall(bankId, idDocumentFront, idDocumentBack, addressProof, relationshipProof, _callback);
        return localVarCall;
    }

    /**
     * Submit Bank Card Supplement Materials (Personal)
     * **Personal professional verification (type&#x3D;1)** users submit non-same-person/supplementary materials. Must match &#x60;user_type&#x3D;personal&#x60; from &#x60;GET /otc/bank/bank_supplement_checklist?bank_id&#x3D;&#x60;; otherwise rejected.  Two submission methods (can be mixed):  1. **Pre-upload (recommended)**: call &#x60;POST /otc/upload/pre_upload&#x60; (&#x60;scene&#x3D;bank&#x60;) to upload to the temporary bucket, then fill file items by category in the &#x60;relationship_proof&#x60; JSON; pass **&#x60;key&#x60; as plaintext** object path (&#x60;base64_decode(pre_upload.file_key)&#x60;, e.g. &#x60;otc_temp/{uid}/bank/xxx.png&#x60;), and &#x60;file_type&#x60; as plaintext MIME; the server base64-encodes before persistence—do not pass base64 &#x60;file_key&#x60; directly; 2. **Multipart direct upload**: one file field per material item; field names match checklist &#x60;code&#x60; (&#x60;id_document_front&#x60;, &#x60;id_document_back&#x60;, &#x60;address_proof&#x60;).
     * @param bankId  (required)
     * @param idDocumentFront ID document front-side file content (multipart file field, binary/Base64) (optional)
     * @param idDocumentBack ID document back-side file content (multipart file field, binary/Base64) (optional)
     * @param addressProof Proof-of-address file content (multipart file field, binary/Base64) (optional)
     * @param relationshipProof Optional. JSON string of relationship_proof. (optional)
     * @return OtcActionResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Accepted successfully </td><td>  -  </td></tr>
     </table>
     */
    public OtcActionResponse submitOtcBankPersonalSupplement(String bankId, String idDocumentFront, String idDocumentBack, String addressProof, String relationshipProof) throws ApiException {
        ApiResponse<OtcActionResponse> localVarResp = submitOtcBankPersonalSupplementWithHttpInfo(bankId, idDocumentFront, idDocumentBack, addressProof, relationshipProof);
        return localVarResp.getData();
    }

    /**
     * Submit Bank Card Supplement Materials (Personal)
     * **Personal professional verification (type&#x3D;1)** users submit non-same-person/supplementary materials. Must match &#x60;user_type&#x3D;personal&#x60; from &#x60;GET /otc/bank/bank_supplement_checklist?bank_id&#x3D;&#x60;; otherwise rejected.  Two submission methods (can be mixed):  1. **Pre-upload (recommended)**: call &#x60;POST /otc/upload/pre_upload&#x60; (&#x60;scene&#x3D;bank&#x60;) to upload to the temporary bucket, then fill file items by category in the &#x60;relationship_proof&#x60; JSON; pass **&#x60;key&#x60; as plaintext** object path (&#x60;base64_decode(pre_upload.file_key)&#x60;, e.g. &#x60;otc_temp/{uid}/bank/xxx.png&#x60;), and &#x60;file_type&#x60; as plaintext MIME; the server base64-encodes before persistence—do not pass base64 &#x60;file_key&#x60; directly; 2. **Multipart direct upload**: one file field per material item; field names match checklist &#x60;code&#x60; (&#x60;id_document_front&#x60;, &#x60;id_document_back&#x60;, &#x60;address_proof&#x60;).
     * @param bankId  (required)
     * @param idDocumentFront ID document front-side file content (multipart file field, binary/Base64) (optional)
     * @param idDocumentBack ID document back-side file content (multipart file field, binary/Base64) (optional)
     * @param addressProof Proof-of-address file content (multipart file field, binary/Base64) (optional)
     * @param relationshipProof Optional. JSON string of relationship_proof. (optional)
     * @return ApiResponse&lt;OtcActionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Accepted successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcActionResponse> submitOtcBankPersonalSupplementWithHttpInfo(String bankId, String idDocumentFront, String idDocumentBack, String addressProof, String relationshipProof) throws ApiException {
        okhttp3.Call localVarCall = submitOtcBankPersonalSupplementValidateBeforeCall(bankId, idDocumentFront, idDocumentBack, addressProof, relationshipProof, null);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Submit Bank Card Supplement Materials (Personal) (asynchronously)
     * **Personal professional verification (type&#x3D;1)** users submit non-same-person/supplementary materials. Must match &#x60;user_type&#x3D;personal&#x60; from &#x60;GET /otc/bank/bank_supplement_checklist?bank_id&#x3D;&#x60;; otherwise rejected.  Two submission methods (can be mixed):  1. **Pre-upload (recommended)**: call &#x60;POST /otc/upload/pre_upload&#x60; (&#x60;scene&#x3D;bank&#x60;) to upload to the temporary bucket, then fill file items by category in the &#x60;relationship_proof&#x60; JSON; pass **&#x60;key&#x60; as plaintext** object path (&#x60;base64_decode(pre_upload.file_key)&#x60;, e.g. &#x60;otc_temp/{uid}/bank/xxx.png&#x60;), and &#x60;file_type&#x60; as plaintext MIME; the server base64-encodes before persistence—do not pass base64 &#x60;file_key&#x60; directly; 2. **Multipart direct upload**: one file field per material item; field names match checklist &#x60;code&#x60; (&#x60;id_document_front&#x60;, &#x60;id_document_back&#x60;, &#x60;address_proof&#x60;).
     * @param bankId  (required)
     * @param idDocumentFront ID document front-side file content (multipart file field, binary/Base64) (optional)
     * @param idDocumentBack ID document back-side file content (multipart file field, binary/Base64) (optional)
     * @param addressProof Proof-of-address file content (multipart file field, binary/Base64) (optional)
     * @param relationshipProof Optional. JSON string of relationship_proof. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Accepted successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call submitOtcBankPersonalSupplementAsync(String bankId, String idDocumentFront, String idDocumentBack, String addressProof, String relationshipProof, final ApiCallback<OtcActionResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = submitOtcBankPersonalSupplementValidateBeforeCall(bankId, idDocumentFront, idDocumentBack, addressProof, relationshipProof, _callback);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for submitOtcBankEnterpriseSupplement
     * @param bankId  (required)
     * @param uid  (optional)
     * @param certificate Business license / registration certificate file content (multipart file field, binary/Base64) (optional)
     * @param shareHolders Register of shareholders file content (multipart file field, binary/Base64) (optional)
     * @param passport Legal representative / shareholder passport file content (multipart file field, binary/Base64) (optional)
     * @param shareHoldingStructure Ownership structure chart file content (multipart file field, binary/Base64) (optional)
     * @param fundsStatement Proof-of-funds file content (multipart file field, binary/Base64, optional) (optional)
     * @param additional Other supplementary material file content (multipart file field, binary/Base64, optional) (optional)
     * @param relationshipProof Optional. JSON string of relationship_proof. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Accepted successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call submitOtcBankEnterpriseSupplementCall(String bankId, String uid, String certificate, String shareHolders, String passport, String shareHoldingStructure, String fundsStatement, String additional, String relationshipProof, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/otc/bank/enterprise/bank_supplement";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (uid != null) {
            localVarFormParams.put("uid", uid);
        }

        if (bankId != null) {
            localVarFormParams.put("bank_id", bankId);
        }

        if (certificate != null) {
            localVarFormParams.put("certificate", certificate);
        }

        if (shareHolders != null) {
            localVarFormParams.put("share_holders", shareHolders);
        }

        if (passport != null) {
            localVarFormParams.put("passport", passport);
        }

        if (shareHoldingStructure != null) {
            localVarFormParams.put("share_holding_structure", shareHoldingStructure);
        }

        if (fundsStatement != null) {
            localVarFormParams.put("funds_statement", fundsStatement);
        }

        if (additional != null) {
            localVarFormParams.put("additional", additional);
        }

        if (relationshipProof != null) {
            localVarFormParams.put("relationship_proof", relationshipProof);
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call submitOtcBankEnterpriseSupplementValidateBeforeCall(String bankId, String uid, String certificate, String shareHolders, String passport, String shareHoldingStructure, String fundsStatement, String additional, String relationshipProof, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'bankId' is set
        if (bankId == null) {
            throw new ApiException("Missing the required parameter 'bankId' when calling submitOtcBankEnterpriseSupplement(Async)");
        }

        okhttp3.Call localVarCall = submitOtcBankEnterpriseSupplementCall(bankId, uid, certificate, shareHolders, passport, shareHoldingStructure, fundsStatement, additional, relationshipProof, _callback);
        return localVarCall;
    }

    /**
     * Submit Bank Card Supplement Materials (Enterprise)
     * **Enterprise professional verification (type&#x3D;2)** users submit supplementary materials. Must match &#x60;user_type&#x3D;enterprise&#x60; from the checklist.  Two submission methods (can be mixed):  1. **Pre-upload (recommended)**: call &#x60;POST /otc/upload/pre_upload&#x60; (&#x60;scene&#x3D;bank&#x60;), fill file items by category in &#x60;relationship_proof&#x60;; pass **&#x60;key&#x60; as plaintext** object path (&#x60;base64_decode(pre_upload.file_key)&#x60;), and &#x60;file_type&#x60; as plaintext MIME; 2. **Multipart direct upload**: file field names &#x60;certificate&#x60;, &#x60;share_holders&#x60;, &#x60;passport&#x60;, &#x60;share_holding_structure&#x60;; optional &#x60;funds_statement&#x60;, &#x60;additional&#x60;.
     * @param bankId  (required)
     * @param uid  (optional)
     * @param certificate Business license / registration certificate file content (multipart file field, binary/Base64) (optional)
     * @param shareHolders Register of shareholders file content (multipart file field, binary/Base64) (optional)
     * @param passport Legal representative / shareholder passport file content (multipart file field, binary/Base64) (optional)
     * @param shareHoldingStructure Ownership structure chart file content (multipart file field, binary/Base64) (optional)
     * @param fundsStatement Proof-of-funds file content (multipart file field, binary/Base64, optional) (optional)
     * @param additional Other supplementary material file content (multipart file field, binary/Base64, optional) (optional)
     * @param relationshipProof Optional. JSON string of relationship_proof. (optional)
     * @return OtcActionResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Accepted successfully </td><td>  -  </td></tr>
     </table>
     */
    public OtcActionResponse submitOtcBankEnterpriseSupplement(String bankId, String uid, String certificate, String shareHolders, String passport, String shareHoldingStructure, String fundsStatement, String additional, String relationshipProof) throws ApiException {
        ApiResponse<OtcActionResponse> localVarResp = submitOtcBankEnterpriseSupplementWithHttpInfo(bankId, uid, certificate, shareHolders, passport, shareHoldingStructure, fundsStatement, additional, relationshipProof);
        return localVarResp.getData();
    }

    /**
     * Submit Bank Card Supplement Materials (Enterprise)
     * **Enterprise professional verification (type&#x3D;2)** users submit supplementary materials. Must match &#x60;user_type&#x3D;enterprise&#x60; from the checklist.  Two submission methods (can be mixed):  1. **Pre-upload (recommended)**: call &#x60;POST /otc/upload/pre_upload&#x60; (&#x60;scene&#x3D;bank&#x60;), fill file items by category in &#x60;relationship_proof&#x60;; pass **&#x60;key&#x60; as plaintext** object path (&#x60;base64_decode(pre_upload.file_key)&#x60;), and &#x60;file_type&#x60; as plaintext MIME; 2. **Multipart direct upload**: file field names &#x60;certificate&#x60;, &#x60;share_holders&#x60;, &#x60;passport&#x60;, &#x60;share_holding_structure&#x60;; optional &#x60;funds_statement&#x60;, &#x60;additional&#x60;.
     * @param bankId  (required)
     * @param uid  (optional)
     * @param certificate Business license / registration certificate file content (multipart file field, binary/Base64) (optional)
     * @param shareHolders Register of shareholders file content (multipart file field, binary/Base64) (optional)
     * @param passport Legal representative / shareholder passport file content (multipart file field, binary/Base64) (optional)
     * @param shareHoldingStructure Ownership structure chart file content (multipart file field, binary/Base64) (optional)
     * @param fundsStatement Proof-of-funds file content (multipart file field, binary/Base64, optional) (optional)
     * @param additional Other supplementary material file content (multipart file field, binary/Base64, optional) (optional)
     * @param relationshipProof Optional. JSON string of relationship_proof. (optional)
     * @return ApiResponse&lt;OtcActionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Accepted successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcActionResponse> submitOtcBankEnterpriseSupplementWithHttpInfo(String bankId, String uid, String certificate, String shareHolders, String passport, String shareHoldingStructure, String fundsStatement, String additional, String relationshipProof) throws ApiException {
        okhttp3.Call localVarCall = submitOtcBankEnterpriseSupplementValidateBeforeCall(bankId, uid, certificate, shareHolders, passport, shareHoldingStructure, fundsStatement, additional, relationshipProof, null);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Submit Bank Card Supplement Materials (Enterprise) (asynchronously)
     * **Enterprise professional verification (type&#x3D;2)** users submit supplementary materials. Must match &#x60;user_type&#x3D;enterprise&#x60; from the checklist.  Two submission methods (can be mixed):  1. **Pre-upload (recommended)**: call &#x60;POST /otc/upload/pre_upload&#x60; (&#x60;scene&#x3D;bank&#x60;), fill file items by category in &#x60;relationship_proof&#x60;; pass **&#x60;key&#x60; as plaintext** object path (&#x60;base64_decode(pre_upload.file_key)&#x60;), and &#x60;file_type&#x60; as plaintext MIME; 2. **Multipart direct upload**: file field names &#x60;certificate&#x60;, &#x60;share_holders&#x60;, &#x60;passport&#x60;, &#x60;share_holding_structure&#x60;; optional &#x60;funds_statement&#x60;, &#x60;additional&#x60;.
     * @param bankId  (required)
     * @param uid  (optional)
     * @param certificate Business license / registration certificate file content (multipart file field, binary/Base64) (optional)
     * @param shareHolders Register of shareholders file content (multipart file field, binary/Base64) (optional)
     * @param passport Legal representative / shareholder passport file content (multipart file field, binary/Base64) (optional)
     * @param shareHoldingStructure Ownership structure chart file content (multipart file field, binary/Base64) (optional)
     * @param fundsStatement Proof-of-funds file content (multipart file field, binary/Base64, optional) (optional)
     * @param additional Other supplementary material file content (multipart file field, binary/Base64, optional) (optional)
     * @param relationshipProof Optional. JSON string of relationship_proof. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Accepted successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call submitOtcBankEnterpriseSupplementAsync(String bankId, String uid, String certificate, String shareHolders, String passport, String shareHoldingStructure, String fundsStatement, String additional, String relationshipProof, final ApiCallback<OtcActionResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = submitOtcBankEnterpriseSupplementValidateBeforeCall(bankId, uid, certificate, shareHolders, passport, shareHoldingStructure, fundsStatement, additional, relationshipProof, _callback);
        Type localVarReturnType = new TypeToken<OtcActionResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for createOtcUploadPreUpload
     * @param otcUploadPreUploadRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Pre-upload credentials issued successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createOtcUploadPreUploadCall(OtcUploadPreUploadRequest otcUploadPreUploadRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = otcUploadPreUploadRequest;

        // create path and map variables
        String localVarPath = "/otc/upload/pre_upload";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createOtcUploadPreUploadValidateBeforeCall(OtcUploadPreUploadRequest otcUploadPreUploadRequest, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'otcUploadPreUploadRequest' is set
        if (otcUploadPreUploadRequest == null) {
            throw new ApiException("Missing the required parameter 'otcUploadPreUploadRequest' when calling createOtcUploadPreUpload(Async)");
        }

        okhttp3.Call localVarCall = createOtcUploadPreUploadCall(otcUploadPreUploadRequest, _callback);
        return localVarCall;
    }

    /**
     * Pre-upload file (temporary bucket)
     * After selecting a file, the client calls this endpoint first to obtain a temporary-bucket POST Policy and &#x60;file_key&#x60;; then upload directly to S3 using the returned &#x60;url&#x60; and &#x60;fields&#x60; (success HTTP 204); finally, in business submit endpoints (e.g. &#x60;POST /otc/order/paid&#x60;, &#x60;POST /otc/bank/create&#x60;), pass the **same base64 &#x60;file_key&#x60; unchanged** (do not decode). The server validates ownership and object existence, then moves to the production bucket and persists. Unsubmitted files remain in the temporary bucket and are reclaimed by lifecycle rules.  Corresponds to Inner: &#x60;POST /upload/pre_upload&#x60;.  **&#x60;content_type&#x60; must be sent as base64** (plaintext containing &#x60;/&#x60; may be blocked by the gateway). Only the following MIME types are supported:  | MIME | base64 | Extension | | --- | --- | --- | | image/png | aW1hZ2UvcG5n | .png | | image/jpeg | aW1hZ2UvanBlZw&#x3D;&#x3D; | .jpeg | | image/jpg | aW1hZ2UvanBn | .jpg | | application/pdf | YXBwbGljYXRpb24vcGRm | .pdf |  **&#x60;scene&#x60; mapping to downstream endpoints**:  | scene | Typical use | | --- | --- | | general | Fiat buy payment receipt (&#x60;payment_receipt_file_key&#x60; in &#x60;POST /otc/order/paid&#x60;) | | bank | Add card, bank card supplementary materials | | assessment | Professional verification materials | | credit | Credit limit increase materials |  **Credential validity**: response &#x60;expires_in&#x60; is **5400 seconds (90 minutes)**; &#x60;fields.Policy&#x60; &#x60;expiration&#x60; matches it. Complete the S3 direct upload within this window; after expiry, call this endpoint again for a new credential.  **File size**: the S3 POST Policy enforces &#x60;content-length-range&#x60; **1 byte ~ 10MB** (10485760 bytes). Uploads exceeding the limit are rejected by S3; all &#x60;scene&#x60; values share this limit.  **Direct S3 upload**: &#x60;url&#x60; is the upload address; send each key-value pair in &#x60;fields&#x60; unchanged as form-data; the &#x60;file&#x60; field must be last. Object path is generated as &#x60;otc_temp/{uid}/{scene}/{unique filename}&#x60;; uid is taken from the login session.  This endpoint returns &#x60;content type is required.&#x60; when &#x60;content_type&#x60; is missing. Ownership and object-existence checks for &#x60;file_key&#x60; are performed by the subsequent business submission endpoint.
     * @param otcUploadPreUploadRequest  (required)
     * @return OtcUploadPreUploadResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Pre-upload credentials issued successfully </td><td>  -  </td></tr>
     </table>
     */
    public OtcUploadPreUploadResponse createOtcUploadPreUpload(OtcUploadPreUploadRequest otcUploadPreUploadRequest) throws ApiException {
        ApiResponse<OtcUploadPreUploadResponse> localVarResp = createOtcUploadPreUploadWithHttpInfo(otcUploadPreUploadRequest);
        return localVarResp.getData();
    }

    /**
     * Pre-upload file (temporary bucket)
     * After selecting a file, the client calls this endpoint first to obtain a temporary-bucket POST Policy and &#x60;file_key&#x60;; then upload directly to S3 using the returned &#x60;url&#x60; and &#x60;fields&#x60; (success HTTP 204); finally, in business submit endpoints (e.g. &#x60;POST /otc/order/paid&#x60;, &#x60;POST /otc/bank/create&#x60;), pass the **same base64 &#x60;file_key&#x60; unchanged** (do not decode). The server validates ownership and object existence, then moves to the production bucket and persists. Unsubmitted files remain in the temporary bucket and are reclaimed by lifecycle rules.  Corresponds to Inner: &#x60;POST /upload/pre_upload&#x60;.  **&#x60;content_type&#x60; must be sent as base64** (plaintext containing &#x60;/&#x60; may be blocked by the gateway). Only the following MIME types are supported:  | MIME | base64 | Extension | | --- | --- | --- | | image/png | aW1hZ2UvcG5n | .png | | image/jpeg | aW1hZ2UvanBlZw&#x3D;&#x3D; | .jpeg | | image/jpg | aW1hZ2UvanBn | .jpg | | application/pdf | YXBwbGljYXRpb24vcGRm | .pdf |  **&#x60;scene&#x60; mapping to downstream endpoints**:  | scene | Typical use | | --- | --- | | general | Fiat buy payment receipt (&#x60;payment_receipt_file_key&#x60; in &#x60;POST /otc/order/paid&#x60;) | | bank | Add card, bank card supplementary materials | | assessment | Professional verification materials | | credit | Credit limit increase materials |  **Credential validity**: response &#x60;expires_in&#x60; is **5400 seconds (90 minutes)**; &#x60;fields.Policy&#x60; &#x60;expiration&#x60; matches it. Complete the S3 direct upload within this window; after expiry, call this endpoint again for a new credential.  **File size**: the S3 POST Policy enforces &#x60;content-length-range&#x60; **1 byte ~ 10MB** (10485760 bytes). Uploads exceeding the limit are rejected by S3; all &#x60;scene&#x60; values share this limit.  **Direct S3 upload**: &#x60;url&#x60; is the upload address; send each key-value pair in &#x60;fields&#x60; unchanged as form-data; the &#x60;file&#x60; field must be last. Object path is generated as &#x60;otc_temp/{uid}/{scene}/{unique filename}&#x60;; uid is taken from the login session.  This endpoint returns &#x60;content type is required.&#x60; when &#x60;content_type&#x60; is missing. Ownership and object-existence checks for &#x60;file_key&#x60; are performed by the subsequent business submission endpoint.
     * @param otcUploadPreUploadRequest  (required)
     * @return ApiResponse&lt;OtcUploadPreUploadResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Pre-upload credentials issued successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OtcUploadPreUploadResponse> createOtcUploadPreUploadWithHttpInfo(OtcUploadPreUploadRequest otcUploadPreUploadRequest) throws ApiException {
        okhttp3.Call localVarCall = createOtcUploadPreUploadValidateBeforeCall(otcUploadPreUploadRequest, null);
        Type localVarReturnType = new TypeToken<OtcUploadPreUploadResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Pre-upload file (temporary bucket) (asynchronously)
     * After selecting a file, the client calls this endpoint first to obtain a temporary-bucket POST Policy and &#x60;file_key&#x60;; then upload directly to S3 using the returned &#x60;url&#x60; and &#x60;fields&#x60; (success HTTP 204); finally, in business submit endpoints (e.g. &#x60;POST /otc/order/paid&#x60;, &#x60;POST /otc/bank/create&#x60;), pass the **same base64 &#x60;file_key&#x60; unchanged** (do not decode). The server validates ownership and object existence, then moves to the production bucket and persists. Unsubmitted files remain in the temporary bucket and are reclaimed by lifecycle rules.  Corresponds to Inner: &#x60;POST /upload/pre_upload&#x60;.  **&#x60;content_type&#x60; must be sent as base64** (plaintext containing &#x60;/&#x60; may be blocked by the gateway). Only the following MIME types are supported:  | MIME | base64 | Extension | | --- | --- | --- | | image/png | aW1hZ2UvcG5n | .png | | image/jpeg | aW1hZ2UvanBlZw&#x3D;&#x3D; | .jpeg | | image/jpg | aW1hZ2UvanBn | .jpg | | application/pdf | YXBwbGljYXRpb24vcGRm | .pdf |  **&#x60;scene&#x60; mapping to downstream endpoints**:  | scene | Typical use | | --- | --- | | general | Fiat buy payment receipt (&#x60;payment_receipt_file_key&#x60; in &#x60;POST /otc/order/paid&#x60;) | | bank | Add card, bank card supplementary materials | | assessment | Professional verification materials | | credit | Credit limit increase materials |  **Credential validity**: response &#x60;expires_in&#x60; is **5400 seconds (90 minutes)**; &#x60;fields.Policy&#x60; &#x60;expiration&#x60; matches it. Complete the S3 direct upload within this window; after expiry, call this endpoint again for a new credential.  **File size**: the S3 POST Policy enforces &#x60;content-length-range&#x60; **1 byte ~ 10MB** (10485760 bytes). Uploads exceeding the limit are rejected by S3; all &#x60;scene&#x60; values share this limit.  **Direct S3 upload**: &#x60;url&#x60; is the upload address; send each key-value pair in &#x60;fields&#x60; unchanged as form-data; the &#x60;file&#x60; field must be last. Object path is generated as &#x60;otc_temp/{uid}/{scene}/{unique filename}&#x60;; uid is taken from the login session.  This endpoint returns &#x60;content type is required.&#x60; when &#x60;content_type&#x60; is missing. Ownership and object-existence checks for &#x60;file_key&#x60; are performed by the subsequent business submission endpoint.
     * @param otcUploadPreUploadRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Pre-upload credentials issued successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createOtcUploadPreUploadAsync(OtcUploadPreUploadRequest otcUploadPreUploadRequest, final ApiCallback<OtcUploadPreUploadResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = createOtcUploadPreUploadValidateBeforeCall(otcUploadPreUploadRequest, _callback);
        Type localVarReturnType = new TypeToken<OtcUploadPreUploadResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for markOtcOrderPaid
     * @param otcMarkOrderPaidRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The order has been marked as paid </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call markOtcOrderPaidCall(OtcMarkOrderPaidRequest otcMarkOrderPaidRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = otcMarkOrderPaidRequest;

        // create path and map variables
        String localVarPath = "/otc/order/paid";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call markOtcOrderPaidValidateBeforeCall(OtcMarkOrderPaidRequest otcMarkOrderPaidRequest, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'otcMarkOrderPaidRequest' is set
        if (otcMarkOrderPaidRequest == null) {
            throw new ApiException("Missing the required parameter 'otcMarkOrderPaidRequest' when calling markOtcOrderPaid(Async)");
        }

        okhttp3.Call localVarCall = markOtcOrderPaidCall(otcMarkOrderPaidRequest, _callback);
        return localVarCall;
    }

    /**
     * Mark fiat order as paid (deposit confirmation)
[...]
