/*
 * Gate API
 * Welcome to Gate API APIv4 provides operations related to spot, margin, and contract trading, including public interfaces for querying market data and authenticated private interfaces for implementing API-based automated trading.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package io.gate.gateapi.api;

import io.gate.gateapi.ApiCallback;
import io.gate.gateapi.ApiClient;
import io.gate.gateapi.ApiException;
import io.gate.gateapi.ApiResponse;
import io.gate.gateapi.Configuration;
import io.gate.gateapi.Pair;

import com.google.gson.reflect.TypeToken;


import io.gate.gateapi.models.InlineObject1;
import io.gate.gateapi.models.InlineObject2;
import io.gate.gateapi.models.InlineObject3;
import io.gate.gateapi.models.InlineObject4;
import io.gate.gateapi.models.InlineResponse20010;
import io.gate.gateapi.models.InlineResponse20011;
import io.gate.gateapi.models.InlineResponse20012;
import io.gate.gateapi.models.InlineResponse20013;
import io.gate.gateapi.models.InlineResponse2006;
import io.gate.gateapi.models.InlineResponse2007;
import io.gate.gateapi.models.InlineResponse2008;
import io.gate.gateapi.models.InlineResponse2009;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class OtcApi {
    private ApiClient localVarApiClient;

    public OtcApi() {
        this(Configuration.getDefaultApiClient());
    }

    public OtcApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for createOtcQuote
     * @param inlineObject1  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Quote retrieved successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createOtcQuoteCall(InlineObject1 inlineObject1, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = inlineObject1;

        // create path and map variables
        String localVarPath = "/otc/quote";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createOtcQuoteValidateBeforeCall(InlineObject1 inlineObject1, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'inlineObject1' is set
        if (inlineObject1 == null) {
            throw new ApiException("Missing the required parameter 'inlineObject1' when calling createOtcQuote(Async)");
        }

        okhttp3.Call localVarCall = createOtcQuoteCall(inlineObject1, _callback);
        return localVarCall;
    }

    /**
     * Fiat and stablecoin quote
     * Create fiat and stablecoin quotes, supporting both PAY and GET directions
     * @param inlineObject1  (required)
     * @return InlineResponse2006
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Quote retrieved successfully </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse2006 createOtcQuote(InlineObject1 inlineObject1) throws ApiException {
        ApiResponse<InlineResponse2006> localVarResp = createOtcQuoteWithHttpInfo(inlineObject1);
        return localVarResp.getData();
    }

    /**
     * Fiat and stablecoin quote
     * Create fiat and stablecoin quotes, supporting both PAY and GET directions
     * @param inlineObject1  (required)
     * @return ApiResponse&lt;InlineResponse2006&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Quote retrieved successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse2006> createOtcQuoteWithHttpInfo(InlineObject1 inlineObject1) throws ApiException {
        okhttp3.Call localVarCall = createOtcQuoteValidateBeforeCall(inlineObject1, null);
        Type localVarReturnType = new TypeToken<InlineResponse2006>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Fiat and stablecoin quote (asynchronously)
     * Create fiat and stablecoin quotes, supporting both PAY and GET directions
     * @param inlineObject1  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Quote retrieved successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createOtcQuoteAsync(InlineObject1 inlineObject1, final ApiCallback<InlineResponse2006> _callback) throws ApiException {
        okhttp3.Call localVarCall = createOtcQuoteValidateBeforeCall(inlineObject1, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse2006>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for createOtcOrder
     * @param inlineObject2  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createOtcOrderCall(InlineObject2 inlineObject2, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = inlineObject2;

        // create path and map variables
        String localVarPath = "/otc/order/create";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createOtcOrderValidateBeforeCall(InlineObject2 inlineObject2, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'inlineObject2' is set
        if (inlineObject2 == null) {
            throw new ApiException("Missing the required parameter 'inlineObject2' when calling createOtcOrder(Async)");
        }

        okhttp3.Call localVarCall = createOtcOrderCall(inlineObject2, _callback);
        return localVarCall;
    }

    /**
     * Create fiat order
     * Create a fiat order, supporting BUY for on-ramp and SELL for off-ramp
     * @param inlineObject2  (required)
     * @return InlineResponse2007
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse2007 createOtcOrder(InlineObject2 inlineObject2) throws ApiException {
        ApiResponse<InlineResponse2007> localVarResp = createOtcOrderWithHttpInfo(inlineObject2);
        return localVarResp.getData();
    }

    /**
     * Create fiat order
     * Create a fiat order, supporting BUY for on-ramp and SELL for off-ramp
     * @param inlineObject2  (required)
     * @return ApiResponse&lt;InlineResponse2007&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse2007> createOtcOrderWithHttpInfo(InlineObject2 inlineObject2) throws ApiException {
        okhttp3.Call localVarCall = createOtcOrderValidateBeforeCall(inlineObject2, null);
        Type localVarReturnType = new TypeToken<InlineResponse2007>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Create fiat order (asynchronously)
     * Create a fiat order, supporting BUY for on-ramp and SELL for off-ramp
     * @param inlineObject2  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createOtcOrderAsync(InlineObject2 inlineObject2, final ApiCallback<InlineResponse2007> _callback) throws ApiException {
        okhttp3.Call localVarCall = createOtcOrderValidateBeforeCall(inlineObject2, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse2007>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for createStableCoinOrder
     * @param inlineObject3  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Stablecoin order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createStableCoinOrderCall(InlineObject3 inlineObject3, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = inlineObject3;

        // create path and map variables
        String localVarPath = "/otc/stable_coin/order/create";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createStableCoinOrderValidateBeforeCall(InlineObject3 inlineObject3, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'inlineObject3' is set
        if (inlineObject3 == null) {
            throw new ApiException("Missing the required parameter 'inlineObject3' when calling createStableCoinOrder(Async)");
        }

        okhttp3.Call localVarCall = createStableCoinOrderCall(inlineObject3, _callback);
        return localVarCall;
    }

    /**
     * Create stablecoin order
     * Create stablecoin order
     * @param inlineObject3  (required)
     * @return InlineResponse2008
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Stablecoin order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse2008 createStableCoinOrder(InlineObject3 inlineObject3) throws ApiException {
        ApiResponse<InlineResponse2008> localVarResp = createStableCoinOrderWithHttpInfo(inlineObject3);
        return localVarResp.getData();
    }

    /**
     * Create stablecoin order
     * Create stablecoin order
     * @param inlineObject3  (required)
     * @return ApiResponse&lt;InlineResponse2008&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Stablecoin order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse2008> createStableCoinOrderWithHttpInfo(InlineObject3 inlineObject3) throws ApiException {
        okhttp3.Call localVarCall = createStableCoinOrderValidateBeforeCall(inlineObject3, null);
        Type localVarReturnType = new TypeToken<InlineResponse2008>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Create stablecoin order (asynchronously)
     * Create stablecoin order
     * @param inlineObject3  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Stablecoin order created successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createStableCoinOrderAsync(InlineObject3 inlineObject3, final ApiCallback<InlineResponse2008> _callback) throws ApiException {
        okhttp3.Call localVarCall = createStableCoinOrderValidateBeforeCall(inlineObject3, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse2008>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for getUserDefaultBank
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getUserDefaultBankCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/otc/get_user_def_bank";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getUserDefaultBankValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = getUserDefaultBankCall(_callback);
        return localVarCall;
    }

    /**
     * Get user&#39;s default bank account information
     * Get user&#39;s default bank account information for order placement
     * @return InlineResponse2009
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse2009 getUserDefaultBank() throws ApiException {
        ApiResponse<InlineResponse2009> localVarResp = getUserDefaultBankWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Get user&#39;s default bank account information
     * Get user&#39;s default bank account information for order placement
     * @return ApiResponse&lt;InlineResponse2009&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse2009> getUserDefaultBankWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = getUserDefaultBankValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<InlineResponse2009>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get user&#39;s default bank account information (asynchronously)
     * Get user&#39;s default bank account information for order placement
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getUserDefaultBankAsync(final ApiCallback<InlineResponse2009> _callback) throws ApiException {
        okhttp3.Call localVarCall = getUserDefaultBankValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<InlineResponse2009>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for getBankList
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getBankListCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/otc/bank_list";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getBankListValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = getBankListCall(_callback);
        return localVarCall;
    }

    /**
     * Get user bank card list
     * Get user bank card list for selecting bank card when placing orders
     * @return InlineResponse20010
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse20010 getBankList() throws ApiException {
        ApiResponse<InlineResponse20010> localVarResp = getBankListWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Get user bank card list
     * Get user bank card list for selecting bank card when placing orders
     * @return ApiResponse&lt;InlineResponse20010&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse20010> getBankListWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = getBankListValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<InlineResponse20010>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get user bank card list (asynchronously)
     * Get user bank card list for selecting bank card when placing orders
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getBankListAsync(final ApiCallback<InlineResponse20010> _callback) throws ApiException {
        okhttp3.Call localVarCall = getBankListValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<InlineResponse20010>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for markOtcOrderPaid
     * @param inlineObject4  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The order has been marked as paid </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call markOtcOrderPaidCall(InlineObject4 inlineObject4, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = inlineObject4;

        // create path and map variables
        String localVarPath = "/otc/order/paid";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call markOtcOrderPaidValidateBeforeCall(InlineObject4 inlineObject4, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'inlineObject4' is set
        if (inlineObject4 == null) {
            throw new ApiException("Missing the required parameter 'inlineObject4' when calling markOtcOrderPaid(Async)");
        }

        okhttp3.Call localVarCall = markOtcOrderPaidCall(inlineObject4, _callback);
        return localVarCall;
    }

    /**
     * Mark fiat order as paid
     * Mark fiat order as paid
     * @param inlineObject4  (required)
     * @return InlineResponse2007
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The order has been marked as paid </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse2007 markOtcOrderPaid(InlineObject4 inlineObject4) throws ApiException {
        ApiResponse<InlineResponse2007> localVarResp = markOtcOrderPaidWithHttpInfo(inlineObject4);
        return localVarResp.getData();
    }

    /**
     * Mark fiat order as paid
     * Mark fiat order as paid
     * @param inlineObject4  (required)
     * @return ApiResponse&lt;InlineResponse2007&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The order has been marked as paid </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse2007> markOtcOrderPaidWithHttpInfo(InlineObject4 inlineObject4) throws ApiException {
        okhttp3.Call localVarCall = markOtcOrderPaidValidateBeforeCall(inlineObject4, null);
        Type localVarReturnType = new TypeToken<InlineResponse2007>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Mark fiat order as paid (asynchronously)
     * Mark fiat order as paid
     * @param inlineObject4  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The order has been marked as paid </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call markOtcOrderPaidAsync(InlineObject4 inlineObject4, final ApiCallback<InlineResponse2007> _callback) throws ApiException {
        okhttp3.Call localVarCall = markOtcOrderPaidValidateBeforeCall(inlineObject4, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse2007>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for cancelOtcOrder
     * @param orderId Order ID (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order cancelled successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call cancelOtcOrderCall(String orderId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/otc/order/cancel";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (orderId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("order_id", orderId));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call cancelOtcOrderValidateBeforeCall(String orderId, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException("Missing the required parameter 'orderId' when calling cancelOtcOrder(Async)");
        }

        okhttp3.Call localVarCall = cancelOtcOrderCall(orderId, _callback);
        return localVarCall;
    }

    /**
     * Fiat order cancellation
     * Cancel fiat order
     * @param orderId Order ID (required)
     * @return InlineResponse2007
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order cancelled successfully </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse2007 cancelOtcOrder(String orderId) throws ApiException {
        ApiResponse<InlineResponse2007> localVarResp = cancelOtcOrderWithHttpInfo(orderId);
        return localVarResp.getData();
    }

    /**
     * Fiat order cancellation
     * Cancel fiat order
     * @param orderId Order ID (required)
     * @return ApiResponse&lt;InlineResponse2007&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order cancelled successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse2007> cancelOtcOrderWithHttpInfo(String orderId) throws ApiException {
        okhttp3.Call localVarCall = cancelOtcOrderValidateBeforeCall(orderId, null);
        Type localVarReturnType = new TypeToken<InlineResponse2007>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Fiat order cancellation (asynchronously)
     * Cancel fiat order
     * @param orderId Order ID (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order cancelled successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call cancelOtcOrderAsync(String orderId, final ApiCallback<InlineResponse2007> _callback) throws ApiException {
        okhttp3.Call localVarCall = cancelOtcOrderValidateBeforeCall(orderId, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse2007>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    private okhttp3.Call listOtcOrdersCall(String type, String fiatCurrency, String cryptoCurrency, String startTime, String endTime, String status, String pn, String ps, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/otc/order/list";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (type != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("type", type));
        }

        if (fiatCurrency != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("fiat_currency", fiatCurrency));
        }

        if (cryptoCurrency != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("crypto_currency", cryptoCurrency));
        }

        if (startTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("start_time", startTime));
        }

        if (endTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("end_time", endTime));
        }

        if (status != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("status", status));
        }

        if (pn != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("pn", pn));
        }

        if (ps != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("ps", ps));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listOtcOrdersValidateBeforeCall(String type, String fiatCurrency, String cryptoCurrency, String startTime, String endTime, String status, String pn, String ps, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = listOtcOrdersCall(type, fiatCurrency, cryptoCurrency, startTime, endTime, status, pn, ps, _callback);
        return localVarCall;
    }


    private ApiResponse<InlineResponse20011> listOtcOrdersWithHttpInfo(String type, String fiatCurrency, String cryptoCurrency, String startTime, String endTime, String status, String pn, String ps) throws ApiException {
        okhttp3.Call localVarCall = listOtcOrdersValidateBeforeCall(type, fiatCurrency, cryptoCurrency, startTime, endTime, status, pn, ps, null);
        Type localVarReturnType = new TypeToken<InlineResponse20011>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call listOtcOrdersAsync(String type, String fiatCurrency, String cryptoCurrency, String startTime, String endTime, String status, String pn, String ps, final ApiCallback<InlineResponse20011> _callback) throws ApiException {
        okhttp3.Call localVarCall = listOtcOrdersValidateBeforeCall(type, fiatCurrency, cryptoCurrency, startTime, endTime, status, pn, ps, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse20011>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIlistOtcOrdersRequest {
        private String type;
        private String fiatCurrency;
        private String cryptoCurrency;
        private String startTime;
        private String endTime;
        private String status;
        private String pn;
        private String ps;

        private APIlistOtcOrdersRequest() {
        }

        /**
         * Set type
         * @param type BUY for on-ramp, SELL for off-ramp (optional)
         * @return APIlistOtcOrdersRequest
         */
        public APIlistOtcOrdersRequest type(String type) {
            this.type = type;
            return this;
        }

        /**
         * Set fiatCurrency
         * @param fiatCurrency Fiat currency (optional)
         * @return APIlistOtcOrdersRequest
         */
        public APIlistOtcOrdersRequest fiatCurrency(String fiatCurrency) {
            this.fiatCurrency = fiatCurrency;
            return this;
        }

        /**
         * Set cryptoCurrency
         * @param cryptoCurrency Digital currency (optional)
         * @return APIlistOtcOrdersRequest
         */
        public APIlistOtcOrdersRequest cryptoCurrency(String cryptoCurrency) {
            this.cryptoCurrency = cryptoCurrency;
            return this;
        }

        /**
         * Set startTime
         * @param startTime starttime   for example : 2025-09-09 (optional)
         * @return APIlistOtcOrdersRequest
         */
        public APIlistOtcOrdersRequest startTime(String startTime) {
            this.startTime = startTime;
            return this;
        }

        /**
         * Set endTime
         * @param endTime endtime  for example :2025-09-09 (optional)
         * @return APIlistOtcOrdersRequest
         */
        public APIlistOtcOrdersRequest endTime(String endTime) {
            this.endTime = endTime;
            return this;
        }

        /**
         * Set status
         * @param status DONE: Completed CANCEL: Canceled PROCESSING: In Progress (optional)
         * @return APIlistOtcOrdersRequest
         */
        public APIlistOtcOrdersRequest status(String status) {
            this.status = status;
            return this;
        }

        /**
         * Set pn
         * @param pn Page number (optional)
         * @return APIlistOtcOrdersRequest
         */
        public APIlistOtcOrdersRequest pn(String pn) {
            this.pn = pn;
            return this;
        }

        /**
         * Set ps
         * @param ps Number of items per page (optional)
         * @return APIlistOtcOrdersRequest
         */
        public APIlistOtcOrdersRequest ps(String ps) {
            this.ps = ps;
            return this;
        }

        /**
         * Build call for listOtcOrders
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return listOtcOrdersCall(type, fiatCurrency, cryptoCurrency, startTime, endTime, status, pn, ps, _callback);
        }

        /**
         * Execute listOtcOrders request
         * @return InlineResponse20011
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
         </table>
         */
        public InlineResponse20011 execute() throws ApiException {
            ApiResponse<InlineResponse20011> localVarResp = listOtcOrdersWithHttpInfo(type, fiatCurrency, cryptoCurrency, startTime, endTime, status, pn, ps);
            return localVarResp.getData();
        }

        /**
         * Execute listOtcOrders request with HTTP info returned
         * @return ApiResponse&lt;InlineResponse20011&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<InlineResponse20011> executeWithHttpInfo() throws ApiException {
            return listOtcOrdersWithHttpInfo(type, fiatCurrency, cryptoCurrency, startTime, endTime, status, pn, ps);
        }

        /**
         * Execute listOtcOrders request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<InlineResponse20011> _callback) throws ApiException {
            return listOtcOrdersAsync(type, fiatCurrency, cryptoCurrency, startTime, endTime, status, pn, ps, _callback);
        }
    }

    /**
     * Fiat order list
     * Query the fiat order list with filters such as type, currency, time range, and status
     * @return APIlistOtcOrdersRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public APIlistOtcOrdersRequest listOtcOrders() {
        return new APIlistOtcOrdersRequest();
    }

    private okhttp3.Call listStableCoinOrdersCall(String pageSize, String pageNumber, String coinName, String startTime, String endTime, String status, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/otc/stable_coin/order/list";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (pageSize != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page_size", pageSize));
        }

        if (pageNumber != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page_number", pageNumber));
        }

        if (coinName != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("coin_name", coinName));
        }

        if (startTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("start_time", startTime));
        }

        if (endTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("end_time", endTime));
        }

        if (status != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("status", status));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listStableCoinOrdersValidateBeforeCall(String pageSize, String pageNumber, String coinName, String startTime, String endTime, String status, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = listStableCoinOrdersCall(pageSize, pageNumber, coinName, startTime, endTime, status, _callback);
        return localVarCall;
    }


    private ApiResponse<InlineResponse20012> listStableCoinOrdersWithHttpInfo(String pageSize, String pageNumber, String coinName, String startTime, String endTime, String status) throws ApiException {
        okhttp3.Call localVarCall = listStableCoinOrdersValidateBeforeCall(pageSize, pageNumber, coinName, startTime, endTime, status, null);
        Type localVarReturnType = new TypeToken<InlineResponse20012>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call listStableCoinOrdersAsync(String pageSize, String pageNumber, String coinName, String startTime, String endTime, String status, final ApiCallback<InlineResponse20012> _callback) throws ApiException {
        okhttp3.Call localVarCall = listStableCoinOrdersValidateBeforeCall(pageSize, pageNumber, coinName, startTime, endTime, status, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse20012>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIlistStableCoinOrdersRequest {
        private String pageSize;
        private String pageNumber;
        private String coinName;
        private String startTime;
        private String endTime;
        private String status;

        private APIlistStableCoinOrdersRequest() {
        }

        /**
         * Set pageSize
         * @param pageSize Number of records per page (optional)
         * @return APIlistStableCoinOrdersRequest
         */
        public APIlistStableCoinOrdersRequest pageSize(String pageSize) {
            this.pageSize = pageSize;
            return this;
        }

        /**
         * Set pageNumber
         * @param pageNumber Page number (optional)
         * @return APIlistStableCoinOrdersRequest
         */
        public APIlistStableCoinOrdersRequest pageNumber(String pageNumber) {
            this.pageNumber = pageNumber;
            return this;
        }

        /**
         * Set coinName
         * @param coinName ordercurrency (optional)
         * @return APIlistStableCoinOrdersRequest
         */
        public APIlistStableCoinOrdersRequest coinName(String coinName) {
            this.coinName = coinName;
            return this;
        }

        /**
         * Set startTime
         * @param startTime Start Time (optional)
         * @return APIlistStableCoinOrdersRequest
         */
        public APIlistStableCoinOrdersRequest startTime(String startTime) {
            this.startTime = startTime;
            return this;
        }

        /**
         * Set endTime
         * @param endTime End time (optional)
         * @return APIlistStableCoinOrdersRequest
         */
        public APIlistStableCoinOrdersRequest endTime(String endTime) {
            this.endTime = endTime;
            return this;
        }

        /**
         * Set status
         * @param status Status: PROCESSING: in progress / DONE：completed / FAILED: failed (optional)
         * @return APIlistStableCoinOrdersRequest
         */
        public APIlistStableCoinOrdersRequest status(String status) {
            this.status = status;
            return this;
        }

        /**
         * Build call for listStableCoinOrders
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return listStableCoinOrdersCall(pageSize, pageNumber, coinName, startTime, endTime, status, _callback);
        }

        /**
         * Execute listStableCoinOrders request
         * @return InlineResponse20012
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
         </table>
         */
        public InlineResponse20012 execute() throws ApiException {
            ApiResponse<InlineResponse20012> localVarResp = listStableCoinOrdersWithHttpInfo(pageSize, pageNumber, coinName, startTime, endTime, status);
            return localVarResp.getData();
        }

        /**
         * Execute listStableCoinOrders request with HTTP info returned
         * @return ApiResponse&lt;InlineResponse20012&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<InlineResponse20012> executeWithHttpInfo() throws ApiException {
            return listStableCoinOrdersWithHttpInfo(pageSize, pageNumber, coinName, startTime, endTime, status);
        }

        /**
         * Execute listStableCoinOrders request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<InlineResponse20012> _callback) throws ApiException {
            return listStableCoinOrdersAsync(pageSize, pageNumber, coinName, startTime, endTime, status, _callback);
        }
    }

    /**
     * Stablecoin order list
     * Query stablecoin order list with filtering by currency, time range, status, etc.
     * @return APIlistStableCoinOrdersRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public APIlistStableCoinOrdersRequest listStableCoinOrders() {
        return new APIlistStableCoinOrdersRequest();
    }

    /**
     * Build call for getOtcOrderDetail
     * @param orderId Order ID (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getOtcOrderDetailCall(String orderId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/otc/order/detail";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (orderId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("order_id", orderId));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getOtcOrderDetailValidateBeforeCall(String orderId, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException("Missing the required parameter 'orderId' when calling getOtcOrderDetail(Async)");
        }

        okhttp3.Call localVarCall = getOtcOrderDetailCall(orderId, _callback);
        return localVarCall;
    }

    /**
     * Fiat order details
     * Query fiat order details
     * @param orderId Order ID (required)
     * @return InlineResponse20013
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse20013 getOtcOrderDetail(String orderId) throws ApiException {
        ApiResponse<InlineResponse20013> localVarResp = getOtcOrderDetailWithHttpInfo(orderId);
        return localVarResp.getData();
    }

    /**
     * Fiat order details
     * Query fiat order details
     * @param orderId Order ID (required)
     * @return ApiResponse&lt;InlineResponse20013&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse20013> getOtcOrderDetailWithHttpInfo(String orderId) throws ApiException {
        okhttp3.Call localVarCall = getOtcOrderDetailValidateBeforeCall(orderId, null);
        Type localVarReturnType = new TypeToken<InlineResponse20013>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Fiat order details (asynchronously)
     * Query fiat order details
     * @param orderId Order ID (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Query successful </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getOtcOrderDetailAsync(String orderId, final ApiCallback<InlineResponse20013> _callback) throws ApiException {
        okhttp3.Call localVarCall = getOtcOrderDetailValidateBeforeCall(orderId, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse20013>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

}
