/*
 * Gate API
 * Welcome to Gate API APIv4 provides operations related to spot, margin, and contract trading, including public interfaces for querying market data and authenticated private interfaces for implementing API-based automated trading.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package io.gate.gateapi.api;

import io.gate.gateapi.ApiCallback;
import io.gate.gateapi.ApiClient;
import io.gate.gateapi.ApiException;
import io.gate.gateapi.ApiResponse;
import io.gate.gateapi.Configuration;
import io.gate.gateapi.Pair;

import com.google.gson.reflect.TypeToken;


import io.gate.gateapi.models.InlineObject10;
import io.gate.gateapi.models.InlineObject11;
import io.gate.gateapi.models.InlineObject12;
import io.gate.gateapi.models.InlineResponse20013;
import io.gate.gateapi.models.InlineResponse20014;
import io.gate.gateapi.models.InlineResponse20015;
import io.gate.gateapi.models.InlineResponse20016;
import io.gate.gateapi.models.InlineResponse20017;
import io.gate.gateapi.models.InlineResponse20018;
import io.gate.gateapi.models.InlineResponse20019;
import io.gate.gateapi.models.InlineResponse20020;
import io.gate.gateapi.models.InlineResponse20021;
import io.gate.gateapi.models.InlineResponse20022;
import io.gate.gateapi.models.InlineResponse20023;
import io.gate.gateapi.models.InlineResponse2007;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class P2PApi {
    private ApiClient localVarApiClient;

    public P2PApi() {
        this(Configuration.getDefaultApiClient());
    }

    public P2PApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for p2pMerchantAccountGetUserInfo
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call p2pMerchantAccountGetUserInfoCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/p2p/merchant/account/get_user_info";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call p2pMerchantAccountGetUserInfoValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = p2pMerchantAccountGetUserInfoCall(_callback);
        return localVarCall;
    }

    /**
     * Get account information
     * 
     * @return InlineResponse20013
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse20013 p2pMerchantAccountGetUserInfo() throws ApiException {
        ApiResponse<InlineResponse20013> localVarResp = p2pMerchantAccountGetUserInfoWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Get account information
     * 
     * @return ApiResponse&lt;InlineResponse20013&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse20013> p2pMerchantAccountGetUserInfoWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = p2pMerchantAccountGetUserInfoValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<InlineResponse20013>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get account information (asynchronously)
     * 
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call p2pMerchantAccountGetUserInfoAsync(final ApiCallback<InlineResponse20013> _callback) throws ApiException {
        okhttp3.Call localVarCall = p2pMerchantAccountGetUserInfoValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<InlineResponse20013>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for p2pMerchantAccountGetCounterpartyUserInfo
     * @param bizUid Counterparty UID (encrypted) (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call p2pMerchantAccountGetCounterpartyUserInfoCall(String bizUid, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/p2p/merchant/account/get_counterparty_user_info";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (bizUid != null) {
            localVarFormParams.put("biz_uid", bizUid);
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call p2pMerchantAccountGetCounterpartyUserInfoValidateBeforeCall(String bizUid, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'bizUid' is set
        if (bizUid == null) {
            throw new ApiException("Missing the required parameter 'bizUid' when calling p2pMerchantAccountGetCounterpartyUserInfo(Async)");
        }

        okhttp3.Call localVarCall = p2pMerchantAccountGetCounterpartyUserInfoCall(bizUid, _callback);
        return localVarCall;
    }

    /**
     * Get counterparty information
     * 
     * @param bizUid Counterparty UID (encrypted) (required)
     * @return InlineResponse20014
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse20014 p2pMerchantAccountGetCounterpartyUserInfo(String bizUid) throws ApiException {
        ApiResponse<InlineResponse20014> localVarResp = p2pMerchantAccountGetCounterpartyUserInfoWithHttpInfo(bizUid);
        return localVarResp.getData();
    }

    /**
     * Get counterparty information
     * 
     * @param bizUid Counterparty UID (encrypted) (required)
     * @return ApiResponse&lt;InlineResponse20014&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse20014> p2pMerchantAccountGetCounterpartyUserInfoWithHttpInfo(String bizUid) throws ApiException {
        okhttp3.Call localVarCall = p2pMerchantAccountGetCounterpartyUserInfoValidateBeforeCall(bizUid, null);
        Type localVarReturnType = new TypeToken<InlineResponse20014>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get counterparty information (asynchronously)
     * 
     * @param bizUid Counterparty UID (encrypted) (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call p2pMerchantAccountGetCounterpartyUserInfoAsync(String bizUid, final ApiCallback<InlineResponse20014> _callback) throws ApiException {
        okhttp3.Call localVarCall = p2pMerchantAccountGetCounterpartyUserInfoValidateBeforeCall(bizUid, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse20014>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for p2pMerchantAccountGetMyselfPayment
     * @param fiat Fiat currency (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call p2pMerchantAccountGetMyselfPaymentCall(String fiat, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/p2p/merchant/account/get_myself_payment";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (fiat != null) {
            localVarFormParams.put("fiat", fiat);
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call p2pMerchantAccountGetMyselfPaymentValidateBeforeCall(String fiat, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = p2pMerchantAccountGetMyselfPaymentCall(fiat, _callback);
        return localVarCall;
    }

    /**
     * Get payment method list
     * 
     * @param fiat Fiat currency (optional)
     * @return InlineResponse20015
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse20015 p2pMerchantAccountGetMyselfPayment(String fiat) throws ApiException {
        ApiResponse<InlineResponse20015> localVarResp = p2pMerchantAccountGetMyselfPaymentWithHttpInfo(fiat);
        return localVarResp.getData();
    }

    /**
     * Get payment method list
     * 
     * @param fiat Fiat currency (optional)
     * @return ApiResponse&lt;InlineResponse20015&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse20015> p2pMerchantAccountGetMyselfPaymentWithHttpInfo(String fiat) throws ApiException {
        okhttp3.Call localVarCall = p2pMerchantAccountGetMyselfPaymentValidateBeforeCall(fiat, null);
        Type localVarReturnType = new TypeToken<InlineResponse20015>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get payment method list (asynchronously)
     * 
     * @param fiat Fiat currency (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call p2pMerchantAccountGetMyselfPaymentAsync(String fiat, final ApiCallback<InlineResponse20015> _callback) throws ApiException {
        okhttp3.Call localVarCall = p2pMerchantAccountGetMyselfPaymentValidateBeforeCall(fiat, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse20015>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for p2pMerchantTransactionGetPendingTransactionList
     * @param cryptoCurrency Cryptocurrency (required)
     * @param fiatCurrency Fiat currency (required)
     * @param orderTab Order tab, default is pending (pending: Processing (pending: AND status in (&#39;OPEN&#39;,  &#39;PAID&#39;, &#39;LOCKED&#39;, &#39;TEMP&#39;)); dispute: In dispute (status in (&#39;ACCEPT&#39;,  &#39;BCLOSED&#39;, &#39;CANCEL&#39;, &#39;BECANCEL&#39;, &#39;SCLOSED&#39;, &#39;SCANCEL&#39;))) (optional)
     * @param selectType Buy/Sell (sell&#x3D;Sell, buy&#x3D;Buy, others&#x3D;All) (optional)
     * @param status 订单状态（dispute: 申诉订单； closed: ACCEPT、BCLOSED； cancel： CANCEL、BECANCEL、SCLOSED、SCANCEL； locked: LOCKED； open: OPEN； paid： PAID； completed： CANCEL、BECANCEL、SCLOSED、SCANCEL、ACCEPT、BCLOSED） (optional)
     * @param txid Order ID (optional)
     * @param startTime Start timestamp, default is 00:00 89 days ago (optional)
     * @param endTime End timestamp, default is 23:59:59 today (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call p2pMerchantTransactionGetPendingTransactionListCall(String cryptoCurrency, String fiatCurrency, String orderTab, String selectType, String status, Integer txid, Integer startTime, Integer endTime, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/p2p/merchant/transaction/get_pending_transaction_list";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (cryptoCurrency != null) {
            localVarFormParams.put("crypto_currency", cryptoCurrency);
        }

        if (fiatCurrency != null) {
            localVarFormParams.put("fiat_currency", fiatCurrency);
        }

        if (orderTab != null) {
            localVarFormParams.put("order_tab", orderTab);
        }

        if (selectType != null) {
            localVarFormParams.put("select_type", selectType);
        }

        if (status != null) {
            localVarFormParams.put("status", status);
        }

        if (txid != null) {
            localVarFormParams.put("txid", txid);
        }

        if (startTime != null) {
            localVarFormParams.put("start_time", startTime);
        }

        if (endTime != null) {
            localVarFormParams.put("end_time", endTime);
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call p2pMerchantTransactionGetPendingTransactionListValidateBeforeCall(String cryptoCurrency, String fiatCurrency, String orderTab, String selectType, String status, Integer txid, Integer startTime, Integer endTime, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'cryptoCurrency' is set
        if (cryptoCurrency == null) {
            throw new ApiException("Missing the required parameter 'cryptoCurrency' when calling p2pMerchantTransactionGetPendingTransactionList(Async)");
        }

        // verify the required parameter 'fiatCurrency' is set
        if (fiatCurrency == null) {
            throw new ApiException("Missing the required parameter 'fiatCurrency' when calling p2pMerchantTransactionGetPendingTransactionList(Async)");
        }

        okhttp3.Call localVarCall = p2pMerchantTransactionGetPendingTransactionListCall(cryptoCurrency, fiatCurrency, orderTab, selectType, status, txid, startTime, endTime, _callback);
        return localVarCall;
    }

    /**
     * Get pending orders
     * 
     * @param cryptoCurrency Cryptocurrency (required)
     * @param fiatCurrency Fiat currency (required)
     * @param orderTab Order tab, default is pending (pending: Processing (pending: AND status in (&#39;OPEN&#39;,  &#39;PAID&#39;, &#39;LOCKED&#39;, &#39;TEMP&#39;)); dispute: In dispute (status in (&#39;ACCEPT&#39;,  &#39;BCLOSED&#39;, &#39;CANCEL&#39;, &#39;BECANCEL&#39;, &#39;SCLOSED&#39;, &#39;SCANCEL&#39;))) (optional)
     * @param selectType Buy/Sell (sell&#x3D;Sell, buy&#x3D;Buy, others&#x3D;All) (optional)
     * @param status 订单状态（dispute: 申诉订单； closed: ACCEPT、BCLOSED； cancel： CANCEL、BECANCEL、SCLOSED、SCANCEL； locked: LOCKED； open: OPEN； paid： PAID； completed： CANCEL、BECANCEL、SCLOSED、SCANCEL、ACCEPT、BCLOSED） (optional)
     * @param txid Order ID (optional)
     * @param startTime Start timestamp, default is 00:00 89 days ago (optional)
     * @param endTime End timestamp, default is 23:59:59 today (optional)
     * @return InlineResponse20016
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse20016 p2pMerchantTransactionGetPendingTransactionList(String cryptoCurrency, String fiatCurrency, String orderTab, String selectType, String status, Integer txid, Integer startTime, Integer endTime) throws ApiException {
        ApiResponse<InlineResponse20016> localVarResp = p2pMerchantTransactionGetPendingTransactionListWithHttpInfo(cryptoCurrency, fiatCurrency, orderTab, selectType, status, txid, startTime, endTime);
        return localVarResp.getData();
    }

    /**
     * Get pending orders
     * 
     * @param cryptoCurrency Cryptocurrency (required)
     * @param fiatCurrency Fiat currency (required)
     * @param orderTab Order tab, default is pending (pending: Processing (pending: AND status in (&#39;OPEN&#39;,  &#39;PAID&#39;, &#39;LOCKED&#39;, &#39;TEMP&#39;)); dispute: In dispute (status in (&#39;ACCEPT&#39;,  &#39;BCLOSED&#39;, &#39;CANCEL&#39;, &#39;BECANCEL&#39;, &#39;SCLOSED&#39;, &#39;SCANCEL&#39;))) (optional)
     * @param selectType Buy/Sell (sell&#x3D;Sell, buy&#x3D;Buy, others&#x3D;All) (optional)
     * @param status 订单状态（dispute: 申诉订单； closed: ACCEPT、BCLOSED； cancel： CANCEL、BECANCEL、SCLOSED、SCANCEL； locked: LOCKED； open: OPEN； paid： PAID； completed： CANCEL、BECANCEL、SCLOSED、SCANCEL、ACCEPT、BCLOSED） (optional)
     * @param txid Order ID (optional)
     * @param startTime Start timestamp, default is 00:00 89 days ago (optional)
     * @param endTime End timestamp, default is 23:59:59 today (optional)
     * @return ApiResponse&lt;InlineResponse20016&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse20016> p2pMerchantTransactionGetPendingTransactionListWithHttpInfo(String cryptoCurrency, String fiatCurrency, String orderTab, String selectType, String status, Integer txid, Integer startTime, Integer endTime) throws ApiException {
        okhttp3.Call localVarCall = p2pMerchantTransactionGetPendingTransactionListValidateBeforeCall(cryptoCurrency, fiatCurrency, orderTab, selectType, status, txid, startTime, endTime, null);
        Type localVarReturnType = new TypeToken<InlineResponse20016>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get pending orders (asynchronously)
     * 
     * @param cryptoCurrency Cryptocurrency (required)
     * @param fiatCurrency Fiat currency (required)
     * @param orderTab Order tab, default is pending (pending: Processing (pending: AND status in (&#39;OPEN&#39;,  &#39;PAID&#39;, &#39;LOCKED&#39;, &#39;TEMP&#39;)); dispute: In dispute (status in (&#39;ACCEPT&#39;,  &#39;BCLOSED&#39;, &#39;CANCEL&#39;, &#39;BECANCEL&#39;, &#39;SCLOSED&#39;, &#39;SCANCEL&#39;))) (optional)
     * @param selectType Buy/Sell (sell&#x3D;Sell, buy&#x3D;Buy, others&#x3D;All) (optional)
     * @param status 订单状态（dispute: 申诉订单； closed: ACCEPT、BCLOSED； cancel： CANCEL、BECANCEL、SCLOSED、SCANCEL； locked: LOCKED； open: OPEN； paid： PAID； completed： CANCEL、BECANCEL、SCLOSED、SCANCEL、ACCEPT、BCLOSED） (optional)
     * @param txid Order ID (optional)
     * @param startTime Start timestamp, default is 00:00 89 days ago (optional)
     * @param endTime End timestamp, default is 23:59:59 today (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call p2pMerchantTransactionGetPendingTransactionListAsync(String cryptoCurrency, String fiatCurrency, String orderTab, String selectType, String status, Integer txid, Integer startTime, Integer endTime, final ApiCallback<InlineResponse20016> _callback) throws ApiException {
        okhttp3.Call localVarCall = p2pMerchantTransactionGetPendingTransactionListValidateBeforeCall(cryptoCurrency, fiatCurrency, orderTab, selectType, status, txid, startTime, endTime, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse20016>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for p2pMerchantTransactionGetCompletedTransactionList
     * @param cryptoCurrency Cryptocurrency (required)
     * @param fiatCurrency Fiat currency (required)
     * @param selectType Buy/Sell (sell&#x3D;Sell, buy&#x3D;Buy, others&#x3D;All) (optional)
     * @param status 订单状态（dispute: 申诉订单； closed: ACCEPT、BCLOSED； cancel： CANCEL、BECANCEL、SCLOSED、SCANCEL； locked: LOCKED； open: OPEN； paid： PAID； completed： CANCEL、BECANCEL、SCLOSED、SCANCEL、ACCEPT、BCLOSED） (optional)
     * @param txid Order ID (optional)
     * @param startTime Start timestamp, default is 00:00 89 days ago (optional)
     * @param endTime End timestamp, default is 23:59:59 today (optional)
     * @param queryDispute 1: Include appeal status, 0: None (optional)
     * @param page page number (optional)
     * @param perPage Number of orders per page (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call p2pMerchantTransactionGetCompletedTransactionListCall(String cryptoCurrency, String fiatCurrency, String selectType, String status, Integer txid, Integer startTime, Integer endTime, Integer queryDispute, Integer page, Integer perPage, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/p2p/merchant/transaction/get_completed_transaction_list";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (cryptoCurrency != null) {
            localVarFormParams.put("crypto_currency", cryptoCurrency);
        }

        if (fiatCurrency != null) {
            localVarFormParams.put("fiat_currency", fiatCurrency);
        }

        if (selectType != null) {
            localVarFormParams.put("select_type", selectType);
        }

        if (status != null) {
            localVarFormParams.put("status", status);
        }

        if (txid != null) {
            localVarFormParams.put("txid", txid);
        }

        if (startTime != null) {
            localVarFormParams.put("start_time", startTime);
        }

        if (endTime != null) {
            localVarFormParams.put("end_time", endTime);
        }

        if (queryDispute != null) {
            localVarFormParams.put("query_dispute", queryDispute);
        }

        if (page != null) {
            localVarFormParams.put("page", page);
        }

        if (perPage != null) {
            localVarFormParams.put("per_page", perPage);
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call p2pMerchantTransactionGetCompletedTransactionListValidateBeforeCall(String cryptoCurrency, String fiatCurrency, String selectType, String status, Integer txid, Integer startTime, Integer endTime, Integer queryDispute, Integer page, Integer perPage, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'cryptoCurrency' is set
        if (cryptoCurrency == null) {
            throw new ApiException("Missing the required parameter 'cryptoCurrency' when calling p2pMerchantTransactionGetCompletedTransactionList(Async)");
        }

        // verify the required parameter 'fiatCurrency' is set
        if (fiatCurrency == null) {
            throw new ApiException("Missing the required parameter 'fiatCurrency' when calling p2pMerchantTransactionGetCompletedTransactionList(Async)");
        }

        okhttp3.Call localVarCall = p2pMerchantTransactionGetCompletedTransactionListCall(cryptoCurrency, fiatCurrency, selectType, status, txid, startTime, endTime, queryDispute, page, perPage, _callback);
        return localVarCall;
    }

    /**
     * Get all/historical orders
     * 
     * @param cryptoCurrency Cryptocurrency (required)
     * @param fiatCurrency Fiat currency (required)
     * @param selectType Buy/Sell (sell&#x3D;Sell, buy&#x3D;Buy, others&#x3D;All) (optional)
     * @param status 订单状态（dispute: 申诉订单； closed: ACCEPT、BCLOSED； cancel： CANCEL、BECANCEL、SCLOSED、SCANCEL； locked: LOCKED； open: OPEN； paid： PAID； completed： CANCEL、BECANCEL、SCLOSED、SCANCEL、ACCEPT、BCLOSED） (optional)
     * @param txid Order ID (optional)
     * @param startTime Start timestamp, default is 00:00 89 days ago (optional)
     * @param endTime End timestamp, default is 23:59:59 today (optional)
     * @param queryDispute 1: Include appeal status, 0: None (optional)
     * @param page page number (optional)
     * @param perPage Number of orders per page (optional)
     * @return InlineResponse20016
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse20016 p2pMerchantTransactionGetCompletedTransactionList(String cryptoCurrency, String fiatCurrency, String selectType, String status, Integer txid, Integer startTime, Integer endTime, Integer queryDispute, Integer page, Integer perPage) throws ApiException {
        ApiResponse<InlineResponse20016> localVarResp = p2pMerchantTransactionGetCompletedTransactionListWithHttpInfo(cryptoCurrency, fiatCurrency, selectType, status, txid, startTime, endTime, queryDispute, page, perPage);
        return localVarResp.getData();
    }

    /**
     * Get all/historical orders
     * 
     * @param cryptoCurrency Cryptocurrency (required)
     * @param fiatCurrency Fiat currency (required)
     * @param selectType Buy/Sell (sell&#x3D;Sell, buy&#x3D;Buy, others&#x3D;All) (optional)
     * @param status 订单状态（dispute: 申诉订单； closed: ACCEPT、BCLOSED； cancel： CANCEL、BECANCEL、SCLOSED、SCANCEL； locked: LOCKED； open: OPEN； paid： PAID； completed： CANCEL、BECANCEL、SCLOSED、SCANCEL、ACCEPT、BCLOSED） (optional)
     * @param txid Order ID (optional)
     * @param startTime Start timestamp, default is 00:00 89 days ago (optional)
     * @param endTime End timestamp, default is 23:59:59 today (optional)
     * @param queryDispute 1: Include appeal status, 0: None (optional)
     * @param page page number (optional)
     * @param perPage Number of orders per page (optional)
     * @return ApiResponse&lt;InlineResponse20016&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse20016> p2pMerchantTransactionGetCompletedTransactionListWithHttpInfo(String cryptoCurrency, String fiatCurrency, String selectType, String status, Integer txid, Integer startTime, Integer endTime, Integer queryDispute, Integer page, Integer perPage) throws ApiException {
        okhttp3.Call localVarCall = p2pMerchantTransactionGetCompletedTransactionListValidateBeforeCall(cryptoCurrency, fiatCurrency, selectType, status, txid, startTime, endTime, queryDispute, page, perPage, null);
        Type localVarReturnType = new TypeToken<InlineResponse20016>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get all/historical orders (asynchronously)
     * 
     * @param cryptoCurrency Cryptocurrency (required)
     * @param fiatCurrency Fiat currency (required)
     * @param selectType Buy/Sell (sell&#x3D;Sell, buy&#x3D;Buy, others&#x3D;All) (optional)
     * @param status 订单状态（dispute: 申诉订单； closed: ACCEPT、BCLOSED； cancel： CANCEL、BECANCEL、SCLOSED、SCANCEL； locked: LOCKED； open: OPEN； paid： PAID； completed： CANCEL、BECANCEL、SCLOSED、SCANCEL、ACCEPT、BCLOSED） (optional)
     * @param txid Order ID (optional)
     * @param startTime Start timestamp, default is 00:00 89 days ago (optional)
     * @param endTime End timestamp, default is 23:59:59 today (optional)
     * @param queryDispute 1: Include appeal status, 0: None (optional)
     * @param page page number (optional)
     * @param perPage Number of orders per page (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call p2pMerchantTransactionGetCompletedTransactionListAsync(String cryptoCurrency, String fiatCurrency, String selectType, String status, Integer txid, Integer startTime, Integer endTime, Integer queryDispute, Integer page, Integer perPage, final ApiCallback<InlineResponse20016> _callback) throws ApiException {
        okhttp3.Call localVarCall = p2pMerchantTransactionGetCompletedTransactionListValidateBeforeCall(cryptoCurrency, fiatCurrency, selectType, status, txid, startTime, endTime, queryDispute, page, perPage, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse20016>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for p2pMerchantTransactionGetTransactionDetails
     * @param txid Order ID (required)
     * @param channel Empty or web3 (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call p2pMerchantTransactionGetTransactionDetailsCall(Integer txid, String channel, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/p2p/merchant/transaction/get_transaction_details";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (txid != null) {
            localVarFormParams.put("txid", txid);
        }

        if (channel != null) {
            localVarFormParams.put("channel", channel);
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call p2pMerchantTransactionGetTransactionDetailsValidateBeforeCall(Integer txid, String channel, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'txid' is set
        if (txid == null) {
            throw new ApiException("Missing the required parameter 'txid' when calling p2pMerchantTransactionGetTransactionDetails(Async)");
        }

        okhttp3.Call localVarCall = p2pMerchantTransactionGetTransactionDetailsCall(txid, channel, _callback);
        return localVarCall;
    }

    /**
     * Query order details
     * 
     * @param txid Order ID (required)
     * @param channel Empty or web3 (optional)
     * @return InlineResponse20017
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse20017 p2pMerchantTransactionGetTransactionDetails(Integer txid, String channel) throws ApiException {
        ApiResponse<InlineResponse20017> localVarResp = p2pMerchantTransactionGetTransactionDetailsWithHttpInfo(txid, channel);
        return localVarResp.getData();
    }

    /**
     * Query order details
     * 
     * @param txid Order ID (required)
     * @param channel Empty or web3 (optional)
     * @return ApiResponse&lt;InlineResponse20017&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse20017> p2pMerchantTransactionGetTransactionDetailsWithHttpInfo(Integer txid, String channel) throws ApiException {
        okhttp3.Call localVarCall = p2pMerchantTransactionGetTransactionDetailsValidateBeforeCall(txid, channel, null);
        Type localVarReturnType = new TypeToken<InlineResponse20017>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Query order details (asynchronously)
     * 
     * @param txid Order ID (required)
     * @param channel Empty or web3 (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call p2pMerchantTransactionGetTransactionDetailsAsync(Integer txid, String channel, final ApiCallback<InlineResponse20017> _callback) throws ApiException {
        okhttp3.Call localVarCall = p2pMerchantTransactionGetTransactionDetailsValidateBeforeCall(txid, channel, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse20017>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for p2pMerchantTransactionConfirmPayment
     * @param inlineObject10  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call p2pMerchantTransactionConfirmPaymentCall(InlineObject10 inlineObject10, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = inlineObject10;

        // create path and map variables
        String localVarPath = "/p2p/merchant/transaction/confirm-payment";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call p2pMerchantTransactionConfirmPaymentValidateBeforeCall(InlineObject10 inlineObject10, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = p2pMerchantTransactionConfirmPaymentCall(inlineObject10, _callback);
        return localVarCall;
    }

    /**
     * Confirm payment
     * 
     * @param inlineObject10  (optional)
     * @return InlineResponse2007
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse2007 p2pMerchantTransactionConfirmPayment(InlineObject10 inlineObject10) throws ApiException {
        ApiResponse<InlineResponse2007> localVarResp = p2pMerchantTransactionConfirmPaymentWithHttpInfo(inlineObject10);
        return localVarResp.getData();
    }

    /**
     * Confirm payment
     * 
     * @param inlineObject10  (optional)
     * @return ApiResponse&lt;InlineResponse2007&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse2007> p2pMerchantTransactionConfirmPaymentWithHttpInfo(InlineObject10 inlineObject10) throws ApiException {
        okhttp3.Call localVarCall = p2pMerchantTransactionConfirmPaymentValidateBeforeCall(inlineObject10, null);
        Type localVarReturnType = new TypeToken<InlineResponse2007>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Confirm payment (asynchronously)
     * 
     * @param inlineObject10  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call p2pMerchantTransactionConfirmPaymentAsync(InlineObject10 inlineObject10, final ApiCallback<InlineResponse2007> _callback) throws ApiException {
        okhttp3.Call localVarCall = p2pMerchantTransactionConfirmPaymentValidateBeforeCall(inlineObject10, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse2007>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for p2pMerchantTransactionConfirmReceipt
     * @param inlineObject11  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call p2pMerchantTransactionConfirmReceiptCall(InlineObject11 inlineObject11, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = inlineObject11;

        // create path and map variables
        String localVarPath = "/p2p/merchant/transaction/confirm-receipt";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call p2pMerchantTransactionConfirmReceiptValidateBeforeCall(InlineObject11 inlineObject11, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = p2pMerchantTransactionConfirmReceiptCall(inlineObject11, _callback);
        return localVarCall;
    }

    /**
     * Confirm receipt
     * 
     * @param inlineObject11  (optional)
     * @return InlineResponse2007
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse2007 p2pMerchantTransactionConfirmReceipt(InlineObject11 inlineObject11) throws ApiException {
        ApiResponse<InlineResponse2007> localVarResp = p2pMerchantTransactionConfirmReceiptWithHttpInfo(inlineObject11);
        return localVarResp.getData();
    }

    /**
     * Confirm receipt
     * 
     * @param inlineObject11  (optional)
     * @return ApiResponse&lt;InlineResponse2007&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse2007> p2pMerchantTransactionConfirmReceiptWithHttpInfo(InlineObject11 inlineObject11) throws ApiException {
        okhttp3.Call localVarCall = p2pMerchantTransactionConfirmReceiptValidateBeforeCall(inlineObject11, null);
        Type localVarReturnType = new TypeToken<InlineResponse2007>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Confirm receipt (asynchronously)
     * 
     * @param inlineObject11  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call p2pMerchantTransactionConfirmReceiptAsync(InlineObject11 inlineObject11, final ApiCallback<InlineResponse2007> _callback) throws ApiException {
        okhttp3.Call localVarCall = p2pMerchantTransactionConfirmReceiptValidateBeforeCall(inlineObject11, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse2007>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for p2pMerchantTransactionCancel
     * @param inlineObject12  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call p2pMerchantTransactionCancelCall(InlineObject12 inlineObject12, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = inlineObject12;

        // create path and map variables
        String localVarPath = "/p2p/merchant/transaction/cancel";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call p2pMerchantTransactionCancelValidateBeforeCall(InlineObject12 inlineObject12, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = p2pMerchantTransactionCancelCall(inlineObject12, _callback);
        return localVarCall;
    }

    /**
     * Cancel order
     * 
     * @param inlineObject12  (optional)
     * @return InlineResponse2007
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse2007 p2pMerchantTransactionCancel(InlineObject12 inlineObject12) throws ApiException {
        ApiResponse<InlineResponse2007> localVarResp = p2pMerchantTransactionCancelWithHttpInfo(inlineObject12);
        return localVarResp.getData();
    }

    /**
     * Cancel order
     * 
     * @param inlineObject12  (optional)
     * @return ApiResponse&lt;InlineResponse2007&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse2007> p2pMerchantTransactionCancelWithHttpInfo(InlineObject12 inlineObject12) throws ApiException {
        okhttp3.Call localVarCall = p2pMerchantTransactionCancelValidateBeforeCall(inlineObject12, null);
        Type localVarReturnType = new TypeToken<InlineResponse2007>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Cancel order (asynchronously)
     * 
     * @param inlineObject12  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call p2pMerchantTransactionCancelAsync(InlineObject12 inlineObject12, final ApiCallback<InlineResponse2007> _callback) throws ApiException {
        okhttp3.Call localVarCall = p2pMerchantTransactionCancelValidateBeforeCall(inlineObject12, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse2007>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for p2pMerchantBooksPlaceBizPushOrder
     * @param currencyType Cryptocurrency (required)
     * @param exchangeType Fiat currency (required)
     * @param type Ad type: 0&#x3D;Sell, 1&#x3D;Buy, 2&#x3D;Edit sell, 3&#x3D;Edit buy (required)
     * @param unitPrice Unit price (required)
     * @param number Size (required)
     * @param minAmount Minimum transaction amount per order (required)
     * @param maxAmount Maximum transaction amount per order (required)
     * @param payType Payment method (optional)
     * @param payTypeJson Payment method JSON string (optional)
     * @param rateFixed Price type: 0-Floating price, 1-Fixed price (optional)
     * @param oid Ad ID when editing (optional)
     * @param tierLimit Order tier limit (optional)
     * @param verifiedLimit Verification level limit (optional)
     * @param regTimeLimit Registration time limit (optional)
     * @param advertisersLimit Advertiser restriction (optional)
     * @param hidePayment Whether to hide payment method: 1&#x3D;Yes, 0&#x3D;No (optional)
     * @param expireMin Ad expiration time (minutes) (optional)
     * @param tradeTips Trading terms (optional)
     * @param autoReply Auto reply (optional)
     * @param minCompletedLimit Minimum limit of completed orders (optional)
     * @param maxCompletedLimit Maximum limit of completed orders (optional)
     * @param completedRateLimit 30-day completion rate limit (optional)
     * @param userCountryLimit KYC nationality restriction (optional)
     * @param userOrderLimit Order count limit (optional)
     * @param rateReferenceId Reference exchange rate ID (optional)
     * @param rateOffset Reference exchange rate offset (optional)
     * @param floatTrend 444 (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call p2pMerchantBooksPlaceBizPushOrderCall(String currencyType, String exchangeType, String type, String unitPrice, String number, String minAmount, String maxAmount, String payType, String payTypeJson, String rateFixed, String oid, String tierLimit, String verifiedLimit, String regTimeLimit, String advertisersLimit, String hidePayment, String expireMin, String tradeTips, String autoReply, String minCompletedLimit, String maxCompletedLimit, String completedRateLimit, String userCountryLimit, String userOrderLimit, String rateReferenceId, String rateOffset, String floatTrend, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/p2p/merchant/books/place_biz_push_order";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (currencyType != null) {
            localVarFormParams.put("currencyType", currencyType);
        }

        if (exchangeType != null) {
            localVarFormParams.put("exchangeType", exchangeType);
        }

        if (type != null) {
            localVarFormParams.put("type", type);
        }

        if (unitPrice != null) {
            localVarFormParams.put("unitPrice", unitPrice);
        }

        if (number != null) {
            localVarFormParams.put("number", number);
        }

        if (payType != null) {
            localVarFormParams.put("payType", payType);
        }

        if (payTypeJson != null) {
            localVarFormParams.put("pay_type_json", payTypeJson);
        }

        if (rateFixed != null) {
            localVarFormParams.put("rateFixed", rateFixed);
        }

        if (oid != null) {
            localVarFormParams.put("oid", oid);
        }

        if (minAmount != null) {
            localVarFormParams.put("minAmount", minAmount);
        }

        if (maxAmount != null) {
            localVarFormParams.put("maxAmount", maxAmount);
        }

        if (tierLimit != null) {
            localVarFormParams.put("tierLimit", tierLimit);
        }

        if (verifiedLimit != null) {
            localVarFormParams.put("verifiedLimit", verifiedLimit);
        }

        if (regTimeLimit != null) {
            localVarFormParams.put("regTimeLimit", regTimeLimit);
        }

        if (advertisersLimit != null) {
            localVarFormParams.put("advertisersLimit", advertisersLimit);
        }

        if (hidePayment != null) {
            localVarFormParams.put("hide_payment", hidePayment);
        }

        if (expireMin != null) {
            localVarFormParams.put("expire_min", expireMin);
        }

        if (tradeTips != null) {
            localVarFormParams.put("trade_tips", tradeTips);
        }

        if (autoReply != null) {
            localVarFormParams.put("auto_reply", autoReply);
        }

        if (minCompletedLimit != null) {
            localVarFormParams.put("min_completed_limit", minCompletedLimit);
        }

        if (maxCompletedLimit != null) {
            localVarFormParams.put("max_completed_limit", maxCompletedLimit);
        }

        if (completedRateLimit != null) {
            localVarFormParams.put("completed_rate_limit", completedRateLimit);
        }

        if (userCountryLimit != null) {
            localVarFormParams.put("user_country_limit", userCountryLimit);
        }

        if (userOrderLimit != null) {
            localVarFormParams.put("user_order_limit", userOrderLimit);
        }

        if (rateReferenceId != null) {
            localVarFormParams.put("rateReferenceId", rateReferenceId);
        }

        if (rateOffset != null) {
            localVarFormParams.put("rateOffset", rateOffset);
        }

        if (floatTrend != null) {
            localVarFormParams.put("float_trend", floatTrend);
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call p2pMerchantBooksPlaceBizPushOrderValidateBeforeCall(String currencyType, String exchangeType, String type, String unitPrice, String number, String minAmount, String maxAmount, String payType, String payTypeJson, String rateFixed, String oid, String tierLimit, String verifiedLimit, String regTimeLimit, String advertisersLimit, String hidePayment, String expireMin, String tradeTips, String autoReply, String minCompletedLimit, String maxCompletedLimit, String completedRateLimit, String userCountryLimit, String userOrderLimit, String rateReferenceId, String rateOffset, String floatTrend, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'currencyType' is set
        if (currencyType == null) {
            throw new ApiException("Missing the required parameter 'currencyType' when calling p2pMerchantBooksPlaceBizPushOrder(Async)");
        }

        // verify the required parameter 'exchangeType' is set
        if (exchangeType == null) {
            throw new ApiException("Missing the required parameter 'exchangeType' when calling p2pMerchantBooksPlaceBizPushOrder(Async)");
        }

        // verify the required parameter 'type' is set
        if (type == null) {
            throw new ApiException("Missing the required parameter 'type' when calling p2pMerchantBooksPlaceBizPushOrder(Async)");
        }

        // verify the required parameter 'unitPrice' is set
        if (unitPrice == null) {
            throw new ApiException("Missing the required parameter 'unitPrice' when calling p2pMerchantBooksPlaceBizPushOrder(Async)");
        }

        // verify the required parameter 'number' is set
        if (number == null) {
            throw new ApiException("Missing the required parameter 'number' when calling p2pMerchantBooksPlaceBizPushOrder(Async)");
        }

        // verify the required parameter 'minAmount' is set
        if (minAmount == null) {
            throw new ApiException("Missing the required parameter 'minAmount' when calling p2pMerchantBooksPlaceBizPushOrder(Async)");
        }

        // verify the required parameter 'maxAmount' is set
        if (maxAmount == null) {
            throw new ApiException("Missing the required parameter 'maxAmount' when calling p2pMerchantBooksPlaceBizPushOrder(Async)");
        }

        okhttp3.Call localVarCall = p2pMerchantBooksPlaceBizPushOrderCall(currencyType, exchangeType, type, unitPrice, number, minAmount, maxAmount, payType, payTypeJson, rateFixed, oid, tierLimit, verifiedLimit, regTimeLimit, advertisersLimit, hidePayment, expireMin, tradeTips, autoReply, minCompletedLimit, maxCompletedLimit, completedRateLimit, userCountryLimit, userOrderLimit, rateReferenceId, rateOffset, floatTrend, _callback);
        return localVarCall;
    }

    /**
     * Publish ad order
     * 
     * @param currencyType Cryptocurrency (required)
     * @param exchangeType Fiat currency (required)
     * @param type Ad type: 0&#x3D;Sell, 1&#x3D;Buy, 2&#x3D;Edit sell, 3&#x3D;Edit buy (required)
     * @param unitPrice Unit price (required)
     * @param number Size (required)
     * @param minAmount Minimum transaction amount per order (required)
     * @param maxAmount Maximum transaction amount per order (required)
     * @param payType Payment method (optional)
     * @param payTypeJson Payment method JSON string (optional)
     * @param rateFixed Price type: 0-Floating price, 1-Fixed price (optional)
     * @param oid Ad ID when editing (optional)
     * @param tierLimit Order tier limit (optional)
     * @param verifiedLimit Verification level limit (optional)
     * @param regTimeLimit Registration time limit (optional)
     * @param advertisersLimit Advertiser restriction (optional)
     * @param hidePayment Whether to hide payment method: 1&#x3D;Yes, 0&#x3D;No (optional)
     * @param expireMin Ad expiration time (minutes) (optional)
     * @param tradeTips Trading terms (optional)
     * @param autoReply Auto reply (optional)
     * @param minCompletedLimit Minimum limit of completed orders (optional)
     * @param maxCompletedLimit Maximum limit of completed orders (optional)
     * @param completedRateLimit 30-day completion rate limit (optional)
     * @param userCountryLimit KYC nationality restriction (optional)
     * @param userOrderLimit Order count limit (optional)
     * @param rateReferenceId Reference exchange rate ID (optional)
     * @param rateOffset Reference exchange rate offset (optional)
     * @param floatTrend 444 (optional)
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public Object p2pMerchantBooksPlaceBizPushOrder(String currencyType, String exchangeType, String type, String unitPrice, String number, String minAmount, String maxAmount, String payType, String payTypeJson, String rateFixed, String oid, String tierLimit, String verifiedLimit, String regTimeLimit, String advertisersLimit, String hidePayment, String expireMin, String tradeTips, String autoReply, String minCompletedLimit, String maxCompletedLimit, String completedRateLimit, String userCountryLimit, String userOrderLimit, String rateReferenceId, String rateOffset, String floatTrend) throws ApiException {
        ApiResponse<Object> localVarResp = p2pMerchantBooksPlaceBizPushOrderWithHttpInfo(currencyType, exchangeType, type, unitPrice, number, minAmount, maxAmount, payType, payTypeJson, rateFixed, oid, tierLimit, verifiedLimit, regTimeLimit, advertisersLimit, hidePayment, expireMin, tradeTips, autoReply, minCompletedLimit, maxCompletedLimit, completedRateLimit, userCountryLimit, userOrderLimit, rateReferenceId, rateOffset, floatTrend);
        return localVarResp.getData();
    }

    /**
     * Publish ad order
     * 
     * @param currencyType Cryptocurrency (required)
     * @param exchangeType Fiat currency (required)
     * @param type Ad type: 0&#x3D;Sell, 1&#x3D;Buy, 2&#x3D;Edit sell, 3&#x3D;Edit buy (required)
     * @param unitPrice Unit price (required)
     * @param number Size (required)
     * @param minAmount Minimum transaction amount per order (required)
     * @param maxAmount Maximum transaction amount per order (required)
     * @param payType Payment method (optional)
     * @param payTypeJson Payment method JSON string (optional)
     * @param rateFixed Price type: 0-Floating price, 1-Fixed price (optional)
     * @param oid Ad ID when editing (optional)
     * @param tierLimit Order tier limit (optional)
     * @param verifiedLimit Verification level limit (optional)
     * @param regTimeLimit Registration time limit (optional)
     * @param advertisersLimit Advertiser restriction (optional)
     * @param hidePayment Whether to hide payment method: 1&#x3D;Yes, 0&#x3D;No (optional)
     * @param expireMin Ad expiration time (minutes) (optional)
     * @param tradeTips Trading terms (optional)
     * @param autoReply Auto reply (optional)
     * @param minCompletedLimit Minimum limit of completed orders (optional)
     * @param maxCompletedLimit Maximum limit of completed orders (optional)
     * @param completedRateLimit 30-day completion rate limit (optional)
     * @param userCountryLimit KYC nationality restriction (optional)
     * @param userOrderLimit Order count limit (optional)
     * @param rateReferenceId Reference exchange rate ID (optional)
     * @param rateOffset Reference exchange rate offset (optional)
     * @param floatTrend 444 (optional)
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Object> p2pMerchantBooksPlaceBizPushOrderWithHttpInfo(String currencyType, String exchangeType, String type, String unitPrice, String number, String minAmount, String maxAmount, String payType, String payTypeJson, String rateFixed, String oid, String tierLimit, String verifiedLimit, String regTimeLimit, String advertisersLimit, String hidePayment, String expireMin, String tradeTips, String autoReply, String minCompletedLimit, String maxCompletedLimit, String completedRateLimit, String userCountryLimit, String userOrderLimit, String rateReferenceId, String rateOffset, String floatTrend) throws ApiException {
        okhttp3.Call localVarCall = p2pMerchantBooksPlaceBizPushOrderValidateBeforeCall(currencyType, exchangeType, type, unitPrice, number, minAmount, maxAmount, payType, payTypeJson, rateFixed, oid, tierLimit, verifiedLimit, regTimeLimit, advertisersLimit, hidePayment, expireMin, tradeTips, autoReply, minCompletedLimit, maxCompletedLimit, completedRateLimit, userCountryLimit, userOrderLimit, rateReferenceId, rateOffset, floatTrend, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Publish ad order (asynchronously)
     * 
     * @param currencyType Cryptocurrency (required)
     * @param exchangeType Fiat currency (required)
     * @param type Ad type: 0&#x3D;Sell, 1&#x3D;Buy, 2&#x3D;Edit sell, 3&#x3D;Edit buy (required)
     * @param unitPrice Unit price (required)
     * @param number Size (required)
     * @param minAmount Minimum transaction amount per order (required)
     * @param maxAmount Maximum transaction amount per order (required)
     * @param payType Payment method (optional)
     * @param payTypeJson Payment method JSON string (optional)
     * @param rateFixed Price type: 0-Floating price, 1-Fixed price (optional)
     * @param oid Ad ID when editing (optional)
     * @param tierLimit Order tier limit (optional)
     * @param verifiedLimit Verification level limit (optional)
     * @param regTimeLimit Registration time limit (optional)
     * @param advertisersLimit Advertiser restriction (optional)
     * @param hidePayment Whether to hide payment method: 1&#x3D;Yes, 0&#x3D;No (optional)
     * @param expireMin Ad expiration time (minutes) (optional)
     * @param tradeTips Trading terms (optional)
     * @param autoReply Auto reply (optional)
     * @param minCompletedLimit Minimum limit of completed orders (optional)
     * @param maxCompletedLimit Maximum limit of completed orders (optional)
     * @param completedRateLimit 30-day completion rate limit (optional)
     * @param userCountryLimit KYC nationality restriction (optional)
     * @param userOrderLimit Order count limit (optional)
     * @param rateReferenceId Reference exchange rate ID (optional)
     * @param rateOffset Reference exchange rate offset (optional)
     * @param floatTrend 444 (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call p2pMerchantBooksPlaceBizPushOrderAsync(String currencyType, String exchangeType, String type, String unitPrice, String number, String minAmount, String maxAmount, String payType, String payTypeJson, String rateFixed, String oid, String tierLimit, String verifiedLimit, String regTimeLimit, String advertisersLimit, String hidePayment, String expireMin, String tradeTips, String autoReply, String minCompletedLimit, String maxCompletedLimit, String completedRateLimit, String userCountryLimit, String userOrderLimit, String rateReferenceId, String rateOffset, String floatTrend, final ApiCallback<Object> _callback) throws ApiException {
        okhttp3.Call localVarCall = p2pMerchantBooksPlaceBizPushOrderValidateBeforeCall(currencyType, exchangeType, type, unitPrice, number, minAmount, maxAmount, payType, payTypeJson, rateFixed, oid, tierLimit, verifiedLimit, regTimeLimit, advertisersLimit, hidePayment, expireMin, tradeTips, autoReply, minCompletedLimit, maxCompletedLimit, completedRateLimit, userCountryLimit, userOrderLimit, rateReferenceId, rateOffset, floatTrend, _callback);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for p2pMerchantBooksAdsUpdateStatus
     * @param advNo Ad ID (required)
     * @param advStatus Ad status: 1&#x3D;Active, 3&#x3D;Inactive, 4&#x3D;Closed (required)
     * @param tradeType Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME &lt;EMAIL@ADDRESS&gt; Language: en Language-Team: en &lt;L@li.org&gt; Plural-Forms: nplurals&#x3D;2; plural&#x3D;(n !&#x3D;1) MIME-Version: 1.0 Content-Type: text/plain; charset&#x3D;utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call p2pMerchantBooksAdsUpdateStatusCall(Integer advNo, Integer advStatus, String tradeType, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/p2p/merchant/books/ads_update_status";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (tradeType != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("trade_type", tradeType));
        }

[...]
