/*
 * Gate API
 * Welcome to Gate API APIv4 provides operations related to spot, margin, and contract trading, including public interfaces for querying market data and authenticated private interfaces for implementing API-based automated trading.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package io.gate.gateapi.api;

import io.gate.gateapi.ApiCallback;
import io.gate.gateapi.ApiClient;
import io.gate.gateapi.ApiException;
import io.gate.gateapi.ApiResponse;
import io.gate.gateapi.Configuration;
import io.gate.gateapi.Pair;

import com.google.gson.reflect.TypeToken;


import io.gate.gateapi.models.ListLiveReplayError;
import io.gate.gateapi.models.ListLiveReplayResponse;
import io.gate.gateapi.models.ListSquareAiSearchError;
import io.gate.gateapi.models.ListSquareAiSearchResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class SquareApi {
    private ApiClient localVarApiClient;

    public SquareApi() {
        this(Configuration.getDefaultApiClient());
    }

    public SquareApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    private okhttp3.Call listSquareAiSearchCall(String keyword, String currency, Integer timeRange, Integer sort, Integer limit, Integer page, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/social/message/search";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (keyword != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("keyword", keyword));
        }

        if (currency != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("currency", currency));
        }

        if (timeRange != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("time_range", timeRange));
        }

        if (sort != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("sort", sort));
        }

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listSquareAiSearchValidateBeforeCall(String keyword, String currency, Integer timeRange, Integer sort, Integer limit, Integer page, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = listSquareAiSearchCall(keyword, currency, timeRange, sort, limit, page, _callback);
        return localVarCall;
    }


    private ApiResponse<ListSquareAiSearchResponse> listSquareAiSearchWithHttpInfo(String keyword, String currency, Integer timeRange, Integer sort, Integer limit, Integer page) throws ApiException {
        okhttp3.Call localVarCall = listSquareAiSearchValidateBeforeCall(keyword, currency, timeRange, sort, limit, page, null);
        Type localVarReturnType = new TypeToken<ListSquareAiSearchResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call listSquareAiSearchAsync(String keyword, String currency, Integer timeRange, Integer sort, Integer limit, Integer page, final ApiCallback<ListSquareAiSearchResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = listSquareAiSearchValidateBeforeCall(keyword, currency, timeRange, sort, limit, page, _callback);
        Type localVarReturnType = new TypeToken<ListSquareAiSearchResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIlistSquareAiSearchRequest {
        private String keyword;
        private String currency;
        private Integer timeRange;
        private Integer sort;
        private Integer limit;
        private Integer page;

        private APIlistSquareAiSearchRequest() {
        }

        /**
         * Set keyword
         * @param keyword Search keyword (currency name or content keyword, e.g., BTC, ETH) (optional)
         * @return APIlistSquareAiSearchRequest
         */
        public APIlistSquareAiSearchRequest keyword(String keyword) {
            this.keyword = keyword;
            return this;
        }

        /**
         * Set currency
         * @param currency Filter by currency (exact currency code, e.g., BTC, ETH, SOL) (optional)
         * @return APIlistSquareAiSearchRequest
         */
        public APIlistSquareAiSearchRequest currency(String currency) {
            this.currency = currency;
            return this;
        }

        /**
         * Set timeRange
         * @param timeRange Time range: 0 &#x3D; unlimited (default), 1 &#x3D; last day, 2 &#x3D; last week, 3 &#x3D; last month (optional, default to 0)
         * @return APIlistSquareAiSearchRequest
         */
        public APIlistSquareAiSearchRequest timeRange(Integer timeRange) {
            this.timeRange = timeRange;
            return this;
        }

        /**
         * Set sort
         * @param sort Sort order: 0 &#x3D; most popular (default), 1 &#x3D; latest (optional, default to 0)
         * @return APIlistSquareAiSearchRequest
         */
        public APIlistSquareAiSearchRequest sort(Integer sort) {
            this.sort = sort;
            return this;
        }

        /**
         * Set limit
         * @param limit Return count, 1-50, default 10 (optional, default to 10)
         * @return APIlistSquareAiSearchRequest
         */
        public APIlistSquareAiSearchRequest limit(Integer limit) {
            this.limit = limit;
            return this;
        }

        /**
         * Set page
         * @param page Page number (optional, default to 1)
         * @return APIlistSquareAiSearchRequest
         */
        public APIlistSquareAiSearchRequest page(Integer page) {
            this.page = page;
            return this;
        }

        /**
         * Build call for listSquareAiSearch
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field (code&#x3D;0 means success) </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return listSquareAiSearchCall(keyword, currency, timeRange, sort, limit, page, _callback);
        }

        /**
         * Execute listSquareAiSearch request
         * @return ListSquareAiSearchResponse
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field (code&#x3D;0 means success) </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
         </table>
         */
        public ListSquareAiSearchResponse execute() throws ApiException {
            ApiResponse<ListSquareAiSearchResponse> localVarResp = listSquareAiSearchWithHttpInfo(keyword, currency, timeRange, sort, limit, page);
            return localVarResp.getData();
        }

        /**
         * Execute listSquareAiSearch request with HTTP info returned
         * @return ApiResponse&lt;ListSquareAiSearchResponse&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field (code&#x3D;0 means success) </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<ListSquareAiSearchResponse> executeWithHttpInfo() throws ApiException {
            return listSquareAiSearchWithHttpInfo(keyword, currency, timeRange, sort, limit, page);
        }

        /**
         * Execute listSquareAiSearch request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field (code&#x3D;0 means success) </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<ListSquareAiSearchResponse> _callback) throws ApiException {
            return listSquareAiSearchAsync(keyword, currency, timeRange, sort, limit, page, _callback);
        }
    }

    /**
     * AI MCP Dynamic Search
     * Dynamic search endpoint for AI MCP platform. All parameters are passed via query string. Returns simplified fields. Designed for LLM function calling / MCP tool scenarios.
     * @return APIlistSquareAiSearchRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field (code&#x3D;0 means success) </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public APIlistSquareAiSearchRequest listSquareAiSearch() {
        return new APIlistSquareAiSearchRequest();
    }

    private okhttp3.Call listLiveReplayCall(String tag, String coin, String sort, Integer limit, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/social/live/tag_coin_live_replay";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (tag != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("tag", tag));
        }

        if (coin != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("coin", coin));
        }

        if (sort != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("sort", sort));
        }

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listLiveReplayValidateBeforeCall(String tag, String coin, String sort, Integer limit, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = listLiveReplayCall(tag, coin, sort, limit, _callback);
        return localVarCall;
    }


    private ApiResponse<ListLiveReplayResponse> listLiveReplayWithHttpInfo(String tag, String coin, String sort, Integer limit) throws ApiException {
        okhttp3.Call localVarCall = listLiveReplayValidateBeforeCall(tag, coin, sort, limit, null);
        Type localVarReturnType = new TypeToken<ListLiveReplayResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call listLiveReplayAsync(String tag, String coin, String sort, Integer limit, final ApiCallback<ListLiveReplayResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = listLiveReplayValidateBeforeCall(tag, coin, sort, limit, _callback);
        Type localVarReturnType = new TypeToken<ListLiveReplayResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIlistLiveReplayRequest {
        private String tag;
        private String coin;
        private String sort;
        private Integer limit;

        private APIlistLiveReplayRequest() {
        }

        /**
         * Set tag
         * @param tag Business type filter. Available values: Market Analysis, Hot Topics, Blockchain, Others (optional)
         * @return APIlistLiveReplayRequest
         */
        public APIlistLiveReplayRequest tag(String tag) {
            this.tag = tag;
            return this;
        }

        /**
         * Set coin
         * @param coin Filter by currency name (e.g., BTC, ETH) (optional)
         * @return APIlistLiveReplayRequest
         */
        public APIlistLiveReplayRequest coin(String coin) {
            this.coin = coin;
            return this;
        }

        /**
         * Set sort
         * @param sort Sort order: hot &#x3D; most popular (default), new &#x3D; latest (optional, default to hot)
         * @return APIlistLiveReplayRequest
         */
        public APIlistLiveReplayRequest sort(String sort) {
            this.sort = sort;
            return this;
        }

        /**
         * Set limit
         * @param limit Return count, 1-10, default 3 (optional, default to 3)
         * @return APIlistLiveReplayRequest
         */
        public APIlistLiveReplayRequest limit(Integer limit) {
            this.limit = limit;
            return this;
        }

        /**
         * Build call for listLiveReplay
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field (code&#x3D;200 means success) </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return listLiveReplayCall(tag, coin, sort, limit, _callback);
        }

        /**
         * Execute listLiveReplay request
         * @return ListLiveReplayResponse
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field (code&#x3D;200 means success) </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
         </table>
         */
        public ListLiveReplayResponse execute() throws ApiException {
            ApiResponse<ListLiveReplayResponse> localVarResp = listLiveReplayWithHttpInfo(tag, coin, sort, limit);
            return localVarResp.getData();
        }

        /**
         * Execute listLiveReplay request with HTTP info returned
         * @return ApiResponse&lt;ListLiveReplayResponse&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field (code&#x3D;200 means success) </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<ListLiveReplayResponse> executeWithHttpInfo() throws ApiException {
            return listLiveReplayWithHttpInfo(tag, coin, sort, limit);
        }

        /**
         * Execute listLiveReplay request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field (code&#x3D;200 means success) </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<ListLiveReplayResponse> _callback) throws ApiException {
            return listLiveReplayAsync(tag, coin, sort, limit, _callback);
        }
    }

    /**
     * Gate AI Assistant live stream data retrieval
     * AI assistant live stream/replay search endpoint. Filters live rooms or replay videos by business tags and currency. Each record in the returned list is distinguished by content_type: streaming &#x3D; live broadcast (live field has value), video &#x3D; replay video (video field has value). The number of results is controlled by the limit parameter (max 10), no additional pagination needed.
     * @return APIlistLiveReplayRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field (code&#x3D;200 means success) </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public APIlistLiveReplayRequest listLiveReplay() {
        return new APIlistLiveReplayRequest();
    }

}
