/*
 * Gate API
 * Welcome to Gate API APIv4 provides operations related to spot, margin, and contract trading, including public interfaces for querying market data and authenticated private interfaces for implementing API-based automated trading.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package io.gate.gateapi.api;

import io.gate.gateapi.ApiCallback;
import io.gate.gateapi.ApiClient;
import io.gate.gateapi.ApiException;
import io.gate.gateapi.ApiResponse;
import io.gate.gateapi.Configuration;
import io.gate.gateapi.Pair;

import com.google.gson.reflect.TypeToken;


import io.gate.gateapi.models.ClosePosition;
import io.gate.gateapi.models.CreateOrder2;
import io.gate.gateapi.models.CreateTransaction2;
import io.gate.gateapi.models.DeleteOrder;
import io.gate.gateapi.models.Exchanges;
import io.gate.gateapi.models.FeeRate;
import io.gate.gateapi.models.OrderBook2;
import io.gate.gateapi.models.OrderHistoryList2;
import io.gate.gateapi.models.OrderList2;
import io.gate.gateapi.models.PositionList2;
import io.gate.gateapi.models.SymbolDetail;
import io.gate.gateapi.models.Symbols2;
import io.gate.gateapi.models.TradFiSpotClosePositionRequest;
import io.gate.gateapi.models.TradFiSpotError;
import io.gate.gateapi.models.TradFiSpotOrderRequest;
import io.gate.gateapi.models.TradFiSpotOrderUpdateRequest;
import io.gate.gateapi.models.TradFiSpotTransactionRequest;
import io.gate.gateapi.models.TransactionList2;
import io.gate.gateapi.models.UpdateOrder2;
import io.gate.gateapi.models.UserAssetResp2;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class StockApi {
    private ApiClient localVarApiClient;

    public StockApi() {
        this(Configuration.getDefaultApiClient());
    }

    public StockApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    private okhttp3.Call queryStockUserAssetsCall(Integer pnlCalcType, Integer pnlCalcPrice, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/stock/users/assets";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (pnlCalcType != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("pnl_calc_type", pnlCalcType));
        }

        if (pnlCalcPrice != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("pnl_calc_price", pnlCalcPrice));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call queryStockUserAssetsValidateBeforeCall(Integer pnlCalcType, Integer pnlCalcPrice, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = queryStockUserAssetsCall(pnlCalcType, pnlCalcPrice, _callback);
        return localVarCall;
    }


    private ApiResponse<UserAssetResp2> queryStockUserAssetsWithHttpInfo(Integer pnlCalcType, Integer pnlCalcPrice) throws ApiException {
        okhttp3.Call localVarCall = queryStockUserAssetsValidateBeforeCall(pnlCalcType, pnlCalcPrice, null);
        Type localVarReturnType = new TypeToken<UserAssetResp2>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call queryStockUserAssetsAsync(Integer pnlCalcType, Integer pnlCalcPrice, final ApiCallback<UserAssetResp2> _callback) throws ApiException {
        okhttp3.Call localVarCall = queryStockUserAssetsValidateBeforeCall(pnlCalcType, pnlCalcPrice, _callback);
        Type localVarReturnType = new TypeToken<UserAssetResp2>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIqueryStockUserAssetsRequest {
        private Integer pnlCalcType;
        private Integer pnlCalcPrice;

        private APIqueryStockUserAssetsRequest() {
        }

        /**
         * Set pnlCalcType
         * @param pnlCalcType PnL calculation cost type. Defaults to average cost price when omitted (1 &#x3D; average cost price, 2 &#x3D; diluted cost price) (optional)
         * @return APIqueryStockUserAssetsRequest
         */
        public APIqueryStockUserAssetsRequest pnlCalcType(Integer pnlCalcType) {
            this.pnlCalcType = pnlCalcType;
            return this;
        }

        /**
         * Set pnlCalcPrice
         * @param pnlCalcPrice PnL calculation price type. Defaults to intraday price when omitted (1 &#x3D; intraday price, 2 &#x3D; latest extended-hours price) (optional)
         * @return APIqueryStockUserAssetsRequest
         */
        public APIqueryStockUserAssetsRequest pnlCalcPrice(Integer pnlCalcPrice) {
            this.pnlCalcPrice = pnlCalcPrice;
            return this;
        }

        /**
         * Build call for queryStockUserAssets
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return queryStockUserAssetsCall(pnlCalcType, pnlCalcPrice, _callback);
        }

        /**
         * Execute queryStockUserAssets request
         * @return UserAssetResp2
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public UserAssetResp2 execute() throws ApiException {
            ApiResponse<UserAssetResp2> localVarResp = queryStockUserAssetsWithHttpInfo(pnlCalcType, pnlCalcPrice);
            return localVarResp.getData();
        }

        /**
         * Execute queryStockUserAssets request with HTTP info returned
         * @return ApiResponse&lt;UserAssetResp2&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<UserAssetResp2> executeWithHttpInfo() throws ApiException {
            return queryStockUserAssetsWithHttpInfo(pnlCalcType, pnlCalcPrice);
        }

        /**
         * Execute queryStockUserAssets request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<UserAssetResp2> _callback) throws ApiException {
            return queryStockUserAssetsAsync(pnlCalcType, pnlCalcPrice, _callback);
        }
    }

    /**
     * Query user assets
     * Rate limit: 5 qps.
     * @return APIqueryStockUserAssetsRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public APIqueryStockUserAssetsRequest queryStockUserAssets() {
        return new APIqueryStockUserAssetsRequest();
    }

    private okhttp3.Call queryStockSymbolsCall(String symbols, String exchange, Boolean withDescI18n, Integer page, Integer pageSize, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/stock/symbols";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (symbols != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("symbols", symbols));
        }

        if (exchange != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("exchange", exchange));
        }

        if (withDescI18n != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("with_desc_i18n", withDescI18n));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (pageSize != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page_size", pageSize));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call queryStockSymbolsValidateBeforeCall(String symbols, String exchange, Boolean withDescI18n, Integer page, Integer pageSize, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = queryStockSymbolsCall(symbols, exchange, withDescI18n, page, pageSize, _callback);
        return localVarCall;
    }


    private ApiResponse<Symbols2> queryStockSymbolsWithHttpInfo(String symbols, String exchange, Boolean withDescI18n, Integer page, Integer pageSize) throws ApiException {
        okhttp3.Call localVarCall = queryStockSymbolsValidateBeforeCall(symbols, exchange, withDescI18n, page, pageSize, null);
        Type localVarReturnType = new TypeToken<Symbols2>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call queryStockSymbolsAsync(String symbols, String exchange, Boolean withDescI18n, Integer page, Integer pageSize, final ApiCallback<Symbols2> _callback) throws ApiException {
        okhttp3.Call localVarCall = queryStockSymbolsValidateBeforeCall(symbols, exchange, withDescI18n, page, pageSize, _callback);
        Type localVarReturnType = new TypeToken<Symbols2>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIqueryStockSymbolsRequest {
        private String symbols;
        private String exchange;
        private Boolean withDescI18n;
        private Integer page;
        private Integer pageSize;

        private APIqueryStockSymbolsRequest() {
        }

        /**
         * Set symbols
         * @param symbols Symbol list, multiple separated by commas (optional)
         * @return APIqueryStockSymbolsRequest
         */
        public APIqueryStockSymbolsRequest symbols(String symbols) {
            this.symbols = symbols;
            return this;
        }

        /**
         * Set exchange
         * @param exchange Exchange, supports us, hk, and kr (optional)
         * @return APIqueryStockSymbolsRequest
         */
        public APIqueryStockSymbolsRequest exchange(String exchange) {
            this.exchange = exchange;
            return this;
        }

        /**
         * Set withDescI18n
         * @param withDescI18n Whether to return multilingual symbol description (optional)
         * @return APIqueryStockSymbolsRequest
         */
        public APIqueryStockSymbolsRequest withDescI18n(Boolean withDescI18n) {
            this.withDescI18n = withDescI18n;
            return this;
        }

        /**
         * Set page
         * @param page Page number, defaults to 1 (optional)
         * @return APIqueryStockSymbolsRequest
         */
        public APIqueryStockSymbolsRequest page(Integer page) {
            this.page = page;
            return this;
        }

        /**
         * Set pageSize
         * @param pageSize Page size, defaults to 10, max 500; server caps at 500 (optional)
         * @return APIqueryStockSymbolsRequest
         */
        public APIqueryStockSymbolsRequest pageSize(Integer pageSize) {
            this.pageSize = pageSize;
            return this;
        }

        /**
         * Build call for queryStockSymbols
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return queryStockSymbolsCall(symbols, exchange, withDescI18n, page, pageSize, _callback);
        }

        /**
         * Execute queryStockSymbols request
         * @return Symbols2
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public Symbols2 execute() throws ApiException {
            ApiResponse<Symbols2> localVarResp = queryStockSymbolsWithHttpInfo(symbols, exchange, withDescI18n, page, pageSize);
            return localVarResp.getData();
        }

        /**
         * Execute queryStockSymbols request with HTTP info returned
         * @return ApiResponse&lt;Symbols2&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<Symbols2> executeWithHttpInfo() throws ApiException {
            return queryStockSymbolsWithHttpInfo(symbols, exchange, withDescI18n, page, pageSize);
        }

        /**
         * Execute queryStockSymbols request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<Symbols2> _callback) throws ApiException {
            return queryStockSymbolsAsync(symbols, exchange, withDescI18n, page, pageSize, _callback);
        }
    }

    /**
     * Query symbol list
     * Rate limit: 5 qps.
     * @return APIqueryStockSymbolsRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public APIqueryStockSymbolsRequest queryStockSymbols() {
        return new APIqueryStockSymbolsRequest();
    }

    private okhttp3.Call queryStockSymbolDetailCall(String symbols, String exchange, Integer page, Integer pageSize, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/stock/symbols/detail";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (symbols != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("symbols", symbols));
        }

        if (exchange != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("exchange", exchange));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (pageSize != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page_size", pageSize));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call queryStockSymbolDetailValidateBeforeCall(String symbols, String exchange, Integer page, Integer pageSize, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = queryStockSymbolDetailCall(symbols, exchange, page, pageSize, _callback);
        return localVarCall;
    }


    private ApiResponse<SymbolDetail> queryStockSymbolDetailWithHttpInfo(String symbols, String exchange, Integer page, Integer pageSize) throws ApiException {
        okhttp3.Call localVarCall = queryStockSymbolDetailValidateBeforeCall(symbols, exchange, page, pageSize, null);
        Type localVarReturnType = new TypeToken<SymbolDetail>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call queryStockSymbolDetailAsync(String symbols, String exchange, Integer page, Integer pageSize, final ApiCallback<SymbolDetail> _callback) throws ApiException {
        okhttp3.Call localVarCall = queryStockSymbolDetailValidateBeforeCall(symbols, exchange, page, pageSize, _callback);
        Type localVarReturnType = new TypeToken<SymbolDetail>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIqueryStockSymbolDetailRequest {
        private String symbols;
        private String exchange;
        private Integer page;
        private Integer pageSize;

        private APIqueryStockSymbolDetailRequest() {
        }

        /**
         * Set symbols
         * @param symbols Symbol list, multiple separated by commas (optional)
         * @return APIqueryStockSymbolDetailRequest
         */
        public APIqueryStockSymbolDetailRequest symbols(String symbols) {
            this.symbols = symbols;
            return this;
        }

        /**
         * Set exchange
         * @param exchange Exchange, supports us, hk, and kr (optional)
         * @return APIqueryStockSymbolDetailRequest
         */
        public APIqueryStockSymbolDetailRequest exchange(String exchange) {
            this.exchange = exchange;
            return this;
        }

        /**
         * Set page
         * @param page Page number, defaults to 1 (optional)
         * @return APIqueryStockSymbolDetailRequest
         */
        public APIqueryStockSymbolDetailRequest page(Integer page) {
            this.page = page;
            return this;
        }

        /**
         * Set pageSize
         * @param pageSize Page size, defaults to 10, max 500; server caps at 500 (optional)
         * @return APIqueryStockSymbolDetailRequest
         */
        public APIqueryStockSymbolDetailRequest pageSize(Integer pageSize) {
            this.pageSize = pageSize;
            return this;
        }

        /**
         * Build call for queryStockSymbolDetail
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return queryStockSymbolDetailCall(symbols, exchange, page, pageSize, _callback);
        }

        /**
         * Execute queryStockSymbolDetail request
         * @return SymbolDetail
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public SymbolDetail execute() throws ApiException {
            ApiResponse<SymbolDetail> localVarResp = queryStockSymbolDetailWithHttpInfo(symbols, exchange, page, pageSize);
            return localVarResp.getData();
        }

        /**
         * Execute queryStockSymbolDetail request with HTTP info returned
         * @return ApiResponse&lt;SymbolDetail&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<SymbolDetail> executeWithHttpInfo() throws ApiException {
            return queryStockSymbolDetailWithHttpInfo(symbols, exchange, page, pageSize);
        }

        /**
         * Execute queryStockSymbolDetail request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<SymbolDetail> _callback) throws ApiException {
            return queryStockSymbolDetailAsync(symbols, exchange, page, pageSize, _callback);
        }
    }

    /**
     * Query symbol details
     * Rate limit: 5 qps.
     * @return APIqueryStockSymbolDetailRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public APIqueryStockSymbolDetailRequest queryStockSymbolDetail() {
        return new APIqueryStockSymbolDetailRequest();
    }

    /**
     * Build call for queryStockOrderBook
     * @param symbol Symbol (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call queryStockOrderBookCall(String symbol, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/stock/market/{symbol}/orderbook"
            .replaceAll("\\{" + "symbol" + "\\}", localVarApiClient.escapeString(symbol));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call queryStockOrderBookValidateBeforeCall(String symbol, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'symbol' is set
        if (symbol == null) {
            throw new ApiException("Missing the required parameter 'symbol' when calling queryStockOrderBook(Async)");
        }

        okhttp3.Call localVarCall = queryStockOrderBookCall(symbol, _callback);
        return localVarCall;
    }

    /**
     * Query market order book
     * Rate limit: 5 qps.
     * @param symbol Symbol (required)
     * @return OrderBook2
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public OrderBook2 queryStockOrderBook(String symbol) throws ApiException {
        ApiResponse<OrderBook2> localVarResp = queryStockOrderBookWithHttpInfo(symbol);
        return localVarResp.getData();
    }

    /**
     * Query market order book
     * Rate limit: 5 qps.
     * @param symbol Symbol (required)
     * @return ApiResponse&lt;OrderBook2&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OrderBook2> queryStockOrderBookWithHttpInfo(String symbol) throws ApiException {
        okhttp3.Call localVarCall = queryStockOrderBookValidateBeforeCall(symbol, null);
        Type localVarReturnType = new TypeToken<OrderBook2>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Query market order book (asynchronously)
     * Rate limit: 5 qps.
     * @param symbol Symbol (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call queryStockOrderBookAsync(String symbol, final ApiCallback<OrderBook2> _callback) throws ApiException {
        okhttp3.Call localVarCall = queryStockOrderBookValidateBeforeCall(symbol, _callback);
        Type localVarReturnType = new TypeToken<OrderBook2>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    private okhttp3.Call queryStockOrderListCall(String symbol, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/stock/orders";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (symbol != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("symbol", symbol));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call queryStockOrderListValidateBeforeCall(String symbol, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = queryStockOrderListCall(symbol, _callback);
        return localVarCall;
    }


    private ApiResponse<OrderList2> queryStockOrderListWithHttpInfo(String symbol) throws ApiException {
        okhttp3.Call localVarCall = queryStockOrderListValidateBeforeCall(symbol, null);
        Type localVarReturnType = new TypeToken<OrderList2>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call queryStockOrderListAsync(String symbol, final ApiCallback<OrderList2> _callback) throws ApiException {
        okhttp3.Call localVarCall = queryStockOrderListValidateBeforeCall(symbol, _callback);
        Type localVarReturnType = new TypeToken<OrderList2>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIqueryStockOrderListRequest {
        private String symbol;

        private APIqueryStockOrderListRequest() {
        }

        /**
         * Set symbol
         * @param symbol Symbol (optional)
         * @return APIqueryStockOrderListRequest
         */
        public APIqueryStockOrderListRequest symbol(String symbol) {
            this.symbol = symbol;
            return this;
        }

        /**
         * Build call for queryStockOrderList
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return queryStockOrderListCall(symbol, _callback);
        }

        /**
         * Execute queryStockOrderList request
         * @return OrderList2
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public OrderList2 execute() throws ApiException {
            ApiResponse<OrderList2> localVarResp = queryStockOrderListWithHttpInfo(symbol);
            return localVarResp.getData();
        }

        /**
         * Execute queryStockOrderList request with HTTP info returned
         * @return ApiResponse&lt;OrderList2&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<OrderList2> executeWithHttpInfo() throws ApiException {
            return queryStockOrderListWithHttpInfo(symbol);
        }

        /**
         * Execute queryStockOrderList request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<OrderList2> _callback) throws ApiException {
            return queryStockOrderListAsync(symbol, _callback);
        }
    }

    /**
     * Query open order list
     * Rate limit: 5 qps.
     * @return APIqueryStockOrderListRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public APIqueryStockOrderListRequest queryStockOrderList() {
        return new APIqueryStockOrderListRequest();
    }

    /**
     * Build call for createStockOrder
     * @param tradFiSpotOrderRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order placed successfully </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createStockOrderCall(TradFiSpotOrderRequest tradFiSpotOrderRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = tradFiSpotOrderRequest;

        // create path and map variables
        String localVarPath = "/stock/orders";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createStockOrderValidateBeforeCall(TradFiSpotOrderRequest tradFiSpotOrderRequest, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'tradFiSpotOrderRequest' is set
        if (tradFiSpotOrderRequest == null) {
            throw new ApiException("Missing the required parameter 'tradFiSpotOrderRequest' when calling createStockOrder(Async)");
        }

        okhttp3.Call localVarCall = createStockOrderCall(tradFiSpotOrderRequest, _callback);
        return localVarCall;
    }

    /**
     * Create order
     * Rate limit: 5 qps.
     * @param tradFiSpotOrderRequest  (required)
     * @return CreateOrder2
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order placed successfully </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public CreateOrder2 createStockOrder(TradFiSpotOrderRequest tradFiSpotOrderRequest) throws ApiException {
        ApiResponse<CreateOrder2> localVarResp = createStockOrderWithHttpInfo(tradFiSpotOrderRequest);
        return localVarResp.getData();
    }

    /**
     * Create order
     * Rate limit: 5 qps.
     * @param tradFiSpotOrderRequest  (required)
     * @return ApiResponse&lt;CreateOrder2&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order placed successfully </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<CreateOrder2> createStockOrderWithHttpInfo(TradFiSpotOrderRequest tradFiSpotOrderRequest) throws ApiException {
        okhttp3.Call localVarCall = createStockOrderValidateBeforeCall(tradFiSpotOrderRequest, null);
        Type localVarReturnType = new TypeToken<CreateOrder2>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Create order (asynchronously)
     * Rate limit: 5 qps.
     * @param tradFiSpotOrderRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order placed successfully </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createStockOrderAsync(TradFiSpotOrderRequest tradFiSpotOrderRequest, final ApiCallback<CreateOrder2> _callback) throws ApiException {
        okhttp3.Call localVarCall = createStockOrderValidateBeforeCall(tradFiSpotOrderRequest, _callback);
        Type localVarReturnType = new TypeToken<CreateOrder2>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for deleteAllStockOrders
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call deleteAllStockOrdersCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/stock/orders";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call deleteAllStockOrdersValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = deleteAllStockOrdersCall(_callback);
        return localVarCall;
    }

    /**
     * Cancel all open orders
     * Rate limit: 5 qps.
     * @return DeleteOrder
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public DeleteOrder deleteAllStockOrders() throws ApiException {
        ApiResponse<DeleteOrder> localVarResp = deleteAllStockOrdersWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Cancel all open orders
     * Rate limit: 5 qps.
     * @return ApiResponse&lt;DeleteOrder&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<DeleteOrder> deleteAllStockOrdersWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = deleteAllStockOrdersValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<DeleteOrder>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Cancel all open orders (asynchronously)
     * Rate limit: 5 qps.
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call deleteAllStockOrdersAsync(final ApiCallback<DeleteOrder> _callback) throws ApiException {
        okhttp3.Call localVarCall = deleteAllStockOrdersValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<DeleteOrder>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    private okhttp3.Call queryStockOrderHistoryCall(String symbol, String orderIds, Integer beginTime, Integer endTime, Integer side, Integer page, Integer pageSize, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/stock/orders/history";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (symbol != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("symbol", symbol));
        }

        if (orderIds != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("order_ids", orderIds));
        }

        if (beginTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("begin_time", beginTime));
        }

        if (endTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("end_time", endTime));
        }

        if (side != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("side", side));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (pageSize != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page_size", pageSize));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call queryStockOrderHistoryValidateBeforeCall(String symbol, String orderIds, Integer beginTime, Integer endTime, Integer side, Integer page, Integer pageSize, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = queryStockOrderHistoryCall(symbol, orderIds, beginTime, endTime, side, page, pageSize, _callback);
        return localVarCall;
    }


    private ApiResponse<OrderHistoryList2> queryStockOrderHistoryWithHttpInfo(String symbol, String orderIds, Integer beginTime, Integer endTime, Integer side, Integer page, Integer pageSize) throws ApiException {
        okhttp3.Call localVarCall = queryStockOrderHistoryValidateBeforeCall(symbol, orderIds, beginTime, endTime, side, page, pageSize, null);
        Type localVarReturnType = new TypeToken<OrderHistoryList2>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call queryStockOrderHistoryAsync(String symbol, String orderIds, Integer beginTime, Integer endTime, Integer side, Integer page, Integer pageSize, final ApiCallback<OrderHistoryList2> _callback) throws ApiException {
        okhttp3.Call localVarCall = queryStockOrderHistoryValidateBeforeCall(symbol, orderIds, beginTime, endTime, side, page, pageSize, _callback);
        Type localVarReturnType = new TypeToken<OrderHistoryList2>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIqueryStockOrderHistoryRequest {
        private String symbol;
        private String orderIds;
        private Integer beginTime;
        private Integer endTime;
        private Integer side;
        private Integer page;
        private Integer pageSize;

        private APIqueryStockOrderHistoryRequest() {
        }

        /**
         * Set symbol
         * @param symbol Symbol (optional)
         * @return APIqueryStockOrderHistoryRequest
         */
        public APIqueryStockOrderHistoryRequest symbol(String symbol) {
            this.symbol = symbol;
            return this;
        }

        /**
         * Set orderIds
         * @param orderIds Order ID list, multiple separated by commas; max 20, each must be a positive integer (optional)
         * @return APIqueryStockOrderHistoryRequest
         */
        public APIqueryStockOrderHistoryRequest orderIds(String orderIds) {
            this.orderIds = orderIds;
            return this;
        }

        /**
         * Set beginTime
         * @param beginTime Start time (Unix timestamp, seconds). When both begin_time and end_time are provided, end_time must be &gt;&#x3D; begin_time, query range must not exceed 3 months. (optional)
         * @return APIqueryStockOrderHistoryRequest
         */
        public APIqueryStockOrderHistoryRequest beginTime(Integer beginTime) {
            this.beginTime = beginTime;
            return this;
        }

        /**
         * Set endTime
         * @param endTime End time (Unix timestamp, seconds). When both begin_time and end_time are provided, end_time must be &gt;&#x3D; begin_time, query range must not exceed 3 months. (optional)
         * @return APIqueryStockOrderHistoryRequest
         */
        public APIqueryStockOrderHistoryRequest endTime(Integer endTime) {
            this.endTime = endTime;
            return this;
        }

        /**
         * Set side
         * @param side Side (1&#x3D;sell, 2&#x3D;buy) (optional)
         * @return APIqueryStockOrderHistoryRequest
         */
        public APIqueryStockOrderHistoryRequest side(Integer side) {
            this.side = side;
            return this;
        }

        /**
         * Set page
         * @param page Page number, defaults to 1 (optional)
         * @return APIqueryStockOrderHistoryRequest
         */
        public APIqueryStockOrderHistoryRequest page(Integer page) {
            this.page = page;
            return this;
        }

        /**
         * Set pageSize
         * @param pageSize Page size, defaults to 10, max 500; server caps at 500 (optional)
         * @return APIqueryStockOrderHistoryRequest
         */
        public APIqueryStockOrderHistoryRequest pageSize(Integer pageSize) {
            this.pageSize = pageSize;
            return this;
        }

        /**
         * Build call for queryStockOrderHistory
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return queryStockOrderHistoryCall(symbol, orderIds, beginTime, endTime, side, page, pageSize, _callback);
        }

        /**
         * Execute queryStockOrderHistory request
         * @return OrderHistoryList2
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public OrderHistoryList2 execute() throws ApiException {
            ApiResponse<OrderHistoryList2> localVarResp = queryStockOrderHistoryWithHttpInfo(symbol, orderIds, beginTime, endTime, side, page, pageSize);
            return localVarResp.getData();
        }

        /**
         * Execute queryStockOrderHistory request with HTTP info returned
         * @return ApiResponse&lt;OrderHistoryList2&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<OrderHistoryList2> executeWithHttpInfo() throws ApiException {
            return queryStockOrderHistoryWithHttpInfo(symbol, orderIds, beginTime, endTime, side, page, pageSize);
        }

        /**
         * Execute queryStockOrderHistory request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<OrderHistoryList2> _callback) throws ApiException {
            return queryStockOrderHistoryAsync(symbol, orderIds, beginTime, endTime, side, page, pageSize, _callback);
        }
    }

    /**
     * Query historical order list
     * Rate limit: 5 qps.
     * @return APIqueryStockOrderHistoryRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public APIqueryStockOrderHistoryRequest queryStockOrderHistory() {
        return new APIqueryStockOrderHistoryRequest();
    }

    /**
     * Build call for updateStockOrder
     * @param orderId Order ID (required)
     * @param tradFiSpotOrderUpdateRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call updateStockOrderCall(Long orderId, TradFiSpotOrderUpdateRequest tradFiSpotOrderUpdateRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = tradFiSpotOrderUpdateRequest;

        // create path and map variables
        String localVarPath = "/stock/orders/{order_id}"
            .replaceAll("\\{" + "order_id" + "\\}", localVarApiClient.escapeString(orderId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call updateStockOrderValidateBeforeCall(Long orderId, TradFiSpotOrderUpdateRequest tradFiSpotOrderUpdateRequest, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException("Missing the required parameter 'orderId' when calling updateStockOrder(Async)");
        }

        // verify the required parameter 'tradFiSpotOrderUpdateRequest' is set
        if (tradFiSpotOrderUpdateRequest == null) {
            throw new ApiException("Missing the required parameter 'tradFiSpotOrderUpdateRequest' when calling updateStockOrder(Async)");
        }

        okhttp3.Call localVarCall = updateStockOrderCall(orderId, tradFiSpotOrderUpdateRequest, _callback);
        return localVarCall;
    }

    /**
     * Modify order
     * Rate limit: 5 qps.
     * @param orderId Order ID (required)
     * @param tradFiSpotOrderUpdateRequest  (required)
     * @return UpdateOrder2
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public UpdateOrder2 updateStockOrder(Long orderId, TradFiSpotOrderUpdateRequest tradFiSpotOrderUpdateRequest) throws ApiException {
        ApiResponse<UpdateOrder2> localVarResp = updateStockOrderWithHttpInfo(orderId, tradFiSpotOrderUpdateRequest);
        return localVarResp.getData();
    }

    /**
     * Modify order
     * Rate limit: 5 qps.
     * @param orderId Order ID (required)
     * @param tradFiSpotOrderUpdateRequest  (required)
     * @return ApiResponse&lt;UpdateOrder2&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<UpdateOrder2> updateStockOrderWithHttpInfo(Long orderId, TradFiSpotOrderUpdateRequest tradFiSpotOrderUpdateRequest) throws ApiException {
        okhttp3.Call localVarCall = updateStockOrderValidateBeforeCall(orderId, tradFiSpotOrderUpdateRequest, null);
        Type localVarReturnType = new TypeToken<UpdateOrder2>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Modify order (asynchronously)
     * Rate limit: 5 qps.
     * @param orderId Order ID (required)
     * @param tradFiSpotOrderUpdateRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call updateStockOrderAsync(Long orderId, TradFiSpotOrderUpdateRequest tradFiSpotOrderUpdateRequest, final ApiCallback<UpdateOrder2> _callback) throws ApiException {
        okhttp3.Call localVarCall = updateStockOrderValidateBeforeCall(orderId, tradFiSpotOrderUpdateRequest, _callback);
        Type localVarReturnType = new TypeToken<UpdateOrder2>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for deleteStockOrder
     * @param orderId Order ID (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call deleteStockOrderCall(Long orderId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/stock/orders/{order_id}"
            .replaceAll("\\{" + "order_id" + "\\}", localVarApiClient.escapeString(orderId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call deleteStockOrderValidateBeforeCall(Long orderId, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException("Missing the required parameter 'orderId' when calling deleteStockOrder(Async)");
        }

        okhttp3.Call localVarCall = deleteStockOrderCall(orderId, _callback);
        return localVarCall;
    }

    /**
     * Cancel order
     * Rate limit: 5 qps.
     * @param orderId Order ID (required)
     * @return DeleteOrder
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public DeleteOrder deleteStockOrder(Long orderId) throws ApiException {
        ApiResponse<DeleteOrder> localVarResp = deleteStockOrderWithHttpInfo(orderId);
        return localVarResp.getData();
    }

    /**
     * Cancel order
     * Rate limit: 5 qps.
     * @param orderId Order ID (required)
     * @return ApiResponse&lt;DeleteOrder&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<DeleteOrder> deleteStockOrderWithHttpInfo(Long orderId) throws ApiException {
        okhttp3.Call localVarCall = deleteStockOrderValidateBeforeCall(orderId, null);
        Type localVarReturnType = new TypeToken<DeleteOrder>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Cancel order (asynchronously)
     * Rate limit: 5 qps.
     * @param orderId Order ID (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call deleteStockOrderAsync(Long orderId, final ApiCallback<DeleteOrder> _callback) throws ApiException {
        okhttp3.Call localVarCall = deleteStockOrderValidateBeforeCall(orderId, _callback);
        Type localVarReturnType = new TypeToken<DeleteOrder>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    private okhttp3.Call queryStockPositionsCall(Integer pnlCalcType, Integer pnlCalcPrice, String symbol, String exchange, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/stock/positions";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (pnlCalcType != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("pnl_calc_type", pnlCalcType));
        }

        if (pnlCalcPrice != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("pnl_calc_price", pnlCalcPrice));
        }

        if (symbol != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("symbol", symbol));
        }

        if (exchange != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("exchange", exchange));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call queryStockPositionsValidateBeforeCall(Integer pnlCalcType, Integer pnlCalcPrice, String symbol, String exchange, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = queryStockPositionsCall(pnlCalcType, pnlCalcPrice, symbol, exchange, _callback);
        return localVarCall;
    }


    private ApiResponse<PositionList2> queryStockPositionsWithHttpInfo(Integer pnlCalcType, Integer pnlCalcPrice, String symbol, String exchange) throws ApiException {
        okhttp3.Call localVarCall = queryStockPositionsValidateBeforeCall(pnlCalcType, pnlCalcPrice, symbol, exchange, null);
        Type localVarReturnType = new TypeToken<PositionList2>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call queryStockPositionsAsync(Integer pnlCalcType, Integer pnlCalcPrice, String symbol, String exchange, final ApiCallback<PositionList2> _callback) throws ApiException {
        okhttp3.Call localVarCall = queryStockPositionsValidateBeforeCall(pnlCalcType, pnlCalcPrice, symbol, exchange, _callback);
        Type localVarReturnType = new TypeToken<PositionList2>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIqueryStockPositionsRequest {
        private Integer pnlCalcType;
        private Integer pnlCalcPrice;
        private String symbol;
        private String exchange;

        private APIqueryStockPositionsRequest() {
        }

        /**
         * Set pnlCalcType
         * @param pnlCalcType PnL calculation cost type. Defaults to average cost price when omitted (1 &#x3D; average cost price, 2 &#x3D; diluted cost price) (optional)
         * @return APIqueryStockPositionsRequest
         */
        public APIqueryStockPositionsRequest pnlCalcType(Integer pnlCalcType) {
            this.pnlCalcType = pnlCalcType;
            return this;
        }

        /**
         * Set pnlCalcPrice
         * @param pnlCalcPrice PnL calculation price type. Defaults to intraday price when omitted (1 &#x3D; intraday price, 2 &#x3D; latest extended-hours price) (optional)
         * @return APIqueryStockPositionsRequest
         */
        public APIqueryStockPositionsRequest pnlCalcPrice(Integer pnlCalcPrice) {
            this.pnlCalcPrice = pnlCalcPrice;
            return this;
        }

        /**
         * Set symbol
         * @param symbol Symbol (optional)
         * @return APIqueryStockPositionsRequest
         */
        public APIqueryStockPositionsRequest symbol(String symbol) {
            this.symbol = symbol;
            return this;
        }

        /**
         * Set exchange
         * @param exchange Exchange, supports us, hk, and kr (optional)
         * @return APIqueryStockPositionsRequest
         */
        public APIqueryStockPositionsRequest exchange(String exchange) {
            this.exchange = exchange;
            return this;
        }

        /**
         * Build call for queryStockPositions
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return queryStockPositionsCall(pnlCalcType, pnlCalcPrice, symbol, exchange, _callback);
        }

        /**
         * Execute queryStockPositions request
         * @return PositionList2
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public PositionList2 execute() throws ApiException {
            ApiResponse<PositionList2> localVarResp = queryStockPositionsWithHttpInfo(pnlCalcType, pnlCalcPrice, symbol, exchange);
            return localVarResp.getData();
        }

        /**
         * Execute queryStockPositions request with HTTP info returned
         * @return ApiResponse&lt;PositionList2&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<PositionList2> executeWithHttpInfo() throws ApiException {
            return queryStockPositionsWithHttpInfo(pnlCalcType, pnlCalcPrice, symbol, exchange);
        }

        /**
         * Execute queryStockPositions request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<PositionList2> _callback) throws ApiException {
            return queryStockPositionsAsync(pnlCalcType, pnlCalcPrice, symbol, exchange, _callback);
        }
    }

    /**
     * Query current position list
     * Rate limit: 5 qps.
     * @return APIqueryStockPositionsRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public APIqueryStockPositionsRequest queryStockPositions() {
        return new APIqueryStockPositionsRequest();
    }

    /**
     * Build call for closeStockPosition
     * @param tradFiSpotClosePositionRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call closeStockPositionCall(TradFiSpotClosePositionRequest tradFiSpotClosePositionRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = tradFiSpotClosePositionRequest;

        // create path and map variables
        String localVarPath = "/stock/positions/close";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call closeStockPositionValidateBeforeCall(TradFiSpotClosePositionRequest tradFiSpotClosePositionRequest, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'tradFiSpotClosePositionRequest' is set
        if (tradFiSpotClosePositionRequest == null) {
            throw new ApiException("Missing the required parameter 'tradFiSpotClosePositionRequest' when calling closeStockPosition(Async)");
        }

        okhttp3.Call localVarCall = closeStockPositionCall(tradFiSpotClosePositionRequest, _callback);
        return localVarCall;
    }

    /**
     * Close position
     * Rate limit: 5 qps.
     * @param tradFiSpotClosePositionRequest  (required)
     * @return ClosePosition
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public ClosePosition closeStockPosition(TradFiSpotClosePositionRequest tradFiSpotClosePositionRequest) throws ApiException {
        ApiResponse<ClosePosition> localVarResp = closeStockPositionWithHttpInfo(tradFiSpotClosePositionRequest);
        return localVarResp.getData();
    }

    /**
     * Close position
     * Rate limit: 5 qps.
     * @param tradFiSpotClosePositionRequest  (required)
     * @return ApiResponse&lt;ClosePosition&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ClosePosition> closeStockPositionWithHttpInfo(TradFiSpotClosePositionRequest tradFiSpotClosePositionRequest) throws ApiException {
        okhttp3.Call localVarCall = closeStockPositionValidateBeforeCall(tradFiSpotClosePositionRequest, null);
        Type localVarReturnType = new TypeToken<ClosePosition>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Close position (asynchronously)
     * Rate limit: 5 qps.
     * @param tradFiSpotClosePositionRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call closeStockPositionAsync(TradFiSpotClosePositionRequest tradFiSpotClosePositionRequest, final ApiCallback<ClosePosition> _callback) throws ApiException {
        okhttp3.Call localVarCall = closeStockPositionValidateBeforeCall(tradFiSpotClosePositionRequest, _callback);
        Type localVarReturnType = new TypeToken<ClosePosition>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    private okhttp3.Call queryStockTransactionsCall(Long beginTime, Long endTime, String refId, String type, Integer page, Integer pageSize, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/stock/transactions";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (beginTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("begin_time", beginTime));
        }

        if (endTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("end_time", endTime));
        }

        if (refId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("ref_id", refId));
        }

        if (type != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("type", type));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (pageSize != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page_size", pageSize));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call queryStockTransactionsValidateBeforeCall(Long beginTime, Long endTime, String refId, String type, Integer page, Integer pageSize, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = queryStockTransactionsCall(beginTime, endTime, refId, type, page, pageSize, _callback);
        return localVarCall;
    }


    private ApiResponse<TransactionList2> queryStockTransactionsWithHttpInfo(Long beginTime, Long endTime, String refId, String type, Integer page, Integer pageSize) throws ApiException {
        okhttp3.Call localVarCall = queryStockTransactionsValidateBeforeCall(beginTime, endTime, refId, type, page, pageSize, null);
        Type localVarReturnType = new TypeToken<TransactionList2>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call queryStockTransactionsAsync(Long beginTime, Long endTime, String refId, String type, Integer page, Integer pageSize, final ApiCallback<TransactionList2> _callback) throws ApiException {
        okhttp3.Call localVarCall = queryStockTransactionsValidateBeforeCall(beginTime, endTime, refId, type, page, pageSize, _callback);
        Type localVarReturnType = new TypeToken<TransactionList2>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIqueryStockTransactionsRequest {
        private Long beginTime;
        private Long endTime;
        private String refId;
        private String type;
        private Integer page;
        private Integer pageSize;

        private APIqueryStockTransactionsRequest() {
        }

        /**
         * Set beginTime
         * @param beginTime Start time (Unix timestamp, seconds). When both begin_time and end_time are provided, end_time must be &gt;&#x3D; begin_time, query range must not exceed 3 months. (optional)
         * @return APIqueryStockTransactionsRequest
         */
        public APIqueryStockTransactionsRequest beginTime(Long beginTime) {
            this.beginTime = beginTime;
            return this;
        }

        /**
         * Set endTime
         * @param endTime End time (Unix timestamp, seconds). When both begin_time and end_time are provided, end_time must be &gt;&#x3D; begin_time, query range must not exceed 3 months. (optional)
         * @return APIqueryStockTransactionsRequest
         */
        public APIqueryStockTransactionsRequest endTime(Long endTime) {
            this.endTime = endTime;
            return this;
        }

        /**
         * Set refId
         * @param refId Business idempotent ID. When ref_id is provided, the server queries by ref_id, ignoring other parameters such as begin_time, end_time, type, page, page_size (optional)
         * @return APIqueryStockTransactionsRequest
         */
        public APIqueryStockTransactionsRequest refId(String refId) {
            this.refId = refId;
            return this;
        }

        /**
         * Set type
         * @param type Transaction type (optional)
         * @return APIqueryStockTransactionsRequest
         */
        public APIqueryStockTransactionsRequest type(String type) {
            this.type = type;
            return this;
        }

        /**
         * Set page
         * @param page Page number, defaults to 1 (optional)
         * @return APIqueryStockTransactionsRequest
         */
        public APIqueryStockTransactionsRequest page(Integer page) {
            this.page = page;
            return this;
        }

        /**
         * Set pageSize
         * @param pageSize Page size, defaults to 10, max 500; server caps at 500 (optional)
         * @return APIqueryStockTransactionsRequest
         */
        public APIqueryStockTransactionsRequest pageSize(Integer pageSize) {
            this.pageSize = pageSize;
            return this;
        }

        /**
         * Build call for queryStockTransactions
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return queryStockTransactionsCall(beginTime, endTime, refId, type, page, pageSize, _callback);
        }

        /**
         * Execute queryStockTransactions request
         * @return TransactionList2
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public TransactionList2 execute() throws ApiException {
            ApiResponse<TransactionList2> localVarResp = queryStockTransactionsWithHttpInfo(beginTime, endTime, refId, type, page, pageSize);
            return localVarResp.getData();
        }

        /**
         * Execute queryStockTransactions request with HTTP info returned
         * @return ApiResponse&lt;TransactionList2&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<TransactionList2> executeWithHttpInfo() throws ApiException {
            return queryStockTransactionsWithHttpInfo(beginTime, endTime, refId, type, page, pageSize);
        }

        /**
         * Execute queryStockTransactions request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<TransactionList2> _callback) throws ApiException {
            return queryStockTransactionsAsync(beginTime, endTime, refId, type, page, pageSize, _callback);
        }
    }

    /**
     * Query transaction records
     * Rate limit: 5 qps.
     * @return APIqueryStockTransactionsRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public APIqueryStockTransactionsRequest queryStockTransactions() {
        return new APIqueryStockTransactionsRequest();
    }

    /**
     * Build call for createStockTransaction
     * @param tradFiSpotTransactionRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createStockTransactionCall(TradFiSpotTransactionRequest tradFiSpotTransactionRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = tradFiSpotTransactionRequest;

        // create path and map variables
        String localVarPath = "/stock/transactions";

[...]
