/*
 * Gate API
 * Welcome to Gate API APIv4 provides operations related to spot, margin, and contract trading, including public interfaces for querying market data and authenticated private interfaces for implementing API-based automated trading.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package io.gate.gateapi.api;

import io.gate.gateapi.ApiCallback;
import io.gate.gateapi.ApiClient;
import io.gate.gateapi.ApiException;
import io.gate.gateapi.ApiResponse;
import io.gate.gateapi.Configuration;
import io.gate.gateapi.Pair;

import com.google.gson.reflect.TypeToken;


import io.gate.gateapi.models.Categories;
import io.gate.gateapi.models.ContractDetail;
import io.gate.gateapi.models.CreateOrder;
import io.gate.gateapi.models.CreateTransaction;
import io.gate.gateapi.models.CreateUserResp;
import io.gate.gateapi.models.DeletePosition;
import io.gate.gateapi.models.Klines;
import io.gate.gateapi.models.Mt5Account;
import io.gate.gateapi.models.OrderHistoryList;
import io.gate.gateapi.models.OrderList;
import io.gate.gateapi.models.PositionHistoryList;
import io.gate.gateapi.models.PositionList;
import io.gate.gateapi.models.Symbols;
import io.gate.gateapi.models.TradFiClosePositionRequest;
import io.gate.gateapi.models.TradFiError;
import io.gate.gateapi.models.TradFiOrderRequest;
import io.gate.gateapi.models.TradFiOrderUpdateRequest;
import io.gate.gateapi.models.TradFiPositionUpdateRequest;
import io.gate.gateapi.models.TradFiTicker;
import io.gate.gateapi.models.TradFiTransactionRequest;
import io.gate.gateapi.models.TransactionList;
import io.gate.gateapi.models.UpdateOrder;
import io.gate.gateapi.models.UpdatePosition;
import io.gate.gateapi.models.UserAssetResp;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TradFiApi {
    private ApiClient localVarApiClient;

    public TradFiApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TradFiApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for queryMt5AccountInfo
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call queryMt5AccountInfoCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/tradfi/users/mt5-account";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call queryMt5AccountInfoValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = queryMt5AccountInfoCall(_callback);
        return localVarCall;
    }

    /**
     * Query MT5 account information
     * 
     * @return Mt5Account
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public Mt5Account queryMt5AccountInfo() throws ApiException {
        ApiResponse<Mt5Account> localVarResp = queryMt5AccountInfoWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Query MT5 account information
     * 
     * @return ApiResponse&lt;Mt5Account&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Mt5Account> queryMt5AccountInfoWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = queryMt5AccountInfoValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<Mt5Account>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Query MT5 account information (asynchronously)
     * 
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call queryMt5AccountInfoAsync(final ApiCallback<Mt5Account> _callback) throws ApiException {
        okhttp3.Call localVarCall = queryMt5AccountInfoValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<Mt5Account>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for queryCategories
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call queryCategoriesCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/tradfi/symbols/categories";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call queryCategoriesValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = queryCategoriesCall(_callback);
        return localVarCall;
    }

    /**
     * Query trading symbol categories
     * 
     * @return Categories
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public Categories queryCategories() throws ApiException {
        ApiResponse<Categories> localVarResp = queryCategoriesWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Query trading symbol categories
     * 
     * @return ApiResponse&lt;Categories&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Categories> queryCategoriesWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = queryCategoriesValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<Categories>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Query trading symbol categories (asynchronously)
     * 
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call queryCategoriesAsync(final ApiCallback<Categories> _callback) throws ApiException {
        okhttp3.Call localVarCall = queryCategoriesValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<Categories>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for querySymbols
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call querySymbolsCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/tradfi/symbols";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call querySymbolsValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = querySymbolsCall(_callback);
        return localVarCall;
    }

    /**
     * Query trading symbol list
     * 
     * @return Symbols
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public Symbols querySymbols() throws ApiException {
        ApiResponse<Symbols> localVarResp = querySymbolsWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Query trading symbol list
     * 
     * @return ApiResponse&lt;Symbols&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Symbols> querySymbolsWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = querySymbolsValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<Symbols>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Query trading symbol list (asynchronously)
     * 
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call querySymbolsAsync(final ApiCallback<Symbols> _callback) throws ApiException {
        okhttp3.Call localVarCall = querySymbolsValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<Symbols>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for querySymbolDetail
     * @param symbols Trading symbol code list (comma-separated, max 10 symbols) (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call querySymbolDetailCall(String symbols, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/tradfi/symbols/detail";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (symbols != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("symbols", symbols));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call querySymbolDetailValidateBeforeCall(String symbols, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'symbols' is set
        if (symbols == null) {
            throw new ApiException("Missing the required parameter 'symbols' when calling querySymbolDetail(Async)");
        }

        okhttp3.Call localVarCall = querySymbolDetailCall(symbols, _callback);
        return localVarCall;
    }

    /**
     * Query trading symbol details
     * 
     * @param symbols Trading symbol code list (comma-separated, max 10 symbols) (required)
     * @return ContractDetail
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public ContractDetail querySymbolDetail(String symbols) throws ApiException {
        ApiResponse<ContractDetail> localVarResp = querySymbolDetailWithHttpInfo(symbols);
        return localVarResp.getData();
    }

    /**
     * Query trading symbol details
     * 
     * @param symbols Trading symbol code list (comma-separated, max 10 symbols) (required)
     * @return ApiResponse&lt;ContractDetail&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ContractDetail> querySymbolDetailWithHttpInfo(String symbols) throws ApiException {
        okhttp3.Call localVarCall = querySymbolDetailValidateBeforeCall(symbols, null);
        Type localVarReturnType = new TypeToken<ContractDetail>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Query trading symbol details (asynchronously)
     * 
     * @param symbols Trading symbol code list (comma-separated, max 10 symbols) (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call querySymbolDetailAsync(String symbols, final ApiCallback<ContractDetail> _callback) throws ApiException {
        okhttp3.Call localVarCall = querySymbolDetailValidateBeforeCall(symbols, _callback);
        Type localVarReturnType = new TypeToken<ContractDetail>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    private okhttp3.Call querySymbolKlineCall(String symbol, String klineType, Long beginTime, Long endTime, Integer limit, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/tradfi/symbols/{symbol}/klines"
            .replaceAll("\\{" + "symbol" + "\\}", localVarApiClient.escapeString(symbol));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (klineType != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("kline_type", klineType));
        }

        if (beginTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("begin_time", beginTime));
        }

        if (endTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("end_time", endTime));
        }

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call querySymbolKlineValidateBeforeCall(String symbol, String klineType, Long beginTime, Long endTime, Integer limit, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'symbol' is set
        if (symbol == null) {
            throw new ApiException("Missing the required parameter 'symbol' when calling querySymbolKline(Async)");
        }

        // verify the required parameter 'klineType' is set
        if (klineType == null) {
            throw new ApiException("Missing the required parameter 'klineType' when calling querySymbolKline(Async)");
        }

        okhttp3.Call localVarCall = querySymbolKlineCall(symbol, klineType, beginTime, endTime, limit, _callback);
        return localVarCall;
    }


    private ApiResponse<Klines> querySymbolKlineWithHttpInfo(String symbol, String klineType, Long beginTime, Long endTime, Integer limit) throws ApiException {
        okhttp3.Call localVarCall = querySymbolKlineValidateBeforeCall(symbol, klineType, beginTime, endTime, limit, null);
        Type localVarReturnType = new TypeToken<Klines>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call querySymbolKlineAsync(String symbol, String klineType, Long beginTime, Long endTime, Integer limit, final ApiCallback<Klines> _callback) throws ApiException {
        okhttp3.Call localVarCall = querySymbolKlineValidateBeforeCall(symbol, klineType, beginTime, endTime, limit, _callback);
        Type localVarReturnType = new TypeToken<Klines>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIquerySymbolKlineRequest {
        private final String symbol;
        private final String klineType;
        private Long beginTime;
        private Long endTime;
        private Integer limit;

        private APIquerySymbolKlineRequest(String symbol, String klineType) {
            this.symbol = symbol;
            this.klineType = klineType;
        }

        /**
         * Set beginTime
         * @param beginTime Start time (Unix timestamp in seconds) (optional)
         * @return APIquerySymbolKlineRequest
         */
        public APIquerySymbolKlineRequest beginTime(Long beginTime) {
            this.beginTime = beginTime;
            return this;
        }

        /**
         * Set endTime
         * @param endTime End time (Unix timestamp in seconds) (optional)
         * @return APIquerySymbolKlineRequest
         */
        public APIquerySymbolKlineRequest endTime(Long endTime) {
            this.endTime = endTime;
            return this;
        }

        /**
         * Set limit
         * @param limit Kline limit (max 500, error if exceeded) (optional)
         * @return APIquerySymbolKlineRequest
         */
        public APIquerySymbolKlineRequest limit(Integer limit) {
            this.limit = limit;
            return this;
        }

        /**
         * Build call for querySymbolKline
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return querySymbolKlineCall(symbol, klineType, beginTime, endTime, limit, _callback);
        }

        /**
         * Execute querySymbolKline request
         * @return Klines
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public Klines execute() throws ApiException {
            ApiResponse<Klines> localVarResp = querySymbolKlineWithHttpInfo(symbol, klineType, beginTime, endTime, limit);
            return localVarResp.getData();
        }

        /**
         * Execute querySymbolKline request with HTTP info returned
         * @return ApiResponse&lt;Klines&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<Klines> executeWithHttpInfo() throws ApiException {
            return querySymbolKlineWithHttpInfo(symbol, klineType, beginTime, endTime, limit);
        }

        /**
         * Execute querySymbolKline request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<Klines> _callback) throws ApiException {
            return querySymbolKlineAsync(symbol, klineType, beginTime, endTime, limit, _callback);
        }
    }

    /**
     * Query trading symbol klines
     * 
     * @param symbol Trading symbol code (required)
     * @param klineType Kline type (time period) (required)
     * @return APIquerySymbolKlineRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public APIquerySymbolKlineRequest querySymbolKline(String symbol, String klineType) {
        return new APIquerySymbolKlineRequest(symbol, klineType);
    }

    /**
     * Build call for querySymbolTicker
     * @param symbol Trading symbol code (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call querySymbolTickerCall(String symbol, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/tradfi/symbols/{symbol}/tickers"
            .replaceAll("\\{" + "symbol" + "\\}", localVarApiClient.escapeString(symbol));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call querySymbolTickerValidateBeforeCall(String symbol, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'symbol' is set
        if (symbol == null) {
            throw new ApiException("Missing the required parameter 'symbol' when calling querySymbolTicker(Async)");
        }

        okhttp3.Call localVarCall = querySymbolTickerCall(symbol, _callback);
        return localVarCall;
    }

    /**
     * Query trading symbol ticker
     * 
     * @param symbol Trading symbol code (required)
     * @return TradFiTicker
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public TradFiTicker querySymbolTicker(String symbol) throws ApiException {
        ApiResponse<TradFiTicker> localVarResp = querySymbolTickerWithHttpInfo(symbol);
        return localVarResp.getData();
    }

    /**
     * Query trading symbol ticker
     * 
     * @param symbol Trading symbol code (required)
     * @return ApiResponse&lt;TradFiTicker&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<TradFiTicker> querySymbolTickerWithHttpInfo(String symbol) throws ApiException {
        okhttp3.Call localVarCall = querySymbolTickerValidateBeforeCall(symbol, null);
        Type localVarReturnType = new TypeToken<TradFiTicker>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Query trading symbol ticker (asynchronously)
     * 
     * @param symbol Trading symbol code (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call querySymbolTickerAsync(String symbol, final ApiCallback<TradFiTicker> _callback) throws ApiException {
        okhttp3.Call localVarCall = querySymbolTickerValidateBeforeCall(symbol, _callback);
        Type localVarReturnType = new TypeToken<TradFiTicker>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for createTradFiUser
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Account opened successfully </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createTradFiUserCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/tradfi/users";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createTradFiUserValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = createTradFiUserCall(_callback);
        return localVarCall;
    }

    /**
     * Create TradFi user
     * 
     * @return CreateUserResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Account opened successfully </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public CreateUserResp createTradFiUser() throws ApiException {
        ApiResponse<CreateUserResp> localVarResp = createTradFiUserWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Create TradFi user
     * 
     * @return ApiResponse&lt;CreateUserResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Account opened successfully </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<CreateUserResp> createTradFiUserWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = createTradFiUserValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<CreateUserResp>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Create TradFi user (asynchronously)
     * 
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Account opened successfully </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createTradFiUserAsync(final ApiCallback<CreateUserResp> _callback) throws ApiException {
        okhttp3.Call localVarCall = createTradFiUserValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<CreateUserResp>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for queryUserAssets
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call queryUserAssetsCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/tradfi/users/assets";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call queryUserAssetsValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = queryUserAssetsCall(_callback);
        return localVarCall;
    }

    /**
     * Query account assets
     * Query account assets
     * @return UserAssetResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public UserAssetResp queryUserAssets() throws ApiException {
        ApiResponse<UserAssetResp> localVarResp = queryUserAssetsWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Query account assets
     * Query account assets
     * @return ApiResponse&lt;UserAssetResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<UserAssetResp> queryUserAssetsWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = queryUserAssetsValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<UserAssetResp>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Query account assets (asynchronously)
     * Query account assets
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call queryUserAssetsAsync(final ApiCallback<UserAssetResp> _callback) throws ApiException {
        okhttp3.Call localVarCall = queryUserAssetsValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<UserAssetResp>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    private okhttp3.Call queryTransactionCall(Long beginTime, Long endTime, String type, Integer page, Integer pageSize, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/tradfi/transactions";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (beginTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("begin_time", beginTime));
        }

        if (endTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("end_time", endTime));
        }

        if (type != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("type", type));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (pageSize != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page_size", pageSize));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call queryTransactionValidateBeforeCall(Long beginTime, Long endTime, String type, Integer page, Integer pageSize, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = queryTransactionCall(beginTime, endTime, type, page, pageSize, _callback);
        return localVarCall;
    }


    private ApiResponse<TransactionList> queryTransactionWithHttpInfo(Long beginTime, Long endTime, String type, Integer page, Integer pageSize) throws ApiException {
        okhttp3.Call localVarCall = queryTransactionValidateBeforeCall(beginTime, endTime, type, page, pageSize, null);
        Type localVarReturnType = new TypeToken<TransactionList>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call queryTransactionAsync(Long beginTime, Long endTime, String type, Integer page, Integer pageSize, final ApiCallback<TransactionList> _callback) throws ApiException {
        okhttp3.Call localVarCall = queryTransactionValidateBeforeCall(beginTime, endTime, type, page, pageSize, _callback);
        Type localVarReturnType = new TypeToken<TransactionList>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIqueryTransactionRequest {
        private Long beginTime;
        private Long endTime;
        private String type;
        private Integer page;
        private Integer pageSize;

        private APIqueryTransactionRequest() {
        }

        /**
         * Set beginTime
         * @param beginTime Start Time (Second-level Timestamp) (optional)
         * @return APIqueryTransactionRequest
         */
        public APIqueryTransactionRequest beginTime(Long beginTime) {
            this.beginTime = beginTime;
            return this;
        }

        /**
         * Set endTime
         * @param endTime End Time (Second-level Timestamp) (optional)
         * @return APIqueryTransactionRequest
         */
        public APIqueryTransactionRequest endTime(Long endTime) {
            this.endTime = endTime;
            return this;
        }

        /**
         * Set type
         * @param type Transaction Type (deposit - transfer in, withdraw - transfer out, dividend - dividend payment, fill_negative - cover negative balance) (optional)
         * @return APIqueryTransactionRequest
         */
        public APIqueryTransactionRequest type(String type) {
            this.type = type;
            return this;
        }

        /**
         * Set page
         * @param page page number (optional)
         * @return APIqueryTransactionRequest
         */
        public APIqueryTransactionRequest page(Integer page) {
            this.page = page;
            return this;
        }

        /**
         * Set pageSize
         * @param pageSize Number per page, default 10, maximum 50 (optional)
         * @return APIqueryTransactionRequest
         */
        public APIqueryTransactionRequest pageSize(Integer pageSize) {
            this.pageSize = pageSize;
            return this;
        }

        /**
         * Build call for queryTransaction
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return queryTransactionCall(beginTime, endTime, type, page, pageSize, _callback);
        }

        /**
         * Execute queryTransaction request
         * @return TransactionList
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public TransactionList execute() throws ApiException {
            ApiResponse<TransactionList> localVarResp = queryTransactionWithHttpInfo(beginTime, endTime, type, page, pageSize);
            return localVarResp.getData();
        }

        /**
         * Execute queryTransaction request with HTTP info returned
         * @return ApiResponse&lt;TransactionList&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<TransactionList> executeWithHttpInfo() throws ApiException {
            return queryTransactionWithHttpInfo(beginTime, endTime, type, page, pageSize);
        }

        /**
         * Execute queryTransaction request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<TransactionList> _callback) throws ApiException {
            return queryTransactionAsync(beginTime, endTime, type, page, pageSize, _callback);
        }
    }

    /**
     * Query Fund Transfer In/Out Records
     * 
     * @return APIqueryTransactionRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public APIqueryTransactionRequest queryTransaction() {
        return new APIqueryTransactionRequest();
    }

    /**
     * Build call for createTransaction
     * @param tradFiTransactionRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createTransactionCall(TradFiTransactionRequest tradFiTransactionRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = tradFiTransactionRequest;

        // create path and map variables
        String localVarPath = "/tradfi/transactions";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createTransactionValidateBeforeCall(TradFiTransactionRequest tradFiTransactionRequest, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'tradFiTransactionRequest' is set
        if (tradFiTransactionRequest == null) {
            throw new ApiException("Missing the required parameter 'tradFiTransactionRequest' when calling createTransaction(Async)");
        }

        okhttp3.Call localVarCall = createTransactionCall(tradFiTransactionRequest, _callback);
        return localVarCall;
    }

    /**
     * Fund Deposit and Withdrawal
     * 
     * @param tradFiTransactionRequest  (required)
     * @return CreateTransaction
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public CreateTransaction createTransaction(TradFiTransactionRequest tradFiTransactionRequest) throws ApiException {
        ApiResponse<CreateTransaction> localVarResp = createTransactionWithHttpInfo(tradFiTransactionRequest);
        return localVarResp.getData();
    }

    /**
     * Fund Deposit and Withdrawal
     * 
     * @param tradFiTransactionRequest  (required)
     * @return ApiResponse&lt;CreateTransaction&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<CreateTransaction> createTransactionWithHttpInfo(TradFiTransactionRequest tradFiTransactionRequest) throws ApiException {
        okhttp3.Call localVarCall = createTransactionValidateBeforeCall(tradFiTransactionRequest, null);
        Type localVarReturnType = new TypeToken<CreateTransaction>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Fund Deposit and Withdrawal (asynchronously)
     * 
     * @param tradFiTransactionRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createTransactionAsync(TradFiTransactionRequest tradFiTransactionRequest, final ApiCallback<CreateTransaction> _callback) throws ApiException {
        okhttp3.Call localVarCall = createTransactionValidateBeforeCall(tradFiTransactionRequest, _callback);
        Type localVarReturnType = new TypeToken<CreateTransaction>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for queryOrderList
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call queryOrderListCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/tradfi/orders";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call queryOrderListValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = queryOrderListCall(_callback);
        return localVarCall;
    }

    /**
     * Query active order list
     * 
     * @return OrderList
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public OrderList queryOrderList() throws ApiException {
        ApiResponse<OrderList> localVarResp = queryOrderListWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Query active order list
     * 
     * @return ApiResponse&lt;OrderList&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<OrderList> queryOrderListWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = queryOrderListValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<OrderList>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Query active order list (asynchronously)
     * 
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call queryOrderListAsync(final ApiCallback<OrderList> _callback) throws ApiException {
        okhttp3.Call localVarCall = queryOrderListValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<OrderList>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for createTradFiOrder
     * @param tradFiOrderRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order placed successfully </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createTradFiOrderCall(TradFiOrderRequest tradFiOrderRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = tradFiOrderRequest;

        // create path and map variables
        String localVarPath = "/tradfi/orders";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createTradFiOrderValidateBeforeCall(TradFiOrderRequest tradFiOrderRequest, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'tradFiOrderRequest' is set
        if (tradFiOrderRequest == null) {
            throw new ApiException("Missing the required parameter 'tradFiOrderRequest' when calling createTradFiOrder(Async)");
        }

        okhttp3.Call localVarCall = createTradFiOrderCall(tradFiOrderRequest, _callback);
        return localVarCall;
    }

    /**
     * Create an order
     * 
     * @param tradFiOrderRequest  (required)
     * @return CreateOrder
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order placed successfully </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public CreateOrder createTradFiOrder(TradFiOrderRequest tradFiOrderRequest) throws ApiException {
        ApiResponse<CreateOrder> localVarResp = createTradFiOrderWithHttpInfo(tradFiOrderRequest);
        return localVarResp.getData();
    }

    /**
     * Create an order
     * 
     * @param tradFiOrderRequest  (required)
     * @return ApiResponse&lt;CreateOrder&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order placed successfully </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<CreateOrder> createTradFiOrderWithHttpInfo(TradFiOrderRequest tradFiOrderRequest) throws ApiException {
        okhttp3.Call localVarCall = createTradFiOrderValidateBeforeCall(tradFiOrderRequest, null);
        Type localVarReturnType = new TypeToken<CreateOrder>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Create an order (asynchronously)
     * 
     * @param tradFiOrderRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Order placed successfully </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createTradFiOrderAsync(TradFiOrderRequest tradFiOrderRequest, final ApiCallback<CreateOrder> _callback) throws ApiException {
        okhttp3.Call localVarCall = createTradFiOrderValidateBeforeCall(tradFiOrderRequest, _callback);
        Type localVarReturnType = new TypeToken<CreateOrder>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for updateOrder
     * @param orderId Order ID (required)
     * @param tradFiOrderUpdateRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call updateOrderCall(Integer orderId, TradFiOrderUpdateRequest tradFiOrderUpdateRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = tradFiOrderUpdateRequest;

        // create path and map variables
        String localVarPath = "/tradfi/orders/{order_id}"
            .replaceAll("\\{" + "order_id" + "\\}", localVarApiClient.escapeString(orderId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call updateOrderValidateBeforeCall(Integer orderId, TradFiOrderUpdateRequest tradFiOrderUpdateRequest, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException("Missing the required parameter 'orderId' when calling updateOrder(Async)");
        }

        // verify the required parameter 'tradFiOrderUpdateRequest' is set
        if (tradFiOrderUpdateRequest == null) {
            throw new ApiException("Missing the required parameter 'tradFiOrderUpdateRequest' when calling updateOrder(Async)");
        }

        okhttp3.Call localVarCall = updateOrderCall(orderId, tradFiOrderUpdateRequest, _callback);
        return localVarCall;
    }

    /**
     * Modify order
     * 
     * @param orderId Order ID (required)
     * @param tradFiOrderUpdateRequest  (required)
     * @return UpdateOrder
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public UpdateOrder updateOrder(Integer orderId, TradFiOrderUpdateRequest tradFiOrderUpdateRequest) throws ApiException {
        ApiResponse<UpdateOrder> localVarResp = updateOrderWithHttpInfo(orderId, tradFiOrderUpdateRequest);
        return localVarResp.getData();
    }

    /**
     * Modify order
     * 
     * @param orderId Order ID (required)
     * @param tradFiOrderUpdateRequest  (required)
     * @return ApiResponse&lt;UpdateOrder&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<UpdateOrder> updateOrderWithHttpInfo(Integer orderId, TradFiOrderUpdateRequest tradFiOrderUpdateRequest) throws ApiException {
        okhttp3.Call localVarCall = updateOrderValidateBeforeCall(orderId, tradFiOrderUpdateRequest, null);
        Type localVarReturnType = new TypeToken<UpdateOrder>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Modify order (asynchronously)
     * 
     * @param orderId Order ID (required)
     * @param tradFiOrderUpdateRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call updateOrderAsync(Integer orderId, TradFiOrderUpdateRequest tradFiOrderUpdateRequest, final ApiCallback<UpdateOrder> _callback) throws ApiException {
        okhttp3.Call localVarCall = updateOrderValidateBeforeCall(orderId, tradFiOrderUpdateRequest, _callback);
        Type localVarReturnType = new TypeToken<UpdateOrder>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for deleteOrder
     * @param orderId Order ID (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted successfully </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call deleteOrderCall(Integer orderId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/tradfi/orders/{order_id}"
            .replaceAll("\\{" + "order_id" + "\\}", localVarApiClient.escapeString(orderId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call deleteOrderValidateBeforeCall(Integer orderId, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException("Missing the required parameter 'orderId' when calling deleteOrder(Async)");
        }

        okhttp3.Call localVarCall = deleteOrderCall(orderId, _callback);
        return localVarCall;
    }

    /**
     * Cancel order
     * 
     * @param orderId Order ID (required)
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted successfully </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public Object deleteOrder(Integer orderId) throws ApiException {
        ApiResponse<Object> localVarResp = deleteOrderWithHttpInfo(orderId);
        return localVarResp.getData();
    }

    /**
     * Cancel order
     * 
     * @param orderId Order ID (required)
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted successfully </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Object> deleteOrderWithHttpInfo(Integer orderId) throws ApiException {
        okhttp3.Call localVarCall = deleteOrderValidateBeforeCall(orderId, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Cancel order (asynchronously)
     * 
     * @param orderId Order ID (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted successfully </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call deleteOrderAsync(Integer orderId, final ApiCallback<Object> _callback) throws ApiException {
        okhttp3.Call localVarCall = deleteOrderValidateBeforeCall(orderId, _callback);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    private okhttp3.Call queryOrderHistoryListCall(Long beginTime, Long endTime, String symbol, Integer side, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/tradfi/orders/history";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (beginTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("begin_time", beginTime));
        }

        if (endTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("end_time", endTime));
        }

        if (symbol != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("symbol", symbol));
        }

        if (side != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("side", side));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call queryOrderHistoryListValidateBeforeCall(Long beginTime, Long endTime, String symbol, Integer side, final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = queryOrderHistoryListCall(beginTime, endTime, symbol, side, _callback);
        return localVarCall;
    }


    private ApiResponse<OrderHistoryList> queryOrderHistoryListWithHttpInfo(Long beginTime, Long endTime, String symbol, Integer side) throws ApiException {
        okhttp3.Call localVarCall = queryOrderHistoryListValidateBeforeCall(beginTime, endTime, symbol, side, null);
        Type localVarReturnType = new TypeToken<OrderHistoryList>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call queryOrderHistoryListAsync(Long beginTime, Long endTime, String symbol, Integer side, final ApiCallback<OrderHistoryList> _callback) throws ApiException {
        okhttp3.Call localVarCall = queryOrderHistoryListValidateBeforeCall(beginTime, endTime, symbol, side, _callback);
        Type localVarReturnType = new TypeToken<OrderHistoryList>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIqueryOrderHistoryListRequest {
        private Long beginTime;
        private Long endTime;
        private String symbol;
        private Integer side;

        private APIqueryOrderHistoryListRequest() {
        }

        /**
         * Set beginTime
         * @param beginTime Start time (Unix timestamp in seconds), earliest query is one month ago (optional)
         * @return APIqueryOrderHistoryListRequest
         */
        public APIqueryOrderHistoryListRequest beginTime(Long beginTime) {
            this.beginTime = beginTime;
            return this;
        }

        /**
         * Set endTime
         * @param endTime End time (Unix timestamp in seconds) (optional)
         * @return APIqueryOrderHistoryListRequest
         */
        public APIqueryOrderHistoryListRequest endTime(Long endTime) {
            this.endTime = endTime;
            return this;
        }

        /**
         * Set symbol
         * @param symbol Currency pair (optional)
         * @return APIqueryOrderHistoryListRequest
         */
        public APIqueryOrderHistoryListRequest symbol(String symbol) {
            this.symbol = symbol;
            return this;
        }

        /**
         * Set side
         * @param side Order side (1&#x3D;sell, 2&#x3D;buy) (optional)
         * @return APIqueryOrderHistoryListRequest
         */
        public APIqueryOrderHistoryListRequest side(Integer side) {
            this.side = side;
            return this;
        }

        /**
         * Build call for queryOrderHistoryList
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return queryOrderHistoryListCall(beginTime, endTime, symbol, side, _callback);
        }

        /**
         * Execute queryOrderHistoryList request
         * @return OrderHistoryList
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public OrderHistoryList execute() throws ApiException {
            ApiResponse<OrderHistoryList> localVarResp = queryOrderHistoryListWithHttpInfo(beginTime, endTime, symbol, side);
            return localVarResp.getData();
        }

        /**
         * Execute queryOrderHistoryList request with HTTP info returned
         * @return ApiResponse&lt;OrderHistoryList&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public ApiResponse<OrderHistoryList> executeWithHttpInfo() throws ApiException {
            return queryOrderHistoryListWithHttpInfo(beginTime, endTime, symbol, side);
        }

        /**
         * Execute queryOrderHistoryList request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table summary="Response Details" border="1">
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
            <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
         </table>
         */
        public okhttp3.Call executeAsync(final ApiCallback<OrderHistoryList> _callback) throws ApiException {
            return queryOrderHistoryListAsync(beginTime, endTime, symbol, side, _callback);
        }
    }

    /**
     * Query historical order list
     * 
     * @return APIqueryOrderHistoryListRequest
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public APIqueryOrderHistoryListRequest queryOrderHistoryList() {
        return new APIqueryOrderHistoryListRequest();
    }

    /**
     * Build call for queryPositionList
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call queryPositionListCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/tradfi/positions";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call queryPositionListValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = queryPositionListCall(_callback);
        return localVarCall;
    }

    /**
     * Query active position list
     * 
     * @return PositionList
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public PositionList queryPositionList() throws ApiException {
        ApiResponse<PositionList> localVarResp = queryPositionListWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Query active position list
     * 
     * @return ApiResponse&lt;PositionList&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<PositionList> queryPositionListWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = queryPositionListValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<PositionList>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Query active position list (asynchronously)
     * 
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call queryPositionListAsync(final ApiCallback<PositionList> _callback) throws ApiException {
        okhttp3.Call localVarCall = queryPositionListValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<PositionList>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for updatePosition
     * @param positionId Position ID (required)
     * @param tradFiPositionUpdateRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Request failed </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call updatePositionCall(Integer positionId, TradFiPositionUpdateRequest tradFiPositionUpdateRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = tradFiPositionUpdateRequest;

        // create path and map variables
        String localVarPath = "/tradfi/positions/{position_id}"
            .replaceAll("\\{" + "position_id" + "\\}", localVarApiClient.escapeString(positionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
[...]
