/*
 * Gate API
 * Welcome to Gate API APIv4 provides operations related to spot, margin, and contract trading, including public interfaces for querying market data and authenticated private interfaces for implementing API-based automated trading.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package io.gate.gateapi.api;

import io.gate.gateapi.ApiCallback;
import io.gate.gateapi.ApiClient;
import io.gate.gateapi.ApiException;
import io.gate.gateapi.ApiResponse;
import io.gate.gateapi.Configuration;
import io.gate.gateapi.Pair;

import com.google.gson.reflect.TypeToken;


import io.gate.gateapi.models.ApiResponseExSkillClaimRewardResp;
import io.gate.gateapi.models.ApiResponseExSkillClaimTaskResp;
import io.gate.gateapi.models.ApiResponseExSkillGetBeginnerTaskListResp;
import io.gate.gateapi.models.ApiResponseExSkillGetUserIdentityResp;
import io.gate.gateapi.models.ClaimRewardError;
import io.gate.gateapi.models.ClaimTaskError;
import io.gate.gateapi.models.ExSkillClaimRewardReq;
import io.gate.gateapi.models.ExSkillClaimTaskReq;
import io.gate.gateapi.models.GetBeginnerTaskListError;
import io.gate.gateapi.models.GetUserIdentityError;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class WelfareApi {
    private ApiClient localVarApiClient;

    public WelfareApi() {
        this(Configuration.getDefaultApiClient());
    }

    public WelfareApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getUserIdentity
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getUserIdentityCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/rewards/getUserIdentity";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getUserIdentityValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = getUserIdentityCall(_callback);
        return localVarCall;
    }

    /**
     * Get user identity
     * Validate whether the user is eligible for new user rewards. Returns the corresponding error code on validation failure, data is an empty object on success.
     * @return ApiResponseExSkillGetUserIdentityResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponseExSkillGetUserIdentityResp getUserIdentity() throws ApiException {
        ApiResponse<ApiResponseExSkillGetUserIdentityResp> localVarResp = getUserIdentityWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Get user identity
     * Validate whether the user is eligible for new user rewards. Returns the corresponding error code on validation failure, data is an empty object on success.
     * @return ApiResponse&lt;ApiResponseExSkillGetUserIdentityResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ApiResponseExSkillGetUserIdentityResp> getUserIdentityWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = getUserIdentityValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<ApiResponseExSkillGetUserIdentityResp>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get user identity (asynchronously)
     * Validate whether the user is eligible for new user rewards. Returns the corresponding error code on validation failure, data is an empty object on success.
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getUserIdentityAsync(final ApiCallback<ApiResponseExSkillGetUserIdentityResp> _callback) throws ApiException {
        okhttp3.Call localVarCall = getUserIdentityValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<ApiResponseExSkillGetUserIdentityResp>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for getBeginnerTaskList
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getBeginnerTaskListCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/rewards/getBeginnerTaskList";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getBeginnerTaskListValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = getBeginnerTaskListCall(_callback);
        return localVarCall;
    }

    /**
     * Get beginner task list
     * Get the current user&#39;s onboarding task list. By default, the registration tasks (type&#x3D;10) and guidance tasks (type&#x3D;11) that have been assigned to the current user are returned. The registration tasks are ranked first and the guidance tasks are ranked behind. When the user does not have a download task and the system determines that the user has not downloaded the app, a \&quot;Download task to be received\&quot; card will be dynamically added. Among them: - &#x60;task_type &#x3D; 23&#x60; for download tasks - &#x60;status &#x3D; 0&#x60; for download tasks to be collected Results are cached for 60 seconds. Task lists are limited in number (usually no more than 10) and do not require pagination.
     * @return ApiResponseExSkillGetBeginnerTaskListResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponseExSkillGetBeginnerTaskListResp getBeginnerTaskList() throws ApiException {
        ApiResponse<ApiResponseExSkillGetBeginnerTaskListResp> localVarResp = getBeginnerTaskListWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Get beginner task list
     * Get the current user&#39;s onboarding task list. By default, the registration tasks (type&#x3D;10) and guidance tasks (type&#x3D;11) that have been assigned to the current user are returned. The registration tasks are ranked first and the guidance tasks are ranked behind. When the user does not have a download task and the system determines that the user has not downloaded the app, a \&quot;Download task to be received\&quot; card will be dynamically added. Among them: - &#x60;task_type &#x3D; 23&#x60; for download tasks - &#x60;status &#x3D; 0&#x60; for download tasks to be collected Results are cached for 60 seconds. Task lists are limited in number (usually no more than 10) and do not require pagination.
     * @return ApiResponse&lt;ApiResponseExSkillGetBeginnerTaskListResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ApiResponseExSkillGetBeginnerTaskListResp> getBeginnerTaskListWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = getBeginnerTaskListValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<ApiResponseExSkillGetBeginnerTaskListResp>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get beginner task list (asynchronously)
     * Get the current user&#39;s onboarding task list. By default, the registration tasks (type&#x3D;10) and guidance tasks (type&#x3D;11) that have been assigned to the current user are returned. The registration tasks are ranked first and the guidance tasks are ranked behind. When the user does not have a download task and the system determines that the user has not downloaded the app, a \&quot;Download task to be received\&quot; card will be dynamically added. Among them: - &#x60;task_type &#x3D; 23&#x60; for download tasks - &#x60;status &#x3D; 0&#x60; for download tasks to be collected Results are cached for 60 seconds. Task lists are limited in number (usually no more than 10) and do not require pagination.
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getBeginnerTaskListAsync(final ApiCallback<ApiResponseExSkillGetBeginnerTaskListResp> _callback) throws ApiException {
        okhttp3.Call localVarCall = getBeginnerTaskListValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<ApiResponseExSkillGetBeginnerTaskListResp>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for claimTask
     * @param exSkillClaimTaskReq  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call claimTaskCall(ExSkillClaimTaskReq exSkillClaimTaskReq, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = exSkillClaimTaskReq;

        // create path and map variables
        String localVarPath = "/rewards/claimTask";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call claimTaskValidateBeforeCall(ExSkillClaimTaskReq exSkillClaimTaskReq, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'exSkillClaimTaskReq' is set
        if (exSkillClaimTaskReq == null) {
            throw new ApiException("Missing the required parameter 'exSkillClaimTaskReq' when calling claimTask(Async)");
        }

        okhttp3.Call localVarCall = claimTaskCall(exSkillClaimTaskReq, _callback);
        return localVarCall;
    }

    /**
     * Get the task
     * Receive a single welfare task. The current main scene is for new customer download tasks to be collected, but the interface itself supports new customer registration, guidance, and advanced task types. Processing flow: 1. Read the logged in user 2. Verify user qualifications 3. Risk control verification (event code &#x60;task_center&#x60;) 4. Verify task configuration and task center tasks 5. Verify whether there is an ongoing task 6. If it is a download task, verify whether the App has been downloaded 7. Write &#x60;welfare_user_tasks_xx&#x60; 8. Report to task center Risk control transparent transmission fields: - Old fields: &#x60;user_id&#x60;, &#x60;ip&#x60;, &#x60;const_id&#x60;, &#x60;is_async&#x60;, &#x60;action&#x60;, &#x60;task_id&#x60; - New fields: &#x60;req_method&#x60;, &#x60;traceid&#x60; - Among them:   - &#x60;req_method&#x60; from &#x60;X-Gate-Request-Source&#x60;   - &#x60;ip&#x60; from &#x60;X-Gate-Ip&#x60;   - &#x60;traceid&#x60; from &#x60;X-Gate-Trace-Id&#x60;   - &#x60;const_id&#x60; is fixed to an empty string
     * @param exSkillClaimTaskReq  (required)
     * @return ApiResponseExSkillClaimTaskResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponseExSkillClaimTaskResp claimTask(ExSkillClaimTaskReq exSkillClaimTaskReq) throws ApiException {
        ApiResponse<ApiResponseExSkillClaimTaskResp> localVarResp = claimTaskWithHttpInfo(exSkillClaimTaskReq);
        return localVarResp.getData();
    }

    /**
     * Get the task
     * Receive a single welfare task. The current main scene is for new customer download tasks to be collected, but the interface itself supports new customer registration, guidance, and advanced task types. Processing flow: 1. Read the logged in user 2. Verify user qualifications 3. Risk control verification (event code &#x60;task_center&#x60;) 4. Verify task configuration and task center tasks 5. Verify whether there is an ongoing task 6. If it is a download task, verify whether the App has been downloaded 7. Write &#x60;welfare_user_tasks_xx&#x60; 8. Report to task center Risk control transparent transmission fields: - Old fields: &#x60;user_id&#x60;, &#x60;ip&#x60;, &#x60;const_id&#x60;, &#x60;is_async&#x60;, &#x60;action&#x60;, &#x60;task_id&#x60; - New fields: &#x60;req_method&#x60;, &#x60;traceid&#x60; - Among them:   - &#x60;req_method&#x60; from &#x60;X-Gate-Request-Source&#x60;   - &#x60;ip&#x60; from &#x60;X-Gate-Ip&#x60;   - &#x60;traceid&#x60; from &#x60;X-Gate-Trace-Id&#x60;   - &#x60;const_id&#x60; is fixed to an empty string
     * @param exSkillClaimTaskReq  (required)
     * @return ApiResponse&lt;ApiResponseExSkillClaimTaskResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ApiResponseExSkillClaimTaskResp> claimTaskWithHttpInfo(ExSkillClaimTaskReq exSkillClaimTaskReq) throws ApiException {
        okhttp3.Call localVarCall = claimTaskValidateBeforeCall(exSkillClaimTaskReq, null);
        Type localVarReturnType = new TypeToken<ApiResponseExSkillClaimTaskResp>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get the task (asynchronously)
     * Receive a single welfare task. The current main scene is for new customer download tasks to be collected, but the interface itself supports new customer registration, guidance, and advanced task types. Processing flow: 1. Read the logged in user 2. Verify user qualifications 3. Risk control verification (event code &#x60;task_center&#x60;) 4. Verify task configuration and task center tasks 5. Verify whether there is an ongoing task 6. If it is a download task, verify whether the App has been downloaded 7. Write &#x60;welfare_user_tasks_xx&#x60; 8. Report to task center Risk control transparent transmission fields: - Old fields: &#x60;user_id&#x60;, &#x60;ip&#x60;, &#x60;const_id&#x60;, &#x60;is_async&#x60;, &#x60;action&#x60;, &#x60;task_id&#x60; - New fields: &#x60;req_method&#x60;, &#x60;traceid&#x60; - Among them:   - &#x60;req_method&#x60; from &#x60;X-Gate-Request-Source&#x60;   - &#x60;ip&#x60; from &#x60;X-Gate-Ip&#x60;   - &#x60;traceid&#x60; from &#x60;X-Gate-Trace-Id&#x60;   - &#x60;const_id&#x60; is fixed to an empty string
     * @param exSkillClaimTaskReq  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call claimTaskAsync(ExSkillClaimTaskReq exSkillClaimTaskReq, final ApiCallback<ApiResponseExSkillClaimTaskResp> _callback) throws ApiException {
        okhttp3.Call localVarCall = claimTaskValidateBeforeCall(exSkillClaimTaskReq, _callback);
        Type localVarReturnType = new TypeToken<ApiResponseExSkillClaimTaskResp>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for claimReward
     * @param exSkillClaimRewardReq  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call claimRewardCall(ExSkillClaimRewardReq exSkillClaimRewardReq, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = exSkillClaimRewardReq;

        // create path and map variables
        String localVarPath = "/rewards/claimReward";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call claimRewardValidateBeforeCall(ExSkillClaimRewardReq exSkillClaimRewardReq, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'exSkillClaimRewardReq' is set
        if (exSkillClaimRewardReq == null) {
            throw new ApiException("Missing the required parameter 'exSkillClaimRewardReq' when calling claimReward(Async)");
        }

        okhttp3.Call localVarCall = claimRewardCall(exSkillClaimRewardReq, _callback);
        return localVarCall;
    }

    /**
     * Receive mission rewards
     * Receive rewards from a single welfare task. Processing flow: 1. Read the logged in user 2. Verify user qualifications 3. Query &#x60;welfare_user_tasks_xx&#x60; and require the task status to be &#x60;StatusDone(2)&#x60; 4. Risk control verification (event code &#x60;index_page_check&#x60;) 5. Query task details and reward information in the task center 6. If the reward is m and n is selected from the prize pool, then &#x60;has_m_n_task &#x3D; true&#x60; will be returned and the reward will not be actually issued. 7. Ordinary rewards will enter the original reward collection logic of the Welfare Center Risk control transparent transmission fields: - Old fields: &#x60;user_id&#x60;, &#x60;ip&#x60;, &#x60;const_id&#x60;, &#x60;is_async&#x60; - New fields: &#x60;req_method&#x60;, &#x60;traceid&#x60; - Among them:   - &#x60;req_method&#x60; from &#x60;X-Gate-Request-Source&#x60;   - &#x60;ip&#x60; from &#x60;X-Gate-Ip&#x60;   - &#x60;traceid&#x60; from &#x60;X-Gate-Trace-Id&#x60;   - &#x60;const_id&#x60; is fixed to an empty string
     * @param exSkillClaimRewardReq  (required)
     * @return ApiResponseExSkillClaimRewardResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponseExSkillClaimRewardResp claimReward(ExSkillClaimRewardReq exSkillClaimRewardReq) throws ApiException {
        ApiResponse<ApiResponseExSkillClaimRewardResp> localVarResp = claimRewardWithHttpInfo(exSkillClaimRewardReq);
        return localVarResp.getData();
    }

    /**
     * Receive mission rewards
     * Receive rewards from a single welfare task. Processing flow: 1. Read the logged in user 2. Verify user qualifications 3. Query &#x60;welfare_user_tasks_xx&#x60; and require the task status to be &#x60;StatusDone(2)&#x60; 4. Risk control verification (event code &#x60;index_page_check&#x60;) 5. Query task details and reward information in the task center 6. If the reward is m and n is selected from the prize pool, then &#x60;has_m_n_task &#x3D; true&#x60; will be returned and the reward will not be actually issued. 7. Ordinary rewards will enter the original reward collection logic of the Welfare Center Risk control transparent transmission fields: - Old fields: &#x60;user_id&#x60;, &#x60;ip&#x60;, &#x60;const_id&#x60;, &#x60;is_async&#x60; - New fields: &#x60;req_method&#x60;, &#x60;traceid&#x60; - Among them:   - &#x60;req_method&#x60; from &#x60;X-Gate-Request-Source&#x60;   - &#x60;ip&#x60; from &#x60;X-Gate-Ip&#x60;   - &#x60;traceid&#x60; from &#x60;X-Gate-Trace-Id&#x60;   - &#x60;const_id&#x60; is fixed to an empty string
     * @param exSkillClaimRewardReq  (required)
     * @return ApiResponse&lt;ApiResponseExSkillClaimRewardResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ApiResponseExSkillClaimRewardResp> claimRewardWithHttpInfo(ExSkillClaimRewardReq exSkillClaimRewardReq) throws ApiException {
        okhttp3.Call localVarCall = claimRewardValidateBeforeCall(exSkillClaimRewardReq, null);
        Type localVarReturnType = new TypeToken<ApiResponseExSkillClaimRewardResp>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Receive mission rewards (asynchronously)
     * Receive rewards from a single welfare task. Processing flow: 1. Read the logged in user 2. Verify user qualifications 3. Query &#x60;welfare_user_tasks_xx&#x60; and require the task status to be &#x60;StatusDone(2)&#x60; 4. Risk control verification (event code &#x60;index_page_check&#x60;) 5. Query task details and reward information in the task center 6. If the reward is m and n is selected from the prize pool, then &#x60;has_m_n_task &#x3D; true&#x60; will be returned and the reward will not be actually issued. 7. Ordinary rewards will enter the original reward collection logic of the Welfare Center Risk control transparent transmission fields: - Old fields: &#x60;user_id&#x60;, &#x60;ip&#x60;, &#x60;const_id&#x60;, &#x60;is_async&#x60; - New fields: &#x60;req_method&#x60;, &#x60;traceid&#x60; - Among them:   - &#x60;req_method&#x60; from &#x60;X-Gate-Request-Source&#x60;   - &#x60;ip&#x60; from &#x60;X-Gate-Ip&#x60;   - &#x60;traceid&#x60; from &#x60;X-Gate-Trace-Id&#x60;   - &#x60;const_id&#x60; is fixed to an empty string
     * @param exSkillClaimRewardReq  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call claimRewardAsync(ExSkillClaimRewardReq exSkillClaimRewardReq, final ApiCallback<ApiResponseExSkillClaimRewardResp> _callback) throws ApiException {
        okhttp3.Call localVarCall = claimRewardValidateBeforeCall(exSkillClaimRewardReq, _callback);
        Type localVarReturnType = new TypeToken<ApiResponseExSkillClaimRewardResp>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

}
