/*
 * Gate API
 * Welcome to Gate API APIv4 provides operations related to spot, margin, and contract trading, including public interfaces for querying market data and authenticated private interfaces for implementing API-based automated trading.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package io.gate.gateapi.api;

import io.gate.gateapi.ApiCallback;
import io.gate.gateapi.ApiClient;
import io.gate.gateapi.ApiException;
import io.gate.gateapi.ApiResponse;
import io.gate.gateapi.Configuration;
import io.gate.gateapi.Pair;

import com.google.gson.reflect.TypeToken;


import io.gate.gateapi.models.ApiResponseExSkillGetBeginnerTaskListResp;
import io.gate.gateapi.models.ApiResponseExSkillGetUserIdentityResp;
import io.gate.gateapi.models.InlineResponse400;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class WelfareApi {
    private ApiClient localVarApiClient;

    public WelfareApi() {
        this(Configuration.getDefaultApiClient());
    }

    public WelfareApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getUserIdentity
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getUserIdentityCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/rewards/getUserIdentity";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getUserIdentityValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = getUserIdentityCall(_callback);
        return localVarCall;
    }

    /**
     * Get user identity
     * Validate whether the user is eligible for new user rewards. Returns the corresponding error code on validation failure, data is an empty object on success.
     * @return ApiResponseExSkillGetUserIdentityResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponseExSkillGetUserIdentityResp getUserIdentity() throws ApiException {
        ApiResponse<ApiResponseExSkillGetUserIdentityResp> localVarResp = getUserIdentityWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Get user identity
     * Validate whether the user is eligible for new user rewards. Returns the corresponding error code on validation failure, data is an empty object on success.
     * @return ApiResponse&lt;ApiResponseExSkillGetUserIdentityResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ApiResponseExSkillGetUserIdentityResp> getUserIdentityWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = getUserIdentityValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<ApiResponseExSkillGetUserIdentityResp>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get user identity (asynchronously)
     * Validate whether the user is eligible for new user rewards. Returns the corresponding error code on validation failure, data is an empty object on success.
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getUserIdentityAsync(final ApiCallback<ApiResponseExSkillGetUserIdentityResp> _callback) throws ApiException {
        okhttp3.Call localVarCall = getUserIdentityValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<ApiResponseExSkillGetUserIdentityResp>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for getBeginnerTaskList
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getBeginnerTaskListCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/rewards/getBeginnerTaskList";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiv4" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getBeginnerTaskListValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        okhttp3.Call localVarCall = getBeginnerTaskListCall(_callback);
        return localVarCall;
    }

    /**
     * Get beginner task list
     * Get the current user&#39;s beginner task list, including registration tasks (type&#x3D;10) and onboarding tasks (type&#x3D;11). Registration tasks appear first, onboarding tasks after. Results are cached for 60 seconds. The task list is a fixed configuration with limited entries (typically no more than 10), no pagination needed.
     * @return ApiResponseExSkillGetBeginnerTaskListResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponseExSkillGetBeginnerTaskListResp getBeginnerTaskList() throws ApiException {
        ApiResponse<ApiResponseExSkillGetBeginnerTaskListResp> localVarResp = getBeginnerTaskListWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Get beginner task list
     * Get the current user&#39;s beginner task list, including registration tasks (type&#x3D;10) and onboarding tasks (type&#x3D;11). Registration tasks appear first, onboarding tasks after. Results are cached for 60 seconds. The task list is a fixed configuration with limited entries (typically no more than 10), no pagination needed.
     * @return ApiResponse&lt;ApiResponseExSkillGetBeginnerTaskListResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ApiResponseExSkillGetBeginnerTaskListResp> getBeginnerTaskListWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = getBeginnerTaskListValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<ApiResponseExSkillGetBeginnerTaskListResp>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get beginner task list (asynchronously)
     * Get the current user&#39;s beginner task list, including registration tasks (type&#x3D;10) and onboarding tasks (type&#x3D;11). Registration tasks appear first, onboarding tasks after. Results are cached for 60 seconds. The task list is a fixed configuration with limited entries (typically no more than 10), no pagination needed.
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The endpoint always returns HTTP 200. Business results are distinguished by the code field </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request parameters </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getBeginnerTaskListAsync(final ApiCallback<ApiResponseExSkillGetBeginnerTaskListResp> _callback) throws ApiException {
        okhttp3.Call localVarCall = getBeginnerTaskListValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<ApiResponseExSkillGetBeginnerTaskListResp>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

}
